{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>
	{% if entity.clienteProveedor == 1  %}
		Editar Cliente "{{ entity.razonSocial }}"
	{% else  %}
		Editar Proveedor "{{ entity.razonSocial }}"
	{% endif %}
    <a id="volver" class="btn btn-info btn-xs" href="{{ app.request.headers.get('referer') }}">
        Volver
    </a>
	</h2>

    <div class="joyas-container">
		<div class="container">
		{{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}
		    <div style="display:none;">
				<label>Cliento o Proveedor</label>
				{{ form_widget(edit_form.clienteProveedor) }}
			</div>
		 {{ form_end(edit_form) }}
		</div>
	</div>

<script>
	$(document).ready(function (){
        if($('#app_bundle_clienteproveedor_clienteProveedor').val()=='1'){
			$("#app_bundle_clienteproveedor_denominacion").removeAttr('required');
        }
		$("input").attr('class','form-control');
		$('#clienteproveedor').val($("#app_bundle_clienteproveedor_clienteProveedor").val());
		$("form div").addClass('col-sm-6').css("min-height", "60px");
		$("form div:last").removeClass('col-sm-6').addClass('col-sm-12 text-center').css("padding", "1em");
		$("textarea").parent('div').removeClass('col-sm-6').addClass('col-sm-12 text-left').css("padding", "1em");
	});

	$('#app_bundle_clienteproveedor_cuit').blur(function(){

		if(validarCuit($('#app_bundle_clienteproveedor_cuit').val()) === false){
			alert("CUIT inválido");
			$('#app_bundle_clienteproveedor_submit').removeClass("hidden");
		}

	});

	function validarCuit(cuit) {
		if(cuit.length != 11) {
			return false;
		}

		var acumulado   = 0;
		var digitos     = cuit.split("");
		var digito      = digitos.pop();

		for(var i = 0; i < digitos.length; i++) {
			acumulado += digitos[9 - i] * (2 + (i % 6));
		}

		var verif = 11 - (acumulado % 11);
		if(verif == 11) {
			verif = 0;
		} else if(verif == 10) {
			verif = 9;
		}

		return digito == verif;
	}
</script>
{% endblock %}
{% block stylesheet %}
	<style>
		#app_bundle_clienteproveedor_submit{
			margin: 30px 0px;
		}
	</style>
{% endblock %}
