{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Clientes / Proveedores
                <a style="float:right;" class="btn btn-info btn-xs" href="{{ path('clienteproveedor_new') }}">
                    Crear
                </a>
            </h2>
        </div>
    </div>
      {% include 'AppBundle:ClienteProveedor:seeker.html.twig' %}
    <hr>
    <div class="tablasScroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Raz&oacute;n Social</th>
                    <th>Mail</th>
                    <th>ID Ref.</th>
                    <th>Denominación</th>
                    <th>Cliente/Proveedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a title="Cuenta Corriente" href="{{ path('clienteproveedor_show', { 'id': entity.id }) }}">{{ entity.razonSocial }}</a>
                        </td>
                        <td>{{ entity.mail }}</td>
                        <td>{{ entity.idanterior }}</td>
                        <td>{{ entity.denominacion }}</td>
                        <td>{{ (entity.clienteProveedor == 1) ? 'Cliente' : 'Proveedor' }} {{ (entity.esBanco == 1) ? '/ Banco' : '' }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" title="Cuenta Corriente" data-toggle="tooltip"  href="{{ path('pagoasignacion', {'id': entity.id}) }}" ><i class="fa fa-list"></i></a>
                            <a title="Editar" class="btn btn-success btn-xs" href="{{ path('clienteproveedor_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a title="Sucursales" class="btn btn-info btn-xs" href="{{ path('sucursal', { 'id': entity.id }) }}"><i class="fa fa-map-marker"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $('document').ready(function () {
            $('td').css('padding', '2px');
            $('.btn-primary[type="submit"]').removeClass('btn-xs');
        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
    </style>

{% endblock %}
