<div class="row filtro">
    <form id="searchForm" action="{{ path('clienteproveedor') }}" method="GET">
        <div class="col-md-3">
            <input type="text" value="{{app.request.get('busqueda')}}" class="form-control" name="busqueda" placeholder="Buscar..">
        </div>
        <div class="col-md-4">
            <select name="tipo" class="form-control">
                <option value="">Elegir Tipo</option>
                <option value="1" {{ app.request.get('tipo') == 1 ? 'selected' : '' }}>Cliente</option>
                <option value="2" {{ app.request.get('tipo') == 2 ? 'selected' : '' }}>Proveedor</option>
            </select>
        </div>           
        <div class="col-md-2 text-center">
            <button class="btn btn-primary" type="submit">
                Buscar
            </button>
        </div>
    </form>
</div>