<option value="">Seleccione un {{opcion}}</option>
{% for clienteProveedor in clientesProveedores %}           
    <option value="{{clienteProveedor.id}}" >
        {{clienteProveedor}}
    </option>                                
{% endfor %}


