{% extends 'AppBundle::base.html.twig' %}

{% block content -%}

    <h2 style="margin-bottom: 1em">
        <b>{{ entity.razonSocial }}</b>
        <a class="btn btn-primary btn-xs" style="float: right" title="Cuenta Corriente" data-toggle="tooltip" href="{{ path('pagoasignacion', { 'id': entity.id }) }}"><i class="fa fa-list"></i> Cuenta Corriente</a>
        <a class="btn btn-info btn-xs" style="float: right;margin-right: 1em;" href="{{ path('clienteproveedor') }}">Volver al listado</a>
    </h2>
    <div class="col-md-12 gestion">
        <table class="table">
            <tbody>
                <tr>
                    <th>Tipo</th>
                    <td>{{ entity.clienteProveedor == 1 ? 'Cliente' : 'Proveedor' }} {{ (entity.esBanco == 1) ? '/ Banco' : '' }}</td>
                </tr>
                <tr>
                    <th>ID Referencia</th>
                    <td>#{{ entity.idanterior }}</td>
                </tr>
                <tr>
                    <th>Raz&oacute;n Social</th>
                    <td>{{ entity.razonSocial }}</td>
                </tr>
                <tr>
                    <th>CUIT</th>
                    <td>{{ entity.cuit }}</td>
                </tr>
                <tr>
                    <th>C&oacute;digo</th>
                    <td>{{ entity.codigo }}</td>
                </tr>
                <tr>
                    <th>DNI</th>
                    <td>{{ entity.dni }}</td>
                </tr>
                <tr>
                    <th>Usuario / Vendedor asignado</th>
                    <td>{{ entity.usuario|default(' - ') }}</td>
                </tr>
                <tr>
                    <th>Lista de Precio Asignada</th>
                    <td>{{ entity.listaprecio|default('Lista Base') }}</td>
                </tr>
                <tr>
                    <th>DENOMINACION</th>
                    <td>{{ entity.denominacion }}</td>
                </tr>
                <tr>
                    <th>Direcci&oacute;n</th>
                    <td>
                        {{ entity.domiciliocomercial }}
                        {{entity.localidad !=''  ? ' - '~entity.localidad : ''}}{{entity.provincia !='' ? ', '~entity.provincia : ''}}
                        {{entity.codigopostal !=''  ? '- CP: '~entity.codigopostal : ''}}
                    </td>
                </tr>
                <tr>
                    <th>Tel&eacute;fono</th>
                    <td>{{ entity.telefono }}</td>
                </tr>
                <tr>
                    <th>Celular</th>
                    <td>{{ entity.celular }}</td>
                </tr>
                <tr>
                    <th>Condici&oacute;n IVA</th>
                    <td>{{ entity.condicioniva }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ entity.mail }}</td>
                </tr>
                <tr>
                    <th>Saldo Inicial</th>
                    <td>$ {{ entity.saldo|default(' - ') }}</td>
                </tr>
                <tr>
                    <th>Información Adicional</th>
                    <td>{{ entity.informacionAdicional|raw|default('') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
