<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('caja') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('NOW'|date('Y-m-d'))}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>
            <div class="col-md-3">
                <label>Estado</label>
                <select name="estado" class="col-xs-12" id="estado">              
                    <option value="">Elegir un Estado</option>
                    <option value="A" >
                        Activa
                    </option>                                
                    <option value="C" >
                        Cerrada
                    </option>                                
                    <option value="E" >
                        Eliminada
                    </option>                                
                </select>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
            <div class="col-md-3" >
                <br>
                <button class="btn btn-info" type="submit">
                    Buscar
                </button>
            </div>
        </div>        
    </form>
</div>
<script>
    $(function () {
        var estado = '{{app.request.get('estado')}}';
        $('#estado').val(estado).change();
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
    });

</script>
