{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    {{ form_start(edit_form) }}
    <h2>
        Caja
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%" href="{{ path('caja') }}">
            Volver
        </a>        
        {{ form_widget(edit_form.submit) }}
    </h2>

    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edici&oacute;n de Caja
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <label>Fecha</label><br/>
                        {{ form_widget(edit_form.fecha) }}
                        {{ form_errors(edit_form.fecha) }}
                    </div>
                    <div class="col-md-4">
                        <label>Unidad Negocio</label><br/>                        
                        {{ form_widget(edit_form.unidadNegocio) }}
                        {{ form_errors(edit_form.unidadNegocio) }}                        
                    </div>
                    <div class="col-md-4">
                        <label>Saldo Inicial</label><br/>
                        {{ form_widget(edit_form.saldoInicial) }}
                        {{ form_errors(edit_form.saldoInicial) }}
                    </div>                    
                </div>
            </div>                
        </div>
    </div>

    {{ form_end(edit_form) }}

    <script>
        $(function () {
            $('#appbundle_caja_unidadNegocio').attr('disabled', true);
            $("input").attr('class', 'form-control');
        });
    </script>
{% endblock %}

