{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Cajas       
        {#<a href="{{ path('caja_new') }}">
            Nueva Caja
        </a>       
        #}
    </h2>

    {% include 'AppBundle:Caja:buscador.html.twig' %}

    <table id="tablaCajas" class="display" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Unidad de Negocio</th>
                {% endif %}
                <th>Fecha</th>
                <th>Saldo Inicial</th>
                <th>Saldo Final</th>
                <th>Estado</th>                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>            
            {% for entity in entities %}
                <tr>
                    <td >
                        {{ entity.id }}
                    </td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td >
                            {{ entity.unidadNegocio }}
                        </td>
                    {% endif %}
                    <td >
                        {{ entity.fecha|date('Y-m-d') }}
                    </td>
                    <td >
                        {{ entity.saldoInicial|round(2)}}
                    </td>
                    <td >
                        {{ entity.saldoFinal|round(2)}}
                    </td>
                    <td >
                        {{ entity.estadoActual}}
                    </td>
                    <td>
                        {% if entity.estado == 'A' %}
                            <a title="Cerrar Caja" class="btn btn-warning" style="margin-right:1em;" href="{{path('caja_cambiar_estado', {'id':entity.id,'estado':'C'})}}"><i class="fa fa-lock"></i></a>                            
                            <a title="Editar" class="btn btn-success" style="margin-right:1em;" href="{{path('caja_edit', {'id':entity.id})}}"><i class="fa fa-pencil"></i></a>                            
                            {% if entity.estado == 'A' or entity.estado == 'C'%}
                            <a title="Movimientos" class="btn btn-info" style="margin-right:1em;" href="{{path('movimientocaja_show', {'id':entity.id})}}"><i class="fa fa-list-alt"></i></a>
                            {% endif  %}
                            <a title="Eliminar Caja" class="btn btn-danger" href="{{path('caja_cambiar_estado', {'id':entity.id,'estado':'E'})}}"><i class="fa fa-trash"></i></a>
                            {% endif %}
                            
                    </td>
                </tr>
            {% endfor %}
        </tbody>        
    </table>
    <div class="col-sm-12">          
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div> 
    <script>
        $(function () {
            $('#tablaCajas').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });

            $('td').css('padding', '2px');

        });
    </script>

    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        table td{
            text-align: center;
        }
        .btn
        {
            padding: 0px 3px;
        }
        ul
        {
            list-style: none;
        }
    </style>


{% endblock %}

