{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    {{ form_start(form) }}
    <h2>
        Caja
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%" href="{{ path('caja') }}">
            Volver
        </a>        
        {{ form_widget(form.submit) }}
    </h2>

    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Creaci&oacute;n de Caja
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <label>Fecha</label><br/>
                        {{ form_widget(form.fecha) }}
                        {{ form_errors(form.fecha) }}
                    </div>
                    <div class="col-md-4">
                        <label>Unidad Negocio</label><br/>                        
                        {{ form_widget(form.unidadNegocio) }}
                        {{ form_errors(form.unidadNegocio) }}                        
                    </div>
                    <div class="col-md-4">
                        <label>Saldo Inicial</label><br/>
                        {{ form_widget(form.saldoInicial) }}
                        {{ form_errors(form.saldoInicial) }}
                    </div>                    
                </div>
            </div>                
        </div>
    </div>


    {{ form_end(form) }}

    <script>
        $(function () {
        {% if not is_granted('ROLE_SUPER_ADMIN') %}               
            $('#appbundle_caja_unidadNegocio').attr('disabled', true);
        {% endif  %}
                $("input").attr('class', 'form-control');
            });
    </script>
{% endblock %}
