{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Caja</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Saldoinicial</th>
                <td>{{ entity.saldoInicial }}</td>
            </tr>
            <tr>
                <th>Saldofinal</th>
                <td>{{ entity.saldoFinal }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('caja') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('caja_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
