{% extends '::base.html.twig' %}

{% block body -%}
    <h2>TipoProveedor creation</h2>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipoproveedor') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
