<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('cobranza_informe') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('NOW'|date('Y-m-d'))}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>
            <div class="col-md-3">
                <label>Medio</label>
                <select name="medio" class="col-xs-12" id="medio">              
                    {{ render(controller('AppBundle:Medio:renderSelect', {'estado':'A'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Cliente</label>
                <select name="cliente" class="col-xs-12" id="cliente">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'1'})) }}                                                                          
                </select>
            </div>
        </div>
        <br>
        <div class="row">           
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
                <div class="col-xs-9" >     
                    <br>
                    <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                        Buscar
                    </button>
                    <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                    </button>
                </div>
            {% else %}
                <div class="col-xs-12" >  
                    
                    <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                        Buscar
                    </button>
                    <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                    </button>
                </div>
            {% endif %}

        </div>       
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var medio = '{{app.request.get('medio')}}';
        $('#medio').val(medio).change();
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
        var proveedor = '{{app.request.get('cliente')}}';
        $('#cliente').val(proveedor).change();
    });

</script>
