{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-xs-12">
            <h2 >
                Cobranzas
                {% if is_granted('ROLE_ADMIN')  %}
                    <a  href="{{ path('cobranza_new') }}">
                        Registrar Cobranza
                    </a>
                {% endif %}
            </h2>
        </div>        
    </div>
    <hr/>
    {% include 'AppBundle:Cobranza:buscador.html.twig' %}
    <hr />

    <div class="tablasScroll">
        <table id="tablaSF" class="display">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Documento</th>
                    <th>Cliente</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                    <th>Importe</th>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td><a href="{{ path('cobranza_show', { 'id': entity.id }) }}">{{ entity }}</a></td>
                        <td>
                            <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity.clienteproveedor.id|default("0") }) }}">
                                {{ entity.clienteproveedor|default("") }}
                            </a>
                        </td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadNegocio }}</td>
                        {% endif %}
                        <td>$ {{ entity.importe }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>
                                <button class="btn btn-danger" onclick="confirmarBorrado('{{ path('cobranza_delete', {id: entity.id}) }}')"><i class="fa fa-trash"></i></button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $('document').ready(function () {
            $('td').css('padding', '2px');
            $('.pagination a').attr('class', 'btn btn-info btn-xs');
            $('.pagination li').css('float', 'left');
            $('.pagination').css('width', '100%');
        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
