{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe de Cobranza        
    </h2>
    <hr/>
    {% include 'AppBundle:Cobranza:buscadorInforme.html.twig' %}
    <hr />
    <div class="gestion">
        {% set totalPagina=0 %}
        <table id="tablaInformeCobranza" class="display" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Documento</th>
                    <th>Proveedor</th>
                    <th>Medios</th>
                    <th>Cheques</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                    <th>Importe Total de Cobranza($)</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}                
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('cobranza_show', { 'id': entity.id }) }}">{{ entity }}</a>
                        </td>
                        <td>{{ entity.clienteProveedor }}</td>
                        <td>
                            {% for medioPago in entity.medios %}   
                                {% if app.request.get('medio')!='cheque' and app.request.get('medio') !='' and app.request.get('medio')== medioPago.medio.id %}
                                    {{ medioPago.medio.descripcion }} - $ {{ medioPago.importe }}
                                    {% set totalPagina=totalPagina+medioPago.importe %}
                                    <br>
                                {% endif %}
                                {% if app.request.get('medio')!='cheque' and app.request.get('medio') ==''%}
                                    {{ medioPago.medio.descripcion }} - $ {{ medioPago.importe }}
                                    {% set totalPagina=totalPagina+medioPago.importe %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for cheque in entity.cheques if cheque.estado!='E' %} 
                                <a href="{{ path('cheque_show', { 'id': cheque.id }) }}" target="_blank">{{ cheque }} - $ {{ cheque.importe }}</a>                           
                                <br>
                                {% set totalPagina=totalPagina+cheque.importe %}
                            {% endfor %}
                        </td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadNegocio }}</td>
                        {% endif %}
                        <td>$ {{ entity.importe }}</td>
                    </tr>               
                {% endfor %}
            </tbody>          
            <tfoot>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th colspan="3">
                            Total de p&aacute;gina: $ {{totalPagina}}
                        </th>
                        <th colspan="4">
                            {% if medioEntity %}
                                Total de cobranzas del Per&iacute;odo en {{ medioEntity.descripcion }}: 
                            {% elseif app.request.get('medio')=='cheque' %}
                                Total de cobranzas del Per&iacute;odo en cheques:
                            {% else %}
                                Total de cobranzas del Per&iacute;odo:
                            {% endif %}
                            $ {{total}}
                        </th>
                    {% else %}
                        <th colspan="3">
                            Total de p&aacute;gina: $ {{totalPagina}}
                        </th>
                        <th colspan="3">                         
                            {% if medioEntity %}
                                Total de cobranzas del Per&iacute;odo en {{ medioEntity.descripcion }}: 
                            {% elseif app.request.get('medio')=='cheque' %}
                                Total de cobranzas del Per&iacute;odo en cheques:
                            {% else %}
                                Total de cobranzas del Per&iacute;odo:
                            {% endif %}
                            $ {{total}}
                        </th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-12">        
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            $('#tablaInformeCobranza').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');


        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
