{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    {{ form_start(form) }}
    <h2>
        Nueva Cobranza
        {{ form_widget(form.submit) }}
        <a class="btn btn-info btn-xs" href="{{path('cobranza')}}">
            Volver
        </a>
    </h2>
    {% if factura is not empty %}
        <input type="hidden" name="idfactura" value="{{ factura.id }}">
    {% endif %}
    <div class="joyas-container" style="margin: 0 auto;">
        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    {% if factura or facturas|length>0 %}
                        <br/>
                        {{ entity.clienteProveedor }}
                    {% else %}
                        <button style="float: right;" type="button" class="btn btn-danger btn-xs" id='eliminarCliente'>
                            Borrar <i class="fa fa-trash"></i>
                        </button>
                        <label>Seleccione Cliente</label>
                        {{ form_widget(form.clienteProveedor) }}
                        <input type='hidden' id='clienteProveedor' name='clienteProveedor'>
                        <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>
                    {% endif %}

                    {#<label>Seleccione Cliente</label>
                    <div class="col-md-3">
                        <input type="text" value="{{app.request.get('busqueda')}}" class="form-control" name="busqueda" placeholder="Buscar cliente..">
                    </div>
                    {% if factura or facturas|length>0 %}
                        <br/>
                        {{ entity.clienteProveedor }}
                    {% else %}
                        {{ form_widget(form.clienteProveedor) }}
                    {% endif %#}
                </div>
                <div class="col-md-6">
                    <label>Fecha</label>
                    {% if factura is not empty %}
                        <br/>
                        {{ factura.fecha|date('Y-m-d') }}
                    {% else %}
                        {{ form_widget(form.fecha) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Nro. Recibo</label>
                    {{ form_widget(form.nrocomprobante) }}
                </div>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="col-md-6">
                        <label>Seleccione Unidad</label>
                        {% if factura %}
                            <br/>
                            {{ factura.unidadNegocio }}
                            <select name="unidad" class="hidden">
                            {% else %}
                                <select name="unidad">
                                {% endif %}
                                {% for unidad in unidades %}
                                    <option value="{{ unidad.id }}">
                                        {{ unidad.descripcion }}
                                    </option>
                                {% endfor %}
                            </select>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if facturas|length>0 %}
                    {{ form_row(form.facturas) }}
                {% endif %}
            </div>
            <div class="col-md-12" style="margin-top: 2%;margin-bottom: 1%; font-size: 20px;color: #00006f;">
                <strong>
                    Medios (<span id="resmedio"></span>) +
                    Cheques (<span id="rescheques"></span>) +
                    Retenciones (<span id="resretenciones"></span>) = <span id="restotal"></span>
                </strong>
            </div>
            <div class="col-md-12" style="margin-top: 2%;">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#medios" data-toggle="tab" aria-expanded="true">Medios</a>
                    </li>
                    <li class=""><a href="#chequess" data-toggle="tab" aria-expanded="false">Cheques</a>
                    </li>
                    <li class=""><a href="#retenciones" data-toggle="tab" aria-expanded="false">Retenciones</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="medios">
                        <p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Medio
                                    </th>
                                    <th>
                                        Importe
                                    </th>
                                    <th>
                                        Nro Tr.
                                    </th>
                                    <th>
                                        Nro Cupón
                                    </th>
                                    <th>
                                        Cuotas
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medio in medios %}
                                    <tr>
                                        <td>
                                            <strong>{{ medio.descripcion }}</strong>
                                            <input type="hidden" name="medio{{ medio.id }}" value="{{ medio.id }}" />
                                        </td>
                                        <td>
                                            {% if loop.first and (factura is not empty or facturas|length>0) %}
                                                <input type="number" step="0.01" min="0" name="importemedio{{ medio.id }}" class="importemedio" value="{{ factura.importe|default(totalFacturas) }}"/>
                                            {% else %}
                                                <input type="number" step="0.01" min="0" name="importemedio{{ medio.id }}" class="importemedio" value="{{ app.request.get('importe'~medio.id) }}"/>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <input type="number" min="0" name="numerotransaccion{{ medio.id }}" value="{{ app.request.get('numerotransaccion'~medio.id) }}"/>
                                        </td>
                                        <td>
                                            <input type="number" min="0" name="numerocupon{{ medio.id }}" value="{{ app.request.get('numerocupon'~medio.id) }}"/>
                                        </td>
                                        <td>
                                            <input type="number" min="0" name="cuotas{{ medio.id }}" value="{{ app.request.get('cuotas'~medio.id) }}"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="chequess">
                        {% for i in 0..5 %}
                            <div class="col-md-12">
                                <hr/>
                                <div class="col-md-12">
                                    <strong>Cheque {{ i + 1 }}</strong>
                                    <a onclick="ver(this.id);" id="{{ i }}" style="color: blue;"><i class="fa fa-minus"></i></a>
                                </div>
                                <div class="row" id="datos{{ i }}">
                                    <div class="col-xs-2">
                                        <select name="banco{{ i }}" id="banco{{ i }}">
                                            <option value="0">Banco</option>
                                            {% for banco in bancos %}<option value="{{ banco.id }}">
                                                    {{  banco.descripcion }}</option>
                                            {% endfor %}</select>
                                    </div>
                                    <div class="col-xs-2">
                                        <select name="tipocheque{{ i }}" id="tipocheque{{ i }}">
                                            <option value="0">Tipo Cheque</option>
                                            {% for tipocheque in tipocheques %}<option value="{{ tipocheque.id }}">
                                                    {{  tipocheque.descripcion }}</option>
                                            {% endfor %}</select>
                                    </div>
                                    <div class="col-xs-2">
                                        <input placeholder="Fecha emisi&oacute;n" name="fechaemision{{ i }}" class="datetimepicker" />
                                    </div>
                                    <div class="col-xs-2">
                                        <input placeholder="Fecha cobro" name="fechacobro{{ i }}" class="datetimepicker" />
                                    </div>
                                    <div class="col-xs-2"><input placeholder="Nro. Cheque" name="nrocheque{{ i }}" /></div>
                                    <div class="col-xs-2"><input placeholder="Importe" class="importecheque" name="importe{{ i }}" /></div>
                                    <div class="col-xs-6"><input placeholder="Firmantes" name="firmantes{{ i }}" /></div>
                                    <div class="col-xs-6"><input placeholder="Cuit" name="cuit{{ i }}" /></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="retenciones">
                        {% for ret in tiporetenciones %}
                            <div class="col-md-12">
                                <div class="col-sm-6"><input readonly name="retencion{{loop.index}}" value="{{ret.descripcion}}" /></div>
                                <div class="col-sm-6"><input placeholder="Importe" name="retencionimporte{{loop.index}}" /></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr />
                <strong>Observaciones</strong>
                {{ form_widget(form.descripcion) }}
            </div>
            <div style="display:none;">
                {{ form(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <script>
        var control_total = 0;
        {% set referer = app.request.headers.get('referer')|default('/') %}
        {% if 'factura/new' in referer %}
            var control_total = {{ factura.importe|default(totalFacturas) }};
        {% endif %}

                    $('.importemedio').keyup(function () {
                resultado();
            });
            $('.importecheque').keyup(function () {
                resultado();
            });
            $(function () {
        {% if factura is not empty %}
                $('#app_bundle_cobranza_fecha').val("{{ factura.fecha|date('Y-m-d') }}");
                predictivaCliente();
                resultado();
        {% endif %}
        {% if facturas|length > 0 %}
                resultado();
        {% endif %}
                $("select").addClass('select2').select2();
                $("input").addClass('form-control');
                $('.importemedio').removeAttr("required");
                $("#fechaDocumento").removeAttr('required');
                for (var v = 0; v < 6; v++) {
                    ver(v);
                }
            });
            $("form").submit(function (e) {
                var total_actual = parseFloat($("#app_bundle_cobranza_importe").val());
                if (control_total != 0 && parseFloat(control_total) != total_actual) {
                    e.preventDefault();
                    e.stopPropagation();
                    alert("El monto total debe coincidir con el de la factura: $ " + control_total);
                }
                $("button[type='submit']").removeClass('hidden');
                $('.preloader').fadeOut(1000);
            });
            $('.calcularetencion').click(function () {
                var idretimp = $(this).val();
                if ($(this).is(':checked')) {
                    $('#' + idretimp).removeAttr('readonly');
                    var res = idretimp.split("retencionimporte");

                    $.post('{{path('cobranza')}}', {data: res[1], data2: $('#idproveedor').val(), data3: $('#totalneto').val()})
                            .done(function (data) {
                                $('#' + idretimp).val(Math.round(data * 100) / 100);
                                resultado();
                            });

                } else {
                    $('#' + idretimp).attr('readonly', 'readonly').val('');
                    resultado();
                }
            });

            $("input[type=text]").blur(function () {
                resultado();
                var id = $(this).attr('id');
                if (id.indexOf('retencionimporte') == '-1') {
                    // Calculo las retenciones checkeadas
                    $("input[type=checkbox]:checked").each(function () {
                        var idretimp = $(this).val();
                        if ($(this).val() != 'true' && $(this).is(':checked')) {
                            $('#' + idretimp).removeAttr('readonly');
                            var res = idretimp.split("retencionimporte");
                            $.post('{{path('cobranza')}}', {data: res[1], data2: $('#idproveedor').val(), data3: $('#totalneto').val()})
                                    .done(function (data) {
                                        $('#' + idretimp).val(Math.round(data * 100) / 100);
                                        resultado();
                                    });
                        }
                    });
                }
            });

            function resultado() {

                var importemedios = 0;
                var importecheques = 0;

                $('.importemedio').each(function () {
                    if (this.value !== '') {
                        importemedios += parseFloat(this.value);
                    }
                });

                $('.importecheque').each(function () {
                    if (this.value !== '') {
                        importecheques += parseFloat(this.value);
                    }
                });

                var retenciones = 0;
                var total = 0;

                if (isNaN(retenciones)) {
                    retenciones = 0;
                }
                if (isNaN(importecheques)) {
                    importecheques = 0;
                }
                if (isNaN(importemedios)) {
                    importemedios = 0;
                }
                total = retenciones + importecheques + importemedios;
                var totalneto = importecheques + importemedios;
                $("#totalneto").val(totalneto);
                $("#resmedio").html(importemedios);
                $("#resretenciones").html(Math.round(retenciones * 100) / 100);
                $("#rescheques").html(Math.round(importecheques * 100) / 100);
                $("#restotal").html(Math.round(total * 100) / 100);
                $("#app_bundle_cobranza_importe").val(total);
            }
            function ver(id) {
                if ($('#' + id).html() == '<i class="fa fa-minus"></i>') {
                    $('#' + id).html('<i class="fa fa-plus"></i>');
                    $("#datos" + id).slideToggle();
                    $('input[name=banco' + id + ']').val(0).removeAttr('required');
                    $('input[name=tipocheque' + id + ']').val(0).removeAttr('required');
                    $('input[name=nrocheque' + id + ']').val('').removeAttr('required');
                    $('input[name=importe' + id + ']').val(0).removeAttr('required');
                    $('input[name=fechaemision' + id + ']').val('').removeAttr('required');
                    $('input[name=fechacobro' + id + ']').val('').removeAttr('required');
                    $('input[name=firmantes' + id + ']').val('');
                    $('input[name=cuit' + id + ']').val('');
                } else {
                    $('#' + id).html('<i class="fa fa-minus"></i>');
                    $("#datos" + id).slideToggle();
                    $('input[name=banco' + id + ']').attr('required', 'required');
                    $('input[name=tipocheque' + id + ']').attr('required', 'required');
                    $('input[name=nrocheque' + id + ']').attr('required', 'required');
                    $('input[name=importe' + id + ']').val('').attr('required', 'required');
                    $('input[name=fechaemision' + id + ']').attr('required', 'required');
                    $('input[name=fechacobro' + id + ']').attr('required', 'required');
                    $('input[name=firmantes' + id + ']').val('');
                    $('input[name=cuit' + id + ']').val('');
                }
            }
            $("#app_bundle_cobranza_clienteProveedor").keyup(function () {
                predictivaCliente();
            });
            /*
            * Predictiva de Clientes
             */
            function predictivaCliente() {
                $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#app_bundle_cobranza_clienteProveedor").val(), tipo: 1})
                        .done(function (data) {
                            $('#sugerenciacliente').fadeIn(500).html(data);

                            $('.suggest-element').on('click', function () {
                                var id = $(this).attr('id');
                                $('#clienteProveedor').val(id);
                                $('#app_bundle_cobranza_clienteProveedor').val($(this).children('a').html()).prop('readonly', 'readonly');
                                $('#sugerenciacliente').fadeOut(500);
                            });
                            if ($('#sugerenciacliente ul li').length === 1) {
                                $('#sugerenciacliente ul li a').click();
                                $('#sugerenciacliente').fadeOut().html("");
                            }
                        });
            }
            $('#eliminarCliente').click(function () {
                $('#app_bundle_cobranza_clienteProveedor').val('').removeAttr('readonly');
                $('#clienteProveedor').val('');
            });

    </script>
    <style>
        #cheques .col-md-12 .col-xs-3,#cheques .col-md-12 .col-xs-2, #cheques .col-md-12 .col-xs-4,#cheques .col-md-12 .col-xs-6{
            padding-right:0px;
            padding-left:0px;
        }
        #cheques .col-md-12{
            margin-top: 1%;
            margin-bottom: 1%;
        }

        #retenciones .col-md-12{
            margin-top: 1%;
            margin-bottom: 1%;
        }
        #app_bundle_cobranza_submit{
            float: right;
            margin-left: 1em;
        }
    </style>

{% endblock %}
