{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Edición de Reserva
        <a href="{{ path('reserva') }}">
            Volver
        </a>
    </h2>
    <hr />
    <div class="gestion col-xs-12">
        {{ form_start(edit_form) }}
        <div class="hidden">
            {{ form_row(edit_form.stock) }}
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
