{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Listado de Reservas
    </h2>
    <div class="row" style="margin-bottom: 1em">
        <form id="searchForm" action="{{ path('reserva') }}" method="GET">
            <div class="col-md-3">
                <input type="date" value="{{app.request.get('desde')}}" class="form-control" name="desde" placeholder="Fecha Desde">
            </div>
            <div class="col-md-3">
                <input type="date" value="{{app.request.get('hasta')}}" class="form-control" name="hasta" placeholder="Fecha Hasta">
            </div>
            <div class="col-md-2">
                <select name="estado">
                    <option value="A" {{ app.request.get('estado') == 'A' ? 'selected' : '' }}>Activa</option>
                    <option value="F" {{ app.request.get('estado') == 'F' ? 'selected' : '' }}>Finalizada</option>
                    <option value=""{{ app.request.get('estado') is not null and app.request.get('estado') == '' ? 'selected' : '' }}>Todos los estados</option>
                </select>
            </div>
            <div class="col-md-3">
                <input name="cliente" type="text" value="{{ app.request.get('cliente')|default('')}}" placeholder="Cliente / Banco" />
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" style="margin-top: .6em" type="submit">
                    Buscar
                </button>
            </div>
        </form>
    </div>
    <form id="formulario" action="{{ path('consignacion_new') }}" onsubmit="return confirmacion();">
        <div class="row" style="margin-bottom: 1em">
            <div class="col-sm-6">
                <button type="submit" id="confirmarconsignacion" class="btn btn-info">Finalizar Reserva y Consignar</button>
                <button type="submit" id="confirmarremitooficial" class="btn btn-warning">Finalizar Reserva y Remitir</button>
            </div>
            <div class="col-sm-6 text-right">
                <a href="{{ '?' in app.request.requestUri ?  app.request.requestUri~'&action=excel' : app.request.requestUri~'?action=excel' }}" style="float: right" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Exportar</a>
            </div>
        </div>
        <div class="tablasScroll">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Cliente</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {% if entity.estado == 'A' %}
                                <input type="checkbox" name="reservas[]" value="{{ entity.id }}">
                            {% endif %}
                        </td>
                        <td>
                        <span data-toggle="tooltip" title="{{ entity.stock.producto.nombre }}">
                        {{ entity.stock.producto.nombre }}<br/><b>{{ entity.stock.producto.trazable ? 'N° Serie: ' ~ entity.stock.serie : 'Lote: ' ~ entity.stock.lote }}</b>
                        </span>
                        </td>
                        <td>{{ entity.cantidad }}</td>
                        <td>{{ entity.cliente.razonSocial }}</td>
                        <td>{{ entity.usuario }}</td>
                        <td>{{ entity.estado == 'A' ? '<span class="text-success">ACTIVA</span>'|raw : '<span class="text-danger">FINALIZADA</span>'|raw  }}</td>
                        <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a href="{{ path('reserva_show', { 'id': entity.id }) }}" title="Ver Detalle" class="btn btn-info" data-placement="left" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                            {% if entity.estado == 'A' %}
                                <a href="{{ path('reserva_edit', { 'id': entity.id }) }}" title="Editar Reserva" class="btn btn-success" data-placement="left" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                <button class="btn btn-warning" type="button" onclick="confirmarFinalizacion('{{ path('reserva_delete', {id: entity.id}) }}')">
                                    <i class="fa fa-unlock"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
        </div>
    </form>
    <script>
        $("document").ready(()=>{
            $("input[type='checkbox']").removeClass("form-control")
        });
        $("#confirmarconsignacion, #confirmarremitooficial").click(function(){
            $(this).data('clicked', true);
        });
        function confirmacion(){
            if($('#confirmarconsignacion').data('clicked')) {
                $('#formulario').attr('action', '{{ path('consignacion_new') }}')
                $('#confirmarconsignacion').data('clicked', false);
            }

            if($('#confirmarremitooficial').data('clicked')) {
                $('#formulario').attr('action', '{{ path('remitooficial_new') }}')
                $('#confirmarremitooficial').data('clicked', false);
            }

            if($("form input:checkbox:checked").length == 0){
                alert("Se debe seleccionar al menos una reserva.")
            }else{
                if(confirm('Confirmar finalización de reservas y continuar?')){
                    return true;
                }
            }
            $("button[type='submit']").removeClass('hidden');
            $('.preloader').fadeOut(1000);
            return false;
        }
    </script>

{% endblock %}
