{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Nueva Reserva
        <a href="{{ path('reserva') }}">
            Volver a Reservas
        </a>
    </h2>
    <div class="col-sm-12" style="margin: 1em 0em;">
        <h4>{{ entity.stock.producto.nombre }} - N°: {{ entity.stock.serie }}</h4>
    </div>
    <div class="gestion col-xs-12">
        {{ form_start(form) }}
        <div class="hidden">
            {{ form_row(form.stock) }}
        </div>
        {{ form_end(form) }}
    </div>
    <hr />
{% endblock %}
