{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h1>
        Reserva
    </h1>
    <div class="row">
        <div class="col-sm-12 text-right" style="margin-bottom: 1em">
            <button class="btn btn-warning" onclick="confirmarFinalizacion('{{ path('reserva_delete', {id: entity.id}) }}')">
                Finalizar Reserva
            </button>
            <a class="btn btn-info" href="{{ path('reserva') }}">
                Volver a Reservas
            </a>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th colspan="4" style="font-size: 1.3em">{{ entity.stock.producto.nombre }} - {{ entity.stock.producto.trazable ? 'N°: ' ~ entity.stock.serie : 'Lote: ' ~ entity.stock.lote }}</th>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
                <th>Cliente / Banco</th>
                <td>{{ entity.cliente }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
                <th>Estado</th>
                <td>{{ entity.estado == 'A' ? '<span class="text-success">ACTIVA</span>'|raw : '<span class="text-danger">FINALIZADA</span>'|raw  }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
                <th></th>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
