{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form) }}    
    <h2>
        Nota de {{ entity.tiponota|title }}
        <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="javascript:goBack();">
            Volver
        </a>
        {{ form_widget(form.submit) }}
    </h2>
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alta de Nota de {{ app.request.get('tipo')|title }}
                    <label style="float:right;font-size: 1.2em;">
                        {% if entity.clienteProveedor.condicioniva == 'Responsable Inscripto' %}
                            <span class="iva ">IVA 21%: <span id="montoiva21"></span> - </span>
                            <span class="iva ">IVA 10.5%: <span id="montoiva105"></span> - </span>
                        {% endif %}
                        Total: <span id="total">$ 0</span>
                    </label>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#informacion" data-toggle="tab">Información Básica</a>
                        </li>
                        <li style="display:none;" id="tabElementos"><a href="#elementos" data-toggle="tab">Items</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="informacion">
                            <h4>Información Básica</h4>
                            <div class="col-md-6">
                                {{ form_row(form.clienteProveedor) }}
                                {{ form_row(form.fecha) }}
                            </div>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="col-md-6">
                                {% else %}
                                    <div class="col-md-6">
                                        <label>Unidad de Negocio</label><br/>
                                        {{entity.unidadNegocio.descripcion}}
                                    </div>
                                    <div class="col-md-6 hidden">
                                    {% endif %}
                                    {{ form_row(form.unidadNegocio) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.facturas) }}
                                </div>
                                <div class="col-md-12">
                                    {{ form_row(form.descripcion) }}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="elementos" >
                                <h4>Items</h4>
                                <div class="row">
                                    <div class="col-sm-2 text-center {{ entity.tiponota|lower == 'CREDITO'|lower ? '' : 'hidden' }}">
                                        <label>Item</label>
                                    </div>
                                    <div class="text-center {{ entity.tiponota|lower == 'CREDITO'|lower ? 'col-sm-2' : 'col-sm-4' }}">
                                        <label>Descripción</label>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <label>Cantidad</label>
                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <label>Precio</label>
                                    </div>
                                    {% if entity.clienteProveedor.condicioniva == 'Responsable Inscripto' %}
                                        <div class="col-sm-1 ">
                                            <label>Tipo IVA</label>
                                        </div>
                                        <div class="col-sm-1 ">
                                            <label>IVA</label>
                                        </div>
                                    {% endif %}
                                    <div class="col-sm-2">
                                        <label>Subtotal</label>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                                {% for i in 1..30 %}
                                    <div class="row">
                                        <div class="filaDocumento col-sm-2 {{ entity.tiponota|lower == 'CREDITO'|lower ? '' : 'hidden' }}">
                                            <select class="select2ajax" id="{{i}}" name="productofactura_{{i}}" ></select>
                                        </div>
                                        <div class="filaDocumento {{ entity.tiponota|lower == 'CREDITO'|lower ? 'col-sm-2' : 'col-sm-4' }}">
                                            <input type="text" name="elemento{{i}}" id="descripcion_{{i}}" />
                                        </div>
                                        <div class="filaDocumento col-sm-1">
                                            <input type="number" min="0" name="cantidad{{i}}" id="cantidad_{{i}}" />
                                        </div>
                                        <div class="filaDocumento col-sm-2">
                                            <input type="text" data-tipoiva="0" name="precio{{i}}" id="precio_{{i}}" />
                                        </div>
                                        {% if entity.clienteProveedor.condicioniva == 'Responsable Inscripto' %}
                                            <div class="filaDocumento col-sm-1 responsableInscripto">
                                                <select id="tipo_iva_{{i}}" name="tipo_iva_{{i}}" class="form-control tipoIva">
                                                    {% for tipoIva in tiposIva %}
                                                        <option value="{{ tipoIva.porcentaje }}">{{ tipoIva.descripcion }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="filaDocumento col-sm-1 responsableInscripto">
                                                <input type="number" min="0" step="0.01" name="precio_alicuota_{{i}}" id="precio_alicuota_{{i}}" />
                                            </div>
                                        {% endif %}
                                        <div class="filaDocumento col-sm-2">
                                            <input type="number" min="0" step="0.01" name="subtotal_{{i}}" id="subtotal_{{i}}" readonly/>
                                        </div>      
                                        <div class="filaDocumento col-sm-1 text-center">
                                            <button type="button" class="btn btn-danger btn-xs" onClick="limpiarFila({{i}});">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
    <style>
        .filaDocumento{
            padding-right: 1px !important;
            padding-left: 1px !important;
        }
    </style>
    <script>
        var condicion = '{{ entity.clienteProveedor.condicionIva }}';

        $(function () {
            cerrarMenu();

                $('#app_bundle_notacreditodebito_facturas').change();

            $("input").attr("autocomplete", "off");
            $("#app_bundle_factura_descripcion").removeAttr("required");
            $("#app_bundle_factura_cliente").keyup(function () {
                predictivaCliente();
            });

            $('.select2ajax').select2({
                ajax: {
                    url: "{{path('stock_predictiva_select2_productofactura')}}",
                    dataType: 'json',
                    data: function (params) {
                        let id = $(this).attr("id");
                        let facturas = $("#app_bundle_notacreditodebito_facturas").val();
                        var query = {
                            search: params.term,
                            type: 'public',
                            facturas: facturas,
                        }
                        return query;
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        let items = data.items ? data.items.filter(filtrarSeleccionado) : [];
                        return {
                            results: items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        }
                    }
                }
            });

            $('.select2ajax').on('select2:select', function (e) {
                let elemento = $(this).attr('id');
                let tipoIva = parseFloat(e.params.data.tipo_iva);

                $('#cantidad_' + elemento).val(1);
                if (e.params.data.trazable) {
                    $('#cantidad_' + elemento).attr('readonly', 'readonly');
                } else {
                    $('#cantidad_' + elemento).attr('max', e.params.data.max_stock);
                }

                var precio = roundToTwo(e.params.data.price);
                var alicuota = roundToTwo(precio * tipoIva / 100);

                $('#precio_' + elemento).data('tipoiva', tipoIva);

                if (condicion == 'Responsable Inscripto') {
                    $('#precio_' + elemento).val(precio);
                    $('#precio_alicuota_' + elemento).val(alicuota);
                    $('#tipo_iva_' + elemento).val(tipoIva).change();
                    $('#tipo_iva_' + elemento).attr('readonly', true);

                } else {
                    $('#precio_' + elemento).val(roundToTwo(precio * (1 + tipoIva / 100)));
                }
                $('#descripcion_' + elemento).val(e.params.data.name);
                calcular();
            });


        });

        /*
        * 
         * @param {type} fila
         * @returns {undefined}         
         * */
        function limpiarFila(fila) {
            $('#cantidad_'+fila).val('');
            $('#precio_'+fila).val('');
            $('#elemento_'+fila).val('');
            $('#descripcion_'+fila).val('');
            $('#tipo_iva_'+fila).val(0).change().removeAttr('readonly');
            $('#precio_alicuota_'+fila).val('').removeAttr('readonly');
            $('#subtotal_'+fila).val('');
            $('#'+fila).val('').change();
        }

        // $("#app_bundle_factura_submit").click(function(){
        // 	if($('form')[0].checkValidity() == true){
        // 		$("#app_bundle_factura_submit").addClass('hidden');
        // 	}
        // });
        $('#app_bundle_notacreditodebito_facturas').change(function () {
            if ($(this).val() != '' && $(this).val() != null) {
                $('#tabElementos').css('display', 'block');
            } else {
                $('#tabElementos').css('display', 'none');
            }
        });

        $("input").keyup(function () {
            calcular();
        });

        $("input").blur(function () {
            calcular();
        });
        $('.tipoIva').change(function () {
            calcular();
        })
        function filtrarSeleccionado(item) {
            let response = true;
            $('.select2ajax').each((index, element) => {
                if (element.value != '' && parseInt(element.value) == item.id) {
                    response = false;
                }
            });

            return response;
        }

        function calcular() {
            var total = 0;
            var totalIva21 = 0;
            var totalIva105 = 0;

            for (i = 1; i <= 30; i++) {
                if ($('#cantidad_' + i).val() != '' && $('#precio_' + i).val() != '') {

                    var precio = parseFloat($('#precio_' + i).val());
                    var cantidad = parseFloat($('#cantidad_' + i).val());
                    var subtotal = 0;

                    if (condicion == 'Responsable Inscripto') {
                        if ($("[name='productofactura_" + i + "']").val() !== null && $("[name='productofactura_" + i + "']").val() !== '' && $("[name='productofactura_" + i + "']").val() !== undefined) {
                            var tipoIva = parseFloat($('#precio_' + i).data('tipoiva'));
                            $('#tipo_iva_' + i).val(tipoIva);
                            $('#precio_alicuota_' + i).attr('readonly', true);
                        } else {
                            var tipoIva = parseFloat($('#tipo_iva_' + i).val());
                        }
                        $('#precio_alicuota_' + i).val(roundToTwo(precio * tipoIva / 100));


                        subtotal = roundToTwo(cantidad * precio * (1 + tipoIva / 100));

                        var iva = subtotal - roundToTwo(cantidad * precio);
                        if (tipoIva == 21) {
                            totalIva21 += iva;
                        }
                        if (tipoIva == 10.5) {
                            totalIva105 += iva;
                        }
                    } else {
                        subtotal = roundToTwo(cantidad * precio);
                    }

                    total += subtotal;
                    unidades += parseFloat($('#cantidad_elemento' + i).val());

                    $('#subtotal_' + i).val(subtotal);
                }
            }

            $('#total').html('$ ' + parseFloat(total).toFixed(2));
            if (condicion == 'Responsable Inscripto') {
                $('#montoiva21').html('$ ' + roundToTwo(totalIva21));
                $('#montoiva105').html('$ ' + roundToTwo(totalIva105));
            }
        }
        /*
         * Round to Two
         */
        function roundToTwo(num) {
            return +(Math.round(num + "e+2") + "e-2");
        }
    </script>
{% endblock %}