{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form) }}    
    <h2>
        Nota de {{ entity.tiponota|title }}
        <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="javascript:goBack();">
            Volver
        </a>
        {{ form_widget(form.submit) }}
    </h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.fecha) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.clienteProveedor) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.codigonota) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.facturas) }}
            </div>           
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.nrocomprobante) }}
            </div>          
            <div class="col-md-6">
                {{ form_row(form.importe) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.unidadNegocio) }}
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_row(form.descripcion) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <script>
        var condicion = '{{ entity.clienteProveedor.condicionIva }}';

        $(function () {
            $("input").attr("autocomplete", "off");
            $('#app_bundle_notacreditodebito_importe')[0].type = 'number';
            $('#app_bundle_notacreditodebito_importe').attr('step', '0.01');

        });
    </script>
{% endblock %}