{% extends 'AppBundle::base.html.twig' %}
{% block title %}
    NOTA DE {{ entity.tiponota }} B - {{ entity.numero }}
{% endblock %}
{% block content -%}
    <style type="text/css" media="print">
        @page { margin: 0cm; margin-left: 4mm; margin-right: 4mm; }
        body { margin: 0cm 0cm;}
        .content { padding: 0cm; }
        #oculto { display: none; }

        div.saltopagina{
            display:block;
            page-break-before:always;
        }

        .body, header{
            font-size: 13px !important;
        }

        footer {
            display: block;
            position: fixed;
            bottom: .8em;
        }
        header th, header td{
            text-align:left;
        }
        .body th, .body td{
            text-align:left;
        }

        .body th, .body td {
            text-align: left;
            vertical-align: top;
        }
        header table{
            margin-top: 0;
        }
        .body table tr td{
            padding-bottom: .5em;
        }

    </style>
    <style>
        header th, header td{
            text-align:left;
        }
        header table{
            margin-top: 1%;
        }
        .body th, .body td{
            text-align:left;
        }
        .body{
            padding-top: 1em;
        }

        #page-wrapper {
            padding: 0px;
            margin: 0px !important;
        }

        .sidebar {
            display: none;
        }
        footer table{
            width: 100%;
            margin-top: 2em;
        }
    </style>

    {% set variable_corte = 10 %}
    {% set ciclos = (entity.itemsNota|length // variable_corte) == 0 ? 1 : (entity.itemsNota|length // variable_corte)  %}
    {% set ciclos = variable_corte >= entity.itemsNota|length ? ciclos : ciclos + 1  %}
    {% set resto = entity.itemsNota|length % variable_corte %}

    {% for ciclo in 1..ciclos  %}

        <header style="width: 100%; text-align:center;">
            <table id="content" class="display" cellspacing="0" width="100%" style="margin-top: 1%;">
                <thead>
                <tr style="">
                    <th colspan="2" style="text-align: center!important;width: 40%;">
                        <img src="{{asset('logo.png')}}" style="height: 4em;margin-left: 25%;" />
                    </th>
                    <th style="text-align: center!important;" colspan="2">
                        <span style="text-align: center;font-size: 58px!important;">{{entity.codigonota}}</span> <br /> <span style="font-size: 14px;">cod. {{nrocomprobante}}</span>
                    </th>
                    <th colspan="2" style="text-align: center!important;font-size: 24px!important; width: 40%;padding-right: 10%;">NOTA DE {{ entity.tiponota|upper }}</th>
                </tr>
                <tr>
                    <th colspan="3" style="width:50%;">
                        <span style="font-weight: bold;font-size: 1.4em;">{{empresa_razonsocial|title}}</span><br/>
                        <span style="font-size: 0.9em;">{{empresa_de}}</span>
                    </th>
                    <th colspan="3" style="width:50%;">Punto de Vta: <span style="font-weight: normal;">{{entity.ptovtaPad}}</span> - Comp. Nro: <span style="font-weight: normal;">{{entity.numero }}</span></th>
                </tr>
                <tr>
                    <th colspan="3" style="width:50%;">
                        <span style="font-weight: normal;"> {{entity.unidadNegocio.direccion}}</span>
                    </th>
                    <th colspan="3" style="width:50%;">CUIT: <span style="font-weight: normal;">{{entity.unidadNegocio.cuit}}</span></th>
                </tr>
                <tr>
                    <th colspan="3"  style="width:50%;">
                        IVA: <span style="font-weight: normal;">Responsable Inscripto</span>
                    </th>
                    <th colspan="3" style="width:50%;">IIBB - CM: <span style="font-weight: normal;">{{entity.unidadNegocio.iibb}}</span></th>
                </tr>
                <tr style="">
                    <th colspan="3" style="width:50%;padding-bottom: 1em;">
                        Fecha de Emisi&oacute;n: <span style="font-weight: normal;">{{entity.fecha|date('d/m/Y')}}</span>
                    </th>
                    <th colspan="3" style="width:50%;padding-bottom: 1em;">
                        Fecha de Inicio de Actividades: <span style="font-weight: normal;">{{ inicio_actividades }}</span>
                    </th>
                </tr>
                <tr style="border-top: 1px solid #0000007a;">
                    <th colspan="3" style="padding-top: 1em;">Apellido y Nombre / Raz&oacute;n Social: <span style="font-weight: normal;">{{entity.clienteproveedor.razonSocial }}</span></th>
                    <th colspan="3" style="padding-top: 1em;">
                        {% if entity.clienteproveedor.cuit %}
                            CUIT: <span style="font-weight: normal;">{{entity.clienteproveedor.cuit}}</span>
                        {% else %}
                            DNI: <span style="font-weight: normal;">{{entity.clienteproveedor.dni}}</span>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th colspan="3" style="">
                        IVA: <span style="font-weight: normal;">{{entity.clienteproveedor.condicionIva}}</span>
                    </th>
                    <th colspan="3">
                        Domicilio:
                        <span style="font-weight: normal;">
                            {{entity.clienteproveedor.domiciliocomercial}}
                            </span>
                    </th>
                </tr>
                <tr style="">
                    <td colspan="6" class="">
                        Facturas Asociadas:
                        {{ entity.facturas|join(', ')|raw }}
                    </td>
                </tr>
                </thead>
            </table>
        </header>

        <div class="body">
            <table style="text-align: center; width: 100%; margin-top: 1%;border-top:  1px solid;border-bottom: 0px solid;">
                <tr style="">
                    <th style="width: 60%;">Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th colspan="2">Subtotal</th>
                </tr>

                {% set desde = ciclo*variable_corte-variable_corte %}
                {% set hasta = (ciclo*variable_corte-1) < entity.itemsNota|length ? (ciclo*variable_corte-1) : (desde + (entity.itemsNota|length - desde))-1 %}

                {% for index in desde..hasta  %}
                    {% set item = entity.itemsNota[index] %}
                    <tr>
                        <td>
                            {{ item.descripcion|replace({'*DEPÓSITO*: ': ""}) }}
                        </td>
                        <td>
                            {{ item.cantidad }}
                        </td>
                        <td>
                            {{ item.precio }}
                        </td>
                        <td colspan="2">
                            {{ item.precio * item.cantidad }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% if ciclos > 1 and (loop.index<ciclos)  %}
            <div class="saltopagina"></div>
        {% endif %}
    {% endfor %}
    <footer>
        <table>
            {% if entity.cae == '' or entity.descripcion is not empty  %}
                <tr style="">
                    <td colspan="7" class="text-left">
                        <label>Observaciones:</label>
                        {{entity.observacionLimpia}}
                    </td>
                </tr>
            {% endif %}
            <tr style="">
                <th colspan="3" class="numeroletras"></th>
                <th style="text-align: right;font-size: 16px;">
                    Total:
                </th>
                <th colspan="3" style="text-align: right;">
                    $ {{ entity.importe|number_format(2) }}
                </th>
            </tr>
            <tr style="">
                <th colspan="3" style="width: 70%;">
                    <img src="data:image/png;base64,{{ barcode }}">
                    <br/>
                    {{ codigobarras }}
                </th>
                <th style="text-align: right;font-size: 16px;">
                    CAE N&#186;:
                </th>
                <th colspan="3" style="text-align: right;">
                    {{entity.cae}}
                </th>
            </tr>
        </table>
    </footer>

    <div id="oculto" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
        <a class="btn btn-info" onclick="document.title = 'NOTA DE {{ entity.tiponota }} B - {{ entity.numero }}';imprSelec()">
            <i class="fa fa-file"></i> Imprimir
        </a>
        <a class="btn btn-warning" href="{{ path('pagoasignacion', {id: entity.clienteproveedor.id}) }}">
            <i class="fa fa-arrow-left"></i>  Volver
        </a>
        <div class="col-sm-12">
            <h3>Observación Completa</h3>
            <p>{{ entity.descripcion }}</p>
        </div>
    </div>

    <script language="Javascript">
        function imprSelec() {
            window.print();
        }
        $(document).ready(function () {
            $('.numeroletras').html(NumeroALetras({{entity.importe}}));
        });

    </script>

{% endblock %}