{% extends 'AppBundle::base.html.twig' %}

{% block body -%}  
    <div class="panel panel-default" style="margin-top: 2rem;">
        <div class="panel-heading">
            Nota de {{ entity.tiponota|title }} Nro. {{ entity.nrocomprobante }}
            <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="{{ path('pagoasignacion', {'id': entity.clienteProveedor.id}) }}">
                Ir a cuenta corriente
            </a>        
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <strong>Fecha de Registraci&oacute;n</strong><br>
                    {{ entity.fechaRegistracion|date('d-m-Y') }}
                </div>
                <div class="col-md-6">
                    <strong>Fecha del documento</strong><br>
                    {{ entity.fecha|date('d-m-Y') }}                
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <strong>Tipo de Nota</strong><br>
                    {{ entity.codigonota }}                                
                </div>
                <div class="col-md-6">
                    <strong>Facturas involucradas</strong><br>
                    <ul>
                        {% for factura in entity.facturas %}
                            <li>
                                <a href="{{ path('facturaproveedor_show',{'id':factura.id}) }}">{{ factura|raw }}</a>
                            </li>
                        {% endfor %}
                    </ul>                                
                </div>           
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <strong>Unidad de negocio</strong><br>
                    {{ entity.unidadNegocio }}
                </div>
                <div class="col-md-6">
                    <strong>Importe</strong><br>
                    {{entity.importe}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <strong>Descripci&oacute;n</strong><br>
                    {{ entity.descripcion }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}