{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
			Cobranzas
            <a  href="{{ path('documento_new', {'tipo': 'R'}) }}">
                Registrar cobranza
            </a>
			</h2>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row-fluid filtro">
		<form id="searchForm" action="{{ path('documento_filtro', { 'place': 'cobranzas' }) }}" method="GET">
			<li class="sidebar-search" style="width">
				<div class="input-group custom-search-form" style="width: 70%;">
					<input type="text" style="width:30%;" value="{{app.request.get('fechaDesde')}}" id="fechaDesde" class="form-control" name="fechaDesde" placeholder="fecha desde">
					<input type="text" style="width:30%;" value="{{app.request.get('fechaHasta')}}" id="fechaHasta" class="form-control" name="fechaHasta" placeholder="fecha hasta">													
					<select name="listado" style="width:30%;" class="form-control">
						<option value="0">Elegir Cliente</option>
						{% for clienteProveedor in clientesProveedores %}
							<option value="{{ clienteProveedor.id }}">
								{{ clienteProveedor.razonSocial }}
							</option>
						{% endfor %}
					</select>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<select class="form-control" name="unidadnegocio" style="width: 30%;">
						<option value="0">Elegir Unidad</option>
						{% for unidad in unidades %}
							<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
						{% endfor %}
				   </select>
				{% endif %}
					<button class="btn btn-info btn-xs" type="button" onclick="$('#searchForm').submit();">
						<i class="fa fa-search"></i>
					</button>
				</div>
				<!-- /input-group -->
			</li>
		</form>
	</div>
	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Documento</th>
					<th>Cliente</th>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<th>Unidad de Negocio</th>
					{% endif %}
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td><a href="{{ path('documento_show', { 'id': entity.id }) }}">RECIBO {{ entity.movimientocc.documento.nrocomprobante|default(entity.movimientocc.id) }}</a></td>
					<td>
						<a title="Cuenta Corriente" href="{{ path('pagoasignacion', { 'id': entity.movimientocc.clienteproveedor.id }) }}">
                        {{ entity.movimientocc.clienteproveedor }}
                        </a>
                    </td>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<td>{{ entity.movimientocc.unidadNegocio }}</td>
					{% endif %}
					<td>{{ entity.monedaSim }} {{ entity.importe }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }} 
	</div>

<script>
	$('document').ready(function(){
		$('td').css('padding', '2px');
		$('.pagination a').attr('class', 'btn btn-info btn-xs');
		$('.pagination li').css('float', 'left');
		$('.pagination').css('width', '100%');
	});
</script>
<style>
.active .btn
{
    background-color: #9E9E9E;
}
</style>	
	
{% endblock %}
