{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>
    Nuevo Pago a Proveedor
	</h2>

	{{ form_start(form) }}
    <div class="joyas-container" style="margin: 0 auto;">
  		<div class="container">
            <div style="margin-bottom: 2%;margin-top: 2%;">
				{{ form_widget(form.submit) }}
				<a class="btn btn-info btn-xs" style="margin-left: 1%;" href="javascript:history.back();">
					Volver
				</a>
			</div>
			<div class="col-md-6">
                <label>Seleccione Proveedor</label>
                <select name="clienteProveedor" id="idproveedor">
                {% for clienteProveedor in clientesProveedores %}
                {% if clienteProveedor.clienteProveedor == '2' %} 
                	<option value="{{ clienteProveedor.id }}">
            		{{ clienteProveedor.razonSocial }}
            		{% if is_granted('ROLE_SUPER_ADMIN') %}
            			- {{ clienteProveedor.unidadNegocio }}
            		{% endif %}
                	</option>
                {% endif %}
                {% endfor %}
                </select>
            </div>
			<div class="col-md-6">
				<label>Numeraci&oacute;n autom&aacute;tica</label>
				<input type="checkbox" name="auto" id="auto" value="true" checked="true" />
			</div>
			<div class="col-md-6">
				<label>Nro. Orden de Pago</label>
				{{ form_widget(form.nrocomprobante) }}
			</div>
			<div class="col-md-6">
				<label>Fecha</label>
				<input name="fechaDocumento" id="fechaDocumento" class="datetimepicker" readonly value="{{entity.fecha|date('Y-m-d')}}" onkeydown="return false" required />
				<div style="display:none;">{{ form_widget(form.fecha) }}</div>
			</div>
			<div class="col-md-6">
				<label>Moneda</label>
				{{ form_widget(form.moneda) }}
			</div>
			<div class="col-md-6">
				<label>Es un Gasto?</label>
				<input type="checkbox" name="gasto" id="gasto" />
			</div>
            <div class="col-md-12" style="margin-top: 2%;margin-bottom: 1%; font-size: 20px;color: #00006f;">
                <strong>
                    Efectivo (<span id="resefectivo"></span>) + 
                    Cheques (<span id="rescheques"></span>) + 
                    Retenciones (<span id="resretenciones"></span>) = <span id="restotal"></span>
                </strong>
			</div>
            <div class="col-md-12" style="margin-top: 2%;">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#efectivo" data-toggle="tab" aria-expanded="true">Efectivo</a>
                    </li>
                    <li class=""><a href="#chequess" data-toggle="tab" aria-expanded="false">Cheques</a>
                    </li>
                    <li class=""><a href="#retenciones" data-toggle="tab" aria-expanded="false">Retenciones</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="efectivo">
                        <p>
                            <strong>Importe</strong>
                            <input name="efectivo" id="importeefectivo" style="width: 200px;" type="text" />
                        </p>
                    </div>
                    <div class="tab-pane fade" id="chequess">
                        <div class="col-md-12">
                            <strong>Cheques</strong>
                        </div>
                        <div class="col-md-12">
                            <select name="selectcheques[]" id="selectcheques" multiple onblur="resultado();$('input[type=text]').blur();" style="height: 200px; overflow-x: auto;">
                                {% for cheque in cheques %}
                                <option value="{{cheque.id}}">
                                    BANCO: {{cheque.banco}} - TIPO: {{cheque.tipocheque}} -
                                    EMISI&Oacute;N: {{cheque.fechaemision|date('Y-m-d')}} - COBRO: {{cheque.fechacobro|date('Y-m-d')}} - 
                                    NRO: {{cheque.nrocheque}} - IMPORTE: {{cheque.importe}}   
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="retenciones">
                        <div class="col-md-12" style="font-weight:bold; text-align:center;">
                            <div class="col-sm-2">CALCULAR</div>
                            <div class="col-sm-5">DESCRIPCI&Oacute;N</div>
                            <div class="col-sm-5">IMPORTE</div>
                        </div>
                        {% for ret in tiporetenciones %}
                        <div class="col-md-12">
                            <div class="col-sm-2"><input type="checkbox" class="calcularetencion" id="check{{ret.id}}" value="retencionimporte{{ret.id}}" /></div>
                            <div class="col-sm-5"><input type="text" readonly="readonly" name="retencion{{loop.index}}" value="{{ret.descripcion}}" /></div>
                            <div class="col-sm-5"><input type="text" readonly="readonly" placeholder="Importe" id="retencionimporte{{ret.id}}" name="retencionimporte{{loop.index}}" /></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
			<div class="col-md-12">
                <strong>Observaciones</strong>
				{{ form_widget(form.observacion) }}
			</div>
			<div style="display:none;">
                <input type="hidden" id="totalneto" name="totalneto" />
				{{ form_widget(form.tipoDocumento) }}
			</div>
			<div style="display:none;">
				{{ form(form) }}
			</div>
		</div>
	</div>
{{ form_end(form) }}		
<script>
	$( document ).ready(function() {
        {% if app.request.get('esgasto') is defined%}
    	   {% if app.request.get('esgasto') == 'si' %}
               $('#gasto').attr('checked','checked')
           {% endif %}
        {% endif %}
		$( "input" ).addClass('form-control');	
		$("#fechaDocumento").removeAttr('required')
		$("#app_bundle_documento_nrocomprobante").removeAttr('required');
		$("#app_bundle_documento_nrofactura").removeAttr('required');
		$("#app_bundle_documento_observacion").removeAttr('required');
		$("#app_bundle_documento_nroremito").removeAttr('required');
        $("#app_bundle_documento_nrocomprobante").attr('readonly','readonly');
        ver(0);
        ver(1);
        ver(2);
        ver(3);
        ver(4);
        ver(5);
	});
    $('.calcularetencion').click(function(){
        var idretimp = $(this).val();
        if($(this).is(':checked')) {  
            $('#'+idretimp).removeAttr('readonly');        
            var res = idretimp.split("retencionimporte");

    		$.post( '{{path('documento_calcularetencion')}}', { data: res[1], data2: $('#idproveedor').val(), data3: $('#totalneto').val() })
    			.done(function( data ) {
                  $('#'+idretimp).val(Math.round(data * 100) / 100);
                  resultado();
    			});            
            
        } else {  
            $('#'+idretimp).attr('readonly','readonly').val('');        
            resultado();
        }
    });

	$("input[type=text]").blur(function(){
    	resultado();
        var id = $(this).attr('id');
	    if(id.indexOf('retencionimporte') == '-1'){
            // Calculo las retenciones checkeadas
            $("input[type=checkbox]:checked").each(function(){
                var idretimp = $(this).val();
                if($(this).val() != 'true' && $(this).is(':checked')) {  
                    $('#'+idretimp).removeAttr('readonly');        
                    var res = idretimp.split("retencionimporte");
            		$.post( '{{path('documento_calcularetencion')}}', { data: res[1], data2: $('#idproveedor').val(), data3: $('#totalneto').val() })
            			.done(function( data ) {
                            $('#'+idretimp).val(Math.round(data * 100) / 100);
                           	resultado();
            			});
                }
            });
	    }
	});

	$("#auto").click(function(){
        if($("#auto").prop('checked')){
            $("#app_bundle_documento_nrocomprobante").removeAttr('required').val('').attr('readonly','readonly');
            $("#fechaDocumento").removeAttr('required').attr('readonly','readonly');
            $("#auto").val('false');
        }else{
            $("#app_bundle_documento_nrocomprobante").attr('required', 'required').removeAttr('readonly');
            $("#fechaDocumento").attr('required', 'required').removeAttr('readonly');
            $("#auto").val('true');
        }
	});    

	function resultado(){
        var efectivo = parseFloat($("#importeefectivo").val());
        var retenciones = 0;
        var cheques = 0;
        var total = 0;
        
        $("#selectcheques option:selected").each(function(){
           var res = $(this).text().split('IMPORTE: ');
           cheques = cheques + parseFloat(res[1]);
        });
        
        for(var i = 1; i<={{tiporetenciones|length}}; i++){
            if($('input[name=retencionimporte'+i+']').val()!=''){
                retenciones = retenciones + parseFloat($('input[name=retencionimporte'+i+']').val()); 
            }
        }
        if(isNaN(retenciones)){
            retenciones = 0;
        }
        if(isNaN(cheques)){
            cheques = 0;
        }
        if(isNaN(efectivo)){
            efectivo = 0;
        }
        total = retenciones + cheques + efectivo;
        var totalneto = cheques + efectivo;
		$("#totalneto").val(totalneto);
		$("#resefectivo").html(efectivo);
		$("#resretenciones").html(Math.round(retenciones * 100) / 100);
		$("#rescheques").html(Math.round(cheques * 100) / 100);
		$("#restotal").html(Math.round(total * 100) / 100);
		$("#app_bundle_documento_importe").val(total);
    }
	function ver(id){
		if($('#'+id).html() == '<i class="fa fa-minus"></i>'){
			$('#'+id).html('<i class="fa fa-plus"></i>');
    		$("#datos"+id).slideToggle();
    		$('input[name=banco'+id+']').val(0).removeAttr('required');
    		$('input[name=tipocheque'+id+']').val(0).removeAttr('required');
    		$('input[name=nrocheque'+id+']').val('').removeAttr('required');
    		$('input[name=importe'+id+']').val(0).removeAttr('required');
    		$('input[name=fechaemision'+id+']').val('').removeAttr('required');
    		$('input[name=fechacobro'+id+']').val('').removeAttr('required');
    		$('input[name=firmantes'+id+']').val('');
    		$('input[name=cuit'+id+']').val('');
		}else{
			$('#'+id).html('<i class="fa fa-minus"></i>');	
    		$("#datos"+id).slideToggle();
    		$('input[name=banco'+id+']').attr('required','required');
    		$('input[name=tipocheque'+id+']').attr('required','required');
    		$('input[name=nrocheque'+id+']').attr('required','required');
    		$('input[name=importe'+id+']').val('').attr('required','required');
    		$('input[name=fechaemision'+id+']').attr('required','required');
    		$('input[name=fechacobro'+id+']').attr('required','required');
    		$('input[name=firmantes'+id+']').val('');
    		$('input[name=cuit'+id+']').val('');
		}
	}

	activarActionsTab('cobranzas');
</script>
<style>
#cheques .col-md-12 .col-xs-3,#cheques .col-md-12 .col-xs-2, #cheques .col-md-12 .col-xs-4,#cheques .col-md-12 .col-xs-6{
    padding-right:0px;
    padding-left:0px;    
}
#cheques .col-md-12{
    margin-top: 1%;
    margin-bottom: 1%;
}

#retenciones .col-md-12{
    margin-top: 1%;
    margin-bottom: 1%;
}

</style>

{% endblock %}
