{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">
			Pagos
			{% if is_granted('ROLE_ADMIN')  %}
            <a  href="{{ path('documento_new', {'tipo': 'RP'}) }}">
                Registrar pagos
            </a>
			{% endif %}
			</h2>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row-fluid filtro">
		<form id="searchForm" action="{{ path('documento_filtro', { 'place': 'pagos' }) }}" method="GET">
			<li class="sidebar-search" style="width">
				<div class="input-group custom-search-form" style="width: 70%;">
					<input type="text" style="width:30%;" value="{{app.request.get('fechaDesde')}}" id="fechaDesde" class="form-control" name="fechaDesde" placeholder="fecha desde">
					<input type="text" style="width:30%;" value="{{app.request.get('fechaHasta')}}" id="fechaHasta" class="form-control" name="fechaHasta" placeholder="fecha hasta">													
					<select name="listado" style="width:30%;" class="form-control">
						<option value="0">Elegir Proveedor</option>
						{% for clienteProveedor in clientesProveedores %}
							<option value="{{ clienteProveedor.id }}">
								{{ clienteProveedor.razonSocial }}
							</option>
						{% endfor %}
					</select>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<select class="form-control" name="unidadnegocio" style="width: 30%;">
						<option value="0">Elegir Unidad</option>
						{% for unidad in unidades %}
							<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
						{% endfor %}
				   </select>
				{% endif %}
					<button class="btn btn-info btn-xs" type="button" onclick="$('#searchForm').submit();">
						<i class="fa fa-search"></i>
					</button>
				</div>
				<!-- /input-group -->
			</li>
		</form>
	</div>

	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Documento</th>
					<th>Proveedor</th>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<th>Unidad de Negocio</th>
					{% endif %}
					<th>Importe</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td><a href="{{ path('documento_show', { 'id': entity.id }) }}">ORDEN DE PAGO {{ entity.movimientocc.documento.nrocomprobante|default(entity.movimientocc.id) }}</a></td>
					<td>
						<a title="Cuenta Corriente" href="{{ path('pagoasignacion', { 'id': entity.movimientocc.clienteproveedor.id }) }}">
                        {{ entity.movimientocc.clienteproveedor }}
                        </a>
                    </td>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<td>{{ entity.movimientocc.unidadNegocio }}</td>
					{% endif %}
					<td>{{ entity.monedaSim }} {{ entity.importe }}</td>
					<td>
					{% if entity.nroreciboproveedor == '' %}		
                        <button class="btn btn-success" data-toggle="modal" data-target="#myModal{{entity.id}}">
            				<i class="fa fa-pencil"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade out" id="myModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                    				<form class="formModal" action="{{ path('documento_reciboproveedor', {id: entity.id}) }}" method="GET">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                            <h4 class="modal-title" id="myModalLabel">Nro. de Recibo Proveedor</h4>
                                        </div>
                                        <div class="modal-body">
                        					<div style="text-align: center;">
                        						<strong>Ingrese nro. de recibo</strong>
           					                    <input type="text" class="form-control" placeholder="Nro. de Recibo Entregado por el Provedor" name="nroreciboproveedor" />                                        
           					                    <input type="text" class="datetimepicker form-control" placeholder="Fecha de Recibo Entregado" name="fecharecibo" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info btn-xs" data-dismiss="modal">Cerrar</button>
                        					<input type="submit" class="btn btn-primary" value="Continuar" />
                                        </div>
                    				</form>
                                </div>
                            </div>
                        </div>
					{% endif %}				
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }} 
	</div>
<script>
	$('document').ready(function(){
		$('td').css('padding', '2px');
		$('.pagination a').attr('class', 'btn btn-info btn-xs');
		$('.pagination li').css('float', 'left');
		$('.pagination').css('width', '100%');
	});
</script>
<style>
.active .btn
{
    background-color: #9E9E9E;
}
</style>	
	
{% endblock %}
