{% extends 'AppBundle::base.html.twig' %}

{% block content -%}

<div class="col-md-12" style="border: 1px solid;">
    <h2 style="text-align:center;">
        Orden de Pago
	</h2>
    <div class="col-md-12">
        <div class="col-md-12" style="font-size: 10px;text-align:center;">
            Documento no v&aacute;lido como factura
        </div>
        <div class="col-xs-6">
            <div class="col-xs-4">
                <img width="100px" src="{{asset('logo.png')}}">
            </div>
            <div class="col-xs-8">
                BERXA S.R.L.<br />
                Av. del Libertador 3042 2B<br />
                La Lucila, Buenos Aires<br />
                info@berxa.com.ar <br />
            </div>
        </div>
        <div class="col-xs-6">
            CUIT: 33-71565862-9<br />
            Ingresos Brutos: 901-33715658629
            IVA Responsable Inscripto
        </div>
        <div class="col-md-12" style="text-align: left;">
            Nro "{{entity.nrocomprobante}}"<br /><br />
            {% if entity.tipodocumento == 'G' %}
            Concepto: <strong>GASTO</strong> <br />
            {% endif %}
            
            {{ entity.fecha|date('d-m-Y') }}<br /><br />
            Recib&iacute; de {{entity.movimientocc.clienteProveedor}}<br />
            domiciliado en {{entity.movimientocc.clienteProveedor.domiciliocomercial}}<br />
            IVA {{entity.movimientocc.clienteProveedor.condicioniva}} CUIT {{entity.movimientocc.clienteProveedor.cuit}}<br />
            la suma en pesos <span id="numeroletras"></span>
        </div>
        <div class="col-md-12" style="margin-bottom: 1%;margin-top: 1%;">
            <table width="100%" style="text-align: center;" border="solid" >
                <thead>
                    <tr>
                        <th>Forma</th>
                        <th>Tipo Retenci&oacute;n</th>
                        <th>Banco</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                {% for cheque in entity.chequespago %}
                    <tr>
                        <td>Cheque ( {{cheque.tipocheque}} )</td>
                        <td></td>
                        <td>{{cheque.banco}}</td>
                        <td>{{cheque.importe}}</td>
                    </tr>
                {% endfor %}
                {% for retencion in entity.retenciones %}
                    <tr>
                        <td>Retenci&oacute;n</td>
                        <td>{{retencion.tiporetencion}}</td>
                        <td></td>
                        <td>{{retencion.importe}}</td>
                    </tr>
                {% endfor %}
                {% if entity.efectivo > 0 %}
                    <tr>
                        <td>Efectivo</td>
                        <td></td>
                        <td></td>
                        <td>{{entity.efectivo}}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% if entity.nroreciboproveedor != ''%}
	<div class="col-md-12" style="text-align:left;">
    	<div class="col-md-6" style="text-align:left;">
    	   <strong>Nro. de Recibo Entregado por el Proveedor </strong><br />
           {{ entity.nroreciboproveedor }}
        </div>
    	<div class="col-md-6" style="text-align:left;">
    	   <strong>Fecha de Recibo Entregado por el Proveedor </strong><br />
           {{ entity.fechareciboproveedor|date('Y-m-d') }}
        </div>
    </div>
    {% endif %}
    {% if entity.observacion != ''%}
	<div class="col-md-12" style="text-align:left;">
    	<div class="col-md-12" style="text-align:left;">
    	   <strong>Observaciones</strong><br />
           {{ entity.observacion|raw }}
        </div>
    </div>
    {% endif %}
    <div class="col-xs-12" style="text-align: center;margin-bottom: 1%;margin-top: 1%;">
        <div class="col-xs-4">
            Total: {{ entity.monedaSim }} {{ entity.importe }}
        </div>
    </div>
</div>
<div id="volver" class="col-md-12" style="margin-top:2%;">
	<div style="text-align: center;" class="col-md-12">
        <a class="btn btn-info btn-xs" href="{{ path('pagoasignacion', {id: entity.movimientocc.clienteProveedor.id})}}">
            Cuenta Corriente
        </a>
		<a class="btn btn-info btn-xs" href="javascript:imprimir()">
			Imprimir
		</a>
		<a class="btn btn-info btn-xs" href="javascript:history.back();">
			Volver
		</a>
	</div>
</div>
<script>
	
activarActionsTab('documento');

$(document).ready(function(){
    $('#numeroletras').html(NumeroALetras({{entity.importe}}));
});

function imprimir()
{
	$('#volver').css('display','none');
	window.print();
	$('#volver').css('display','block');
}

</script>
{% endblock %}
