<option value="">Elegir un Medio</option>
<option value="cheque" >
    Cheque
</option> 
{% for medio in medios %}                           
    <option value="{{medio.id}}" >
        {{medio.descripcion}}
    </option>                                
{% endfor %}


