<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Sistemas Titanio" />
        <meta name="description" content="Sistemas Titanio" />
        <meta name="author" content="Sistemas Titanio">
        <meta name="robots" content="noindex, nofollow">

        <title>{% block title %}TITANIO{% endblock %}</title>

        <!-- DATA TABLE -->
        <script type="text/javascript" src="{{ asset('assets/DataTable/jquery-1.11.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/DataTable/jquery.dataTables.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/DataTable/jquery.dataTables.css') }}">
        <!-- Select2 -->
        <link rel="stylesheet" href="{{ asset('assets/nuevo/bower_components/select2/dist/css/select2.min.css') }}">
        <script src="{{ asset('assets/nuevo/bower_components/select2/dist/js/select2.min.js') }}"></script>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/nuevo/bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('assets/nuevo/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('assets/nuevo/dist/css/sb-admin-2.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('assets/nuevo/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('assets/nuevo/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ asset('assets/nuevo/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('assets/nuevo/dist/js/sb-admin-2.js') }}"></script>
        <!-- Datepicker -->
        <link rel="stylesheet" href="{{ asset('assets/datetimepicker/jquery.datetimepicker.css') }}">
        <script src="{{ asset('assets/datetimepicker/jquery.datetimepicker.js') }}"></script>

        <link  href="{{ asset('assets/iso.png') }}" rel="icon" type="image/x-icon" />
        <!-- Custom js -->
        <script src="{{ asset('assets/js/custom.js') }}"></script>
        <script>
            function cerrarMenu(){
                console.log(1);
                $('.navbar-collapse').hide();
                $('.sidebar').css({width: '0px'});
                $('#page-wrapper').css({marginLeft: '30px'});
                $('.dataTable').DataTable().columns.adjust().draw();
                $('.showMenu').show();
            }
            function showMenu(){
                $('.showMenu').hide();
                $('.navbar-collapse').show();
                $('.sidebar').css({width: '250px'});
                $('#page-wrapper').css({marginLeft: '255px'});
                $('.dataTable').DataTable().columns.adjust().draw();
            }

            var table;
            var tableSF;
            $("form, input").attr("autocomplete", "off");

            function goBack() {
                window.history.back();
            }

            function confirmarBorrado(link) {
                if (confirm("Esta seguro que desea borrar?")) {
                    window.location.href = link;
                }
            }

            function confirmarCancelado(link) {
                if (confirm("Esta seguro que desea cancelar?")) {
                    window.location.href = link;
                }
            }

            function confirmarFinalizacion(link) {
                if (confirm("Esta seguro que desea finalizar?")) {
                    window.location.href = link;
                }
            }

            function confirmarDevolucion(link) {
                if (confirm("Esta seguro que desea confirmar la devolución?")) {
                    window.location.href = link;
                }
            }

            $(function () {
                $('.select2').addClass('col-xs-12');
                $('.select2').select2();
                $('#print').click(function () {
                    window.print();
                });
                $('.pagination li').css('float', 'left');
                $('.pagination a').addClass("btn btn-default btn-xs");
                $('.btn').not('.btn-lg').addClass("btn-xs");
                $('.pagination .active').addClass("btn btn-primary btn-xs");

                $("button[type='submit']").click(function () {
                    var form = $(this).parents('form:first');
                    if (form[0].checkValidity() == true) {
                        $("button[type='submit']").addClass('hidden');
                        $('.preloader').fadeIn(1000);
                    }
                });

                $("select, textarea, input[type='text'], input[type='number'], input[type='date'], input[type='email'], input[type='password']").addClass('form-control');
                $("form input[type='checkbox']").addClass('form-control');

                $("h2 a:first").addClass('btn btn-primary btn-xs').css('float', 'right');
                $("input[type='text']").last().css('margin-bottom', '1em');

                table = $('#tablas').DataTable({
                    "scrollY": "400px",
                    "scrollX": true,
                    "scrollCollapse": true,
                    "paging": false,
                    "info": false,
                    "responsive": true,
                    "filter": true,
                    "order": [[0, "asc"]],
                    "oLanguage": {
                        "sSearch": "Buscar:"
                    }
                });
                table = $('#tablapedidos').DataTable({
                    "scrollY": "400px",
                    "scrollX": true,
                    "scrollCollapse": true,
                    "paging": false,
                    "info": false,
                    responsive: true,
                    "filter": true,
                    "order": [[0, "desc"]],
                    "oLanguage": {
                        "sSearch": "Buscar:"
                    }
                });

                tableSF = $('#tablaSF').DataTable({
                    "scrollY": "400px",
                    "scrollCollapse": true,
                    "scrollX": true,
                    "paging": false,
                    "info": false,
                    "responsive": true,
                    "filter": false,
                    "order": [[0, "desc"]]
                });

                $("#fechavencimiento").datetimepicker({
                    format: 'd-m-Y'
                });
                $("#fechaDocumento").datetimepicker({
                    format: 'd-m-Y'
                });
                $("#fechaDesde").datetimepicker({
                    format: 'd-m-Y'
                });
                $("#fechaHasta").datetimepicker({
                    format: 'd-m-Y'
                });

                $("#fechaVencimientoDesde").datetimepicker({
                    format: 'd-m-Y'
                });
                $("#fechaVencimientoHasta").datetimepicker({
                    format: 'd-m-Y'
                });

                $(".datetimepicker").datetimepicker({
                    format: 'Y-m-d'
                });

                $(".datetimepickerHoras").datetimepicker({
                    format: 'd-m-Y H:m',
                    step: 10
                });


                $('[data-toggle="tooltip"]').tooltip();

                $('#cajaDiaria').click(function () {
                    $('#modalSeleccionUnidad').modal('toggle');
                });
            });

            $(window).resize(function () {
                $('#tablas').DataTable().columns.adjust().draw();
                $('#tablaSF').DataTable().columns.adjust().draw();
            });
            $(window).load(function () {
                $('.preloader').fadeOut(1000); // set duration in brackets
            });

        </script>
        {% block javascript %}{% endblock %}
        <style>
            #sugerencia ul{
                list-style: none;
                padding: .4em;
            }
            .pagination li{
                margin: 0 0.1em;
            }
            .pagination ul{
                list-style: none;
            }
            .select2-container{
                width: 100% !important;
            }

            form > div > ul > li {
                color:red;
            }
        </style>
        <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
    </head>

    <body>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% include 'AppBundle:Caja:modalSeleccionUnidad.html.twig' %}
        {% endif %}

        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    v. {{ version }}
                    <a class="navbar-brand" href="{{path('joyas_joyas_homepage')}}">
                        <img width="110px" src="{{ asset('bundles/logotitanio.png') }}" />
                    </a>                    
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    {#<li class="">#}
                    {#<a href="#" target="_blanck">#}
                    {#<i class="fa fa-envelope"></i>#}
                    {#</a>#}
                    {#</li>#}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ app.user.apellidonombre }}<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>                        
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{{ path('usuario_edit', {id : app.user.id}) }}"><i class="fa fa-gear fa-fw"></i>Mis Datos</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesi&oacute;n</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="showMenu" title="Expandir Men&uacute;" onclick="showMenu();" style="cursor:pointer;display:none;"><i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 1rem;"></i></div>
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a id="cerrarMenu" style="cursor:pointer;" onclick="cerrarMenu();"><i class="fa fa-compress fa-fw"></i> Ocultar Men&uacute;<span class="fa arrow"></span></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-briefcase fa-fw"></i> Productos <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('producto') }}">
                                            Productos
                                        </a>
                                    </li>
                                    {#                                    <li>#}
                                    {#                                        <a href="{{ path('productoconsignacion_informe_consignados')}}">#}
                                    {#                                            Informe de Consignados#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                    {#                                    <li>#}
                                    {#                                        <a href="{{ path('balance_informe_importaciones') }}">#}
                                    {#                                            Informe de Importaciones#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                    {#                                    <li>#}
                                    {#                                        <a href="{{ path('stock_informe_depositos') }}">#}
                                    {#                                            Informe Dep&oacute;sitos#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                    {#                                    <li>#}
                                    {#                                        <a href="{{ path('balance_informe_devoluciones') }}">#}
                                    {#                                            Informe Devoluciones#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                    {#                                    <li>#}
                                    {#                                        <a href="{{ path('stock_informe_pendientes_facturacion') }}">#}
                                    {#                                            Informe Pendientes Facturaci&oacute;n#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                    <li>
                                        <a href="{{ path('producto_informe_general_stock') }}">
                                            Informe Stock General
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('producto_informe_venta') }}">
                                            Informe Venta de Productos
                                        </a>
                                    </li>
                                    {#                                    <li>#}
                                    {#                                        <a href="{{ path('balance_informe_stock_productos') }}">#}
                                    {#                                            Informe Stock Ingresado#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                    {#                                     <li>#}
                                    {#                                        <a href="{{ path('producto_informe_vencidos') }}">#}
                                    {#                                            Informe Productos por vencer/vencidos#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                    {% if is_granted('ROLE_ADMIN')   %}
                                        {#<li>#}
                                        {#<a href="{{path('pedido')}}">#}
                                        {#Transferencia de Stock - Pedidos#}
                                        {#</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<a href="{{ path('stock_informe') }}">#}
                                        {#Stock#}
                                        {#</a>#}
                                        {#</li>#}
                                    {% endif %}
                                    {% if is_granted('ROLE_SUPER_ADMIN')   %}
                                        {#<li>#}
                                        {#<a href="{{path('stock_importar')}}">#}
                                        {#Importar Stock#}
                                        {#</a>#}
                                        {#</li>#}
                                    {% endif %}
                                    {#                                    <li>#}
                                    {#                                        <a href="{{ path('reserva') }}">#}
                                    {#                                            Reservas#}
                                    {#                                        </a>#}
                                    {#                                    </li>#}
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#"><i class="fa fa-sitemap fa-fw"></i>GESTI&Oacute;N<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">Gesti&oacute;n Comercial <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>
                                                <a href="{{ path('factura') }} ">
                                                    Ventas
                                                </a>
                                            </li>
                                            {% if is_granted('ROLE_ADMIN')   %}
                                                <li id="compras">
                                                    <a href="{{ path('facturaproveedor') }} ">
                                                        Compras
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{{ path('consignacion') }}">Consignaciones </a>
                                            </li>
                                            <li id="cobranzas">
                                                <a href="{{path('cobranza')}}">
                                                    Cobranzas
                                                </a>
                                            </li>
                                            <li id="gastos">
                                                <a href="{{path('gasto')}}">
                                                    Gastos
                                                </a>
                                            </li>
                                            {% if is_granted('ROLE_ADMIN')   %}
                                                <li id="pagos">
                                                    <a href="{{path('pago')}}">
                                                        Pagos
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {#                                            <li>#}
                                            {#                                                <a href="{{ path('presupuesto') }}">Presupuestos </a>#}
                                            {#                                            </li>#}
                                            <li>
                                                <a href="{{ path('remitooficial') }}">Remitos Oficiales </a>
                                            </li>
                                        </ul>
                                    </li>

                                    {% if is_granted('ROLE_ADMIN')   %}
                                        {#                                        <li>#}
                                        {#                                            <a href="{{ path('controlhorario') }} ">#}
                                        {#                                                Horarios del Personal#}
                                        {#                                            </a>#}
                                        {#                                        </li>#}
                                    {% endif %}
                                    <li>
                                        <a href="#">Gesti&oacute;n de Valores <span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>
                                                <a href="{{ path('caja') }}">
                                                    Cajas
                                                </a>
                                            </li>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <li>
                                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                        {% include 'AppBundle:Caja:modalSeleccionUnidad.html.twig' %}
                                                        <a id="cajaDiaria" style="cursor: pointer">
                                                            Caja Diaria
                                                        </a>
                                                    {% else %}
                                                        <a href="{{ path('caja_diaria') }}">
                                                            Caja Diaria
                                                        </a>
                                                    {% endif  %}
                                                </li>
                                                <li>
                                                    <a href="{{ path('cheque') }}">
                                                        Cheques
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <li>
                                                    <a href="{{ path('cuentabancaria') }}">
                                                        Cuentas Corrientes Bancarias
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li id="dolares">
                                                <a href="{{ path('dolar') }}">
                                                    Registro de D&oacute;lar
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN')   %}
                                        <li>
                                            <a href="{{ path('clienteproveedor') }}">Cliente / Proveedor</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% if is_granted('ROLE_ADMIN')   %}
                                <li class="dropdown">
                                    <a href="#"><i class="fa fa-info-circle fa-fw"></i> Informes <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="#">Informes de Cuentas <span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                <li id="informecuentascobrar">
                                                    <a href="{{ path('factura_informecuentasporcobrar')}}">
                                                        Informe de Cuentas por Cobrar
                                                    </a>
                                                </li>
                                                <li id="informecuentaspagar">
                                                    <a href="{{ path('facturaproveedor_informecuentasporpagar')}}">
                                                        Informe de Cuentas por Pagar - Proveedores
                                                    </a>
                                                </li>
                                                {#<li id="informecuentaspagar">
                                                    <a href="{{ path('gasto_informecuentasporpagar')}}">
                                                        Informe de Cuentas por Pagar - Gastos
                                                    </a>
                                                </li>#}

                                            </ul>
                                            <!-- /.nav-third-level -->
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a href="#">Informes de Gesti&oacute;n <span class="fa arrow"></span></a>
                                                <ul class="nav nav-third-level">
                                                    <li id="informeventas">
                                                        <a href="{{ path('pagoasignacion_ingresoegreso')}}">
                                                            Informe de Ingresos/Egresos
                                                        </a>
                                                    </li>
                                                    <li id="informeventas">
                                                        <a href="{{ path('factura_informe')}}">
                                                            Informe de Ventas
                                                        </a>
                                                    </li>
                                                    <li id="informecompras">
                                                        <a href="{{ path('facturaproveedor_informe')}}">
                                                            Informe de Compras
                                                        </a>
                                                    </li>
                                                    <li id="informecobranzas">
                                                        <a href="{{ path('cobranza_informe')}}">
                                                            Informe de Cobranzas
                                                        </a>
                                                    </li>
                                                    <li id="informegastos">
                                                        <a href="{{ path('gasto_informe')}}">
                                                            Informe de Gastos
                                                        </a>
                                                    </li>
                                                    <li id="informepagos">
                                                        <a href="{{ path('pago_informe')}}">
                                                            Informe de Pagos
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('pagoasignacion_informe') }}">
                                                            Informe de Movimientos
                                                        </a>
                                                    </li>

                                                </ul>
                                                <!-- /.nav-third-level -->
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="#">Informes de Impuestos <span class="fa arrow"></span></a>
                                            <ul class="nav nav-third-level">
                                                <li>
                                                    <a href="#">
                                                        Informe de Retenciones
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('facturaproveedor_citicompras')}}">
                                                        Informe CITI Compras
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('factura_citiventas')}}">
                                                        Informe CITI Ventas
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('facturaproveedor_ivacompras')}}">
                                                        Informe IVA Compras
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('factura_ivaventas')}}">
                                                        Informe IVA Ventas
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        {#<li>#}
                                        {#<a href="#">Informes de Productos <span class="fa arrow"></span></a>#}
                                        {#<ul class="nav nav-third-level">#}
                                        {#<li id="listaactualizacion">#}
                                        {#<a href="#">#}
                                        {#Lista p/actualizaci&oacute;n Masiva (Precios y Stock)#}
                                        {#</a>#}
                                        {#</li>#}
                                        {#</ul>#}
                                        {#<!-- /.nav-third-level -->#}
                                        {#</li>#}
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li>
                                    <a href="#"><i class="fa fa-list-alt fa-fw"></i> Param&eacute;tricas<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{{ path('banco') }}">
                                                Bancos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('categoria') }}">
                                                Categor&iacute;as
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('formapago') }}">
                                                Formas de Pagos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('subcategoria') }}">
                                                Subcategor&iacute;as
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('tipogasto') }}">
                                                Tipos de Gastos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('listaprecio') }}">
                                                Lista de Precios
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('medio') }}">
                                                Medios
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('motivo') }}">
                                                Motivos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('tipopercepcion') }}">
                                                Tipos de Percepciones
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('tiporetencion') }}">
                                                Tipos de Retenciones
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('tipocheque') }}">
                                                Tipos de Cheques
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#"><i class="fa fa-lock fa-fw"></i> Seguridad<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li id="usuario">
                                        <a href="{{ path('usuario') }}">
                                            Usuarios
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li id="unidades">
                                            <a href="{{ path('unidadnegocio') }}">
                                                Unidades de Negocio
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container">
                    <div class="row" >
                        {% for flashMessage in app.session.flashbag.get('msgError') %}
                            <div class="col-sm-8 col-sm-offset-2 text-center" >
                                <div class="alert alert-block fade in alert-error text-center">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4>{{ flashMessage|raw }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('msgWarn') %}
                            <div class="col-sm-8 col-sm-offset-2 text-center" >
                                <div class="alert alert-block fade in alert-warning text-center">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4>{{ flashMessage|raw }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('msgOk') %}
                            <div class="col-sm-8 col-sm-offset-2 text-center" >
                                <div class="alert alert-block fade in alert-success text-center">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4>{{ flashMessage|raw }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('msgInfo') %}
                            <div class="col-sm-8 col-sm-offset-2 text-center" >
                                <div class="alert alert-block fade in alert-info text-center">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <h4>{{ flashMessage|raw }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="preloader">
                        <img src="{{ asset('./bundles/logotitanio.png') }}" class="col-xs-6 col-sm-3" />
                    </div>
                    {% block content %}

                    {% endblock %}
                    {% block body %}

                    {% endblock %}

                </div>               
                <!-- /.container-fluid -->
            </div>

        </div>
        <!-- /#wrapper -->



    </body>

</html>
