{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    {{ form_start(form) }}
    <h2>
        Ajuste de Caja
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%" href="javascript:goBack();">
            Volver
        </a>        
        {{ form_widget(form.submit) }}
    </h2>

    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Generaci&oacute;n de Ajuste
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <label>Fecha</label><br/>
                        {{ form_widget(form.fecha) }}
                        {{ form_errors(form.fecha) }}
                    </div>
                    <div class="col-md-6">
                        <label>Importe (negativo para restar)</label><br/>
                        {{ form_widget(form.importe) }}
                        {{ form_errors(form.importe) }}
                    </div>    
                    <div class="col-md-12">
                        <label>Descripci&oacute;n del ajuste</label><br/>
                        {{ form_widget(form.descripcion) }}
                        {{ form_errors(form.descripcion) }}
                    </div>      
                      <input type="hidden" name="idCaja" value="{{id}}"/>
                </div>
            </div>                
        </div>
    </div>
    {{ form_end(form) }}

    <script>
        $(function () {
            $("input").attr('class', 'form-control');
        });
    </script>
{% endblock %}
