{% extends 'AppBundle::base.html.twig' %}

{% block content -%}

    <h2 style="text-align: center;">
	Ajuste Nro. {{ entity.id }}
        
        <a class="btn btn-info btn-xs pull-right" style="margin-right: 1em;" href="javascript:goBack()">Volver</a>
    </h2>
    <div  class="col-md-8 col-md-offset-2">
        <table class="table">
            <tbody>
                <tr>
                    <th>Fecha</th>
                    <td>{{ entity.fecha|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Importe</th>
                    <td>$ {{ entity.importe|round(2) }}</td>
                </tr>
                <tr>
                    <th>Descripci&oacute;n del Ajuste</th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th>Caja Nro.</th>
                    <td>{{ entity.movimientoCaja.caja.id }}</td>
                </tr>
                <tr>
                    <th>Unidad de Negocio</th>
                    <td>{{ entity.movimientoCaja.caja.unidadNegocio }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
