{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(edit_form,{'multipart':true}) }}
    <h2>
        Presupuesto
        <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="{{ path('presupuesto') }}">
            Volver
        </a>
        <a target="_blank" class="btn btn-primary btn-xs" style="margin-left:1%; float:right;" href="{{ path('clienteproveedor_new') }}">
            Crear Cliente
        </a>
        {{ form_widget(edit_form.submit) }}
    </h2>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edici&oacute;n de Presupuesto
                    <label style="float:right;font-size: 1.2em;">
                        {#<span class="unidades">Unidades: <span id="unidades_venta"></span> - </span>#}
                        {#<span class="iva hidden">IVA 21%: <span id="montoiva"></span> - </span>#}
                        Total: $<input id="total" name="total" value="{{ entity.importe }}" readonly/>
                    </label>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#informacion" data-toggle="tab" id="menuInformacion">Informaci&oacute;n B&aacute;sica</a>
                        </li>
                        <li><a href="#elementos" data-toggle="tab" id="menuProductos">Productos</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="informacion">
                            <h4>Informaci&oacute;n B&aacute;sica</h4>
                            <div class="col-md-6">
                                <button style="float: right;" type="button" class="btn btn-danger btn-xs" onclick="$('#app_bundle_presupuesto_cliente, #app_bundle_presupuesto_idsucursal').val('').removeAttr('readonly');
                                        $('.iva').addClass('hidden');">
                                    Borrar <i class="fa fa-trash"></i>
                                </button>
                                {{ form_row(edit_form.cliente) }}
                                <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>
                                <div class="hidden">
                                    {{ form_row(edit_form.idsucursal) }}
                                </div>
                                {{ form_row(edit_form.fechaVencimiento) }}
                            </div>
                            <div class="col-md-6 {{ is_granted('ROLE_SUPER_ADMIN') ? '' : 'hidden' }}">
                                {{ form_row(edit_form.fecha) }}                                
                            </div>
                            <div class="col-md-6">
                                {{ form_row(edit_form.validez) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(edit_form.plazoEntrega) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(edit_form.plazo) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(edit_form.formaPago) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(edit_form.paciente) }}
                            </div>
                            {% if not entity.adjunto %}
                                <div class="col-md-6">
                                    <div>
                                        <label for="app_bundle_presupuesto_adjunto">Archivo adjunto</label>
                                        <input type="file" id="adjunto" name="adjunto" autocomplete="off">
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <label >Archivo Adjunto</label>
                                    <br>
                                    <a class="btn btn-info" title="Descargar adjunto" data-toggle="tooltip" href="{{ asset(directory_upload~entity.id~'/'~entity.adjunto)}}" download>
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <a class="btn btn-danger" title="Eliminar adjunto" data-toggle="tooltip" href="{{ path('presupuesto_eliminar_adjunto',{'id':entity.id}) }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="col-md-12">
                                    {{ form_row(edit_form.unidadNegocio) }}
                                </div>
                            {% else %}
                                <div class="col-md-12">
                                    <label>Unidad de Negocio</label><br/>
                                    {{entity.unidadNegocio.descripcion}}
                                </div>
                                <div class="col-md-12 hidden">
                                    {{ form_row(edit_form.unidadNegocio) }}
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                                {{ form_row(edit_form.observacion) }}
                            </div>
                            <div class="hidden">
                                {{ form_rest(edit_form) }}                                    
                            </div>
                        </div>
                        <div class="tab-pane fade" id="elementos">
                            <h4>Productos</h4>
                            <div class="row">   
                                <div class="col-sm-1 text-center">
                                    <label>Rengl&oacute;n</label>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <label>Producto</label>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <label>Descripci&oacute;n</label>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label>Cantidad</label>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label>Precio</label>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <label>SubTotal</label>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label>Acci&oacute;n</label>
                                </div>
                            </div>
                             {% set start  = 0 %}
                            {% for productoPresupuesto in entity.productosPresupuesto %}
                                <div class="row" id="row_pp{{productoPresupuesto.id}}">     
                                    <div class="col-sm-1 text-center">
                                        <input type="number" min="0"  value="{{ productoPresupuesto.renglon }}"  name="renglon_pp{{productoPresupuesto.id}}" id="renglon_pp{{productoPresupuesto.id}}" />                                               
                                    </div>
                                    <div class="col-sm-3 text-center">
                                         <textarea  data-id="{{loop.index}}" rows="3" readonly/>{{ productoPresupuesto.descripcion }}</textarea>                                                                            
                                    </div>
                                    <div class="col-sm-3 text-center">
                                         <textarea data-id="{{loop.index}}" class="desc" name="descripcion_pp{{productoPresupuesto.id}}" rows="3" readonly/>{{ productoPresupuesto.descripcion }}</textarea>                                                                                
                                    </div> 
                                    <div class="col-sm-1 text-center">
                                        <input type="number" min="0" data-tipo="anterior" class="cantidad" value="{{ productoPresupuesto.cantidad }}" data-id="{{productoPresupuesto.id}}"  name="cantidad_pp{{productoPresupuesto.id}}" id="cantidad_pp{{productoPresupuesto.id}}" />                                               
                                    </div>                                           
                                    <div class="col-sm-1 text-center">
                                        <input type="number"  min="0" step="0.1" data-tipo="anterior" class="precio" value="{{ productoPresupuesto.precio }}" data-id="{{productoPresupuesto.id}}"  name="precio_pp{{productoPresupuesto.id}}" id="precio_pp{{productoPresupuesto.id}}" />
                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <input data-id="{{loop.index}}" type="number" min="0" class="total" value="{{ productoPresupuesto.subtotal }}"  name="total_pp{{productoPresupuesto.id}}" id="total_pp{{productoPresupuesto.id}}" readonly />                                               
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <button type="button" class="btn btn-danger btn-xs deletepp" data-id="{{productoPresupuesto.id}}" >
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                                {% if loop.last %}                                    
                                    {% set start  = loop.index +1 %}                                    
                                {% endif %}
                            {% endfor %}
                            
                            {% for i in start..20 %}                                
                                <div class="row">   
                                    <div class="col-sm-1">
                                        <input value="{{ i }}" type="number" min="0" data-tipo="nuevo" data-id="{{i}}"  name="renglon_elemento{{i}}" id="renglon_elemento{{i}}" />                                               
                                    </div>   
                                    <div class="col-sm-3">
                                        <select class="select2ajax" id="elemento{{i}}" name="elemento{{i}}" >                                                    
                                        </select>                                                
                                        <input type="hidden" class="producto" name="idprod_elemento{{i}}" id="idprod_elemento{{i}}" />
                                    </div>
                                    <div class="col-sm-3">
                                     <textarea  class="descripcion desc"  data-id="{{i}}"  name="descripcion_elemento{{i}}" id="descripcion_elemento{{i}}" rows="3" /></textarea>                                                                                 
                                    </div> 
                                    <div class="col-sm-1">
                                        <input type="number" min="0" data-tipo="nuevo" class="cantidad" data-id="{{i}}"  name="cantidad_elemento{{i}}" id="cantidad_elemento{{i}}" />                                               
                                    </div>                                           
                                    <div class="col-sm-1">
                                        <input type="number"  min="0" data-tipo="nuevo" class="precio" data-id="{{i}}"  name="precio{{i}}" id="precio_elemento{{i}}" />
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" min="0" class="total" data-id="{{i}}"  name="total{{i}}" id="total_elemento{{i}}" readonly />                                               
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <button type="button" class="btn btn-danger btn-xs" onClick="$('#cantidad_elemento{{i}}, #precio_elemento{{i}}, #elemento{{i}}').val('').removeAttr('readonly').trigger('change');$('#descripcion_elemento{{i}}').text('').removeAttr('readonly').trigger('change');">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}                                 
                        </div>
                    </div>
                </div>
            </div>                    
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.row -->
</div>
{{ form_end(edit_form) }}

<script>

    function predictivaCliente() {
        $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#app_bundle_presupuesto_cliente").val(), tipo: 1})
                .done(function (data) {
                    $('#sugerenciacliente').fadeIn(500).html(data);

                    $('.suggest-element').on('click', function () {
                        var id = $(this).attr('id');

                        $('#app_bundle_presupuesto_idsucursal').val(id);
                        $('#app_bundle_presupuesto_cliente').val($(this).children('a').html()).prop('readonly', 'readonly');
                        $('#sugerenciacliente').fadeOut(500);
                    });
                    if ($('#sugerenciacliente ul li').length === 1) {
                        $('#sugerenciacliente ul li a').click();
                        $('#sugerenciacliente').fadeOut().html("");
                    }
                });
    }

    $(function () {
        $('.deletepp').click(function () {
            var id = $(this).data('id');

            var path = '{{path('productopresupuesto_delete',{'id': 'idPP'})}}';
            path = path.replace("idPP", id);
            $.post(path).done(function (data) {
                if (data == 'Ok') {
                    $("#row_pp" + id).remove();
                    calcularTotal();
                } else {
                    alert('No ha sido posible eliminar este producto del presupuesto.');
                }
            });
        });

        $('#app_bundle_presupuesto_submit').attr('disabled', true);
        $('#menuProductos').click(function () {
            $('#app_bundle_presupuesto_submit').attr('disabled', false);
        });
        $('#menuInformacion').click(function () {
            $('#app_bundle_presupuesto_submit').attr('disabled', true);
        });
        $('#app_bundle_presupuesto_fechaVencimiento').change(function () {
            if ($(this).val() != '') {
                $('#app_bundle_presupuesto_validez').val('');
            }
        });
        $('#app_bundle_presupuesto_validez').change(function () {
            if ($(this).val() != '') {
                $('#app_bundle_presupuesto_fechaVencimiento').val('');
            }
        });

        $('#app_bundle_presupuesto_plazoEntrega').change(function () {
            if ($(this).val() != '') {
                $('#app_bundle_presupuesto_plazo').val('');
            }
        });
        $('#app_bundle_presupuesto_plazo').change(function () {
            if ($(this).val() != '') {
                $('#app_bundle_presupuesto_plazoEntrega').val('');
            }
        });

    {% if entity.clienteProveedor %}
            $("#app_bundle_presupuesto_cliente").val('{{ entity.clienteProveedor.razonSocial }}');
            $("#app_bundle_presupuesto_idsucursal").val({{ entity.clienteProveedor.sucursales[0].id }});
            predictivaCliente();
    {% endif %}
            $('.select2ajax').select2({
                ajax: {
                    url: "{{path('producto_predictiva_select3')}}",
                    dataType: 'json',
                    data: function (params) {
                        let id = $(this).attr("id");
                        let idunidad = $("#app_bundle_presupuesto_unidadNegocio").val();
                        var query = {
                            search: params.term,
                            type: 'public',
                            idunidad: idunidad
                        }
                        return query;
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        }
                    }
                }
            });

            $('.select2ajax').on('select2:select', function (e) {
                let elemento = $(this).attr('id');
                $('#precio_' + elemento).val(e.params.data.precio);

                $('#cantidad_' + elemento).val(1);
                $('#idprod_' + elemento).val(e.params.data.id_prod);
                $('#descripcion_' + elemento).text($("#select2-" + elemento + "-container").text()).change();
                addRequired(elemento);
            });

            $("input").attr("autocomplete", "off");
            $("#app_bundle_presupuesto_cliente").attr("autocomplete", "off");
            $("#app_bundle_presupuesto_cliente").keyup(function () {
                predictivaCliente();
            });
            $('.producto,.descripcion,.cantidad, .precio').change(function () {               
                var tipo = $(this).data('tipo');
                var id = $(this).data('id');

                if (tipo == 'anterior') {
                    var cantidad = parseFloat($('#cantidad_pp' + id).val());
                    var precio = parseFloat($('#precio_pp' + id).val());
                    var subtotal = precio * cantidad;                    
                    $('#total_pp' + id).val(subtotal.toFixed(2));

                } else {
                    var cantidad = parseFloat($('#cantidad_elemento' + id).val());
                    var precio = parseFloat($('#precio_elemento' + id).val());
                    var subtotal = precio * cantidad;
                    
                    $('#total_elemento' + id).val(subtotal.toFixed(2));
                }
                calcularTotal();
            });

        });
        function calcularTotal() {
            var total = 0;
            $(".total").each(function (index) {
                
                var id = $(this).data('id');                                
                var descripcion = $(".desc[data-id='" + id +"']").text();                
                                
                if (descripcion != '' && $(this).val() != '') {                     
                    total = parseFloat(total) + parseFloat($(this).val());
                     
                }
            });
            $('#total').val(total.toFixed(2));
           
        }
        function addRequired(elemento) {
            $('#cantidad_' + elemento).attr('required', true);
            $('#precio_' + elemento).attr('required', true);
        }
</script>
<style>       
    #page-wrapper {
        padding: 0px;
        margin: 0px !important;
    }

    .sidebar {
        display: none;
    }
</style>
{% endblock %}
