{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Presupuestos
                <a class="btn btn-primary" href="{{ path('presupuesto_new') }}">
                    Registrar Presupuesto
                </a>
            </h2>
        </div>
    </div>
    <div class="row filtro">
        <form id="searchForm" action="{{ path('presupuesto') }}" method="GET">
            <div class="col-md-3">
                <input type="date" value="{{app.request.get('fechaDesde')}}" class="form-control" name="fechaDesde" placeholder="Fecha Desde">
            </div>
            <div class="col-md-3">
                <input type="date" value="{{app.request.get('fechaHasta')}}" class="form-control" name="fechaHasta" placeholder="Fecha Hasta">
            </div>
            <div class="col-md-3">
                <input type="text" value="{{app.request.get('cliente')}}" class="form-control" name="cliente" placeholder="Nombre cliente o cuit">
            </div>
            <div class="col-md-3">
                <input type="text" value="{{app.request.get('id')}}" class="form-control" name="id" placeholder="ID">
            </div>
            <div class="col-md-3">
                <select class="form-control" name="estado" id="estado">
                    <option value="">Seleccione un Estado</option>
                    <option value="{{ constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_PENDIENTE') }}">{{ constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_PENDIENTE') }}</option>
                    <option value="{{ constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_ACTIVO') }}">{{ constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_ACTIVO') }}</option>
                    <option value="{{ constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_FACTURARLO') }}">{{ constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_FACTURARLO') }}</option>
                    <option value="{{ constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_ANULADO') }}">{{ constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_ANULADO') }}</option>
                </select>                
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" style="margin-top:2px" type="submit">
                    Buscar
                </button>
                <a class="btn btn-info" href="{{ path('presupuesto') }}" style="margin-top:2px">
                    Limpiar Filtro
                </a>
            </div>
        </form>
    </div>
    <hr>
    <div class="tablasScroll">
        <table id="tablaSF" class="display">
            <thead>
                <tr>
                    <th>Fecha</th>
{#                    <th class="{{ is_granted('ROLE_SUPER_ADMIN')? '' : 'hidden' }}">Unidad</th>#}
                    <th>Presupuesto</th>
                    <th>Cliente</th>
                    <th>Importe</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
{#                        <td class="{{ is_granted('ROLE_SUPER_ADMIN')? '' : 'hidden' }}">{{ entity.unidadNegocio }}</td>#}
                        <td>
                            <a href="{{ path('presupuesto_show', { 'id': entity.id}) }}">{{entity}}</a>
                        </td>
                        <td>
                            <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity.clienteProveedor.id }) }}">
                                {{ entity.clienteProveedor.razonSocial|default("") }}
                            </a>
                        </td>
                        <td>
                            $ {{ entity.importe }}
                        </td>
                        <td>
                            {{ entity.estado }}
                        </td>
                        <td>
                            {% if entity.estado !=  constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_ANULADO')  %}
                                {% if entity.adjunto %}
                                    <a class="btn btn-info" data-toggle="tooltip" data-placement="left" title="Descargar adjunto"  href="{{ asset(directory_upload~entity.id~'/'~entity.adjunto)}}" download>
                                        <i class="fa fa-download"></i>
                                    </a>
                                {% endif %}
                                {% if  entity.estado !=  constant('AppBundle\\\Entity\\Presupuesto::PRESUPUESTO_FACTURARLO') %}
                                    <a class="btn btn-success" title="Editar Presupuesto" data-toggle="tooltip" data-placement="left" href="{{ path('presupuesto_edit',{id:entity.id}) }}"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-warning" title="Remitir Presupuesto" data-toggle="tooltip" data-placement="left" href="{{ path('presupuesto_remitir',{id:entity.id}) }}"><i class="fa fa-arrow-circle-right"></i></a>
                                    <a class="btn btn-danger" title="Anular Presupuesto" data-toggle="tooltip" data-placement="left" href="{{ path('presupuesto_delete',{id:entity.id}) }}"><i class="fa fa-trash"></i></a>
                                {% endif %}

                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            var estado = '{{app.request.get('estado')}}';           
            $('#estado').val(estado).change();
        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul
        {
            list-style: none;
        }
    </style>

{% endblock %}
