{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form,{'multipart':true}) }}
    <h2>
        Presupuesto
        <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="{{ path('presupuesto') }}">
            Volver
        </a>
        <a target="_blank" class="btn btn-primary btn-xs" style="margin-left:1%; float:right;" href="{{ path('clienteproveedor_new') }}">
            Crear Cliente
        </a>
        {{ form_widget(form.submit) }}
    </h2>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alta de Presupuesto
                    <label style="float:right;font-size: 1.2em;">
                        {#<span class="unidades">Unidades: <span id="unidades_venta"></span> - </span>#}
                        {#<span class="iva hidden">IVA 21%: <span id="montoiva"></span> - </span>#}
                        Total: $<input id="total" name="total" value="0.00" readonly/>
                    </label>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#informacion" data-toggle="tab" id="menuInformacion">Información Básica</a>
                        </li>
                        <li><a href="#elementos" data-toggle="tab" id="menuProductos">Productos</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="informacion">
                            <h4>Información B&aacute;sica</h4>
                            <div class="col-md-6">
                                <button style="float: right;" type="button" class="btn btn-danger btn-xs" onclick="$('#app_bundle_presupuesto_cliente, #app_bundle_presupuesto_idsucursal').val('').removeAttr('readonly');
                                        $('.iva').addClass('hidden');">
                                    Borrar <i class="fa fa-trash"></i>
                                </button>
                                {{ form_row(form.cliente) }}
                                <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>
                                <div class="hidden">
                                    {{ form_row(form.idsucursal) }}
                                </div>
                                {{ form_row(form.fechaVencimiento) }}
                            </div>                            
                            <div class="col-md-6 {{ is_granted('ROLE_SUPER_ADMIN') ? '' : 'hidden' }}">
                                {{ form_row(form.fecha) }}                                
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.validez) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.plazoEntrega) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.plazo) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.formaPago) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.paciente) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.adjunto) }}
                            </div>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="col-md-12">
                                    {{ form_row(form.unidadNegocio) }}
                                </div>
                            {% else %}
                                <div class="col-md-12">
                                    <label>Unidad de Negocio</label><br/>
                                    {{entity.unidadNegocio.descripcion}}
                                </div>
                                <div class="col-md-12 hidden">
                                    {{ form_row(form.unidadNegocio) }}
                                </div>
                            {% endif %}
                            <div class="col-md-12">
                                {{ form_row(form.observacion) }}
                            </div>
                            <div class="hidden">
                                {{ form_rest(form) }}                               
                            </div>
                        </div>
                        <div class="tab-pane fade" id="elementos">
                            <h4>Productos</h4>
                            <div class="row">  
                                <div class="col-sm-1 text-center">
                                    <label>Rengl&oacute;n</label>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <label>Producto</label>
                                </div>                                
                                <div class="col-sm-3 text-center">
                                    <label>Descripci&oacute;n</label>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label>Cantidad</label>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label>Precio</label>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <label>SubTotal</label>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label>Acci&oacute;n</label>
                                </div>
                            </div>
                            {% for i in 0..20 %}
                                <div class="row">
                                    <div class="col-sm-1">
                                        <input type="number" value="{{ loop.index  }}" min="0" data-id="{{loop.index}}"  name="renglon_elemento{{loop.index}}" id="renglon_elemento{{loop.index}}" />
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="select2ajax" id="elemento{{loop.index}}" name="elemento{{loop.index}}" >                                                    
                                        </select>                                                
                                        <input type="hidden" class="producto" name="idprod_elemento{{loop.index}}" id="idprod_elemento{{loop.index}}" />
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="descripcion" data-id="{{loop.index}}" rows="3" name="descripcion_elemento{{loop.index}}"  id="descripcion_elemento{{loop.index}}" {{ loop.index == 1 ? 'required' : '' }}/></textarea>                                        
                                    </div> 
                                    <div class="col-sm-1">
                                        <input type="number" min="0" class="cantidad" data-id="{{loop.index}}"  name="cantidad_elemento{{loop.index}}" id="cantidad_elemento{{loop.index}}" {{ loop.index == 1 ? 'required' : '' }}/>                                               
                                    </div>                                           
                                    <div class="col-sm-1">
                                        <input type="number" min="0" step="0.0001" class="precio" data-id="{{loop.index}}"  name="precio{{loop.index}}" id="precio_elemento{{loop.index}}" {{ loop.index == 1 ? 'required' : '' }}/>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" min="0" class="total" data-id="{{loop.index}}"  name="total{{loop.index}}" id="total_elemento{{loop.index}}" readonly />                                               
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <button type="button" class="btn btn-danger btn-xs" onClick="$('#precio_elemento{{loop.index}},#cantidad_elemento{{loop.index}}, #idstock_elemento{{loop.index}}, #elemento{{loop.index}}').val('').removeAttr('readonly').trigger('change');$('#descripcion_elemento{{loop.index}}').text('').removeAttr('readonly').trigger('change');">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}                                 
                        </div>
                    </div>
                </div>
            </div>                    
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.row -->
</div>

</div>

{{ form_end(form) }}

<script>

    function predictivaCliente() {
        $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#app_bundle_presupuesto_cliente").val(), tipo: 1})
                .done(function (data) {
                    $('#sugerenciacliente').fadeIn(500).html(data);

                    $('.suggest-element').on('click', function () {
                        var id = $(this).attr('id');

                        $('#app_bundle_presupuesto_idsucursal').val(id);
                        $('#app_bundle_presupuesto_cliente').val($(this).children('a').html()).prop('readonly', 'readonly');
                        $('#sugerenciacliente').fadeOut(500);
                    });
                    if ($('#sugerenciacliente ul li').length === 1) {
                        $('#sugerenciacliente ul li a').click();
                        $('#sugerenciacliente').fadeOut().html("");
                    }
                });
    }

    $(function () {
        $('#app_bundle_presupuesto_submit').attr('disabled', true);
        $('#menuProductos').click(function () {
            $('#app_bundle_presupuesto_submit').attr('disabled', false);
        });
        $('#menuInformacion').click(function () {
            $('#app_bundle_presupuesto_submit').attr('disabled', true);
        });
        $('#app_bundle_presupuesto_fechaVencimiento').change(function () {
            if ($(this).val() != '') {
                $('#app_bundle_presupuesto_validez').val('');
            }
        });
        $('#app_bundle_presupuesto_validez').change(function () {
            if ($(this).val() != '') {
                $('#app_bundle_presupuesto_fechaVencimiento').val('');
            }
        });

        $('#app_bundle_presupuesto_plazoEntrega').change(function () {
            if ($(this).val() != '') {
                $('#app_bundle_presupuesto_plazo').val('');
            }
        });
        $('#app_bundle_presupuesto_plazo').change(function () {
            if ($(this).val() != '') {
                $('#app_bundle_presupuesto_plazoEntrega').val('');
            }
        });


    {% if entity.clienteProveedor %}
            $("#app_bundle_presupuesto_cliente").val('{{ entity.clienteProveedor.razonSocial }}');
            $("#app_bundle_presupuesto_idsucursal").val({{ entity.clienteProveedor.sucursales[0].id }});
            predictivaCliente();
    {% endif %}
            $('.select2ajax').select2({
                ajax: {
                    url: "{{path('producto_predictiva_select3')}}",
                    dataType: 'json',
                    data: function (params) {
                        let idunidad = $("#app_bundle_presupuesto_unidadNegocio").val();
                        console.log(params.term);
                        var query = {
                            search: params.term,
                            type: 'public',
                            idunidad: idunidad
                        }
                        return query;
                    },
                    processResults: function (data, params) {


                        params.page = params.page || 1;
                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        }
                    }
                }
            });

            $('.select2ajax').on('select2:select', function (e) {
                let elemento = $(this).attr('id');
                $('#precio_' + elemento).val(e.params.data.precio);

                $('#cantidad_' + elemento).val(1);
                $('#idprod_' + elemento).val(e.params.data.id_prod);
                $('#descripcion_' + elemento).text($("#select2-" + elemento + "-container").text()).change();
                addRequired(elemento);
            });

            $("input").attr("autocomplete", "off");
            $("#app_bundle_presupuesto_cliente").attr("autocomplete", "off");
            $("#app_bundle_presupuesto_cliente").keyup(function () {
                predictivaCliente();
            });
            $('.producto,.descripcion,.cantidad, .precio').change(function () {
                var id = $(this).data('id');
                var cantidad = parseFloat($('#cantidad_elemento' + id).val());
                var precio = parseFloat($('#precio_elemento' + id).val());
                var subtotal = precio * cantidad;
                $('#total_elemento' + id).val(subtotal.toFixed(2));
                calcularTotal();
            });

            $('.producto,.descripcion,.cantidad, .precio').keyup(function () {
                var id = $(this).data('id');
                var cantidad = parseFloat($('#cantidad_elemento' + id).val());
                var precio = parseFloat($('#precio_elemento' + id).val());
                var subtotal = precio * cantidad;
                $('#total_elemento' + id).val(subtotal.toFixed(2));
                calcularTotal();
            });

        });
        function calcularTotal() {
            var total = 0;
            $(".total").each(function (index) {
                var id = $(this).data('id');
                var descripcion = $('#descripcion_elemento' + id).text();
                if (descripcion != '' && $(this).val() != '') {
                    total = parseFloat(total) + parseFloat($(this).val());
                }
            });
            $('#total').val(total.toFixed(2));
        }
        function addRequired(elemento) {
            $('#cantidad_' + elemento).attr('required', true);
            $('#precio_' + elemento).attr('required', true);
        }
</script>
<style>       
    #page-wrapper {
        padding: 0px;
        margin: 0px !important;
    }

    .sidebar {
        display: none;
    }
</style>
{% endblock %}
