{% extends 'AppBundle::base.html.twig' %}

{% block body -%}    
    <form action="{{ path('presupuesto_generar_remito',{'id':entity.id}) }}" method="POST">
        <h2>
            Presupuesto
            <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="{{ path('presupuesto') }}">
                Volver
            </a>           
            <button type="submit" id="app_bundle_presupuesto_submit" name="app_bundle_presupuesto_submit" class="btn btn-success  btn-xs" style="float:right;" disabled="disabled">Remitir Presupuesto</button>
        </h2>
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Remici&oacute;n de Presupuesto
                        <label style="float:right;font-size: 1.2em;">                       
                            Total: $<input id="total" name="total" value="{{ entity.importe }}" readonly/>
                        </label>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#informacion" data-toggle="tab" id="menuInformacion">Informaci&oacute;n B&aacute;sica</a>
                            </li>
                            <li><a href="#elementos" data-toggle="tab" id="menuProductos">Productos</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="informacion">
                                <h4>Informaci&oacute;n B&aacute;sica</h4>

                                <div class="col-md-6">
                                    <label for="cliente" class="required">Cliente</label>
                                    {{ entity.clienteProveedor}}

                                </div>
                                <div class="col-md-6">
                                    <label for="fechaPresupuesto" class="required">Fecha Presupuesto</label>
                                    {% if entity.fecha %}
                                        {{ entity.fecha|date('d-m-Y') }}                                
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <label for="fechaVencimiento" class="required">Fecha Vencimiento</label>
                                    {% if entity.fechaVencimiento %}
                                        {{ entity.fechaVencimiento|date('d-m-Y') }}                                
                                    {% else %}
                                        {{entity.validez|default('-')}}
                                    {% endif %}                   
                                </div>
                                <div class="col-md-6">
                                    <label for="plazoEntrega" class="required">Plazo Entrega</label>
                                    {% if entity.plazoEntrega %}
                                        {{ entity.plazoEntrega|date('d-m-Y') }}                                
                                    {% else %}
                                        {{entity.plazo|default('-')}}
                                    {% endif %}                   
                                </div>
                                <div class="col-md-6">
                                    <label for="formaPago" class="required">Forma de Pago</label>                                
                                    {{ entity.formaPago|default('-') }}                                                                
                                </div>

                                {% if entity.adjunto %}                                
                                    <div class="col-md-6">
                                        <label >Archivo Adjunto</label>
                                        <br>
                                        <a class="btn btn-info" title="Descargar adjunto" data-toggle="tooltip" href="{{ asset(directory_upload~entity.id~'/'~entity.adjunto)}}" download>
                                            <i class="fa fa-download"></i>
                                        </a>                                    
                                    </div>
                                {% endif %}
                                <div class="col-md-12">
                                    <label for="unidadNegocio" class="required">Unidad de Negocio</label>                                
                                    {{entity.unidadNegocio.descripcion}}
                                </div>
                                <div class="col-md-12">
                                    <label for="observacion" class="required">Observaci&oacute;n</label> 
                                    <textarea id="observacion" name="observacion" class="form-control" attr="height: 200px;">{{entity.observacion}}</textarea>

                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 text-center">
                                        <label for="Nro. Remito" class="required">Nro. Remito Oficial</label>                                
                                        <input class="form-control" required type="number" min="0" name="nroRemito"/>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="elementos">
                                <h4>Productos</h4>
                                <div class="row">       
                                    <div class="col-sm-1 text-center">
                                        <label>Aceptado</label>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <label>Rengl&oacute;n</label>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <label>Producto</label>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <label>Descripci&oacute;n</label>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <label>Cantidad</label>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <label>Precio</label>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <label>SubTotal</label>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <label>Acci&oacute;n</label>
                                    </div>
                                </div>

                                {% for productoPresupuesto in entity.productosPresupuesto %}
                                    <div class="row" id="row_pp{{productoPresupuesto.id}}">  

                                        <div class="col-sm-1 text-center" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input type="checkbox" class="form-control" name="aceptado_pp{{productoPresupuesto.id}}" {% if productoPresupuesto.estado == constant('AppBundle\\\Entity\\ProductoPresupuesto::PRODUCTO_PRESUPUESTO_ACEPTADO') %}checked{% endif%}/>                                                                                         
                                        </div>
                                        <div class="col-sm-1 text-center" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input type="number" min="0" data-tipo="anterior" class="renglon" value="{{ productoPresupuesto.renglon }}" data-id="{{productoPresupuesto.id}}"  name="renglon_pp{{productoPresupuesto.id}}" id="renglon_pp{{productoPresupuesto.renglon}}" />                                               
                                        </div> 
                                        <div class="col-sm-3 text-center" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input type="text" value="{{ productoPresupuesto.descripcion }}" readonly />                                                                                         
                                        </div>
                                        <div class="col-sm-3 text-center" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input value="{{ productoPresupuesto.descripcion }}" type="text"   name="descripcion_pp{{productoPresupuesto.id}}"  />                                               
                                        </div> 
                                        <div class="col-sm-1 text-center" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input type="number" min="0" data-tipo="anterior" class="cantidad" value="{{ productoPresupuesto.cantidad }}" data-id="{{productoPresupuesto.id}}" class="cantidad" name="cantidad_pp{{productoPresupuesto.id}}" id="cantidad_pp{{productoPresupuesto.id}}" />                                               
                                        </div>                                           
                                        <div class="col-sm-1 text-center" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input type="number"  min="0" data-tipo="anterior" class="precio" value="{{ productoPresupuesto.precio }}" data-id="{{productoPresupuesto.id}}" class="precio" name="precio_pp{{productoPresupuesto.id}}" id="precio_pp{{productoPresupuesto.id}}" />
                                        </div>
                                        <div class="col-sm-1 text-center" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input type="number" min="0" class="total" value="{{ productoPresupuesto.subtotal }}"  name="total_pp{{productoPresupuesto.id}}" id="total_pp{{productoPresupuesto.id}}" readonly />                                               
                                        </div>
                                        <div class="col-sm-1 text-center" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <button type="button" class="btn btn-danger btn-xs deletepp" data-id="{{productoPresupuesto.id}}" >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}       

                            </div>
                        </div>
                    </div>
                </div>                    
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>
</form>
<script>

    $(function () {
        $('#app_bundle_presupuesto_submit').attr('disabled', true);
        $('#menuProductos').click(function () {
            $('#app_bundle_presupuesto_submit').attr('disabled', false);
        });
        $('#menuInformacion').click(function () {
            $('#app_bundle_presupuesto_submit').attr('disabled', true);
        });

        $('.cantidad, .precio').change(function () {
            var id = $(this).data('id');
            var cantidad = parseFloat($('#cantidad_pp' + id).val());
            var precio = parseFloat($('#precio_pp' + id).val());
            var subtotal = precio * cantidad;
            $('#total_pp' + id).val(subtotal.toFixed(2));
            calcularTotal();
        });

        $('cantidad, .precio').keyup(function () {
            var id = $(this).data('id');
            var cantidad = parseFloat($('#cantidad_pp' + id).val());
            var precio = parseFloat($('#precio_pp' + id).val());
            var subtotal = precio * cantidad;
            $('#total_pp' + id).val(subtotal.toFixed(2));
            calcularTotal();
        });

        function calcularTotal() {
            var total = 0;
            $(".total").each(function (index) {
                var id = $(this).data('id');
                var descripcion = $('#descripcion_pp' + id).val();
                if (descripcion != '' && $(this).val() != '') {
                    total = parseFloat(total) + parseFloat($(this).val());
                }
            });
            $('#total').val(total.toFixed(2));
        }

    });
</script>
<style>       
    #page-wrapper {
        padding: 0px;
        margin: 0px !important;
    }

    .sidebar {
        display: none;
    }
</style>
{% endblock %}
