{% extends 'AppBundle::base.html.twig' %}
{% block content -%}

    <div id="imprimir">
        {% set largo = entity.productosPresupuesto|length %}
        {% set ciclos = largo // 9 %}
        {% set resto = largo % 9 %}       
        {% for i in 0..ciclos %}        
            <div class="container" style="margin-top: 1%;">                
                <div {% if i>0 %} class="headerPresupuesto" {% endif %} >
                    <div class="row">
                        <div class="col-xs-5 text-center">
                            <img src="{{asset('logo.png')}}" style="height: 4em;" />
                        </div>
                        <div class="col-xs-2 text-center">
                            <span style="font-size: 28px"><strong >X</strong>            
                        </div>
                        <div class="col-xs-5 text-center" >
                            <strong style="font-size: 24px;margin-right:20px;">PRESUPUESTO</strong> 
                            <span style="font-size: 16px;">Nro: {{entity.id}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4 text-center">
                            <span style="font-size: 10px;">Documento no v&aacute;lido como factura</span>
                        </div>                        
                    </div>
                    <div class="row">                        
                        <div class="col-xs-5 text-left" >
                            <span style="font-weight: bold;font-size: 1.4em;">{{empresa_razonsocial|title}}</span><br/>
                            <span style="font-size: 0.9em;">{{empresa_de}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-left" >
                            {{entity.unidadNegocio.direccion}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-left" >
                            <strong>Fecha de Emisi&oacute;n:</strong> {{entity.fecha|date('d/m/Y')}}
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-left">
                            <strong>CUIT:</strong> {{entity.unidadNegocio.cuit}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-left" >
                            <strong>Tel/Fax:</strong> {{entity.unidadNegocio.telefono}}
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-left">
                            <strong>Ingresos Brutos:</strong> {{entity.unidadNegocio.iibb}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-left" >
                            <strong>Email:</strong> {{entity.unidadNegocio.mail}}
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-left">
                            <strong>Fecha de inicio de actividades:</strong> 12/08/1995
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-xs-5 text-left" >
                            <strong>{{web_page}}</strong> 
                        </div>                         
                        <div class="col-xs-5 col-xs-offset-2 text-left">
                            <strong>IVA: </strong>Responsable Inscripto
                        </div>
                    </div>                                          
                    <hr style="border-top: 1px solid gainsboro;">
                    <div class="row">
                        <div class="col-xs-12 text-left" >
                            <strong>Raz&oacute;n Social: </strong> {{entity.clienteproveedor.razonSocial }}
                        </div>                                                
                    </div>                   
                    <div class="row">
                        <div class="col-xs-5 text-left" >
                            <strong>Direcci&oacute;n:</strong>  {{ entity.clienteproveedor.domiciliocomercial }} 
                        </div>
                       <div class="col-xs-5 col-xs-offset-2 text-left" >
                            <strong>CUIT:</strong>  {{entity.clienteproveedor.cuit|default('-')}}
                        </div>
                    </div> 
                    <div class="row">
                         <div class="col-xs-6 text-left" >
                            <strong>Localidad:</strong> {{ entity.clienteproveedor.localidad }}  
                        </div>                        
                        <div class="col-xs-5 col-xs-offset-1 text-left" >
                            <strong>Forma de pago:</strong>  {{entity.formaPago}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-left" >
                            <strong>Paciente:</strong> {{entity.paciente|default('-') }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">                         
                        <table class="contentCiclos" id="content" style="text-align: center; width: 100%; margin-top: 1%;{% if i==0 %}border-top:  1px solid;{% endif %}">                        
                            <thead  >
                                <tr >
                                    <th style="width: 10%;" {% if i>0 %}class="titulos renglon"{% endif %}>{% if i==0 %}Rengl&oacute;n{% endif %}</th>
                                    <th style="width: 10%;" {% if i>0 %}class="titulos cantidad"{% endif %}>{% if i==0 %}Cantidad{% endif %}</th>
{#                                    <th style="width: 10%;" {% if i>0 %}class="titulos codigo"{% endif %}>{% if i==0 %}C&oacute;digo{% endif %}</th>#}
                                    <th style="width: 50%;" {% if i>0 %}class="titulos descripcion"{% endif %}>{% if i==0 %}Descripci&oacute;n{% endif %}</th>                           
                                    <th style="width: 10%;" {% if i>0 %}class="titulos precio"{% endif %}>{% if i==0 %}P. Unitario{% endif %}</th>
                                    <th style="width: 10%;" {% if i>0 %}class="titulos subtotal"{% endif %}>{% if i==0 %}P. Final{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set inicio = (i+1)*9-9  %}
                                {% set fin = (i+1)*9-1  %}                                                             
                                {% if fin >= largo %}
                                    {% set fin = largo -1 %}                               
                                {% endif %}      

                                {% for j in inicio..fin %}

                                    {% set productoPresupuesto = entity.productosPresupuesto[j]%}
                                    <tr style="height: 22px">
                                        <td style="vertical-align: text-top;">
                                            {{productoPresupuesto.renglon|default('') }}
                                        </td>
                                        <td style="vertical-align: text-top;">
                                            {{ productoPresupuesto.cantidad }}
                                        </td>
{#                                        <td style="vertical-align: text-top;">#}
{#                                            {% if productoPresupuesto.producto is not null %}#}
{#                                                {{ productoPresupuesto.producto.codigo }}#}
{#                                            {% else %}#}
{#                                                -    #}
{#                                            {% endif %}#}
{#                                        </td>#}
                                        <td   style="vertical-align: text-top;" >
                                            {% if productoPresupuesto.producto is not null %}
                                                <a  style="vertical-align: text-top;" target="_blank" href="{{ path('producto_show', {id: productoPresupuesto.producto.id}) }}">{{ productoPresupuesto.descripcion }} </a>
                                            {% else %}
                                                <span style="vertical-align: text-top;">{{ productoPresupuesto.descripcion }} </span>
                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: text-top;">
                                            {{ productoPresupuesto.precio|number_format(2, '.', ',') }}
                                        </td>
                                        <td style="vertical-align: text-top;">
                                            {{ productoPresupuesto.subtotal|number_format(2, '.', ',') }}
                                        </td>                                
                                    </tr>
                                {% endfor %}
                            </tbody>                           
                        </table>
                    </div>
                </div>
            </div>
            {% if (not loop.last)  %}
                <div class="saltopagina"></div>
            {% endif %}

        {% endfor %}
        <div class="row">
            <div class="table-responsive"> 
                <table class="contentCiclos" id="content" style="text-align: center; width: 100%; margin-top: 1%;">                        
                    <tfoot>
                        <tr >
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 10%;"></td>
                            <td style="width: 50%;"></td>
                            <td style="width: 30%;" ><strong>Total</strong> $ {{ entity.importe|number_format(2, '.', ',') }}</td>
                        </tr>
                    </tfoot>                            
                </table>
            </div>
        </div>

        <div class="container" style="margin-top: 1%;">           
            <div class="row">
                <div class="col-xs-12 text-left" >
                    <strong>Son pesos:</strong>  <span id="numeroletras"></span>
                </div>
            </div>   
            <div class="row">                
                <div class="col-xs-6 text-left" >
                    <strong>Validez de la oferta:</strong> 
                    {% if entity.fechaVencimiento %}
                        {{entity.fechaVencimiento|date('d/m/Y')}}
                    {% else %}
                        {{entity.validez|default('-')}}
                    {% endif %}
                </div>
            </div>   
            <div class="row">
                <div class="col-xs-6 text-left" >
                    <strong>Plazo de entrega:</strong>  
                    {% if entity.plazoEntrega %}
                        {{entity.plazoEntrega|date('d/m/Y')}}
                    {% else %}
                        {{entity.plazo|default('-')}}
                    {% endif %}
                </div>
            </div>   
            <div class="row">
                <div class="col-xs-8 text-left" >
                    <strong>Observaciones:</strong> 
                    {{ entity.observacion }} 
                </div>
            </div>   
            <div class="row">
                <div class="col-xs-4 col-xs-offset-8 text-center" >
                    <hr style="border-top: 1px solid gainsboro;">   
                    <span style="font-size: 10px;">Responsable de la cotizaci&oacute;n</span>
                </div>
            </div>
            <br>
            <div class="row text-center" id="oculto">
                <a class="btn btn-info" onclick="document.title = '{{ entity }}';
                        imprSelec();">
                    <i class="fa fa-file"></i> Imprimir presupuesto
                </a>        
                <a class="btn btn-warning" href="{{ path('presupuesto') }}">
                    <i class="fa fa-arrow-left"></i>  Volver
                </a>
            </div>  
        </div>
    </div>
    <script language="Javascript">
        $(function () {
            $('#numeroletras').text(NumeroALetrasSinPesos({{entity.importe}}));

        });
        function imprSelec() {
            agregarTitulos();
            $(".contentCiclo").each(function (index) {
                $(this).css('border-bottom', '1px solid');
            });
            $(".contentResto").css('border-top', '1px solid');

            window.print();
        }
        window.addEventListener('afterprint', (event) => {
            borrarTitulos();
            $(".contentCiclo").each(function (index) {
                $(this).css('border-bottom', '');
            });
            $(".contentResto").css('border-top', '');
        });
        function borrarTitulos() {
            $(".titulos").each(function (index) {
                $(this).text('');
            });
        }
        function agregarTitulos() {
            $('.renglon').html('Renglón');
            $('.cantidad').html('Cantidad');
            $('.codigo').html('Código');
            $('.descripcion').html('Descripción');
            $('.precio').html('P. Unitario');
            $('.subtotal').html('P. Total');
        }
    </script>
    <style>
        @media print {
            @page { margin: 0cm; }
            body { margin: 1cm 0cm; }
            .content { padding: 0px; }
            #oculto { display: none; }
        }

        #page-wrapper {
            padding: 0px;
            margin: 0px !important;
        }

        .sidebar {
            display: none;
        }
        @media all {
            div.saltopagina,div.encabezado,thead.encabezado,.headerPresupuesto{
                display: none;
            }
        }
        @page {margin-top: 0.3in;}
        @media print{
            table.contentCiclos{
                border-top:  1px solid;
            }
            div.encabezado,thead.encabezado,.headerPresupuesto{
                display:block;
            }
            div.saltopagina{
                display:block;
                page-break-before:always;
            }
        }

    </style>
{% endblock %}
