{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2>Caja del d&iacute;a "{{caja.fecha|date('d-m-Y') }}" </h2>
    <h3>Unidad de Negocio: "{{caja.unidadNegocio}}"</h3>

    <hr />
    {% if is_granted('ROLE_ADMIN')  %}
        <div class="row">
              <a style="margin-right: 2em;" class="btn btn-info btn-xs pull-right"  href="javascript:goBack();">
                Volver
            </a>
            <a style="margin-right: 2em;" class="btn btn-primary pull-right" target="_blank" href="{{ path('ajuste_new', {'id': caja.id}) }}">
                Ajuste 
            </a>
          
        </div>
    {% endif %}      

    <hr/>
    <div class="row">
        <div class="col-md-12">          
            <table class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th>Id </th>
                        <th>Fecha</th>
                        <th>Movimiento</th>                        
                        <th style="text-align: right;">Importe</th>
                        <th style="text-align: right;">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Inicial
                        </td>
                        <td>
                            {{ caja.fecha|date('d-m-Y') }}                                
                        </td>
                        <td>
                            Saldo Inicial caja (ID: {{ caja.id }})
                        </td>
                        <td>
                            <span ">  
                                $ {{caja.saldoInicial}}
                            </span>                                
                        </td>
                        <td style="text-align: right;">
                            {#{ saldo}#}
                        </td>
                    </tr>
                    {% set saldo = caja.saldoInicial %}
                    {% for entity in entities %}
                        {% set saldo = saldo + entity.importe  %}
                        <tr>
                            <td>
                                {{ entity.id }}
                            </td>
                            <td>
                                {{ entity.fecha|date('d-m-Y') }}                                
                            </td>
                            <td>
                                <a href="{{ path(entity.documento.tipo~'_show', { 'id': entity.documento.id}) }}">{{ entity.documento }}</a>                                 
                            </td>
                            <td>
                                <span style="color:{{entity.style}};text-align: right;">  
                                    $ {{entity.importe}}
                                </span>                                
                            </td>
                            <td style="text-align: right;">
                                {{ saldo}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" style="text-align:right;">
                            SALDO FINAL $ {{ saldo }}
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

    <script>
        $(function () {
            // $("#tablasScroll").animate({scrollTop: $("#tablasScroll table").height()}, 600);
            $('td').css('padding', '2px');
        });
    </script>	
{% endblock %}
