{% extends 'AppBundle::base.html.twig' %}
{% block content -%}

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Compras
                <a class="btn btn-primary" href="{{ path('facturaproveedor_new') }}">
                    Registrar Compra
                </a>
            </h2>
        </div>        
    </div>    
    {% include 'AppBundle:FacturaProveedor:buscador.html.twig' %}
    <hr>                        
    <div class="tablasScroll">
        <table id="tablaSF" class="display">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Factura</th>
                    <th>Proveedor</th>
                        {#<th>Estado</th>#}
                    <th>Importe</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td>
                            Factura {{entity.tipofactura }} - Nro: {{ entity.nrofactura|default(entity.id) }}- Pto. Vta.: {{ entity.ptovta }}
                            {#<a href="{{ path('facturaproveedor_show', { 'id': entity.id, 'tipo':'FP'}) }}">Factura {{entity.tipofactura }} - Nro: {{ entity.nrofactura|default(entity.id) }}</a> - Pto. Vta.: {{ entity.ptovta }}#}
                        </td>
                        <td>
                            <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity.clienteproveedor.id }) }}">
                                {{ entity.clienteproveedor|default("") }}
                            </a>
                        </td>
                        <td>
                            $ {{ entity.importe }}
                        </td>
                        <td>
                            <a href="{{ path('facturaproveedor_edit', {id: entity.id}) }}" class="btn btn-warning">Editar{#Completar#}</a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {% if BalanceService.verifyMovimientos(entity.id) %}
                                    <button class="btn btn-danger" onclick="confirmarBorrado('{{ path('facturaproveedor_delete', {id: entity.id}) }}')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>

    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul
        {
            list-style: none;
        }
    </style>

{% endblock %}
