{% extends 'AppBundle::base.html.twig' %}

{% block body -%}   
    <h2>
        Informe IVA Compras
        <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="javascript:goBack();">
            Volver
        </a>
    </h2>
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Generaci&oacute;n de informe de IVA Compras
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="container" style="margin-bottom: 2%;">
                        <form action="{{ path('facturaproveedor_ivacompras') }}" method="POST">
                            <div class="row">                               
                                <div class="col-md-4">
                                    <label>Fecha desde</label>
                                    <input type="date" value="{{'NOW -30 days'|date('Y-m-d')}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
                                </div>
                                <div class="col-md-4">
                                    <label>Fecha hasta</label>
                                    <input type="date" value="{{'NOW'|date('Y-m-d')}}" name="fechaHasta" placeholder="Fecha hasta">
                                </div>         

                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <div class="col-md-4">
                                        <label>Unidad de Negocio</label>
                                        <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                                            {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                            <br>
                            <div class="row">           
                                <div class="col-md-3" >                
                                    <button class="btn btn-info" id="generar" type="button">
                                        Generar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <script>
        /*
         * Para evitar el preloader y poder descargar el archivo
         * y que no mem borre el botón de Generar
         */
        $('#generar').click(function () {
            $('form').submit();
        });
    </script>
{% endblock %}
