{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form) }}
    <h2>
        Compra
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%; " onclick="goBack();">Volver</a>
            Volver
        </a>
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%; " href="{{ path('facturaproveedor') }}">
            Ir a lista de compras
        </a>

        <a class="btn btn-primary pull-right" style="margin-left:1%; " target="_blank" href="{{ path('producto_new') }}">
            Crear Producto
        </a>

        {{ form_widget(form.submit) }}
        {#
        {{ form_widget(form.submitAndFinish) }}
        #}
    </h2>
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alta de Compra
                    <label style="float:right;font-size: 1.2em;" class="hidden">
                        Total: <span id="total">$ 0</span>
                    </label>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#informacion" data-toggle="tab">Información B&aacute;sica</a>
                        </li>
                        <li id="solapaProductos" style="display:none;">
                            <a href="#elementos" data-toggle="tab">Productos</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="informacion">                           
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button id="borrarProveedor" style="float: right;" type="button" class="btn btn-xs btn-danger" >
                                        Borrar <i class="fa fa-trash"></i>
                                    </button>                                    
                                    {{ form_row(form.proveedor) }}
                                    <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciaproveedor"></div>
                                    <div class="hidden">
                                        {{ form_row(form.idsucursal) }}
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div id="contenido">
                                <div class="col-md-3">
                                    {{ form_row(form.cae) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.fechavtocae) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.fecha) }}
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-6">
                                        {{ form_row(form.mes) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(form.anio) }}
                                    </div>
                                </div>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <div class="col-md-3">
                                        {{ form_row(form.tipofactura) }}
                                    </div>
                                {% else %}
                                    <div class="col-md-9">
                                        <label>Unidad de Negocio</label>
                                        {{entity.unidadNegocio.descripcion}}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_row(form.tipofactura) }}
                                    </div>
                                {% endif %}
                                <div class="col-md-9 {{ is_granted('ROLE_SUPER_ADMIN') ? '' : 'hidden'}}">
                                    {{ form_row(form.unidadNegocio) }}
                                </div>

                                <div class="col-xs-3">
                                    <label>Lote</label>
                                    <input name="lote" type="text" title="Lote" data-toggle="tooltip" class="form-control" value="{{ app.request.get('lote')|default('') }}" />
                                </div>
                                <div class="col-xs-3">
                                    <label>Procedencia</label>
                                    <input name="procedencia" type="text" title="Procedencia" data-toggle="tooltip" class="form-control" value="{{ app.request.get('procedencia')|default('') }}" />
                                </div>
                                <div class="col-xs-3">
                                    <label>Origen</label>
                                    <input name="origen" type="text" title="Origen" data-toggle="tooltip" class="form-control" value="{{ app.request.get('origen')|default('') }}" />
                                </div>
                                <div class="col-xs-3">
                                    <label>Dep&oacute;sito</label>
                                    <select id="deposito" name="deposito" class="form-control">
                                        {% include 'AppBundle:Stock:selectDeposito.html.twig' %}                                        
                                    </select>
                                </div>
                                <div class="col-md-12 importes">
                                    <div class="col-xs-3">
                                        <label>Pto. Venta</label>
                                        <input name="puntoventa" type="number" title="Poner 0 si no tiene" data-toggle="tooltip" class="form-control" value="{{ app.request.get('puntoventa')|default('') }}" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Nro Factura</label>
                                        <input name="nrofactura" id="nrofactura" type="text" title="Nro de Factura" data-toggle="tooltip" class="form-control" value="{{ app.request.get('nrofactura')|default('') }}" required="required" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Importe Total</label>
                                        <input name="importetotal" id="importetotal" type="number" min="1" step="0.0001" data-toggle="tooltip" class="form-control" value="{{ app.request.get('importetotal')|default('') }}" required />
                                    </div>
                                    <div class="col-xs-3">
                                        {{ form_row(form.subtotal) }}
                                    </div>                                
                                    <div class="col-xs-4">
                                        <label>Importe IVA 21%</label>
                                        <input name="importeiva21" id="importeiva21" type="number" step="0.0001" class="form-control"  />
                                    </div>
                                    {#<div class="col-xs-3">
                                        <label>Importe IVA 10.5%</label>
                                        <input name="importeiva105" id="importeiva105" type="number" step="0.0001" class="form-control"  />
                                    </div>#}
                                    <div class="col-xs-4 importeReal">
                                        {{ form_row(form.bonificacion) }}
                                    </div>
                                    <div class="col-xs-4 importeReal">
                                        {{ form_row(form.descuento) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_row(form.percepcionib) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_row(form.percepcioniva) }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    {{ form_row(form.observacion) }}
                                </div>
                                <div class="col-md-12" style="display:none">
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="elementos">
                            <div class="row">

                                <div class="col-md-12">
                                    <h4 id="totales_text"></h4>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <div class="col-md-4 text-center">
                                    <label>Producto</label>
                                </div>
                                {#<div class="col-sm-2 col-md-1  col-xs-2 text-center">
                                    <label>Al&iacute;cuota</label>
                                </div>#}
                                <div class="col-md-1 text-center">
                                    <label>Cantidad</label>
                                </div>
                                <div class="col-md-2 text-center">
                                    <label>Precio</label>
                                </div>
                                <div class="col-md-2 text-center">
                                    <label>Precio Real</label>
                                </div>
                                <div class="col-md-2 text-center">
                                    <label>Sub total</label>
                                </div>
                                <div class="col-md-1 text-center">
                                    <label>Acci&oacute;n</label>
                                </div>
                                {% for i in 1..30 %}
                                    <div class="row productos" style="margin: 0.3em 0;">
                                        <div class="col-md-4">
                                            <input type="text"  name="elemento{{i}}" id="elemento{{i}}" onkeyup="predictivaPropia({{i}})" placeholder="Producto" />
                                            <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerencia{{i}}"></div>
                                            <input type="hidden" name="idelemento{{i}}" id="idelemento{{i}}" />
                                        </div>
                                        {#<div class="col-sm-2 col-md-1  col-xs-2">
                                            <select name="alicuota{{i}}" id="alicuota{{i}}" class="precioReal">
                                                <option value="21">21%</option>
                                                <option value="10.5">10.5%</option>
                                            </select>
                                        </div>#}
                                        <div class="col-md-1">
                                            <input data-id="{{i}}" class="precioReal" type="number" min="0" step="0.001" name="cantidad{{i}}" id="cantidad{{i}}" placeholder="Cant." />
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text" name="precio{{i}}" id="precio{{i}}" placeholder="Precio" class="precioReal" data-id="{{i}}" />
                                        </div>
                                        <div class="col-md-2">
                                            <input class="real" type="text" data-id="{{i}}"  name="precioReal{{i}}" id="precioReal{{i}}" placeholder="Precio Real" readonly/>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="real" type="text" data-id="{{i}}"   id="subtotal{{i}}" placeholder="Sub total" readonly/>
                                        </div>
                                        <div class="col-md-1 text-center">
                                            <button type="button" class="btn btn-danger btn-xs" onClick="$('#cantidad{{i}}, #precio{{i}}, #elemento{{i}}, #idelemento{{i}}').val('').removeAttr('readonly');$('#precioReal{{i}},#subtotal{{i}}').val('');
                                                    calcular();">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>
    {{ form_end(form) }}

    <script>
        $(function () {
            $("#contenido").find("*").prop("disabled", true);
            $("#joyas_joyasbundle_factura_submit").addClass('btn-xs');
            $("#joyas_joyasbundle_factura_proveedor").attr("autocomplete", "off");
          
            var deposito = '{{ app.request.get('origen')}}';
            $('#deposito').val(deposito).change();


        });

        $('#borrarProveedor').click(function () {
            $('#app_bundle_factura_proveedor, #app_bundle_factura_idsucursal').val('').removeAttr('readonly');
            $('#solapaProductos').css('display', 'none');
            /*$('.iva').addClass('hidden');*/
            $('#contenido').find('*').prop('disabled', true);

        });

        //Eventos
        $("#app_bundle_factura_proveedor").keyup(function () {
            predictivaProveedor();
        });
        $("#app_bundle_factura_tipofactura").change(function () {
            if ($(this).val() == "N/A") {
                $("#app_bundle_factura_cae").removeAttr("required");
                $("#nrofactura").removeAttr("required");
            } else {
                $("#app_bundle_factura_cae").attr("required", "required");
                $("#nrofactura").attr("required", "required");
            }
        });
        $(".precioReal").change(function () {
            var i = $(this).data('id');
            var cantidad = $('#cantidad' + i).val();
            $('#precioReal' + i).val(calcularPrecioReal(i));
            $('#subtotal' + i).val((calcularPrecioReal(i) * cantidad).toFixed(2));
            calcular();
        });



        $("#app_bundle_factura_descuento,#app_bundle_factura_bonificacion").change(function () {
            $(".real").each(function (index) {
                var i = $(this).data('id');
                var cantidad = $('#cantidad' + i).val();
                $('#precioReal' + i).val(calcularPrecioReal(i));
                $('#subtotal' + i).val((calcularPrecioReal(i) * cantidad).toFixed(2));
            });
            calcular();
        });

        //Funciones
        function predictivaPropia(i) {
            $.get("{{path('stock_predictiva')}}", {valor: $("#elemento" + i).val()})
                    .done(function (data) {

                        $('#sugerencia' + i).fadeIn(500).html(data);
                        $('.suggest-element').click(function () {

                            var id = $(this).attr('id');
                            //var stock = parseInt($(this).attr('stock'));

                            $('#elemento' + i).val($('#predictivaelemento' + id).html()).prop('readonly', 'readonly');
                            $('#idelemento' + i).val(id);
                            $('#sugerencia' + i).fadeOut(500);
                            $('#cantidad' + i).val('1').focus();
                            $('#precio' + i).val($(this).attr('precio'));
                            var precioReal = calcularPrecioReal(i);
                            $('#precioReal' + i).val(precioReal);
                            $('#subtotal' + i).val((precioReal * 1).toFixed(2));

                            calcular();
                        });
                        // Si el resultado es solo uno, se selecciona automaticamente.
                        if ($('#sugerencia' + i + ' ul li').length === 1) {
                            $('#sugerencia' + i + ' ul li a').click();
                        }
                    });
        }

        function predictivaProveedor() {
            $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#app_bundle_factura_proveedor").val(), tipo: 2})
                    .done(function (data) {
                        $('#sugerenciaproveedor').fadeIn(500).html(data);
                        $('.suggest-element').on('click', function () {
                            var id = $(this).attr('id');
                            var proveedor = $('a[data="' + id + '"]').html();
                            $('#app_bundle_factura_idsucursal').val(id);
                            $('#app_bundle_factura_proveedor').val(proveedor).prop('readonly', 'readonly');
                            $("#contenido").find("*").removeProp("disabled");
                            $('#solapaProductos').css('display', 'block');
                            $('#sugerenciaproveedor').fadeOut(500).html("");
                        });
                    });
        }

        function calcularPrecioReal(i) {
            var subtotal = $('#app_bundle_factura_subtotal').val();
            if (!$.isNumeric(subtotal)) {
                subtotal = 0;
            }
            var descuento = $("#app_bundle_factura_descuento").val();
            if (!$.isNumeric(descuento)) {
                descuento = 0;
            }
            var bonificacion = $("#app_bundle_factura_bonificacion").val();
            if (!$.isNumeric(bonificacion)) {
                bonificacion = 0;
            }
            var precio = $('#precio' + i).val();
            if (subtotal + bonificacion > 0) {
                var porcentajeBonificacion = bonificacion * 100 / (subtotal + bonificacion);
            } else {
                var porcentajeBonificacion = 0;
            }
            var precioReal = precio - precio * descuento / 100 - precio * porcentajeBonificacion / 100;
            return precioReal.toFixed(2);
        }

        $('#app_bundle_factura_percepcionib,#app_bundle_factura_percepcioniva').change(function () {
            calcular();
        });

        /*
         * 
         * @returns {undefined}
         */
        function calcular() {
            var total = 0;
            var total21 = 0;
            // var total105 = 0;
            var alicuota = 21;
            for (i = 1; i <= 30; i++) {
                if ($('#idelemento' + i).val() !== '') {
                    //var alicuota = parseFloat($('#alicuota' + i).val());
                    if ($('#cantidad' + i).val() != '' && $('#precioReal' + i).val() != '') {
                        var cantidad = parseFloat($('#cantidad' + i).val());
                        var precio = parseFloat($('#precioReal' + i).val());
                        total += cantidad * precio;
                        // if (alicuota == 21) {
                        total21 += (cantidad * precio) * (alicuota / 100);
                        /*} else {
                         total105 += (cantidad * precio) * (alicuota / 100);
                         }*/
                    }
                }
            }

            total += total21;// + total105;
            $('#importeiva21').val(total21.toFixed(2));


            //$('#importeiva105').val(total105.toFixed(2));
            // Se muestran los totales en la solapa de productos
            //$('#totales_text').html("TOTAL: $" + total.toFixed(2) + " - IVA %21: $" + total21.toFixed(2) + " - IVA %10.5: $" + total105.toFixed(2));
            $('#totales_text').html("TOTAL: $" + total.toFixed(2) + " - IVA %21: $" + total21.toFixed(2));
            if ($('#app_bundle_factura_bonificacion').val() !== '') {
                total -= parseFloat($('#app_bundle_factura_bonificacion').val());
            }
            if ($('#app_bundle_factura_percepcionib').val() !== '') {
                total += parseFloat($('#app_bundle_factura_percepcionib').val());
            }
            if ($('#app_bundle_factura_percepcioniva').val() !== '') {
                total += parseFloat($('#app_bundle_factura_percepcioniva').val());
            }
            if ($.isNumeric(total.toFixed(2)) && total.toFixed(2) > 0) {
                $('#app_bundle_factura_subtotal').val(total.toFixed(2));
            } else {
                $('#app_bundle_factura_subtotal').val('');
                alert("El subtotal es menor que cero o bien se esta intentando sacar un porcentaje de descuento sobre un valor nulo. Es necesario cargar productos para poder calcular el subtotal.");
            }
        }



    </script>
    <style>
        .importes{
            border-top: 0.1px solid #e8e8e8;
            border-bottom: 0.1px solid #e8e8e8;
            padding: 1em 0em;
            margin: 1em 0em;
            display: table;
        }

        .productos div{
            padding-right: 5px;
            padding-left: 5px;
        }
    </style>
{% endblock %}
