{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    {% set codigobarras = entity.unidadNegocio.cuit~entity.ptovta~''~entity.cae~''~entity.fechavtocae|date('Ymd') %}

    <div id="imprimir">
        <header style="width: 100%; text-align:center;">
            <table id="content" class="display" cellspacing="0" width="100%" style="border:  1px solid;margin-top: 1%;">
                <thead>
                    <tr style="">
                        <th colspan="2" style="font-size: 1.8em; width: 40%;"></th>
                        <th style="border-left: 1px solid; width: 20%; border-right: 1px solid; width: 20%;" colspan="2">
                            <span style="text-align: center;font-size: 60px;">{{entity.tipofactura}}</span> <br /> <span style="font-size: 14px;"></span>
                        </th>
                        <th colspan="2" style="font-size: 28px; width: 40%;"></th>
                    </tr>
                    <tr>
                        <th colspan="3" style="border-right: 1px solid;width:50%;">Raz&oacute;n Social:
                            <span style="font-weight: normal;">{{entity.clienteproveedor.razonSocial}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">Punto Vta: {{entity.ptovta}} - Comp. Nro: <span style="font-weight: normal;">{{entity.nrofactura }}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3" style="border-right: 1px solid;width:50%;">
                            Domicilio Comercial:<span style="font-weight: normal;"> {{entity.clienteproveedor.domiciliocomercial}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">CUIT: <span style="font-weight: normal;">{{entity.clienteproveedor.cuit}}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3"  style="border-right: 1px solid;width:50%;">
                            Condici&oacute;n Frente al IVA: <span style="font-weight: normal;">{{entity.clienteproveedor.condicioniva}}</span>
                        </th>
                        <th colspan="3" style="border-right: 1px solid;width:50%;">
                            Fecha de Emisi&oacute;n: <span style="font-weight: normal;">{{entity.fecha|date('d/m/Y')}}</span>
                        </th>
                    </tr>
                </thead>
            </table>
        </header>

        <table id="content" style="text-align: center; width: 100%; margin-top: 1%;border: solid 1px;">
            <thead>
                <tr style="border-bottom: 1px solid;">
                    <th>C&oacute;digo</th>
                    <th style="width: 60%;">Desc.</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% set length = 0  %}
                {% for prodFact in entity.productosFactura %}
                    {% set length = loop.length  %}
                    <tr style="height: 22px">
                        <td>
                            {{ prodFact.stock.producto.codigo }}
                        </td>
                        <td>
                            {{ prodFact.stock.producto.nombre|default(prodFact.stock.producto.descripcion) }}
                            - {{ prodFact.stock.diseno.descripcion }}
                        </td>
                        <td>
                            {{ prodFact.cantidad }}
                        </td>
                        <td>
                            $ {{ prodFact.precio }}
                        </td>
                        <td style="padding-left: 1px; padding-right: 1px;">
                            $ {{ prodFact.precio * prodFact.cantidad }}
                        </td>
                    </tr>
                {% endfor %}
                {% if length < 17 %}
                    {% set numero = 17 - length %}
                    {% for i in 0..numero %}
                        <tr style="height: 22px">
                            <td colspan="5">
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <footer>
            <table id="content" class="display" cellspacing="0" width="100%" style="border:  1px solid;margin-top: 1%;">
                <tfoot>
                    <tr>
                        <th colspan="2">
                            CAE:
                        </th>
                        <td colspan="2">
                            {{ entity.cae|default('') }}
                        </td>
                        <th colspan="2">
                        </th>
                        <th style="text-align: right;">
                            Importe Neto Gravado:$
                        </th>
                        <th>
                            {{ entity.importeNeto|number_format(2) }}
                        </th>
                    </tr>
                    {%  for iva in entity.ivas %}
                        <tr>
                            <th colspan="6">
                            </th>
                            <th style="text-align: right;">
                                {{ iva.tipoIva }}:$
                            </th>
                            <th>
                                {{ iva.valor|number_format(2) }}
                            </th>
                        </tr>
                    {% endfor %}
                    <tr class="{{ entity.bonificacion ? '' : 'hidden' }}">
                        <th colspan="6">
                        </th>
                        <th style="text-align: right;">
                            Bonificación:$
                        </th>
                        <th>
                            {{ entity.bonificacion|number_format(2) }}
                        </th>
                    </tr>
                    <tr class="{{ entity.percepcionib ? '' : 'hidden' }}">
                        <th colspan="6">
                        </th>
                        <th style="text-align: right;">
                            Percepci&oacute;n de IIBB:$
                        </th>
                        <th>
                            {{ entity.percepcionib|number_format(2) }}
                        </th>
                    </tr>
                    <tr class="{{ entity.percepcioniva ? '' : 'hidden' }}">
                        <th colspan="6">
                        </th>
                        <th style="text-align: right;">
                            Percepci&oacute;n de IVA:$
                        </th>
                        <th>
                            {{ entity.percepcioniva|number_format(2) }}
                        </th>
                    </tr>

                    <tr style="border-bottom: 1px solid;">
                        <th colspan="2">
                            Fecha Vto. CAE:
                        </th>
                        <td colspan="2">
                            {% if entity.fechavtocae %}{{ entity.fechavtocae|date('d-m-Y') }}{% endif %}
                        </td>
                        <th colspan="2">
                        </th>
                        <th style="text-align: right;">
                            Importe Total:$
                        </th>
                        <th>
                            {{ entity.importe|number_format(2, '.', ',') }}
                        </th>
                    </tr>
                    <tr style="border-bottom: 1px solid;">
                        <th colspan="8" class="text-left">
                            {{entity.observacion}}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="8">
                            <img src="{{ asset('barcode/html/image.php?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=8&text=' ~ codigobarras ~ '&thickness=20&checksum=&code=BCGcode128')}}" />
                        </th>
                    </tr>
                </tfoot>
            </table>
        </footer>
    </div>
    <div id="oculto" style="text-align: center; margin-top: 1%;margin-bottom: 1%;">
        <a class="btn btn-info" href="javascript:imprSelec()">
            <i class="fa fa-file"></i> Imprimir
        </a>
        <a class="btn btn-warning" href="{{ path('facturaproveedor') }}">
            <i class="fa fa-arrow-left"></i>  Volver
        </a>
    </div>
    {#
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="{{asset('bundles/html2canvas.js')}}"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
    #}
    <script language="Javascript">
        function imprSelec() {
            window.print();
        }

        $(document).ready(function () {
            var imgDir = "{{asset('bundles/web/images/')}}";
        });


    </script>
    <style>
        @media print {
            @page { margin: 0cm; }
            body { margin: 1cm 0cm; }
            .content { padding: 0px; }
            #oculto { display: none; }
        }

        thead th, thead td {
            padding: 0.2em;
        }

        footer th {
            padding: 5px 0px;
        }

        footer img {
            margin: 5px 0px;
        }
    </style>
{% endblock %}
