{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Edici&oacute;n de Banco
        <a class="btn btn-info btn-xs" href="{{ path('banco')  }}">Volver</a>
    </h2>

    <div class="joyas-container">
        <div class="container">
            {{ form(edit_form) }}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("input").attr('class', 'form-control');
        });
        activarActionsTab('banco');
    </script>
{% endblock %}
