{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2 style="margin-bottom:10px;">
        Bancos
        <a  class="btn btn-success pull-right" href="{{ path('banco_new') }}">
            Crear
        </a>
    </h2>

    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Descripci&oacute;n</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.descripcion }}</td>
                        <td>
                            <a class="btn btn-success" href="{{ path('banco_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        activarActionsTab('banco');
    </script>
{% endblock %}
