<option value="">Elegir Banco</option>
{% for banco in bancos %}           
    <option value="{{banco.id}}"  >
        {{banco.descripcion}}
    </option>                                
{% endfor %}


