<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('dolar') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('NOW'|date('Y-m-d'))}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>           
            <div class="col-md-3" >
                <br>
                <button class="btn btn-info" type="submit">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>
