{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h3 class="card-title">
                    <strong>Cotizaciones del D&oacute;lar </strong>
                </h3>                   
                <a class="btn btn-info btn-xs pull-right" href="{{ path('dolar_new') }}">
                    <strong> Crear</strong>
                </a>                    

                {% include 'AppBundle:Dolar:buscador.html.twig' %}    
                <div class="tablasScroll">
                    <table id="tablaPaginado" class="display">                

                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>                                  
                                <th>Valor</th>                                                                 
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dolar in dolares %}
                                <tr>
                                    <td>{{ dolar.id }}</td>
                                    <td>{{ dolar.fecha|date('Y-m-d H:i:s')}}</td>                                 
                                    <td>$ {{ dolar.valor}}</td>                        
                                    <td>
                                        <a class="btn btn-primary btn-xs" href="{{ path('dolar_edit', { 'id': dolar.id }) }}" title="Editar Cotizaci&oacute;m de Dolar">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-danger btn-xs float-right" href="{{ path('dolar_cambiar_estado', { 'id': dolar.id,'estado':'E' }) }}" title="Eliminar">
                                            <i class="fa fa-trash"></i>
                                        </a>                                           
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-sm-12">
                        {{ pagerfanta (dolares, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
                    </div>

                </div>
            </div>
        </div>

        <script>
            $(function () {
                var table = $('#tablaPaginado').DataTable({
                    "scrollY": "400px",
                    "scrollCollapse": true,
                    "paging": false,
                    "info": false,
                    responsive: true,
                    "filter": false,
                    "order": []
                });
            });
        </script>
    {% endblock %}
