{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h2>
        Creaci&oacute;n de Cotizaci&oacute;n de D&oacute;lar
        <a class="btn btn-info btn-xs" href="{{ path('dolar') }}">
            Volver
        </a>
    </h2>

    <div class="joyas-container">
        <div class="container">
            {{ form(form) }}
        </div>
    </div>
</div>

{% endblock %}

