{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Ventas
                <a class="btn btn-primary" href="{{ path('factura_new') }}">
                    Registrar Venta
                </a>
            </h2>
        </div>
    </div>
    <div class="row filtro">
        <form id="searchForm" action="{{ path('factura') }}" method="GET">
            <div class="col-md-3">
                <label>Fecha Desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')}}" class="form-control" name="fechaDesde" placeholder="Fecha Desde">
            </div>
            <div class="col-md-3">
                <label>Fecha Hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')}}" class="form-control" name="fechaHasta" placeholder="Fecha Hasta">
            </div>
            <div class="col-md-3">
                <label>N° de Factura</label>
                <input type="number" value="{{app.request.get('numerofactura')}}" class="form-control" name="numerofactura" placeholder="N° de Factura">
            </div>
            <div class="col-md-3">
                <label>N° de Remito Asociado</label>
                <input type="number" value="{{app.request.get('numeroremito')}}" class="form-control" name="numeroremito" placeholder="N° de Remito Asociado">
            </div>
            <div class="col-md-4">
                <label>Cliente</label>
                <input type="text" value="{{app.request.get('cliente')}}" class="form-control" name="cliente" placeholder="Cliente">
            </div>
            <div class="col-md-4">
                <label>Tipo de Factura</label>
                <select class="form-control" name="tipofactura">
                    <option value="">Tipo de Factura</option>
                    <option value="A" {{app.request.get('tipofactura') == 'A' ? 'selected' : '' }}>A</option>
                    <option value="B" {{app.request.get('tipofactura') == 'B' ? 'selected' : '' }}>B</option>
                </select>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary" style="margin-top:2px" type="submit">
                    Buscar
                </button>
                <a class="btn btn-warning" href="{{ path('factura') }}" style="margin-top:2px" type="submit">
                    Limpiar Filtro
                </a>
                <a href="{{ '?' in app.request.requestUri ?  app.request.requestUri~'&action=excel' : app.request.requestUri~'?action=excel' }}" style="float: right" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Exportar</a>
            </div>
        </form>
    </div>
    <hr>
    <div class="tablasScroll">
        <table id="tablaSF" class="display">
            <thead>
            <tr>
                <th>Fecha</th>
{#                <th class="{{ is_granted('ROLE_SUPER_ADMIN')? '' : 'hidden' }}">Unidad</th>#}
                <th>Factura</th>
                <th>Cliente</th>
                <th>Importe</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.fecha|date('Y-m-d') }}</td>
{#                    <td class="{{ is_granted('ROLE_SUPER_ADMIN')? '' : 'hidden' }}">{{ entity.unidadnegocio }}</td>#}
                    <td>
                        {% if entity.nrofactura %}
                            <a href="{{ path('factura_show', { 'id': entity.id}) }}">
                                {{ entity|raw }}
                            </a>
                        {% else %}
                            {% if entity.tipo == 'P' %}
                                <a href="{{ path('factura_show', { 'id': entity.id}) }}">PRESUPUESTO - N° {{ entity.id}}</a> - P.V.: {{ entity.ptovta }}
                            {% else %}
                                <a style="color: red;" href="{{ path('factura_show', { 'id': entity.id}) }}">
                                    {{ entity|raw }}
                                </a>
                                <br>
                                <a title="Facturar el Comprobante" class="btn btn-success" href="{{ path('factura_refacturar', { 'id': entity.id, 'tipo': entity.tipo}) }}">
                                    Obtener CAE
                                </a>
                                {% if entity.tipo == 'F' %}
                                    <a title="Facturar el Comprobante" class="btn btn-info" href="{{ path('factura_refacturar', { 'id': entity.id, 'tipo': 'FC'}) }}">
                                        Cambiar a FCE y Obtener CAE
                                    </a>
                                {% else %}
                                    <a title="Facturar el Comprobante" class="btn btn-info" href="{{ path('factura_refacturar', { 'id': entity.id, 'tipo': 'F'}) }}">
                                        Cambiar a FE y Obtener CAE
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN')%}
                                    <button class="btn btn-danger" onclick="confirmarBorrado('{{ path('factura_delete', { 'id': entity.id}) }}')" title="Anular">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity.clienteproveedor.id }) }}">
                            {{ entity.clienteproveedor.razonSocial|default("") }}
                        </a>
                    </td>
                    <td>
                        $ {{ entity.total|number_format(2, ",", ".") }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul
        {
            list-style: none;
        }
    </style>

{% endblock %}
