{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe de Venta  
    </h2>
    <hr/>
    {% include 'AppBundle:Factura:buscadorInforme.html.twig' %}
    <hr />
    <div class="gestion">
        {% set totalPagina=0 %}
        <table id="tablaInformeVenta" class="display" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Documento</th>
                    <th>Cliente</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                    <th>Importe Venta($)</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}                
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('factura_show', { 'id': entity.id }) }}">{{ entity|raw }}</a>
                        </td>
                        <td>{{ entity.clienteProveedor }}</td>                        
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadNegocio }}</td>
                        {% endif %}
                        <td>$ {{ entity.importe }}</td>
                    </tr>        
                     {% set totalPagina=totalPagina+entity.importe  %}
                {% endfor %}
            </tbody>          
            <tfoot>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th colspan="2">
                            Total de p&aacute;gina: $ {{totalPagina}}
                        </th>
                        <th colspan="3">
                            $ {{total}}
                        </th>
                    {% else %}
                        <th colspan="2">
                            Total de p&aacute;gina: $ {{totalPagina}}
                        </th>
                        <th colspan="2">                         
                            $ {{total}}
                        </th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-12">        
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            $('#tablaInformeVenta').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');
        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
