<!-- Buscador -->
<div class="container">
    <form action="{{ path('factura_informecuentasporcobrar') }}" method="GET">
        <div class="row">            
            <div class="col-md-3">
                <label>Cliente</label>
                <select name="cliente" class="select2 col-xs-12"  id="cliente" data-show-subtext="true" data-live-search="true" >
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'1'})) }}
                </select>
            </div>   
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12 select2" id="unidadNegocio">
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
                <br>
                <div class="col-xs-6" >                
                    <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                        Buscar
                    </button>
                    <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                    </button>
                </div>
            {% else %}
                <div class="col-xs-9" >                
                    <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                        Buscar
                    </button>
                    <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                    </button>
                </div>
            {% endif %}
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var cliente = '{{app.request.get('cliente')}}';
        $('#cliente').val(cliente).change();
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
    });
</script>
