{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe Cuentas por Cobrar      
    </h2>   
    <hr />
    {% include 'AppBundle:Factura:informeCuentasPorCobrarBuscador.html.twig' %}
    <hr>
    <div id="totalCobrar">Total a cobrar: </div>

    <table id="tablaCuentasPorCobrar" class="display" >
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Unidad de Negocio</th>
                    {% endif %}
                <th>Raz&oacute;n Social</th>
                <th>Fecha &Uacute;ltima Venta</th>
                <th>$ &Uacute;ltima Venta</th>
                <th>Fecha &Uacute;ltima Cobranza</th>  
                <th>$ &Uacute;ltima Cobranza</th>                
                <th>Saldo Actual</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr class="cuentas" data-clienteid="{{ entity[0].clienteProveedor.id }}" >
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td ></td>
                    {% endif %}
                    <td>
                        <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity[0].clienteProveedor.id }) }}">
                            {{ entity[0].clienteProveedor.razonSocial }}
                        </a>                        
                    </td>
                    <td>{{ entity.fechaVenta|date('Y-m-d') }}</td>
                    <td>$ {{ entity[0].importe }}</td>
                    <td >                        
                    </td>
                    <td ></td>      
                    <td ></td>                          
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12">        
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            var totalCobrar = 0;
            var set = $('.cuentas');
            var length = set.length;
            var contador = 0;
            var table = $('#tablaCuentasPorCobrar').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');
            set.each(function (index) {
                var id = $(this).data('clienteid');
                $.post('{{path('cobranza_getultimacobranza')}}', {'id': id})
                        .done(function (cobranza) {
        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                table.cell(index, 0).data(cobranza.unidadNegocio).draw();
                                table.cell(index, 4).data(cobranza.fecha).draw();
                                table.cell(index, 5).data('$' + cobranza.importe).draw();
                                table.cell(index, 6).data('$' + cobranza.saldo).draw();
        {%else%}

                                table.cell(index, 3).data(cobranza.fecha).draw();
                                table.cell(index, 4).data('$' + cobranza.importe).draw();
                                table.cell(index, 5).data('$' + cobranza.saldo).draw();

        {% endif %}
                                totalCobrar = totalCobrar + parseFloat(cobranza.saldo);
                                contador++;
                                if (contador === length) {
                                    $('#totalCobrar').append('$' + Math.round(totalCobrar));
                                }
                            });
                });
            });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
