{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form) }}
    <h2>
        Venta
        <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="{{ path('factura') }}">
            Volver
        </a>
        <a target="_blank" class="btn btn-primary btn-xs" style="margin-left:1%; float:right;" href="{{ path('clienteproveedor_new') }}">
            Crear Cliente
        </a>
        {{ form_widget(form.submit) }}
    </h2>
    <div class="col-md-12">

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alta de Venta
                    <label style="float:right;font-size: 1.2em;">
                        <span class="unidades">Unidades: <span id="unidades_venta"></span> - </span>
                        <span class="iva hidden">IVA 21%: <span id="montoiva21"></span> - </span>
                        <span class="iva hidden">IVA 10.5%: <span id="montoiva105"></span> - </span>
                        {#<span class="descuento">Descuento($): <span id="descuento"> (0%) $0</span> - </span>#}
                        Total: <span id="total">$ 0</span>
                    </label>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#informacion" data-toggle="tab">Información Básica</a>
                        </li>
                        <li id='tabProductos' class='hidden'>
                            <a href="#elementos" data-toggle="tab">Productos</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="informacion">
                            <h4>Información Básica</h4>
                            <div class="col-md-6">                                
                                <input type='hidden' id='condicion'>
                                {% if entity.clienteproveedor is null %}
                                    <button style="float: right;" type="button" class="btn btn-danger btn-xs" id='eliminarCliente'>
                                        Borrar <i class="fa fa-trash"></i>
                                    </button>
                                {% endif %}
                                {{ form_row(form.cliente) }}
                                <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>
                                <div class="hidden">
                                    {{ form_row(form.idsucursal) }}
                                    {{ form_row(form.tipofactura) }}
                                </div>
                                {{ form_row(form.fecha) }}
                            </div>
                            <div class="col-md-6 {{ is_granted('ROLE_SUPER_ADMIN') ? '' : 'hidden' }}">
                                {{ form_row(form.listaprecio) }}
                            </div>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="col-md-6">
                                {% else %}
                                    <div class="col-md-6">
                                        <label>Unidad de Negocio</label><br/>
                                        {{entity.unidadNegocio.descripcion}}
                                    </div>
                                    <div class="col-md-6 hidden">
                                    {% endif %}
                                    {{ form_row(form.unidadNegocio) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.condicionpago) }}
                                </div>
                                {#<div class="col-md-6">
                                    {{ form_row(form.descuento) }}
                                </div>#}
                                <div class="col-md-12">
                                    {{ form_row(form.observacion) }}
                                </div>
                                <div class="hidden">
                                    {{ form_rest(form) }}
                                </div>
                            </div>
                            <input type="hidden" name="from_remito" value="{{ productosremito|length > 0 ? 1 : 0 }}" />
                            <input type="hidden" name="productosremito" value="{{ app.request.get('remitosoficiales') ? app.request.get('remitosoficiales')|json_encode : ''}}" />
                            <div class="tab-pane fade" id="elementos">
                                <h4>Productos</h4>
                                <div>
                                    <div class='row'>
                                        {#<div class="col-sm-1 text-center hidden">
                                            {{ productosremito|length > 0 ? 'Renglón' : 'Trazable?' }}
                                        </div>#}
                                        <div class="col-sm-3 text-center">
                                            <label>Producto</label>
                                        </div>                                        
                                        <div class="col-sm-2">
                                            <label>Cantidad</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Precio</label>
                                        </div>
                                        <div class="col-sm-2 responsableInscripto">
                                            <label>IVA</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Subtotal</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <label>Acción</label>
                                        </div>
                                    </div>
                                    {% for productoremito in productosremito %}
                                        {% set tipoIva=  productoremito.producto.tipoiva %}
                                        <div class="row">
                                            {# <div class="col-sm-1 text-center">
                                                 {{ productoremito.renglon|default('-') }}
                                             </div>#}
                                            <div class="col-sm-3">
                                                {{ productoremito.descripcion ? productoremito.descripcion : productoremito.stock.producto.nombre ~" - N° "~ productoremito.stock.serie }}
                                                <b>(#{{ productoremito.remitooficial.numero }})</b>
                                                <input type="hidden" name="id_productoremito{{loop.index}}" value="{{ productoremito.id }}" id="id_productoremito{{loop.index}}" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="number" step="0.001" value="{{ productoremito.cantidad }}" readonly name="cantidad_{{loop.index}}" id="cantidad_elemento{{loop.index}}" />
                                            </div>
                                            {% if productoremito.remitooficial.clienteProveedor.condicioniva == 'Responsable Inscripto' %}
                                                <div class="col-sm-2">                                                                                                
                                                    <input type="number" min="0" step="0.0001" data-tipoiva="{{ tipoIva }}" value="{{ productoremito.precio }}" name="precio_{{loop.index}}" id="precio_elemento{{loop.index}}" />
                                                </div>
                                                <div class="col-sm-2">                                                
                                                    <input type="number" min="0" step="0.0001" value="{{ productoremito.precio*(1/tipoIva) }}" name="precio_alicuota_{{loop.index}}" id="precio_alicuota_elemento{{loop.index}}" readonly />
                                                </div>
                                            {% else %}
                                                <div class="col-sm-2">                                                                                                
                                                    <input type="number" min="0" step="0.0001" value="{{ productoremito.precio*(1+1/tipoIva) }}" name="precio_{{loop.index}}" id="precio_elemento{{loop.index}}" />
                                                </div>
                                            {% endif %}
                                            <div class="col-sm-2">
                                                <input type="number" min="0" step="0.0001" name="subtotal{{loop.index}}" id="subtotal{{loop.index}}" readonly/>
                                            </div>  
                                            <div class="col-sm-1">                                                
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% set init = productosremito|length == 0 ? 1 : productosremito|length+1 %}
                                    {% for i in init..30 %}
                                        <div class="row {{ productosremito|length == 0 ? '' : '' }}">
                                            {#<div class="col-sm-1 hidden">
                                                <input type="checkbox" name="trazable_elemento{{ i }}" id="trazable_elemento{{ i }}">
                                            </div>#}
                                            <div class="col-sm-3">
                                                <select class="select2ajax" id="elemento{{i}}" name="elemento{{i}}" {{ i == 1 ? 'required' : '' }}></select>
                                                <input type="hidden" name="idstock_elemento{{i}}" id="idstock_elemento{{i}}" />
                                                <input type="hidden" name="idprod_elemento{{i}}" id="idprod_elemento{{i}}" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="number" min="0" step="0.001" name="cantidad_{{i}}" name="cantidad_elemento{{i}}" id="cantidad_elemento{{i}}" class='calcular' />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="number" min="0" step="0.01" data-tipoiva="0" name="precio_{{i}}" name="precio_elemento{{i}}" id="precio_elemento{{i}}" class='calcular' />
                                            </div>
                                            <div class="col-sm-2 responsableInscripto">
                                                <input type="number" min="0" step="0.01" name="precio_alicuota{{i}}" name="precio_alicuota_elemento{{i}}" id="precio_alicuota_elemento{{i}}" readonly/>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="number" min="0" step="0.01" name="subtotal{{i}}" id="subtotal{{i}}" readonly/>
                                            </div>                                            
                                            <div class="col-sm-1 text-center">
                                                <button type="button" class="btn btn-danger btn-xs" onClick="limpiarFila({{i}});" >
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.row -->
        </div>   
    </div>

    {{ form_end(form) }}

    <script>
        var condicion;
        $('#eliminarCliente').click(function () {
            $('#app_bundle_factura_cliente, #app_bundle_factura_idsucursal').val('').removeAttr('readonly');
            $('.iva,#tabProductos').addClass('hidden');
        });
        function predictivaCliente() {
            $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#app_bundle_factura_cliente").val(), tipo: 1})
                    .done(function (data) {
                        $('#sugerenciacliente').fadeIn(500).html(data);

                        $('.suggest-element').on('click', function () {
                            var id = $(this).attr('id');
                            condicion = $(this).attr('condicion');
                            $('#condicion').val(condicion);

                            var lista = $(this).attr('lista') != '' ? $(this).attr('lista') : 0;

                            if (condicion == 'Responsable Inscripto') {
                                $(".iva,.responsableInscripto").removeClass('hidden');
                                $("#app_bundle_factura_tipofactura").val('A');
                            } else {
                                $(".iva,.responsableInscripto").addClass('hidden');
                                $("#app_bundle_factura_tipofactura").val('B');
                            }
                            if (lista != 0) {
                                $('#app_bundle_factura_listaprecio').val(lista);
                            } else {
                                $("#app_bundle_factura_listaprecio").val($("#app_bundle_factura_listaprecio li:first").val());
                            }

                            $('#app_bundle_factura_idsucursal').val(id);
                            $('#app_bundle_factura_cliente').val($(this).children('a').html()).prop('readonly', 'readonly');
                            $('#tabProductos').removeClass('hidden');
                            $('#sugerenciacliente').fadeOut(500);
                        });
                        if ($('#sugerenciacliente ul li').length === 1) {
                            $('#sugerenciacliente ul li a').click();
                            $('#sugerenciacliente').fadeOut().html("");

                        }
                    });
        }

        $(function () {

        {#$('#app_bundle_factura_descuento').attr('type', 'number');
            $('#app_bundle_factura_descuento').attr('step', '0.01');
            $('#app_bundle_factura_descuento').attr('min', '0');
            $('#app_bundle_factura_descuento').attr('max', '100');
            $('#app_bundle_factura_descuento').val(0);#}

        {% if entity.clienteProveedor %}
                $("#app_bundle_factura_cliente").val('{{ entity.clienteProveedor.razonSocial }}');
                $("#app_bundle_factura_idsucursal").val({{ entity.clienteProveedor.sucursales[0].id }});
                predictivaCliente();
                calcular();
        {% endif %}
                $("input").attr("autocomplete", "off");
                $("#app_bundle_factura_cliente").attr("autocomplete", "off");

                $("#app_bundle_factura_observacion").removeAttr("required");

                $("#app_bundle_factura_cliente").keyup(function () {
                    predictivaCliente();
                });
                $('.select2ajax').select2({
                    ajax: {
                        url: "{{path('stock_predictiva_select2')}}",
                        dataType: 'json',
                        data: function (params) {
                            let id = $(this).attr("id");
                            let idunidad = $("#app_bundle_factura_unidadNegocio").val();
                            let trazable = $("#trazable_" + id).prop('checked');

                            var query = {
                                search: params.term,
                                type: 'public',
                                idunidad: idunidad,
                                trazable: trazable
                            }
                            return query;
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;
                            let items = data.items ? data.items.filter(filtrarSeleccionado) : [];
                            return {
                                results: items,
                                pagination: {
                                    more: (params.page * 30) < data.total_count
                                }
                            }
                        }
                    }
                });

                function filtrarSeleccionado(item) {
                    let response = true;
                    $('.select2ajax').each((index, element) => {
                        if (element.value != '' && parseInt(element.value) == item.id_stock) {
                            response = false;
                        }
                    });

                    return response;
                }

                $('.select2ajax').on('select2:select', function (e) {
                    let elemento = $(this).attr('id');
                    let trazable = $("#trazable_" + elemento).prop('checked');
                    let tipoIva = parseFloat(e.params.data.tipo_iva);
                    $('#cantidad_' + elemento).val(1);
                    if (e.params.data.trazable) {
                        $('#cantidad_' + elemento).attr('readonly', 'readonly');
                    } else {
                        $('#cantidad_' + elemento).attr('max', e.params.data.max_stock);
                    }

                    $('#idstock_' + elemento).val(e.params.data.id_stock);
                    var precio = roundToTwo(parseFloat(e.params.data.price));
                    var alicuota = roundToTwo(precio * tipoIva / 100);

                    var precioConIva = precio + alicuota;

                    $('#precio_' + elemento).data('tipoiva', tipoIva);

                    if (condicion == 'Responsable Inscripto') {
                        $('#precio_' + elemento).val(precio);
                        $('#precio_alicuota_' + elemento).val(alicuota);
                        $('#subtotal' + elemento).val(precioConIva);
                    } else {
                        $('#precio_' + elemento).val(roundToTwo(e.params.data.price * (1 + tipoIva / 100)));
                        $('#subtotal' + elemento).val(precioConIva);
                    }
                    $('#idprod_' + elemento).val(e.params.data.id_prod);
                    $('#descripcion_' + elemento).val(e.params.data.name);
                    calcular();
                });
            });


            /*
             * 
             * @param {type} fila
             * @returns {undefined}         
             * */
            function limpiarFila(fila) {
                $('#cantidad_elemento' + fila).val('');
                $('#precio_elemento' + fila).val('');
                $('#precio_alicuota_elemento' + fila).val('');
                $('#elemento' + fila).html('');
                $('#idstock_elemento' + fila).val('');
                $('#subtotal' + fila).val('');
                calcular();                
            }

            $("input").keyup(function () {
                calcular();
            });

        {#$('#app_bundle_factura_descuento').change(function () {
                        if ($(this).val() == '') {
                            $(this).val(0);
                        }
                        if ($(this).val() > 100) {
                            $(this).val(100);
                        }
                    });#}               
            function calcular() {
                var unidades = 0;
                var total = 0;
                var totalIva21 = 0;
                var totalIva105 = 0;
        {#var descuento = $('#app_bundle_factura_descuento').val() / 100;#}
                //var montoDescuento = 0;

                for (i = 1; i <= 30; i++) {
                    if ($('#cantidad_elemento' + i).val() != '' && $('#precio_elemento' + i).val() != '') {

                        var tipoIva = parseFloat($('#precio_elemento' + i).data('tipoiva'));
                        var precio = parseFloat($('#precio_elemento' + i).val());
                        var cantidad = parseFloat($('#cantidad_elemento' + i).val());
                        var subtotal = 0;

                        if (condicion == 'Responsable Inscripto') {

                            $('#precio_alicuota_elemento' + i).val(roundToTwo(precio * tipoIva / 100));
                            subtotal = roundToTwo(cantidad * precio * (1 + tipoIva / 100));
                            var iva = subtotal - roundToTwo(cantidad * precio);

                            if (tipoIva == 21) {
                                totalIva21 += iva;
                            }
                            if (tipoIva == 10.5) {
                                totalIva105 += iva;
                            }
                        } else {
                            subtotal = roundToTwo(cantidad * precio);
                        }

                        total += subtotal;
                        unidades += parseFloat($('#cantidad_elemento' + i).val());

                        $('#subtotal' + i).val(subtotal);
                    } else {
                        if (condicion == 'Responsable Inscripto') {
                            $('#precio_alicuota_elemento' + i).val('');
                        }
                        $('#subtotal' + i).val('');
                    }
                }
                $('#unidades_venta').html(unidades);
                $('#total').html('$ ' + roundToTwo(total));
                if (condicion == 'Responsable Inscripto') {
                    $('#montoiva21').html('$ ' + roundToTwo(totalIva21));
                    $('#montoiva105').html('$ ' + roundToTwo(totalIva105));
                }

                //var porcentajeDescuento = $('#app_bundle_factura_descuento').val();
                //$('#descuento').html("(" + porcentajeDescuento + "%) $" + parseFloat(montoDescuento).toFixed(2));
            }
            /*
             * Round to Two
             */
            function roundToTwo(num) {
                return +(Math.round(num + "e+2") + "e-2");
            }

    </script>
{% endblock %}
