{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div id="remitover">
        <div class="col-md-12" style="text-align: center;margin-top: 2%;">
            <strong>Cliente: </strong>{{ entity.movimientocc.clienteProveedor }} -
            <strong>Domicilio: </strong>{{ entity.sucursal|default(entity.movimientocc.clienteProveedor.domiciliocomercial) }} -
            <strong>Fecha: </strong>{{ entity.fecha|date('Y-m-d') }}
        </div>
        <table id="content" style="text-align: center; min-height: 300px; width: 80%; margin-bottom: 2%; margin-top: 2%; border: inset; margin: 0 auto;">
            <tr>
                <td style="border: inset;" colspan="4"><strong>REMITO "{{ entity.nroremito }}"</strong></td>
            </tr>
            <tr style="font-weight: bold;">
                <td>
                    C&oacute;digo
                </td>
                <td>
                    Desc.
                </td>
                <td>
                    Cantidad
                </td>
                <td>
                    Precio U.
                </td>
            </tr>
            {% set length = 0  %}				
            {% set cantidad = 0  %}				
            {% for prodFact in entity.productosFactura %}
                {% if prodFact.pertenece == 'R' or prodFact.pertenece == 'RF' %}
                    {% set length = loop.length  %}				
                    {% set cantidad = cantidad + prodFact.cantidad %}				
                    <tr style="height: 25px">
                        <td>
                            {{ prodFact.producto.codigo }}
                        </td>
                        <td>
                            {{ prodFact.descripcion }}
                        </td>
                        <td>
                            {{ prodFact.cantidad }}
                        </td>
                        <td>
                            {{ prodFact.precio }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% if length < 19 %}
                {% set numero = 19 - length %}
                {% for i in 0..numero %}
                    <tr style="height: 25px">
                        <td colspan="4">
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td style="text-align:right;" colspan="3">
                    Cantidad Total
                </td>
                <td style="border-top: inset;">
                    {{cantidad}}
                </td>
            </tr>
        </table>
    </div>
    <div id="remitoimprimir" style="display: none; margin-top: 40%;">
        <table id="content" style="text-align: center; min-height: 300px; width: 80%; margin-bottom: 2%; margin-top: 2%; margin: 0 auto;">
            {% for prodFact in entity.productosFactura %}
                {% if prodFact.pertenece == 'R' or prodFact.pertenece == 'RF' %}
                    <tr style="height: 25px">
                        <td>
                            {{ prodFact.cantidad }}
                        </td>
                        <td>
                            {{ prodFact.producto.descripcion }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <ul id="oculto" class="record_actions" style="margin-top: 2%;">
        <li style="text-align: center;">
            <a class="btn btn-info btn-xs" href="javascript:imprSelec()">
                Imprimir
            </a>
            <a class="btn btn-info btn-xs" href="{{ path('factura') }}">
                Volver
            </a>
        </li>
    </ul>
    <script language="Javascript">
        function imprSelec() {
            $('#oculto').css('display', 'none');
            $('#remitover').css('display', 'none');
            $('#remitoimprimir').css('display', 'block');
            window.print();
            $('#oculto').css('display', 'block');
            $('#remitover').css('display', 'block');
            $('#remitoimprimir').css('display', 'none');
        }

        $(document).ready(function () {
        });

    </script> 

    <style>
        @media print {
            @page { margin: 0; }
            body { margin: 1.6cm; }
        }
    </style>
{% endblock %}
