{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div id="imprimir">
        <header style="width: 100%; text-align:center;">
            <table id="content" class="display" cellspacing="0" width="100%" style="margin-top: 1%;">
                <thead>
                    <tr style="">
                        <th colspan="2" style="width: 40%;">
                            <img src="{{asset('logo.png')}}" style="height: 4em;margin-left: 25%;" />
                        </th>
                        <th style="" colspan="2">
                            <span style="text-align: center;font-size: 60px;">X</span>
                        </th>
                        <th colspan="2" style="font-size: 28px; width: 40%;padding-right: 10%;">PRESUPUESTO</th>
                    </tr>
                    <tr>
                        <th colspan="3" style="width:50%;">
                            <span style="font-weight: bold;font-size: 1.4em;">{{empresa_razonsocial|title}}</span><br/>
                            <span style="font-size: 0.9em;">{{empresa_de}}</span>
                        </th>
                        {#<th colspan="3" style="width:50%;">Punto Vta: {{entity.ptovta}} - Comp. Nro: <span style="font-weight: normal;">{{entity.nrofactura }}</span></th>#}
                    </tr>
                    <tr>
                        <th colspan="3" style="width:50%;">
                            <span style="font-weight: normal;"> {{entity.unidadNegocio.direccion}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">CUIT: <span style="font-weight: normal;">{{entity.unidadNegocio.cuit}}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3"  style="width:50%;">
                            IVA: <span style="font-weight: normal;">Responsable Inscripto</span>
                        </th>
                        <th colspan="3" style="width:50%;">Ingresos Brutos:<span style="font-weight: normal;">{{entity.unidadNegocio.iibb}}</span></th>
                    </tr>
                    <tr style="">
                        <th colspan="3" style="width:50%;">
                            Fecha de Emisi&oacute;n: <span style="font-weight: normal;">{{entity.fecha|date('d/m/Y')}}</span>
                        </th>
                        {#<th colspan="3" style="width:50%;">#}
                            {#Fecha de Inicio de Actividades: <span style="font-weight: normal;">12/08/1995</span>#}
                        {#</th>#}
                    {#</tr>#}
                    {#<tr>#}
                        <th colspan="3">Apellido y Nombre / Raz&oacute;n Social: <span style="font-weight: normal;">{{entity.clienteproveedor.razonSocial }}</span></th>
                        {#<th colspan="3" style="">#}
                            {#{% if entity.clienteproveedor.cuit %}#}
                                {#CUIT - Cliente: <span style="font-weight: normal;">{{entity.clienteproveedor.cuit}}</span>#}
                            {#{% else %}#}
                                {#DNI - Cliente: <span style="font-weight: normal;">{{entity.clienteproveedor.dni}}</span>#}
                            {#{% endif %}#}
                        {#</th>#}
                    </tr>
                    {#<tr>#}
                        {#<th colspan="3" style="">#}
                            {#IVA - Cliente: <span style="font-weight: normal;">{{entity.clienteproveedor.condicionIva}}</span>#}
                        {#</th>#}
                        {#<th colspan="3">#}
                            {#Domicilio - Cliente:#}
                            {#<span style="font-weight: normal;">#}
                                {#{{entity.sucursal.direccion}}#}
                            {#</span>#}
                        {#</th>#}
                    {#</tr>#}
                    {#<tr style="">#}
                        {#<th colspan="3" style="">#}
                            {#Condici&oacute;n de Venta: <span style="font-weight: normal;">Contado</span>#}
                        {#</th>#}
                        {#<th colspan="3" style="">#}
                        {#</th>#}
                    {#</tr>#}
                </thead>
            </table>
        </header>
        <table id="contenido" class="display" cellspacing="0" width="100%" style="text-align:center;">
            <thead>
                <tr><td>
                    <div class="header-space">&nbsp;</div>
                </td></tr>
            </thead>
            <tbody>
                <tr style="font-weight: bold;">
                    <th>C&oacute;digo</th>
                    <th style="width: 60%;">Nombre - N° Serie</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th colspan="2">Subtotal</th>
                </tr>
                <div class="content">
                    {% set length = 0  %}
                    {% for prodFact in entity.productosFactura %}
                        {% set length = loop.length  %}
                        <tr style="height: 22px">
                            <td>
                                {{ prodFact.stock.producto.codigo }}
                            </td>
                            <td>
                                {{ prodFact.descripcion }} - N° {{ prodFact.stock.serie }}
                            </td>
                            <td>
                                {{ prodFact.cantidad }}
                            </td>
                            <td>
                                {{ prodFact.precio }}
                            </td>
                            <td colspan="2">
                                {{ prodFact.precio * prodFact.cantidad }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if length < 17 %}
                        {% set numero = 17 - length %}
                        {% for i in 0..numero %}
                            <tr style="height: 22px">
                                <td colspan="5">
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </div>
            </tbody>
            <tfoot>
                <tr><td>
                    <div class="footer-space">&nbsp;</div>
                </td></tr>
            </tfoot>
        </table>
        <footer  width="100%" style="width: 100%; text-align:center;">
            <table id="content" class="display" cellspacing="0" width="100%" style="width: 100%; text-align:center;">
                <tfoot style="width: 100%;">
                    <tr style="width: 100%;">
                        <th colspan="5" style="text-align: center;font-size: 1.4em;width: 100%;">
                            Total:
                            $ {{ entity.importe|number_format(2) }}
                        </th>
                        <th colspan="5" style="">
                            {{entity.observacion}}
                        </th>
                    </tr>
                </tfoot>
            </table>
        </footer>
    </div>
    <div id="oculto" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
        <a class="btn btn-info" onclick="document.title = 'PRESUPUESTO';imprSelec()">
            <i class="fa fa-file"></i> Imprimir
        </a>
        <a class="btn btn-warning" href="{{ path('factura') }}">
            <i class="fa fa-arrow-left"></i>  Volver
        </a>
    </div>

    <script language="Javascript">
        function imprSelec() {
            window.print();
        }
    </script>
    <style>
        @media print {
            @page { margin: 0cm; }
            body { margin: 1cm 0cm; }
            .content { padding: 0px; }
            #oculto { display: none; }

            header {position: fixed; top: 0;}
            footer {position: fixed !important; bottom: 0!important;}

            header, .header-space{
                height: 200px;
            }
            footer, .footer-space {
                height: 100px;
            }
        }

        #page-wrapper {
            padding: 0px;
            margin: 0px !important;
        }

        .sidebar {
            display: none;
        }

        thead th, thead td {
            padding: 0.2em;
        }

        footer th {
            padding: 5px 0px;
        }

        footer img {
            margin: 5px 0px;
        }
    </style>

{% endblock %}
