{% extends 'AppBundle::base.html.twig' %}
{% block title %}{{ entity|striptags }}{% endblock %}
{% block content -%}
    <style type="text/css" media="print">
        @page { margin: 0cm; margin-left: 4mm; margin-right: 4mm; }
        body { margin: 0cm 0cm;}
        .content { padding: 0cm; }
        #oculto { display: none; }

        div.saltopagina{
            display:block;
            page-break-before:always;
        }
        #tableObservacion{
            display: block;
            position: fixed;            
            bottom: 16rem;
        }
        footer {
            display: block;
            position: fixed;
            bottom: .8em;
        }
        header th, header td{
            text-align:left;
        }
        .body, header{
            font-size: 13px !important;
        }
        .body th, .body td{
            text-align:left;
        }

        .body th, .body td {
            text-align: left;
            vertical-align: top;
        }
        header table{
            margin-top: 0;
        }
        .body table tr td{
            padding-bottom: .5em;
        }

    </style>
    <style>
        header table{
            margin-top: 1%;
        }

        header th, header td{
            text-align:left;
        }
        .body th, .body td{
            text-align:left;
        }

        #page-wrapper {
            padding: 0px;
            margin: 0px !important;
        }

        .sidebar {
            display: none;
        }
        footer table{
            width: 100%;
            margin-top: 2em;
        }
    </style>
    {% set variable_corte = 10 %}
    {% set ciclos = (entity.productosFactura|length // variable_corte) == 0 ? 1 : (entity.productosFactura|length // variable_corte)  %}
    {% set ciclos = variable_corte >= entity.productosFactura|length ? ciclos : ciclos + 1  %}
    {% set resto = entity.productosFactura|length % variable_corte %}

    {% for ciclo in 1..ciclos  %}
        <header style="width: 100%; text-align:center;">
            <table id="content" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr style="">
                        <th colspan="2" style="text-align: center!important;width: 40%;">
                            <img src="{{asset('logo.png')}}" style="width: 200px;margin-left: 20%;" />
                        </th>
                        <th style="text-align: center!important;" colspan="2">
                            <span style="text-align: center;font-size: 56px !important;">{{entity.tipofactura}}</span> <br /> <span style="font-size: 14px;">cod. {{nrocomprobante}}</span>
                        </th>
                        <th colspan="2" style="text-align: center!important;font-size: 26px!important; width: 40%;padding-right: 10%; ">{{ entity.tipofacturastr }}</th>
                    </tr>
                    <tr>
                        <th colspan="3" style="width:50%;">
                            <span style="font-weight: bold;font-size: 1.4em;">{{entity.unidadNegocio.descripcion|upper}}</span><br/>
                            <span style="font-size: 0.9em;">{{empresa_de}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">Punto de Vta: <span style="font-weight: normal;">{{entity.ptovtaPad}}</span> - Comp. Nro: <span style="font-weight: normal;">{{entity.nrofactura }}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3" style="padding-right: 5px;width:50%;">
                            <span style="font-weight: normal;"> {{entity.unidadNegocio.direccion}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">CUIT: <span style="font-weight: normal;">{{entity.unidadNegocio.cuit}}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3"  style="width:50%;">
                            IVA: <span style="font-weight: normal;">Responsable Inscripto</span>
                        </th>
                        <th colspan="3" style="width:50%;">IIBB - CM: <span style="font-weight: normal;">{{entity.unidadNegocio.iibb}}</span></th>
                    </tr>
                    <tr style="">
                        <th colspan="3" style="width:50%;padding-bottom: 1em;">
                            Fecha de Emisi&oacute;n: <span style="font-weight: normal;padding-bottom: 1em;">{{entity.fecha|date('d/m/Y')}}</span>
                        </th>
                        <th colspan="3" style="width:50%;padding-bottom: 1em;">
                            Fecha de Inicio de Actividades: <span style="font-weight: normal;">{{ inicio_actividades }}</span>
                        </th>
                    </tr>
                    <tr style="border-top: 1px solid #0000007a;">
                        <th colspan="3" style="padding-top: 1em;">Apellido y Nombre / Raz&oacute;n Social: <span style="font-weight: normal;">{{entity.clienteproveedor.razonSocial }}</span></th>
                        <th colspan="3" style="padding-top: 1em;">
                            {% if entity.clienteproveedor.cuit %}
                                CUIT: <span style="font-weight: normal;">{{entity.clienteproveedor.cuit}}</span>
                            {% else %}
                                DNI: <span style="font-weight: normal;">{{entity.clienteproveedor.dni}}</span>
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" style="">
                            IVA: <span style="font-weight: normal;">{{entity.clienteproveedor.condicionIva}}</span>
                        </th>
                        <th colspan="3">
                            Domicilio:
                            <span style="font-weight: normal;">
                                {{entity.sucursal.direccion}}
                            </span>
                        </th>
                    </tr>
                    {% if remitosoficiales|length>0 %}
                        <tr>
                            <td colspan="6" style="font-size: 1.1em; ">Remitos Oficiales asociados:
                                {% for remitooficial in remitosoficiales %}
                                    <a href="{{ path('remitooficial_show', {id: remitooficial.id}) }}"><b>#{{ remitooficial.numero }}</b></a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </thead>
            </table>
        </header>

        <div class="body">
            <table style="text-align: center; width: 100%; margin-top: 1%;border-top:  1px solid;border-bottom: 0px solid;">
                <tr style="">
                    <th>Rengl&oacute;n</th>
                    <th>C&oacute;digo</th>
                    <th style="width: 55%;">Nombre - N° Serie</th>
                    <th>Cant.</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th class="hidden">Sub. c/IVA</th>
                </tr>
                {% set desde = ciclo*variable_corte-variable_corte %}
                {% set hasta = (ciclo*variable_corte-1) < entity.productosFactura|length ? (ciclo*variable_corte-1) : (desde + (entity.productosFactura|length - desde))-1 %}

                {% for index in desde..hasta  %}
                    {% set prodFact = productos[index].productoFactura %}
                    {% set productoConsignacion = productos[index].productoConsignacion %}
                    <tr>
                        <td>
                            {{ prodFact.renglon|default(index+1) }}
                        </td>
                        <td>
                            {{ prodFact.stock ? prodFact.stock.producto.codigo : '' }}
                        </td>
                        <td>
                            {{ prodFact.descripcion ? prodFact.descripcion|replace({'*DEPÓSITO*: ': ""}) : prodFact.stock.producto.nombre }}
                            {{ productoConsignacion ? ' - Paciente: '~productoConsignacion.paciente : '' }}                            
                            {{ productoConsignacion ? ' - Obs: '~productoConsignacion.observaciones : '' }}
                        </td>
                        <td>
                            {{ prodFact.cantidad }}
                        </td>
                        <td>
                            $ {{ prodFact.precio }}
                        </td>
                        <td style="padding-left: 1px; padding-right: 1px;" class="hidden">
                            $ {{ ((prodFact.precio * prodFact.cantidad)/1.21)|number_format(2) }}
                        </td>
                        <td style="padding-left: 1px; padding-right: 1px;">
                            $ {{ prodFact.precio * prodFact.cantidad }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% if ciclos > 1 and (loop.index<ciclos)  %}
            <div class="saltopagina"></div>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    {% if entity.observacion is not empty  %}
        <table width='50%' id='tableObservacion'>
            <tr style="">
                <td colspan="8" class="text-left">
                    <label>Observaciones:</label>
                    {{entity.observacionLimpia}}
                </td>
            </tr>
        </table>
    {% endif %}
    <footer>

        <table>
            {% if entity.condicionpago %}
                <tr style="">
                    <td colspan="8" class="text-left">
                        <label>Condición de Pago:</label>
                        {{entity.condicionpago}}
                    </td>
                </tr>
            {% endif %}
            {#% if entity.cae == '' or entity.observacion is not empty  %}
                <tr style="">
                    <td colspan="8" class="text-left">
                        <label>Observaciones:</label>
                        {{entity.observacionLimpia}}
                    </td>
                </tr>
            {% endif %#}
            <tr>
                <th colspan="4" style="width: 50%;">
                </th>
                <th colspan="2" style="text-align: right;">
                    Importe Neto Gravado: $
                </th>
                <th colspan="2" style="text-align: right">
                    {{ (entity.importe)|number_format(2, ",", ".") }}
                </th>
            </tr>
            {%  for iva in entity.ivas %}
                {% if iva.tipoIva.porcentaje !=0 %}
                    <tr>
                        <th colspan="4" style="width: 50%;">
                        </th>
                        <th colspan="2" style="text-align: right;">
                            {{  iva.tipoiva }}: $
                        </th>
                        <th colspan="2" style="text-align: right">
                            {{ (iva.valor)|number_format(2, ",", ".") }}
                        </th>
                    </tr>   
                {% endif %}
            {% endfor %}
            <tr style="">
                <th colspan="4" class="numeroletras" style="width: 50%;"></th>
                <th colspan="2" style="text-align: right;">
                    Importe Total: $
                </th>
                <th colspan="2" style="text-align: right">
                    {{ entity.total|number_format(2, ',', '.') }}
                </th>
            </tr>
            <tr>
                <th colspan="4" style="width: 50%;">
                    {% if entity.cae %}
                        <img src="data:image/png;base64,{{ barcode }}">
                        <br/>
                        {{ codigobarras }}
                    {% endif %}
                </th>
                <th colspan="2" style="text-align: right;font-size: 16px;">
                    CAE N&#186;:
                </th>
                <th colspan="2" style="text-align: right;">
                    {{entity.cae}}
                </th>
            </tr>
        </table>
    </footer>

    <div id="oculto" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
        <a class="btn btn-info" onclick="document.title = 'FACTURA A - {{ entity.nrofactura }}';
                imprSelec()">
            <i class="fa fa-file"></i> Imprimir
        </a>
        <a class="btn btn-warning" href="{{ path('factura') }}">
            <i class="fa fa-arrow-left"></i>  Volver
        </a>
        {% if consignaciones|length>0 %}
            <div class="row" style="margin-top: 1em;">
                <div class="col-sm-12">
                    <h3>Control de Productos Consginados</h3>
                </div>
                <div class="col-sm-12 text-center">
                    <label>Productos en Factura</label> {{ cantidadFactura }}
                </div>
                <div class="col-sm-12 text-center">
                    <label>Productos en Consignación</label> {{ cantidadConsignacion }}
                </div>
                <div class="col-sm-12">
                    <label>Consignaciones asociados:</label>
                    {% for consignacion in consignaciones %}
                        <a href="{{ path('consignacion_show', {id: consignacion.id}) }}" target="_blank"><b>#{{ consignacion.numero }}</b></a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="col-sm-12">
            <h3>Observación Completa</h3>
            <p>{{ entity.observacion }}</p>
        </div>
    </div>

    <script language="Javascript">
        function imprSelec() {
            window.print();
        }
        $(document).ready(function () {
            $('.numeroletras').html('Son:' + NumeroALetras({{entity.importe}}));
        });
    </script>



{% endblock %}
