{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Creaci&oacute;n de Forma de pago
        <a class="btn btn-info btn-xs pull-right" href="{{ path('formapago') }}">
            Volver
        </a>
    </h2>

    <div class="joyas-container">
        <div class="container">
            {{ form(form) }}

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("input").attr('class', 'form-control');
        });
        activarActionsTab('formapago');
    </script>
{% endblock %}
