<option value="">Elegir Forma de Pago</option>
{% for formapago in formapagos %}           
    <option value="{{formapago.id}}"  >
        {{formapago.descripcion}}
    </option>                                
{% endfor %}


