{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
		Creación de Rubro
		<a href="{{ path('rubro') }}">
            Volver
        </a>
	</h2>
	<hr />
    <div class="gestion col-xs-12">
		{{ form(form) }}
	</div>
{% endblock %}
