<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('controlhorario') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha Desde Ingreso</label>
                <input type="date" value="{{app.request.get('fechaDesdeIngreso')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="fechaDesdeIngreso" placeholder="Fecha Desde Ingreso">
            </div>
            <div class="col-md-3">
                <label>Fecha Hasta Ingreso</label>
                <input type="date" value="{{app.request.get('fechaHastaIngreso')|default('NOW'|date('Y-m-d'))}}" name="fechaHastaIngreso" placeholder="Fecha Hasta Ingreso">
            </div>
            <div class="col-md-3">
                <label>Fecha Desde Egreso</label>
                <input type="date" value="{{app.request.get('fechaDesdeEgreso')}}" class="form-control" name="fechaDesdeEgreso" placeholder="Fecha Desde Egreso">
            </div>
            <div class="col-md-3">
                <label>Fecha Hasta Egreso</label>
                <input type="date" value="{{app.request.get('fechaHastaEgreso')}}" name="fechaHastaEgreso" placeholder="Fecha Hasta Egreso">
            </div>            
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label>Usuario</label>
                <input type="text" value="{{app.request.get('usuario')}}" class="form-control" name="usuario" placeholder="Usuario">
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
                <div class="col-md-6" >     
                    <br>
                    <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                        Buscar
                    </button>
                    <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                    </button>
                </div>
            {% else %}
                <div class="col-md-9" >     
                    <br>
                    <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                        Buscar
                    </button>
                    <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                    </button>
                </div>
            {% endif %}
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
    });

</script>
