{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>
        Carga de Fecha de Egreso de Control Horario
        <a class="btn btn-info btn-xs" href="{{path('controlhorario')}}">
            Volver
        </a>
    </h2>
    {{ form_start(edit_form) }}
    <div class="joyas-container" style="margin: 0 auto;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(edit_form.usuario) }}
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-6" >   
                    <div>
                        <label for="">Fecha de Ingreso</label>                       
                        <input class="form-control" type="text" value="{{ entity.fechaIngreso|date('d-m-Y H:m') }}" disabled  style="margin-bottom: 1em;">
                    </div>
                </div>
                <div class="col-md-6">                   
                    {{ form_row(edit_form.fechaEgreso) }}
                </div>                
            </div>
            <div class="row" style="display:none"> 

                {{ form_row(edit_form.fechaIngreso) }}

            </div>
            <div style="margin-bottom: 2%;margin-top: 2%;">
                {{ form_widget(edit_form.submit) }}
            </div>  
        </div>
    </div>
</div>
{{ form_end(edit_form) }}
<script>
    $('#appbundle_controlhorario_fechaEgreso').prop('readonly', true);
    $('#appbundle_controlhorario_fechaEgreso').prop('required', true);
</script>
{% endblock %}

