{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2 style="margin-bottom:10px;">
        Control de Horarios
        <a  class="btn btn-success pull-right" href="{{ path('controlhorario_new') }}">
            Crear
        </a>
    </h2>
    <hr/>
    {% include 'AppBundle:ControlHorario:buscador.html.twig' %}
    <hr />
    <div class="tablasScroll">
        <table id="tablaControlHorario" class="display">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Fecha de Ingreso</th>
                    <th>Fecha de Egreso</th>
                    <th>Usuario Carga Fec. de Ingreso</th>
                    <th>Usuario Carga Fec. de Egreso</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.usuario }}</td>
                        <td>{{ entity.fechaIngreso is defined ? entity.fechaIngreso|date('Y-m-d H:m') : 'Sin cargar' }}</td>
                        <td>{{ entity.fechaEgreso is defined ? entity.fechaEgreso|date('Y-m-d H:m') : 'Sin cargar' }}</td>
                        <td>{{ entity.usuarioCargaIngreso|default('Sin cargar') }}</td>
                        <td>{{ entity.usuarioCargaEgreso|default('Sin cargar') }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.usuario.unidadNegocio }}</td>
                        {% endif %}
                        <td>
                         
                            {% if entity.fechaEgreso is null %}
                                <a class="btn btn-warning" href="{{ path('controlhorario_edit', { 'id': entity.id }) }}" placehilder="Inserte Hora de salida"><i class="fa fa-clock-o"></i></a>
                                {% endif  %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            $('#tablaControlHorario').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
        });
    </script>
{% endblock %}
