{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>
        Nuevo Control Horario
        <a class="btn btn-info btn-xs" href="{{path('controlhorario')}}">
            Volver
        </a>
    </h2>

    {{ form_start(form) }}
    <div class="joyas-container" style="margin: 0 auto;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.usuario) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.fechaIngreso) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.fechaEgreso) }}
                </div>                
            </div>
            <div style="margin-bottom: 2%;margin-top: 2%;">
                {{ form_widget(form.submit) }}
            </div>  
        </div>
    </div>
    {{ form_end(form) }}
   <script>
       $('#appbundle_controlhorario_fechaIngreso').prop('readonly',true);
        $('#appbundle_controlhorario_fechaEgreso').prop('readonly',true);
       </script>

{% endblock %}
