{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form) }}
    <h2>
        Gasto
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%; " href="{{ path('facturaproveedor') }}">
            Ir a gastos
        </a>
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%; " onclick="goBack();">Volver</a> 
        {{ form_widget(form.submit) }}
    </h2>
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Gasto
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">        
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="informacion">
                            <h4>Información B&aacute;sica</h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="Proveedor">Proveedor</label>
                                    <h4>{{ entity.clienteProveedor }}</h4>
                                </div>
                                <div class="col-sm-8 col-sm-offset-2 hidden">                                    
                                    <label for="Proveedor">Proveedor</label>
                                    {{ form_widget(form.proveedor) }}
                                    <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciaproveedor"></div>
                                    <div class="hidden">
                                        {{ form_row(form.idsucursal) }}
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="col-md-3">
                                {{ form_row(form.cae) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.fechavtocae) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.fecha) }}
                            </div>
                            <div class="col-md-3">
                                <div class="col-sm-6">
                                    {{ form_row(form.mes) }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form_row(form.anio) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Tipo de Factura</label><br>
                                {{ entity.tipofactura }}
                            </div>
                            <div class="col-md-9">
                                <label>Unidad de Negocio</label>
                                <br/>
                                {{entity.unidadNegocio.descripcion}}
                            </div>
                            <div class="col-md-12 importes">
                                <div class="col-md-4 ">
                                    <label>Pto. Venta</label>
                                    <input name="puntoventa" type="number" title="Poner 0 si no tiene" data-toggle="tooltip" class="form-control" value="{{ entity.ptovta|default('') }}"  />
                                </div>
                                <div class="col-md-4 ">
                                    <label>Nro Factura</label>
                                    <input name="nrofactura" type="text" title="Nro de Factura" data-toggle="tooltip" class="form-control" value="{{entity.nrofactura|default('') }}" required="required"  />
                                </div>
                                <div class="col-md-4 ">
                                    <label>Importe Total</label>
                                    <input name="importetotal" id="importetotal" type="number" min="1" step="0.0001" data-toggle="tooltip" class="form-control" value="{{ entity.importe|default('') }}" required readonly/>
                                </div>
                                {#<div class="col-md-3">
                                    {{ form_row(form.subtotal) }}
                                </div>#}
                                <div class="col-md-4">
                                    {% for iva in entity.ivas  %}
                                        {% if  iva.tipoIva.porcentaje == '21' %}
                                            <label>Importe IVA 21%</label>
                                            <input name="importeiva21" value="{{ iva.valor }}" id="importeiva21" type="number" step="0.0001" class="form-control" value="{{ entity.ivas[0].valor|default('') }}" />
                                        {% endif %}
                                        {% if  iva.tipoIva.porcentaje == '10.5' %}
                                            <label>Importe IVA 10.5%</label>
                                            <input name="importeiva105" value="{{ iva.valor }}" id="importeiva105" type="number" step="0.0001" class="form-control" value="{{ entity.ivas[0].valor|default('') }}" />
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="col-md-4 importeReal">
                                    {{ form_row(form.bonificacion) }}
                                </div>
                                <div class="col-md-4 importeReal">
                                    {{ form_row(form.descuento) }}
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    {{ form_row(form.percepcionib) }}
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    {{ form_row(form.percepcioniva) }}
                                </div>
                                <div class="col-xs-4">
                                    {{ form_row(form.jurisdiccion) }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.observacion) }}
                            </div>
                            <div class="hidden">
                                {{ form_rest(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>
    {{ form_end(form) }}

    <script>
        var condicion;
        $(function () {
            $('#app_bundle_factura_percepcionib,#app_bundle_factura_percepcioniva,#app_bundle_factura_bonificacion,#app_bundle_factura_descuento,#app_bundle_factura_bonificacion,#importeiva21').prop('readonly', true);

            var mesAnio = '{{entity.mesanio}}';
            var array = mesAnio.split("/");
            $('#app_bundle_factura_mes').val(array[0]);
            $('#app_bundle_factura_anio').val(array[1]);

            $("#app_bundle_factura_proveedor").attr("autocomplete", "off");
            $("#app_bundle_factura_observacion").removeAttr("required");

            if ($("#app_bundle_factura_tipofactura").val() == "N/A") {
                $("#app_bundle_factura_cae").removeAttr("required");
                $("#nrofactura").removeAttr("required");
                $(".alicuotaiva").val(0);
            }
        });
        //Eventos
        $('#app_bundle_factura_submit').click(function (e) {
            e.preventDefault();
            if ($("#app_bundle_factura_subtotal").val() == '' || ($("#app_bundle_factura_subtotal").val() != '' )) {
                $('form').submit();
            }
        });

        $("#app_bundle_factura_descuento,#app_bundle_factura_bonificacion").change(function () {
            $(".real").each(function (index) {
                var i = $(this).data('id');
                $('#precioReal' + i).val(calcularPrecioReal(i));
            });
            calcular();
        });

        $("#app_bundle_factura_tipofactura").change(function () {
            if ($(this).val() == "N/A") {
                $("#app_bundle_factura_cae").removeAttr("required");
                $("#nrofactura").removeAttr("required");
            } else {
                $("#app_bundle_factura_cae").attr("required", "required");
                $("#nrofactura").attr("required", "required");
            }
        });


        {#function calcular() {
            var unidades = 0;
            var total = 0;
            var total21 = 0;
            var total105 = 0;

            for (i = 1; i <= 300; i++) {
              if ($('#idelemento' + i).val() !== '') {
                var alicuota = parseFloat($('#alicuota' + i).val());
                if ($('#cantidad' + i).val() != '' && $('#precioReal' + i).val() != '') {
                  unidades++;
                  var cantidad = parseFloat($('#cantidad' + i).val());
                  var precio = parseFloat($('#precioReal' + i).val());
                  total += cantidad * precio;
                  if (alicuota == 21) {
                    total21 += (cantidad * precio) * (alicuota / 100);
                  } else {
                    total105 += (cantidad * precio) * (alicuota / 100);
                  }
                }
              }
            }

            total += total21 + total105;

            $('#unidades').html(unidades);
            $('#importeiva21').val(total21.toFixed(4));
            $('#importeiva105').val(total105.toFixed(4));
            // Se muestran los totales en la solapa de productos
            $('#totales_text').html("<b>TOTAL:</b> $" + total.toFixed(4) + " - <b>IVA %21:</b> $" + total21.toFixed(4) + " - <b>IVA %10.5:</b> $" + total105.toFixed(4)+" - <b>U.:</b> "+unidades);

            if ($('#app_bundle_factura_bonificacion').val() !== '') {
              total -= parseFloat($('#app_bundle_factura_bonificacion').val());
            }
            if ($('#app_bundle_factura_percepcionib').val() !== '') {
              total += parseFloat($('#app_bundle_factura_percepcionib').val());
            }
            if ($('#app_bundle_factura_percepcioniva').val() !== '') {
              total += parseFloat($('#app_bundle_factura_percepcioniva').val());
            }
            if ($.isNumeric(total.toFixed(4)) && total.toFixed(4) > 0) {
              $('#app_bundle_factura_subtotal').val(total.toFixed(4));
            } else {
              $('#app_bundle_factura_subtotal').val('');
              // alert("El subtotal es menor que cero o bien se esta intentando sacar un porcentaje de descuento sobre un valor nulo. Es necesario cargar productos para poder calcular el subtotal.");
            }
          }#}
        {#function checkTotal() {
      if (parseFloat($("#importetotal").val()) != parseFloat($("#app_bundle_factura_subtotal").val())) {
        alert("Los montos no coinciden.");
        $("#app_bundle_factura_submit").removeClass('hidden');
        return false;
      } else {
        return true;
      }
    }#}
    </script>
    <style>
        .importes{
            border-top: 0.1px solid #e8e8e8;
            border-bottom: 0.1px solid #e8e8e8;
            padding: 1em 0em;
            margin: 1em 0em;
            display: table;
        }
    </style>
{% endblock %}
