{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Gastos
                <a  href="{{ path('gasto_new') }}">
                    Registrar gastos
                </a>
            </h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container" style="margin-bottom: 2%;">
        <form action="{{ path('gasto') }}" method="GET">
            <div class="row">               
                <div class="col-md-3"> 
                    <label>Fecha Desde</label>
                    <input type="date" value="{{app.request.get('desde')}}" class="form-control" name="fecha_desde" placeholder="fecha desde">
                </div>               
                <div class="col-md-3">
                    <label>Fecha Hasta</label>
                    <input type="date" value="{{app.request.get('hasta')}}" class="form-control" name="fecha_hasta" placeholder="fecha hasta">
                </div>
                <div class="col-md-3">
                    <label>Tipo de Gasto</label>
                    <select name="tipoGasto" class="col-xs-12" id="tipoGasto">              
                        {{ render(controller('AppBundle:TipoGasto:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Proveedor</label>
                    <select name="proveedor" class="col-xs-12" id="proveedor">              
                        {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'2'})) }}                                                                          
                    </select>
                </div>
            </div>
            <div class="row">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="col-md-3">
                        <label>Unidad de Negocio</label>
                        <select name="unidad" class="col-xs-12" id="unidad">              
                            {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                        </select>
                    </div>
                {% endif %}
                <div class="col-md-3" style="padding-top: 1px;">
                    <br>
                    <button class="btn btn-primary btn-sm" type="submit">
                        Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="tablasScroll">
        <table id="tablaGasto" class="display">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Documento</th>
                    <th>Tipo de Gasto</th>
                    <th>Proveedor</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                    <th>Importe</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td><a href="{{ path('gasto_show', { 'id': entity.id }) }}">{{ entity|raw }}</a></td>
                        <th>{{entity.tipoGasto }}</th>
                        <td>
                            <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity.clienteproveedor.id }) }}">
                                {{ entity.clienteproveedor|default("") }}
                            </a>
                        </td>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadNegocio }}</td>
                        {% endif %}
                        <td>$ {{ entity.importe }}</td>
                        <td>
                            <a href="{{ path('gasto_edit', {id: entity.id}) }}" class="btn btn-warning">Editar</a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}                                
                                <button class="btn btn-danger" onclick="confirmarBorrado('{{ path('gasto_delete', {id: entity.id}) }}')">
                                    <i class="fa fa-trash"></i>
                                </button>                                
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            $('#tablaGasto').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });

            var unidad = '{{app.request.get('unidad')}}';
            $('#unidad').val(unidad).change();
            var proveedor = '{{app.request.get('proveedor')}}';
            $('#proveedor').val(proveedor).change();
            var tipoGasto = '{{app.request.get('tipoGasto')}}';
            $('#tipoGasto').val(tipoGasto).change();
        });
    </script>


{% endblock %}
