<!-- Buscador -->
<div class="container">
    <form action="{{ path('gasto_informecuentasporpagar') }}" method="GET">
        <div class="row">            
            <div class="col-md-3">
                <label>Proveedor</label>
                <select name="proveedor" class="selectpicker col-xs-12"  id="proveedor" data-show-subtext="true" data-live-search="true" >                               
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'2'})) }}
                </select>
            </div>            
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
                <br>
                <div class="col-xs-6" >                
                    <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                        Buscar
                    </button>
                    <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                    </button>
                </div>
            {% else %}
                <div class="col-xs-9" >                
                    <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                        Buscar
                    </button>
                    <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                        <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                    </button>
                </div>
            {% endif %}
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var proveedor = '{{app.request.get('proveedor')}}';
        $('#proveedor').val(proveedor).change();
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
    });

</script>
