{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe Cuentas por Pagar - Gastos      
    </h2>   
    <hr />
    {% include 'AppBundle:Gasto:informeCuentasPorPagarBuscador.html.twig' %}
    <hr>
    <div id="totalPagar">Total a pagar: </div>

    <table id="tablaCuentasPorPagar" class="display" >
        <thead>
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Unidad de Negocio</th>
                    {% endif %}
                <th>Raz&oacute;n Social</th>
                <th>Fecha &Uacute;ltimo Gasto</th>
                <th>$ &Uacute;ltimo Gasto</th>
                <th>Fecha &Uacute;ltimo Pago</th>  
                <th>$ &Uacute;ltimo Pago</th>                
                <th>Saldo Actual</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr class="cuentas" data-proveedorid="{{ entity[0].clienteProveedor.id }}" >
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td ></td>
                    {% endif %}
                    <td>
                        <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity[0].clienteProveedor.id }) }}">
                            {{ entity[0].clienteProveedor.razonSocial }}
                        </a>                        
                    </td>
                    <td>{{ entity.fechaGasto|date('Y-m-d') }}</td>
                    <td>$ {{ entity[0].importe }}</td>
                    <td >                        
                    </td>
                    <td ></td>      
                    <td ></td>                          
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-sm-12">        
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            var totalPagar = 0;
            var set = $('.cuentas');
            var length = set.length;
            var contador = 0;
            var table = $('#tablaCuentasPorPagar').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');
            set.each(function (index) {
                var id = $(this).data('proveedorid');
                $.post('{{path('pago_getultimopago')}}', {'id': id})
                        .done(function (pago) {
        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                table.cell(index, 0).data(pago.unidadNegocio).draw();
                                table.cell(index, 4).data(pago.fecha).draw();
                                table.cell(index, 5).data('$ ' + pago.importe).draw();
                                table.cell(index, 6).data('$ ' + pago.saldo).draw();
        {%else%}

                                table.cell(index, 3).data(pago.fecha).draw();
                                table.cell(index, 4).data('$ ' + pago.importe).draw();
                                table.cell(index, 5).data('$ ' + pago.saldo).draw();

        {% endif %}
                                totalPagar = totalPagar + parseFloat(pago.saldo);
                                contador++;
                                if (contador === length) {
                                    $('#totalPagar').append('$ ' + Math.round(totalPagar));
                                }
                            });
                });
            });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
