{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe de Gastos       
    </h2>
    <hr/>
    {% include 'AppBundle:Gasto:buscadorInforme.html.twig' %}
    <hr />
    <div class="gestion">
        {% set totalPagina=0 %}
        <table id="tablaInformeGasto" class="display" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Documento</th>
                    <th>Tipo Gasto</th>
                    <th>Proveedor</th>                   
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de negocio</th>
                        {% endif %}
                    <th>Importe ($)</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}                
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('gasto_show', { 'id': entity.id }) }}">{{ entity|raw }}</a>
                        </td>
                        <td>{{ entity.tipoGasto }}</td>
                        <td>{{ entity.clienteProveedor }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadNegocio }}</td>
                        {% endif %}
                        <td>$ {{ entity.importe }}</td>
                    </tr>               
                {% endfor %}
            </tbody>          
            <tfoot>
                <tr>
                    <th colspan="{% if is_granted('ROLE_SUPER_ADMIN') %}4{% else %}3{% endif %}">
                        Total de p&aacute;gina: $ {{totalPagina|round(2)}}
                    </th>
                    <th colspan="4">
                        Total de gastos del Per&iacute;odo: $ {{total|round(2)}}
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-12">        
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            $('#tablaInformeGasto').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');


        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
