{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form) }}
    <h2>
        Gasto
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%; " onclick="goBack();">Volver</a>       
        <a class="btn btn-info btn-xs pull-right" style="margin-left:1%; " href="{{ path('gasto') }}">
            Ir a lista de gastos
        </a>
        {{ form_widget(form.submit) }}        
    </h2>
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alta de Gasto                   
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <div class="tab-content">
                        <h3>Informaci&oacute;n de Gasto</h3>
                        <div class="tab-pane fade in active" id="informacion">                           
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button id="borrarProveedor" style="float: right;" type="button" class="btn btn-xs btn-danger" >
                                        Borrar <i class="fa fa-trash"></i>
                                    </button>                                    
                                    {{ form_row(form.proveedor) }}
                                    <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciaproveedor"></div>
                                    <div class="hidden">
                                        {{ form_row(form.idsucursal) }}
                                    </div>
                                </div>
                            </div>
                            <hr/>

                            <div id="contenido">    
                                <div class="col-xs-6">
                                    {{ form_row(form.tipoGasto) }}
                                </div>
                                <div class="col-xs-6">
                                    {{ form_row(form.condicionpago) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.cae) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.fechavtocae) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.fecha) }}
                                </div>
                                <div class="col-md-3">
                                    <div class="col-sm-6">
                                        {{ form_row(form.mes) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_row(form.anio) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.tipofactura) }}
                                </div>                            
                                <div class="col-md-9 {{ is_granted('ROLE_SUPER_ADMIN') ? '' : 'hidden'}}">
                                    {{ form_row(form.unidadNegocio) }}
                                </div>

                                <div class="col-md-12 importes">
                                    <div class="col-xs-3">
                                        <label>Pto. Venta</label>
                                        <input name="puntoventa" type="number" title="Poner 0 si no tiene" data-toggle="tooltip" class="form-control" value="{{ app.request.get('puntoventa')|default('') }}" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Nro Factura</label>
                                        <input name="nrofactura" id="nrofactura" type="text" title="Nro de Factura" data-toggle="tooltip" class="form-control" value="{{ app.request.get('nrofactura')|default('') }}" required="required" />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Sub Total</label>
                                        <input name="subtotal" id="subtotal" type="number" min="1" step="0.01" data-toggle="tooltip" class="form-control" value="{{ app.request.get('subtotal')|default('') }}" required />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Total</label>
                                        <input name="total" id="total" type="number" min="1" step="0.01" data-toggle="tooltip" class="form-control" value="{{ app.request.get('total')|default('') }}" required readonly />
                                    </div>                                
                                    <div class="col-xs-3">
                                        <label>Importe IVA 21%</label>
                                        <input name="importeiva21" id="importeiva21" type="number" step="0.0001" class="form-control importe21"  />
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Importe IVA 10.5%</label>
                                        <input name="importeiva105" id="importeiva105" type="number" step="0.0001" class="form-control importe105"  />
                                    </div>
                                    <div class="col-xs-3 importeReal">
                                        {{ form_row(form.bonificacion) }}
                                    </div>
                                    <div class="col-xs-3 importeReal">
                                        {{ form_row(form.descuento) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_row(form.percepcionib) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_row(form.percepcioniva) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_row(form.jurisdiccion) }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    {{ form_row(form.observacion) }}
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>
    {{ form_end(form) }}

    <script>
        $(function () {
            $("#contenido").find("*").prop("disabled", true);
            $("#joyas_joyasbundle_factura_submit").addClass('btn-xs');
            $("#joyas_joyasbundle_factura_proveedor").attr("autocomplete", "off");

        });

        $('#borrarProveedor').click(function () {
            $('#app_bundle_factura_proveedor, #app_bundle_factura_idsucursal').val('').removeAttr('readonly');
            $('#contenido').find('*').prop('disabled', true);

        });

        //Eventos
        $("#app_bundle_factura_proveedor").keyup(function () {
            predictivaProveedor();
        });
        $("#app_bundle_factura_tipofactura").change(function () {
            if ($(this).val() == "N/A") {
                $("#app_bundle_factura_cae").removeAttr("required");
                $("#nrofactura").removeAttr("required");
            } else {
                $("#app_bundle_factura_cae").attr("required", "required");
                $("#nrofactura").attr("required", "required");
            }
        });

        $("#importeiva21,#importeiva105,#subtotal,#app_bundle_factura_descuento,#app_bundle_factura_bonificacion,#app_bundle_factura_percepcionib,#app_bundle_factura_percepcioniva").change(function () {
            if ($(this).hasClass('importe21')){
                $('#importeiva105').val('');
            }
            if ($(this).hasClass('importe105')){
                $('#importeiva21').val('');
            }
            calcular();
        });

        function predictivaProveedor() {
            $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#app_bundle_factura_proveedor").val(), tipo: 2})
                    .done(function (data) {
                        $('#sugerenciaproveedor').fadeIn(500).html(data);
                        $('.suggest-element').on('click', function () {
                            var id = $(this).attr('id');
                            var proveedor = $('a[data="' + id + '"]').html();
                            $('#app_bundle_factura_idsucursal').val(id);
                            $('#app_bundle_factura_proveedor').val(proveedor).prop('readonly', 'readonly');
                            $("#contenido").find("*").removeProp("disabled");
                            $('#sugerenciaproveedor').fadeOut(500).html("");
                        });
                    });
        }

        /*
         * 
         * @returns {undefined}
         */
        function calcular() {

            var total = 0;
            if ($('#subtotal').val() !== '') {
                total = parseFloat($('#subtotal').val());
            }

            if ($('#app_bundle_factura_descuento').val() !== '') {
                total =total*(1-parseFloat($('#app_bundle_factura_descuento').val())/100);
            }

            if ($('#app_bundle_factura_bonificacion').val() !== '') {
                total -= parseFloat($('#app_bundle_factura_bonificacion').val());
            }

            if ($('#app_bundle_factura_percepcionib').val() !== '') {
                total += parseFloat($('#app_bundle_factura_percepcionib').val());
            }
            if ($('#app_bundle_factura_percepcioniva').val() !== '') {
                total += parseFloat($('#app_bundle_factura_percepcioniva').val());
            }
            if ($('#importeiva21').val() !== '') {
                total += parseFloat($('#importeiva21').val());
            }
            if ($('#importeiva105').val() !== '') {
                total += parseFloat($('#importeiva105').val());
            }
            if ($.isNumeric(total.toFixed(2)) && total > 0) {
                $('#total').val(parseFloat(total.toFixed(2)));
            } else {
                $('#total').val('');
                alert("El subtotal es menor que cero o bien se esta intentando sacar un porcentaje de descuento sobre un valor nulo. Es necesario cargar productos para poder calcular el subtotal.");
            }
        }

    </script>
    <style>
        .importes{
            border-top: 0.1px solid #e8e8e8;
            border-bottom: 0.1px solid #e8e8e8;
            padding: 1em 0em;
            margin: 1em 0em;
            display: table;
        }
    </style>
{% endblock %}
