{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>
        Nuevo Gasto
        <a class="btn btn-info btn-xs" href="{{path('gasto')}}">
            Volver
        </a>
    </h2>
    {% if is_granted('ROLE_ADMIN')  %}
        {% include 'AppBundle:Cheque:modalSeleccionUnidad.html.twig' %}
    {% endif %}
    {{ form_start(form) }}
    <div class="joyas-container" style="margin: 0 auto;">
        <div class="container">
            <div style="margin-bottom: 2%;margin-top: 2%;">
                {{ form_widget(form.submit) }}
            </div>
            <div class="col-md-6">               
                <label>Seleccione Proveedor</label>
                <select name="clienteProveedor" class="col-xs-12 select2" id="idproveedor" required>
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'2'})) }}                                                                          
                </select>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-6">
                    <label>Unidad de Negocio</label>
                    <select name="unidad" class="col-xs-12" id="unidad" required>              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
            <div class="col-md-6 hidden">
                <label>Numeraci&oacute;n autom&aacute;tica</label>
                <input type="checkbox" name="auto" id="auto" value="true" checked="true" />
            </div>
            <div class="col-md-6">
                <label>Nro. de Comprobante</label>
                {{ form_widget(form.nrocomprobante) }}
            </div>
            <div class="col-md-6">
                <label>Tipo de Gasto</label>
                {{ form_widget(form.tipoGasto) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.fecha) }}
            </div>
            <div class="col-md-6">
                <label>Punto de Venta</label>
                {{ form_widget(form.puntoventa) }}
            </div>
            <div class="col-md-12" style="margin-top: 2%;margin-bottom: 1%; font-size: 20px;color: #00006f;">
                <strong>
                    Medios (<span id="resmedio"></span>) +
                    Cheques (<span id="rescheques"></span>) +
                    Percepciones (<span id="resretenciones"></span>) = <span id="restotal"></span>
                </strong>
            </div>
            <div class="col-md-12" style="margin-top: 2%;">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#medios" data-toggle="tab" aria-expanded="true">Medios</a>
                    </li>
                    <li class=""><a href="#chequess" data-toggle="tab" aria-expanded="false">Cheques</a>
                    </li>
                    <li class=""><a href="#retenciones" data-toggle="tab" aria-expanded="false">Retenciones</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="medios">
                        <p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Medio
                                    </th>
                                    <th>
                                        Importe
                                    </th>
                                    <th>
                                        Nro Tr.
                                    </th>
                                    <th>
                                        Nro. Cupón
                                    </th>
                                    <th>
                                        Cuotas
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medio in medios %}
                                    <tr>
                                        <td>
                                            <strong>{{ medio.descripcion }}</strong>
                                            <input type="hidden" name="medio{{ medio.id }}" value="{{ medio.id }}" />
                                        </td>
                                        <td>
                                            <input type="number" step="0.1" min="0" name="importemedio{{ medio.id }}" class="importemedio" value="{{ app.request.get('importe'~medio.id) }}"/>
                                        </td>
                                        <td>
                                            <input type="number" min="0" name="numerotransaccion{{ medio.id }}" fechavalue="{{ app.request.get('numerotransaccion'~medio.id) }}"/>
                                        </td>
                                        <td>
                                            <input type="number" min="0" name="numerocupon{{ medio.id }}" value="{{ app.request.get('numerocupon'~medio.id) }}"/>
                                        </td>
                                        <td>
                                            <input type="number" min="0" name="cuotas{{ medio.id }}" value="{{ app.request.get('cuotas'~medio.id) }}"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="chequess">
                        <div class="col-md-12">
                            <strong>Cheques</strong>
                        </div>
                        <div class="col-md-12">
                            <select name="selectcheques[]" id="selectcheques" multiple onblur="resultado();
                                    " style="height: 200px; overflow-x: auto;">
                                {% for cheque in cheques %}
                                    <option value="{{cheque.id}}">
                                        BANCO: {{cheque.banco}} - TIPO: {{cheque.tipocheque}} -
                                        EMISI&Oacute;N: {{cheque.fechaemision|date('Y-m-d')}} - COBRO: {{cheque.fechacobro|date('Y-m-d')}} -
                                        NRO: {{cheque.nrocheque}} - IMPORTE: {{cheque.importe}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <h2>     
                                <a id="vaciarCheques" class="btn btn-danger btn-xs pull-left">
                                    Vaciar Cheques seleccionados
                                </a>
                                <a id="seleccionarUnidad" class="btn btn-primary btn-xs pull-right">
                                    Nuevo Cheque
                                </a>
                            </h2>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="retenciones">
                        <div class="col-md-12" style="font-weight:bold; text-align:center;">
                            <div class="col-sm-2">CALCULAR</div>
                            <div class="col-sm-5">DESCRIPCI&Oacute;N</div>
                            <div class="col-sm-5">IMPORTE</div>
                        </div>
                        {% for ret in tiporetenciones %}
                            <div class="col-md-12">
                                <div class="col-sm-2"><input type="checkbox" class="calcularetencion" id="check{{ret.id}}" value="retencionimporte{{ret.id}}" /></div>
                                <div class="col-sm-5"><input type="text" readonly="readonly" name="retencion{{loop.index}}" value="{{ret.descripcion}}" /></div>
                                <div class="col-sm-5"><input type="text" readonly="readonly" placeholder="Importe" id="retencionimporte{{ret.id}}" name="retencionimporte{{loop.index}}" /></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr />
                <strong>Observaciones</strong>
                {{ form_widget(form.descripcion) }}
            </div>
            <div style="display:none;">
                {#<input name="resmedio" id="resmedio" />#}
                {{ form(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <script>
        $('.importemedio').keyup(function () {
            resultado();
        });

        $('#seleccionarUnidad').click(function () {
            $('#myModal').modal('show');
        });
        $('#vaciarCheques').click(function () {
            $('#selectcheques option:selected').removeAttr('selected');
            resultado();
        });

        $(document).ready(function () {
            $("input").addClass('form-control');           
        });
        $('#app_bundle_gasto_submit').click(function (e) {
            if ($('#app_bundle_gasto_importe').val() == '' || $('#app_bundle_gasto_importe').val() == 0) {
                e.preventDefault();
                alert('No puede generarse un gasto en cero');
            }
        });

        $('.calcularetencion').click(function () {
            var idretimp = $(this).val();
            if ($(this).is(':checked')) {
                $('#' + idretimp).removeAttr('readonly');
                var res = idretimp.split("retencionimporte");

                $.post('{{path('gasto')}}', {data: res[1], data2: $('#idproveedor').val(), data3: $('#totalneto').val()})
                        .done(function (data) {
                            $('#' + idretimp).val(Math.round(data * 100) / 100);
                            resultado();
                        });

            } else {
                $('#' + idretimp).attr('readonly', 'readonly').val('');
                resultado();
            }
        });

        $("input[type=text]").blur(function () {
            resultado();
            var id = $(this).attr('id');
            if (id.indexOf('retencionimporte') == '-1') {
                // Calculo las retenciones checkeadas
                $("input[type=checkbox]:checked").each(function () {
                    var idretimp = $(this).val();
                    if ($(this).val() != 'true' && $(this).is(':checked')) {
                        $('#' + idretimp).removeAttr('readonly');
                        var res = idretimp.split("retencionimporte");
                        $.post('{{path('gasto')}}', {data: res[1], data2: $('#idproveedor').val(), data3: $('#totalneto').val()})
                                .done(function (data) {
                                    $('#' + idretimp).val(Math.round(data * 100) / 100);
                                    resultado();
                                });
                    }
                });
            }
        });

        function resultado() {

            var importemedios = 0;
            $('.importemedio').each(function () {
                if (this.value !== '') {
                    importemedios += parseFloat(this.value);
                }
            });

            var retenciones = 0;
            var cheques = 0;
            var total = 0;

            $("#selectcheques option:selected").each(function () {
                var res = $(this).text().split('IMPORTE: ');
                cheques = cheques + parseFloat(res[1]);
            });

            for (var i = 1; i <={{tiporetenciones|length}} ; i++) {
                if ($('input[name=retencionimporte' + i + ']').val() != '') {
                    retenciones = retenciones + parseFloat($('input[name=retencionimporte' + i + ']').val());
                }
            }
            if (isNaN(retenciones)) {
                retenciones = 0;
            }
            if (isNaN(cheques)) {
                cheques = 0;
            }
            if (isNaN(importemedios)) {
                importemedios = 0;
            }
            total = retenciones + cheques + importemedios;
            $("#resmedio").html(importemedios);
            $("#rescheques").html(Math.round(cheques * 100) / 100);
            $("#resretenciones").html(Math.round(retenciones * 100) / 100);
            $("#restotal").html(Math.round(total * 100) / 100);
            var totalneto = cheques + importemedios;
            $("#totalneto").val(totalneto);

            $("#app_bundle_gasto_importe").val(total);
        }

    </script>
    <style>
        #cheques .col-md-12 .col-xs-3,#cheques .col-md-12 .col-xs-2, #cheques .col-md-12 .col-xs-4,#cheques .col-md-12 .col-xs-6{
            padding-right:0px;
            padding-left:0px;
        }
        #cheques .col-md-12{
            margin-top: 1%;
            margin-bottom: 1%;
        }

        #retenciones .col-md-12{
            margin-top: 1%;
            margin-bottom: 1%;
        }

    </style>

{% endblock %}
