{% extends 'AppBundle::base.html.twig' %}

{% block content -%}

    <div class="col-md-12" style="width: 100%;">
        <h2 style="text-align:center;">
            Orden de Pago
        </h2>
        <div class="col-md-12">
            <div class="col-md-12" style="font-size: 10px;text-align:center;">
                Documento no v&aacute;lido como factura
            </div>
            <div class="col-xs-6">
                <div class="col-xs-4">
                    <img width="100px" src="{{asset('logo.png')}}">
                </div>
                <div class="col-xs-8">
                    {{entity.unidadnegocio.descripcion}}<br />
                    {{entity.unidadnegocio.direccion}}<br />
                    {{entity.unidadnegocio.mail}}<br />
                </div>
            </div>
            <div class="col-xs-6">
                CUIT: {{entity.unidadnegocio.cuit}}<br />
                Ingresos Brutos: {{entity.unidadnegocio.iibb}}<br />
                IVA Responsable Inscripto
            </div>
            <div class="col-md-12" style="text-align: left;">
                Nro "{{entity.nrocomprobante}}" - Pto. Vta: {{entity.puntoventa}}<br /><br />
                Concepto: <strong>GASTO</strong> - Tipo: <strong>{{entity.tipoGasto}}</strong> <br />
                Fecha: <strong>{{ entity.fecha|date('d-m-Y') }}</strong><br /><br />
                Pagu&eacute; a {{entity.clienteProveedor}}<br />
                domiciliado en {{entity.clienteProveedor.domiciliocomercial}}<br />
                IVA {{entity.clienteProveedor.condicioniva}} CUIT {{entity.clienteProveedor.cuit}}<br />
                la suma en pesos <span id="numeroletras"></span>
            </div>
            <div class="col-md-12" style="margin-bottom: 1%;margin-top: 1%;">
                <table width="100%" style="text-align: center;" border="solid" >
                    <thead>
                        <tr>
                            <th>Forma</th>
                            <th>Tipo Retenci&oacute;n</th>
                            <th>Banco</th>
                            <th>Nro. Tr.</th>
                            <th>Nro. Cupón</th>
                            <th>Cuotas</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for retencion in entity.retenciones %}
                            <tr>
                                <td>Retenci&oacute;n</td>
                                <td>{{retencion.tiporetencion}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$ {{retencion.importe}}</td>
                            </tr>
                        {% endfor %}
                        {% for mediodocumento in entity.medios %}
                            <tr>
                                <td>{{ mediodocumento.medio.descripcion }}</td>
                                <td></td>
                                <td></td>
                                <td>{{ mediodocumento.numerolote|default('') }}</td>
                                <td>{{ mediodocumento.numerocupon|default('') }}</td>
                                <td>{{ mediodocumento.cuotas|default('') }}</td>
                                <td>$ {{ mediodocumento.importe }}</td>
                            </tr>
                        {% endfor %}

                        {% for cheque in entity.cheques %}
                            <tr>
                                <td>CHEQUE {{ cheque.nrocheque }}</td>
                                <td></td>
                                <td>{{ cheque.banco }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$ {{ cheque.importe }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if entity.descripcion != ''%}
            <div class="col-md-12" style="text-align:left;">
                <div class="col-md-12" style="text-align:left;">
                    <strong>Observaciones</strong><br />
                    {{ entity.descripcion|raw }}
                </div>
            </div>
        {% endif %}
        <div class="col-md-12" style="text-align: right;margin-bottom: 5px;margin-top: 5px;">
            <div class="col-md-12" style="text-align:left;">
                <h4>TOTAL: $ {{ entity.importe }}</h4>
            </div>
        </div>
    </div>
    <div id="volver" class="col-md-12" style="margin-top:2%;">
        <div style="text-align: center;" class="col-md-12">
            <a class="btn btn-info btn-xs" href="{{ path('pagoasignacion', {id: entity.clienteProveedor.id})}}">
                Cuenta Corriente
            </a>
            <a class="btn btn-success btn-xs" href="javascript:imprimir()">
                Imprimir
            </a>
            <a class="btn btn-primary btn-xs" href="{{ path('gasto') }}">
                Ir a Gastos
            </a>
            <a class="btn btn-warning btn-xs" href="javascript:goBack()">
                Volver
            </a>
        </div>
    </div>
    <script>

        //activarActionsTab('documento');

        $(document).ready(function () {
            $('#numeroletras').html(NumeroALetras({{entity.importe}}));
        });

        function imprimir()
        {
            window.print();
        }

    </script>
{% endblock %}
