{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Creaci&oacute;n de Subcategor&iacute;a</h2>

    <div class="joyas-container">
		<div class="container">
			{{ form(form) }}
			<a class="btn btn-info btn-xs" href="{{ path('subcategoria') }}">
				Volver
			</a>
		</div>
	</div>
<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
	});	
</script>
{% endblock %}
