<option value="">Elegir una Subcategor&iacute;a</option>
{% for subcategoria in subcategorias %}           
    <option value="{{subcategoria.id}}" >
        {{subcategoria.descripcion}}
    </option>                                
{% endfor %}



