<!-- Buscador -->
<div class="row">
    <form action="{{ path('cheque') }}" method="GET">
        <div class="col-md-2">
            <input type="number" min="1" id="idCheque" value="{{app.session.get('bIdCheque')}}" class="form-control" name="idCheque" placeholder="Id Cheque" autocomplete="off">
        </div>
        <div class="col-md-3">
            <select name="estado" id="estado" class="form-control">
                <option value="">
                    Elegir Estado
                </option>
                <option value="A">
                    Activo
                </option>
                <option value="C">
                    Conciliado
                </option>
                <option value="D">
                    Depositado
                </option>
                <option value="E">
                    Eliminado
                </option>
                <option value="Z">
                    Rechazado
                </option>
                <option value="U">
                    Usado
                </option>
            </select>
        </div>
        <div class="col-md-3">
            <select name="banco" class="selectpicker col-xs-12"  id="banco" data-show-subtext="true" data-live-search="true" >                               
                {{ render(controller('AppBundle:Banco:renderSelect', {'estado':'A'})) }}
            </select>
        </div>
        <div class="col-md-4">
            <select name="tipoCheque" class="selectpicker col-xs-12"  id="tipoCheque" data-show-subtext="true" data-live-search="true" >                               
                {{ render(controller('AppBundle:TipoCheque:renderSelect', {'estado':'A'})) }}
            </select>
        </div>

        <div class="col-md-3">
            <input type="text" id="fechaEmisionDesde" value="{{app.session.get('bFechaEmisionDesde')}}" class="form-control" name="fechaEmisionDesde" placeholder="Fecha Emisi&oacute;n desde" autocomplete="off">
        </div>
        <div class="col-md-3">
            <input type="text" id="fechaEmisionHasta" value="{{app.session.get('bFechaEmisionHasta')}}" class="form-control" name="fechaEmisionHasta" placeholder="Fecha Emisi&oacute;n hasta" autocomplete="off">
        </div>
        <div class="col-md-3">
            <input type="text" id="fechaCobroDesde" value="{{app.session.get('bFechaCobroDesde')}}" class="form-control" name="fechaCobroDesde" placeholder="Fecha Cobro desde" autocomplete="off">
        </div>
        <div class="col-md-3">
            <input type="text" id="fechaCobroHasta" value="{{app.session.get('bFechaCobroHasta')}}" class="form-control" name="fechaCobroHasta" placeholder="Fecha Cobro hasta" autocomplete="off">
        </div>
        <div class="col-md-5">
            <input type="text" id="nro" value="{{app.session.get('bNro')}}" class="form-control" name="nro" placeholder="N&uacute;mero" autocomplete="off">
        </div>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-5">
                <select name="unidadNegocio" class="selectpicker col-xs-12"  id="unidadNegocio" data-show-subtext="true" data-live-search="true" >                               
                    {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}
                </select>
            </div>
        {% endif %}
        <div class="col-md-2">
            <button class="btn btn-info" title="Buscar" type="submit" >
                <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-default" title="Reestablecer B&uacute;squeda" type="reset" >
                <i class="fa fa-undo"></i>
            </button>
        </div>
    </form>
</div>
<script>
    $(function () {
        var estado = '{{app.session.get('bEstado')}}';
        $('#estado').val(estado).change();
        var banco = '{{app.session.get('bBanco')}}';
        $('#banco').val(banco).change();
        var tipoCheque = '{{app.session.get('bTipoCheque')}}';
        $('#tipoCheque').val(tipoCheque).change();
        var unidadNegocio = '{{app.session.get('bUnidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
    });

</script>
