{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Cheques Disponibles       
        <a  id="nuevoCheque" >
            Nuevo Cheque
        </a>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% include 'AppBundle:Cheque:modalSeleccionUnidad.html.twig' %}
        {% endif %}
    </h2>
    
    {% include 'AppBundle:Cheque:buscador.html.twig' %}

    <table id="tablaCheques" class="display" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Banco y N°</th>
                <th>Tipo</th>
                <th>Emisi&oacute;n</th>
                <th>Cobro</th>
                <th>Desde</th>
                <th>Hasta</th>
                    {% if  is_granted('ROLE_SUPER_ADMIN') == false %}
                    <th style="display: none;">
                    {% else %}
                    <th>
                    {% endif %}
                    Unidad</th>
                <th>Importe</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}
            {% for entity in entities %}
                <tr>
                    <td >
                        {{ entity.id }}
                    </td>
                    {% if entity.estado == 'A' %}
                        {% set total = total + entity.importe %}                        
                    {% endif %}
                    <td style="color: {{ entity.color }};">
                        {{entity.estadoActual }}
                    </td>
                    <td>{{ entity.banco }}, Nro. {{ entity.nrocheque }}</td>
                    <td>{{ entity.tipocheque }}</td>
                    <td>{{ entity.fechaemision|date('Y-m-d') }}</td>
                    <td>{{ entity.fechacobro|date('Y-m-d') }}</td>
                    <td>
                        {% if entity.cobranza %}
                            <a href="{{ path('cobranza_show', { 'id': entity.cobranza.id }) }}">
                                COBRO {{ entity.cobranza.id }}
                            </a>
                        {% else %}
                            Alta Manual
                        {% endif %}</td>
                    <td>
                        {% if entity.pago %}
                            <a href="{{ path('pago_show', { 'id': entity.pago.id }) }}">
                                PAGO {{ entity.pago.id }}
                            </a>
                        {% elseif entity.gasto %}
                            <a href="{{ path('gasto_show', { 'id': entity.gasto.id }) }}">
                                GASTO {{ entity.gasto.id }}
                            </a>
                        {% endif %}
                    </td>
                    {% if  is_granted('ROLE_SUPER_ADMIN') == false %}
                        <td style="display: none;">
                        {% else %}
                        <td>
                        {% endif %}
                        {{ entity.unidadNegocio }}
                    </td>
                    <td>$ {{ entity.importe }}</td>
                    <td>
                        {% if entity.estado == 'A' %}
                            <button title="Depositar" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{entity.id}}">
                                <i class="fa fa-arrow-down"></i>
                            </button>
                            <div class="modal fade out" id="myModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form class="formModal" action="{{ path('cheque_depositar', {'id':entity.id}) }}" method="post">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                                <h4 class="modal-title" id="myModalLabel">Depositar</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div style="text-align: center;">
                                                    <strong>Seleccione Cuenta Bancaria</strong>
                                                    <select name="idcuenta" style="width: 70%; margin: 0 auto;" class="form-control">
                                                        <option value="0">Seleccione Cuenta</option>
                                                        {% for cuenta in cuentas %}
                                                            {% if entity.cuentaorigen %}
                                                                {% if entity.cuentaorigen.id != cuenta.id %}
                                                                    <option value="{{ cuenta.id }}">{{ cuenta.descripcion }} ( NRO: {{ cuenta.nrocuenta }} )</option>
                                                                {% endif %}
                                                            {% else %}
                                                                <option value="{{ cuenta.id }}">{{ cuenta.descripcion }} ( NRO: {{ cuenta.nrocuenta }} )</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Continuar</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a title="Editar" class="btn btn-success" href="{{path('cheque_edit', {'id':entity.id} )}}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            {% endif %}
                            <a title="Retirar" class="btn btn-info" href="{{path('cheque_cambiarestado', {'id':entity.id, 'estado':'R'})}}"><i class="fa fa-upload"></i></a>
                                {% if entity.cobranza %}
                                {% else %}
                                <a title="Eliminar" class="btn btn-danger" href="{{path('cheque_cambiarestado', {'id':entity.id, 'estado':'E'})}}"><i class="fa fa-trash"></i></a>
                                {% endif %}
                            {% endif %}
                            {% if entity.estado =='U' or  entity.estado == 'R' %}
                                {% if entity.cuentaorigen %}
                                <a title="Conciliar" class="btn btn-success" href="{{path('cheque_conciliar', {'id':entity.id})}}">C</i></a>
                            {% endif %}
                            <a title="Rechazado" class="btn btn-danger" href="{{path('cheque_cambiarestado', {'id':entity.id, 'estado':'Z'})}}"><i class="fa fa-trash"></i></a>
                            {% endif %}
                            {% if entity.estado == 'D' %}
                            <a title="Conciliar" class="btn btn-success" href="{{path('cheque_conciliar', {'id':entity.id})}}">C</i></a>
                            <a title="Rechazado" class="btn btn-danger" href="{{path('cheque_cambiarestado', {'id':entity.id, 'estado':'Z'})}}">
                                <i class="fa fa-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="10"> Total Disponible: $ {{total}}</th>
            </tr>
        </tfoot>
    </table>
    <div class="col-sm-12">          
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente',"routeParams": {'idCheque':app.session.get('bIdCheque'),'estado':app.session.get('bEstado'),'banco':app.session.get('bBanco'),'nro':app.session.get('bNro'),'tipoCheque':app.session.get('bTipoCheque'),'fechaEmisionDesde':app.session.get('bFechaEmisionDesde'),'fechaEmisionHasta':app.session.get('bFechaEmisionHasta'),'fechaCobroDesde':app.session.get('bFechaCobroDesde'),'fechaCobroHasta':app.session.get('bFechaCobroHasta'),'unidadNegocio':app.session.get('bUnidadNegocio')}})}} 
    </div> 
    <script>
        $('document').ready(function () {
            $('#tablaCheques').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });

            $('td').css('padding', '2px');

        });
        $('#nuevoCheque').click(function () {
            $('#myModal').modal('show');
        });
    </script>

    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        table td{
            text-align: center;
        }
        .btn
        {
            padding: 0px 3px;
        }
        ul
        {
            list-style: none;
        }
    </style>


{% endblock %}
