
<!-- Modal -->
<div class="modal fade out" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="formModal" action="{{ path('cheque_new') }}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Cheque</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align: center;">
                        <strong>Seleccione Unidad de Negocio</strong>

                        <select name="unidadNegocio" class="selectpicker col-xs-12"  id="unidadNegocio" data-show-subtext="true" data-live-search="true" >                               
                            {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="origen" value="{{origen}}" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Continuar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

