{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Cheque Nro. {{ entity.id }}
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success pull-right"  href="{{path('cheque_edit', {'id':entity.id} )}}">
                Editar
            </a>
        {% endif %}       
    </h2>
    <div class="gestion col-md-12">
        <!-- Datos del Cheque -->
        <div class="panel panel-default">
            <div class="panel-heading">Datos del Cheque</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="well well-sm">
                        Banco: <strong>{{ entity.banco|default('Sin registrar') }}</strong>
                    </div>
                    <div class="well well-sm">
                        Nro. del Cheque: <strong>{{ entity.nrocheque|default('Sin registrar') }}</strong>
                    </div>
                    <div class="well well-sm">
                        Tipo de Cheque: <strong>{{ entity.tipoCheque|default('Sin registrar') }}</strong>
                    </div><div class="well well-sm">
                        Firmantes: <strong>{{ entity.firmantes|default('Sin registrar') }}</strong>
                    </div>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="well well-sm">
                            Unidad de Negocio: <strong>{{ entity.unidadNegocio }}</strong>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="well well-sm">
                        Importe: <strong>$ {{ entity.importe|default('Sin registrar') }}</strong>
                    </div>
                    <div class="well well-sm">
                        Fecha de emisi&oacute;n: <strong>{{ entity.fechaemision|date('d-m-Y')|default('Sin registrar') }}</strong>
                    </div>
                    <div class="well well-sm">
                        Fecha de cobro: <strong>{{ entity.fechacobro|date('d-m-Y')|default('Sin registrar') }}</strong>
                    </div>
                    <div class="well well-sm">
                        Cuit: <strong>{{ entity.cuit|default('Sin registrar') }}</strong>
                    </div>

                </div>
            </div>
        </div>       
        <!-- Movimientos -->
        <div class="panel panel-default">
            <div class="panel-heading">Movimientos del Cheque</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="well well-sm">
                        Origen del Cheque: 
                        <strong>
                            {% if entity.cobranza %}
                                <a href="{{ path('cobranza_show', { 'id': entity.cobranza.id }) }}">
                                    COBRO {{ entity.cobranza.id }}
                                </a>
                            {% else %}
                                Alta Manual
                            {% endif %}
                        </strong>
                    </div>
                    <div class="well well-sm">
                        Destino del Cheque: 
                        <strong>
                            {% if entity.pago %}
                                <a href="{{ path('pago_show', { 'id': entity.pago.id }) }}">
                                    PAGO {{ entity.pago.id }}
                                </a>                            
                            {% endif %}
                        </strong>
                    </div>                   
                </div>
                <div class="col-md-6">
                    <div class="well well-sm">
                        Estado del Cheque: <span style="color: {{ entity.color }};">
                            {{entity.estadoActual }}
                        </span>
                    </div>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}

