<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('stock_informe_depositos') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Dep&oacute;sito</label>
                <select name="deposito" class="col-xs-12 select2" id="deposito">   
                    {% include 'AppBundle:Stock:selectDeposito.html.twig' %}
                </select>
            </div> 
            <div class="col-md-3">
                <label>Proveedor</label>
                <select name="clienteProveedor" class="col-xs-12 select2" id="clienteProveedor">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'clienteProveedor':'2','estado':'A'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Producto</label>
                <select name="producto" class="col-xs-12 select2" id="producto">              
                    {{ render(controller('AppBundle:Producto:renderSelect', {'estado':'A'})) }}                                                                                                                         
                </select>
            </div>
            <div class="col-md-3">
                <label>Modelo</label>
                <input type="text" value="{{app.request.get('modelo')}}" name="modelo" placeholder="Modelo">
            </div>   
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>C&oacute;digo</label>
                <input type="text" value="{{app.request.get('codigo')}}" name="codigo" placeholder="C&oacute;digo">
            </div>  
            <div class="col-md-3">
                <label>Serie</label>
                <input type="text" value="{{app.request.get('serie')}}" name="serie" placeholder="Serie">
            </div> 
            <div class="col-md-3">
                <label>Fecha desde vencimiento</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('')}}" name="fechaDesde" placeholder="Fecha desde vencimiento">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta vencimiento</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('')}}" name="fechaHasta" placeholder="Fecha hasta vencimiento">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Lote</label>
                <input type="text" value="{{app.request.get('lote')}}" name="lote" placeholder="Lote">
            </div> 
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12 select2" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
            <div class="col-xs-6" >
                <br>
                <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                    Buscar
                </button>
                <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                    <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
        var producto = '{{app.request.get('producto')}}';
        $('#producto').val(producto).change();
        var clienteProveedor = '{{app.request.get('clienteProveedor')}}';
        $('#clienteProveedor').val(clienteProveedor).change();
        var deposito = '{{app.request.get('deposito')}}';
        $('#deposito').val(deposito).change();
    });

</script>
