<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('stock_informe_pendientes_facturacion') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Producto</label>
                <select name="producto" class="col-xs-12 select2" id="producto">              
                    {{ render(controller('AppBundle:Producto:renderSelect', {'estado':'A'})) }}                                                                                                                         
                </select>
            </div>
            <div class="col-md-3">
                <label>Serie</label>
                <input type="text" value="{{app.request.get('serie')}}" name="serie" placeholder="Serie">
            </div> 
            <div class="col-md-3">
                <label>Fecha desde consignaci&oacute;n</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('')}}" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta consignaci&oacute;n</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('')}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Vendedor</label>
                <select name="vendedor" class="col-xs-12" id="vendedor">              
                    {{ render(controller('AppBundle:Usuario:renderSelectVendedor', {'estado':'A'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Paciente</label>
                <input type="text" value="{{app.request.get('paciente')}}" name="paciente" placeholder="Paciente">
            </div>
            <div class="col-md-3">
                <label>Fecha desde uso</label>
                <input type="date" value="{{app.request.get('fechaDesdeUso')|default('')}}" name="fechaDesdeUso" placeholder="Fecha desde uso">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta uso</label>
                <input type="date" value="{{app.request.get('fechaHastaUso')|default('')}}" name="fechaHastaUso" placeholder="Fecha hasta uso">
            </div>     

        </div>  
        <div class="row">
            <div class="col-md-3">
                <label>Banco</label>
                <select name="banco" class="col-xs-12" id="banco">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'1','banco':1})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Cliente</label>
                <select name="cliente" class="col-xs-12" id="cliente">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'1','banco':0})) }}                                                                          
                </select>
            </div>           
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12 select2" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
        </div>  



        <br>
        <div class="row">
            <div class="col-md-3" >              
                <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                    Buscar
                </button>
                <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                    <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();

        var vendedor = '{{app.request.get('vendedor')}}';
        $('#vendedor').val(vendedor).change();

        var banco = '{{app.request.get('banco')}}';
        $('#banco').val(banco).change();

        var cliente = '{{app.request.get('cliente')}}';
        $('#cliente').val(cliente).change();

    });

</script>
