<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('stock_informe') }}" method="GET">
        <div class="row">
            <div class="col-md-4">
                <label>C&oacute;digo</label>
                <input name="codigo" type="text" placeholder="C&oacute;digo" autocomplete="off" value="{{app.request.get('codigo')}}">                
            </div>
            <div class="col-md-4">
                <label>Nombre</label> 
                <input name="nombre" type="text" placeholder="Nombre" autocomplete="off" value="{{app.request.get('nombre')}}">                               
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-4">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Categor&iacute;a</label>
                <select name="categoria" class="col-xs-12" id="categoria">              
                    {{ render(controller('AppBundle:Categoria:renderSelect', {'estado':'A'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-4">
                <label>Subcategor&iacute;a</label>
                <select name="subcategoria" id="subcategoria">
                    <option value="">Seleccionar..</option>
                </select>
            </div>
            <div class="col-md-4" >
                <br>
                <button class="btn btn-info" type="submit">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {                
        var categoria = '{{app.request.get('categoria')}}';
        $('#categoria').val(categoria).change();
        var subcategoria = '{{app.request.get('subcategoria')}}';
        $('#subcategoria').val(subcategoria).change();
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();      
    });
    $('#categoria').change(function () {
        cargarsubcategoria();
    });
    function cargarsubcategoria() {
        if ($('#categoria').val() == '') {
            $('#subcategoria').html("");
            $('#subcategoria').append('<option value="">Seleccionar..</option>');
        }
        $.post('{{path('subcategoria_listadojson')}}', {id_categoria: $('#categoria').val()})
                .done(function (data) {
                    var subcategorias = JSON.parse(data);
                    $('#subcategoria').html("");
                    $('#subcategoria').append('<option value="">Seleccionar..</option>');
                    $.each(subcategorias, function (key, value) {
                        $('#subcategoria').append('<option value="' + value.id + '">' + value.descripcion + '</option>');
                    });
                    $('#subcategoria').val('{{ app.request.get('subcategoria') }}');
                });
    }
</script>
