{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Importación de Stock
    </h2>
    <div class="gestion">
        <form enctype="multipart/form-data" method="post" action="{{ path('stock_importar') }}">
            <div class="col-sm-6" style="padding: 1em;">
                <label>Unidad de Negocio</label>
                <select name="unidad_id">
                    {% for unidad in unidades %}
                        <option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6" style="padding: 1em;">
                <label>Archivo de Stock</label>
                <input type="file" name="archivo" required class="form-control" />
            </div>
            <div class="col-sm-12 text-center" style="padding: 1em;">
                <button type="submit" class="btn btn-primary">Subir Archivo</button>
            </div>
            <div class="col-sm-12 text-right" style="padding: 1em;">
               <a download="Archivo-Importacion.xlsx" style="font-size: 1em" href="{{ asset('Archivo-Importacion.xlsx') }}"><i class="fa fa-file-excel-o"></i> Descargar Excel de modelo</a>
            </div>
        </form>
    </div>
    <script>
        $('document').ready(function(){
          $('.btn-primary').removeClass('btn-xs');
        });
    </script>
{% endblock %}
