{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        <div class="col-sm-9">
            Stocks asociados al producto "{{producto.codigo|default('S / C')}} - {{producto.nombre|default('S / N')}}"
        </div>
        <div class="col-sm-3">
            <a class="btn btn-info btn-xs pull-right"  href="{{ path('producto', {codigo: producto.codigo}) }}">
                Volver
            </a>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="btn btn-primary btn-xs" style="float:right; margin-right: 1em;" href="{{ path('stock_new', {id: producto.id}) }}">
                    Crear Stock
                </a>
            {% endif %}
        </div>
    </h2>
    <div class="row">
        <table class="display" id="tabla_verifarma">
            <thead>
                <tr>
                    <th>#</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad</th>
                        {% endif %}
                    <th>Dep&oacute;sito</th>
                    <th>Stock</th>
                    <th>Costo</th>
                    <th>Lote</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    {% set stockReservado = StockService.reservaPorStock(entity.id) %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadnegocio }}</td>
                        {% endif %}
                        <td>{{ entity.deposito }}</td>
                        <td>{{ entity.stock - stockReservado }} {{ stockReservado > 0 ? (' ~ <span class="text-danger" style="font-weight: bold;">'~stockReservado~'</span>')|raw : '' }}</td>
                        <td>$ {{ entity.costo|number_format(2, ',', '.') }}</td>
                        <td>{{ entity.lote }}</td>
                        <td>
                            {% if 'NO CONFORMES' in entity.deposito %}
                                <a class="btn btn-info" href="{{ path('stock_show', { 'id': entity.id }) }}" title="Detalle de Stock" data-placement="left" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                {% else %}
                                <a class="btn btn-info" href="{{ path('stock_show', { 'id': entity.id }) }}" title="Detalle de Stock" data-placement="left" data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                                    {% if (entity.stock-stockReservado) > 0 %}
                                    <a class="btn btn-success" href="{{ path('stock_edit', { 'id': entity.id }) }}" title="Editar Stock" data-placement="left" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-primary" href="{{ path('movimientodeposito_new', { stock_id: entity.id }) }}"  title="Mover entre depositos" data-placement="left" data-toggle="tooltip"><i class="fa fa-cubes"></i></a>
                                    <a class="btn btn-warning" href="{{ path('reserva_new', { 'stock_id': entity.id }) }}"
                                       title="Reservar Stock" data-placement="left" data-toggle="tooltip" target="_blank"
                                       >
                                        <i class="fa fa-lock"></i>
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if entity.stock > 0 %}
                                        <button class="btn btn-danger" onclick="confirmarBorrado('{{ path('stock_delete', { 'id': entity.id }) }}')"><i class="fa fa-trash"></i></button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        select{
            margin-bottom: 1em;
        }
    </style>
{% endblock %}
{% block javascript -%}
    {{ parent() }}

    <script>
        $("document").ready(function () {
            $('#tabla_verifarma').DataTable({
                "scrollY": "400px",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                "responsive": true,
                "filter": true,
                "order": [2, "desc"],
                "oLanguage": {
                    "sSearch": "Buscar:"
                }
            });
        });

        function  confirmimport() {
            var totalUnidades = parseInt($("input[name='nrohasta']").val()) - (parseInt($("input[name='nrodesde']").val() - 1));
            if (
                    confirm("Código: " + $("input[name='codigo']").val() + " - Desde " + $("input[name='nrodesde']").val() +
                            " - Hasta " + $("input[name='nrohasta']").val() + " - Vencimiento: " + $("input[name='fecha_vencimiento']").val() +
                            " - Cantidad Total: " + totalUnidades)
                    ) {
                return true;
            }
            $("button[type='submit']").removeClass('hidden');
            $('.preloader').fadeOut(1000);
            return false;
        }
    </script>
{% endblock %}
