{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Informe de Stocks de Productos      
    </h2>
    <hr />
    {% include 'AppBundle:Stock:buscadorInforme.html.twig' %}
    <hr />
    <div class="gestion">
        <table class="display" id="stockProductos">
            <thead>
                <tr>
                    <th ></th>          
                    <th>C&oacute;digo</th>                          
                    <th>Categor&iacute;a</th>    
                    <th>SubCategor&iacute;a</th>    
                    <th>Nombre</th>
                    <th>Stock</th>  
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>    
                        {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td class="details-control">
                            <span class="text-success"><i class="fa fa-plus"></i></span>
                            <div class="valor" style="display:none">
                                <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                                    <thead>
                                        <tr>          
                                            <th>C&oacute;digo de Referencia</th>  
                                            <th>Dise&ntilde;o</th>                          
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <th>Unidad de Negocio</th>    
                                                {% endif %}
                                            <th>Stock</th>                                                                                                            
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for diseno in entity.disenos %}
                                            <tr>                      
                                                <td>{{ diseno.codRef }}</td>       
                                                <td>{{ diseno.descripcion }}</td>
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                    <td class="descripcionUnidadNegocio" data-unidadnegocio="{{app.request.get('unidadNegocio')}}"></td>                                               
                                                {% endif %}
                                                <td class="stockDiseno" data-id="{{ diseno.id }}" data-unidadnegocio="{{app.request.get('unidadNegocio')|default('')}}"></td>                                               
                                                <td>
                                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                        <a class="btn btn-info btn-xs" target="_blank" href="{{ path('balance_diseno', { 'id': diseno.id,'unidadNegocio': app.request.get('unidadNegocio'),'categoria':app.request.get('categoria'),'subcategoria':app.request.get('subcategoria'),'codigo':app.request.get('codigo'),'nombre':app.request.get('nombre')}) }}" title="Movimientos de Stock">
                                                            <i class="fa fa-th-list"></i>
                                                        </a>                                                      
                                                    {% else %}
                                                        <a class="btn btn-info btn-xs" target="_blank" href="{{ path('balance_diseno', { 'id': diseno.id,'unidadNegocio': app.user.unidadNegocio.id,'categoria':app.request.get('categoria'),'subcategoria':app.request.get('subcategoria'),'codigo':app.request.get('codigo'),'nombre':app.request.get('nombre')}) }}" title="Movimientos de Stock">
                                                            <i class="fa fa-th-list"></i>
                                                        </a>                                                      
                                                    {% endif %}

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>{{ entity.codigo }}</td>
                        <td>{{ entity.subcategoria.categoria|default('') }}</td>
                        <td>{{ entity.subcategoria|default('') }}</td>
                        <td>{{ entity.nombre }}</td>                         
                        <td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                {{ entity.getStock(app.request.get('unidadNegocio')) }}
                            {% else %}
                                {{ entity.getStock(app.user.unidadNegocio.id) }}
                            {% endif %}
                        </td>  
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td class="descripcionUnidadNegocio" data-unidadnegocio="{{app.request.get('unidadNegocio')}}">

                            </td> 
                        {% endif %}
                        <td>
                            <a class="btn btn-info btn-xs" href="{{ path('stock', { 'id': entity.id }) }}" title="Manejo de Stock"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>   
    <script>
        $(function () {
            tablaproducto = $('#stockProductos').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "scrollX": true,
                "paging": false,
                "ordering": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": [[0, "asc"]]
            });
            // Add event listener for opening and closing details
            $('#stockProductos tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tablaproducto.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.find('span').removeClass('text-danger');
                    tr.find('span').addClass('text-success');
                    tr.find('span').html('<i class="fa fa-plus"></i>');
                } else {
                    // Open this row
                    var valor = tr.find('.valor').html();
                    row.child(valor).show();
                    tr.addClass('shown');
                    tr.find('span').removeClass('text-success');
                    tr.find('span').addClass('text-danger');
                    tr.find('span').html('<i class="fa fa-minus"></i>');
                }
            });
            $(".stockDiseno").each(function () {
                var stockDiseno = $(this);
                var id = stockDiseno.data('id');
                var unidadNegocio = stockDiseno.data('unidadnegocio');
                $.post('{{path('stock_diseno')}}', {'id': id, 'unidadNegocio': unidadNegocio})
                        .done(function (data) {
                            stockDiseno.html(data);
                        });
            });
            $(".descripcionUnidadNegocio").each(function () {
                var descripcionUnidad = $(this);
                var unidadNegocio = descripcionUnidad.data('unidadnegocio');
                if (unidadNegocio == '') {
                    descripcionUnidad.html('Todas');
                } else {
                    $.post('{{path('unidadnegocio_descripcion')}}', {'id': unidadNegocio})
                            .done(function (data) {
                                descripcionUnidad.html(data);
                            });
                }
            });
        });
    </script>

{% endblock %}
