{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe Stock en Dep&oacute;sitos
    </h2>
    <hr/>
    {% include 'AppBundle:Stock:buscadorInformeDepositos.html.twig' %}
    <hr />
    {% set filtros = {
        'deposito': app.request.get('deposito'),
        'clienteProveedor': app.request.get('clienteProveedor'),
        'producto': app.request.get('producto'),
        'modelo': app.request.get('modelo'),
        'codigo': app.request.get('codigo'),
        'serie': app.request.get('serie'),       
        'unidadNegocio': app.request.get('unidadNegocio')}
    %}
    <div class="gestion">
        <table id="tablaInformeDepositos" class="display" width="100%">
            <thead>
                <tr>            
                    <th></th>                    
                    <th>C&oacute;digo</th>                    
                    <th>N° Lote</th>
                    <th>Vencimiento</th>
                    <th>Unidades Totales</th>                                  
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    {% set sumByCod = StockService.sumByCodigoLoteVencimiento(entity.producto.codigo,entity.lote,entity.vencimiento|date('d-m-Y'),filtros)|default('') %}
                    {% if sumByCod > 0  %}
                        <tr>
                            <td class="details-control">
                                <span class="text-success"><i class="fa fa-plus"></i></span>
                                <div class="valor" style="display:none">
                                    <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                                        <thead>
                                            <tr>  
                                                <th>Nro. Interno (Serie)</th>
                                                <th>Proveedor</th>
                                                <th>Dep&oacute;sito</th>
                                                <th>Modelo</th>
                                                <th>Unidades</th>                                  
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>   
                                            {% set stocks = StockService.stocksByCodigoLoteVencimiento(entity.producto.codigo,entity.lote,entity.vencimiento|date('d-m-Y'),filtros) %}
                                            {% for stock in stocks %}
                                                {% set stockReservado = StockService.reservaPorStock(stock.id) %}
                                                <tr>
                                                    <td>{{ stock.serie }}</td>   
                                                    <td>{{ stock.producto.proveedor }}</td> 
                                                    <td>{{ stock.deposito }}</td>    
                                                    <td>{{ stock.producto.modelo }}</td>                                                
                                                    <td>{{ stock.stock - stockReservado }} {{ stockReservado > 0 ? (' ~ <b><span class="text-danger">'~stockReservado~'</span></b>')|raw : '' }}</td>
                                                    <td>
                                                        <a target="_blank" class="btn btn-info" title="Detalle del Stock" href="{{ path('stock_show', {id: stock.id}) }}"><i class="fa fa-road"></i></a>
                                                            {% if ('NO CONFORMES' in entity.deposito) == false %}
                                                                {% if (stock.stock - stockReservado) > 0 %}
                                                                <a class="btn btn-danger" href="{{ path('consignacion_new', {stock_id: stock.id}) }}" target="_blank" title="Consignar"><i class="fa fa-exchange"></i></a>
                                                                <a class="btn btn-primary" href="{{ path('movimientodeposito_new', { stock_id: stock.id }) }}" target="_blank" title="Mover entre depositos"><i class="fa fa-cubes"></i></a>
                                                                <a class="btn btn-warning" href="{{ path('reserva_new', { stock_id: stock.id }) }}" target="_blank" title="Reservar"><i class="fa fa-lock"></i></a>
                                                                {% endif %}
                                                            {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </td>                       
                            <td>
                                <a href="{{ path('producto_show',{'id': entity.producto.id}) }}">{{ entity.producto.codigo }}</a>
                            </td>  
                            <td>{{ entity.lote }}</td>
                            <td>{{ entity.vencimiento|date('d-m-Y') }}</td>


                            <td>{{ sumByCod }}</td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <td>{{ entity.unidadNegocio }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            var tablaInformeDepositos = $('#tablaInformeDepositos').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');

            // Add event listener for opening and closing details
            $('#tablaInformeDepositos tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tablaInformeDepositos.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.find('span').removeClass('text-danger');
                    tr.find('span').addClass('text-success');
                    tr.find('span').html('<i class="fa fa-plus"></i>');
                } else {
                    // Open this row
                    var valor = tr.find('.valor').html();
                    row.child(valor).show();
                    tr.addClass('shown');
                    tr.find('span').removeClass('text-success');
                    tr.find('span').addClass('text-danger');
                    tr.find('span').html('<i class="fa fa-minus"></i>');
                }
            });
        });
    </script>


{% endblock %}
