{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe Pendientes de Facturaci&oacute;n
    </h2>
    <hr/>
    {% include 'AppBundle:Stock:buscadorInformePendientesFacturacion.html.twig' %}
    <hr />
    <div class="gestion">
        <table id="tablaInformePendientesFacturacion" class="display" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>C&oacute;digo</th>
                    <th>N° Lote</th>
                    <th>Nro. Interno (Serie)</th>
                    <th>Fecha Cons.</th>
                    <th>Fecha Uso</th>
                    <th>Remitido</th>
                    <th>Consignaci&oacute;n</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    {% if entity.fromRemito== '0' %}
                        {% set producto = ProductoConsignacionService.getProductoConsignacionByStock(entity[0].id) %}
                    {% else %}
                        {% set producto = ProductoRemitoService.getProductoRemitoByStock(entity[0].id) %}
                    {% endif %}
                    {% if producto %}
                    <tr>
                        <td class="details-control">
                            <span class="text-success"><i class="fa fa-plus"></i></span>
                            <div class="valor" style="display:none">
                                <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                                    <thead>
                                        <tr>
                                            <th>Vendedor</th>
                                            <th>Paciente</th>
                                            <th>Cliente</th>
                                            <th>Banco</th>
                                            
                                            <th>Acci&oacute;n</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ producto.vendedor }}</td>
                                            <td>
                                                {% if entity.fromRemito==1 %}
                                                    -
                                                {% else %}
                                                    {{ producto.paciente }}
                                                {% endif %}
                                            </td>
                                            <td>{{ producto.cliente }}</td>
                                            <td>
                                                {% if entity.fromRemito==1 %}
                                                    {{  producto.remitooficial.clienteProveedor}}
                                                {% else %}
                                                    {{ producto.consignacion.clienteProveedor }}
                                                {% endif %}
                                            </td>
                                            
                                            <td>
                                                {% if entity.fromRemito==1 %}
                                                    -
                                                {% else %}
                                                    <a class="btn btn-primary" href="{{ path('consignacion_show', {'id': producto.consignacion.id}) }}"  title="Editar uso" data-placement="left" data-toggle="tooltip">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('producto_show',{'id': entity[0].producto.id}) }}">{{ entity[0].producto.codigo }}</a>
                        </td>
                        <td>{{ entity[0].lote }}</td>
                        <td>
                            <a href="{{ path('stock_show',{'id': entity[0].id}) }}"> {{ entity[0].serie }}</a>
                        </td>
                        <td>
                            {% if entity.fromRemito==1 %}
                                {{  producto.remitooficial.fecha|date('Y-m-d')}}
                            {% else %}
                                {{ producto.consignacion.fecha|date('Y-m-d') }}
                            {% endif %}
                        </td>
                        <td>
                             {% if entity.fromRemito==1 %}
                                -
                            {% else %}
                                {{ producto.fechauso|date('Y-m-d') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.fromRemito==1 %}
                                <a href="{{ path('remitooficial_show',{'id': producto.remitooficial.id}) }}"> #{{ producto.remitooficial }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.fromRemito==1 %}
                                -
                            {% else %}
                                <a href="{{ path('consignacion_show',{'id': producto.consignacion.id}) }}"> {{ producto.consignacion }}</a>
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity[0].unidadNegocio }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            var tablaInformePendientesFacturacion = $('#tablaInformePendientesFacturacion').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');

            // Add event listener for opening and closing details
            $('#tablaInformePendientesFacturacion tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tablaInformePendientesFacturacion.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.find('span').removeClass('text-danger');
                    tr.find('span').addClass('text-success');
                    tr.find('span').html('<i class="fa fa-plus"></i>');
                } else {
                    // Open this row
                    var valor = tr.find('.valor').html();
                    row.child(valor).show();
                    tr.addClass('shown');
                    tr.find('span').removeClass('text-success');
                    tr.find('span').addClass('text-danger');
                    tr.find('span').html('<i class="fa fa-minus"></i>');
                }
            });
        });
    </script>


{% endblock %}
