{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
		Alta de Stock al Producto <b>{{entity.producto.codigo}} - {{entity.producto.nombre}}</b>
		<a class="btn btn-info btn-xs" style="float:right;" href="{{ path('stock', {id: entity.producto.id}) }}">
			Volver
		</a>
	</h2>
	<div class="gestion col-md-12">
		{{ form_start(form) }}
		<div class="hidden">
		{{ form_row(form.producto) }}
		</div>
		{{ form_end(form) }}
	</div>

<script>
	$("document").ready(function(){
		$('.gestion div').addClass('col-sm-6');
		$('.gestion div').last().removeClass('col-sm-6').addClass('col-sm-12').css('margin-top', '1em');
		$("input[type='text']").last().css('margin-bottom', '0em');
		$(".col-sm-6").css('min-height', '60px');
		$('#app_bundle_stock_stock').attr('type', 'number');
	});
</script>
{% endblock %}
