<option value="">Seleccione un Dep&oacute;sito</option>
<option value="{{ constant('AppBundle\\Entity\\Stock::CAMARGO') }}">{{ constant('AppBundle\\Entity\\Stock::CAMARGO') }}</option>
<option value="{{ constant('AppBundle\\Entity\\Stock::SENILLOSA') }}">{{ constant('AppBundle\\Entity\\Stock::SENILLOSA') }}</option>
<option value="{{ constant('AppBundle\\Entity\\Stock::LEONISMO') }}">{{ constant('AppBundle\\Entity\\Stock::LEONISMO') }}</option>
<option value="{{ constant('AppBundle\\Entity\\Stock::MAZZOLA') }}">{{ constant('AppBundle\\Entity\\Stock::MAZZOLA') }}</option>


