{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
	<h2>
		Stock del Producto <b>{{entity.producto}}"</b>
	</h2>
	<div class="col-sm-12 text-right" style="margin-bottom: 1em;">
		{% if 'NO CONFORMES' in entity.deposito %}
			<a class="btn btn-info btn-xs" style="" href="{{ path('stock', {id: entity.producto.id}) }}">
				Volver
			</a>
		{% else %}
			{% set stockReservado = StockService.reservaPorStock(entity.id) %}
			{% if (entity.stock-stockReservado) > 0 %}
				<a target="_blank" class="btn btn-danger" href="{{ path('consignacion_new', {stock_id: entity.id}) }}">
					Consignar <i class="fa fa-exchange"></i>
				</a>
				<a class="btn btn-primary" href="{{ path('movimientodeposito_new', { stock_id: entity.id }) }}">
					Mover entre depósitos <i class="fa fa-cubes"></i>
				</a>
			{% endif %}
			<a class="btn btn-success" href="{{ path('balance_verifarma', { 'stock_id': entity.id }) }}">
				Movimientos <i class="fa fa-exchange"></i>
			</a>
			<a class="btn btn-info btn-xs" style="" href="{{ path('stock', {id: entity.producto.id}) }}">
				Volver
			</a>
		{% endif %}
	</div>
	<div class="gestion">
		<table class="table">
			<tbody>
			<tr>
				<th colspan="4" style="font-size: 1.5em">{{ entity.deposito|default('Sin depósito asignado')|upper }}</th>
			</tr>
			<tr>
				<th>Lote</th>
				<td>{{ entity.lote }}</td>
				<th>Cantidad</th>
				{% set stockReservado = StockService.reservaPorStock(entity.id) %}
				<td>{{ entity.stock - stockReservado }} {{ stockReservado > 0 ? (' ~ <span class="text-danger" style="font-weight: bold;">'~stockReservado~'</span>')|raw : '' }}</td>
			</tr>
			<tr>
				<th>Costo</th>
				<td>$ {{ entity.costo|number_format(2, ',', '.')|default('N/A') }}</td>
				<th>Producto</th>
				<td>{{ entity.producto|default('N/A') }}</td>
			</tr>
			<tr>
				<th>Procedencia</th>
				<td>{{ entity.procedencia|default('N/A') }}</td>
				<th>Origen</th>
				<td>{{ entity.origen|default('N/A') }}</td>
			</tr>
			<tr>
				<th>Fecha de Creación</th>
				<td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
				<th>Usuario que lo realizó</th>
				<td>{{ entity.realizo|default('N/A') }}</td>
			</tr>
			</tbody>
		</table>
	</div>

{% endblock %}
