<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('productoconsignacion_informe_consignados') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Producto</label>
                <select name="producto" class="col-xs-12 select2" id="producto">              
                    {{ render(controller('AppBundle:Producto:renderSelect', {'estado':'A'})) }}                                                                                                                         
                </select>
            </div>
            
            <div class="col-md-3">
                <label>Cliente</label>
                <select name="cliente" class="col-xs-12 select2" id="cliente">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'clienteProveedor':'1','estado':'A','banco':'1'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Proveedor</label>
                <select name="proveedor" class="col-xs-12 select2" id="proveedor">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'clienteProveedor':'2','estado':'A'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Modelo</label>
                <input type="text" value="{{app.request.get('modelo')}}" name="modelo" placeholder="Modelo">
            </div>  
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Fecha Vencimiento Desde</label>
                <input type="date" value="{{app.request.get('fechaVencimientoDesde')}}"  name="fechaVencimientoDesde" placeholder="Fecha Vencimiento Desde">
            </div>
            <div class="col-md-3">
                <label>Fecha Vencimiento Hasta</label>
                <input type="date" value="{{app.request.get('fechaVencimientoHasta')}}" name="fechaVencimientoHasta" placeholder="Fecha Vencimiento Hasta">
            </div>
            <div class="col-md-3">
                <label>Fecha Consignaci&oacute;n Desde</label>
                <input type="date" value="{{app.request.get('fechaConsignacionDesde')}}" class="form-control" name="fechaConsignacionDesde" placeholder="Fecha Consignaci&oacute;n Desde">
            </div>
            <div class="col-md-3">
                <label>Fecha Consignaci&oacute;n Hasta</label>
                <input type="date" value="{{app.request.get('fechaConsignacionHasta')}}" name="fechaConsignacionHasta" placeholder="Fecha Consignaci&oacute;n Hasta">
            </div>                     

        </div>
        <div class="row">
            <div class="col-md-3">
                <label>C&oacute;digo</label>
                <input type="text" value="{{app.request.get('codigo')}}" name="codigo" placeholder="C&oacute;digo">
            </div>  
            <div class="col-md-3">
                <label>Serie</label>
                <input type="text" value="{{app.request.get('serie')}}" name="serie" placeholder="Serie">
            </div> 
            <div class="col-md-3">
                <label>Nro. Remito</label>
                <input type="text" value="{{app.request.get('nroComprobante')}}" name="nroComprobante" placeholder="Nro. Remito">
            </div>   
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12 select2" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
        </div>

        <br>
        <div class="row">           
            <div class="col-xs-12" >              
                <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                    Buscar
                </button>
                <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                    <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
        var cliente = '{{app.request.get('cliente')}}';
        $('#cliente').val(cliente).change();
        var proveedor = '{{app.request.get('proveedor')}}';
        $('#proveedor').val(proveedor).change();
        var producto = '{{app.request.get('producto')}}';
        $('#producto').val(producto).change();
        var deposito = '{{app.request.get('deposito')}}';
        $('#deposito').val(deposito).change();
    });

</script>
