{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe Consignados
    </h2>
    <hr/>
    {% include 'AppBundle:ProductoConsignacion:buscadorInformeConsignados.html.twig' %}
    <hr />
    {% set filtros = {
        'producto': app.request.get('producto'),
        'deposito': app.request.get('deposito'),
        'cliente': app.request.get('cliente'),
        'serie': app.request.get('serie'),
        'nroComprobante': app.request.get('nroComprobante'),
        'fechaVencimientoDesde': app.request.get('fechaVencimientoDesde'),
        'fechaVencimientoHasta': app.request.get('fechaVencimientoHasta'),
        'fechaConsignacionDesde': app.request.get('fechaConsignacionDesde'),
        'fechaConsignacionHasta': app.request.get('fechaConsignacionHasta'),
        'unidadNegocio': app.request.get('unidadNegocio')}
    %}

    <div class="gestion">
        <table id="tablaInformeConsignados" class="display" width="100%">
            <thead>
                <tr>            
                    <th></th>                
                    {#<th>Proveedor</th>#}
                    <th>Modelo</th>
                    <th>C&oacute;digo</th>                
                    <th>Lote</th>      
                    <th>Unidades Totales</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td class="details-control">
                            <span class="text-success"><i class="fa fa-plus"></i></span>
                            <div class="valor" style="display:none">
                                <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                                    <thead>
                                        <tr>  
                                            <th>Nro. Interno (Serie)</th>
                                            <th>Vencimiento</th>
                                            <th>Remito N°</th>
                                            <th>Fecha Consignaci&oacute;n</th>                                            
                                            <th>Vendedor</th>                                              
                                            <th>Cliente/Banco</th>                                          
                                            <th>Unidades</th>  
                                            <th>Acciones</th>  
                                        </tr>
                                    </thead>
                                    <tbody>  
                                        
                                        {% set productosConsignacion = ProductoConsignacionService.productosConsignacionesByProveedorModeloCodigo(entity.producto.proveedor.id,entity.producto.codigo,entity.producto.modelo,filtros) %}
                                        {% for productoConsignacion in productosConsignacion %}
                                            <tr> 
                                                <td>{{ productoConsignacion.stock.serie}}</td>
                                                <td>{{ productoConsignacion.stock.vencimiento|date('d-m-Y') }}</td>    
                                                <td>{{ productoConsignacion.consignacion.numero}}</td>
                                                <td>{{ productoConsignacion.consignacion.fecha|date('d-m-Y')}}</td>  
                                                <td>{{ productoConsignacion.consignacion.vendedor }}</td>                                                    
                                                <td>{{ productoConsignacion.consignacion.clienteProveedor }}</td>                                                    
                                                <td>{{ productoConsignacion.cantidad }}</td>  
                                                <td>
                                                    <a class="btn btn-danger" title="Consignaci&oacute;n" target="_blank" href="{{ path('consignacion_show', {id: productoConsignacion.consignacion.id}) }}"><i class="fa fa-file-archive-o"></i></a>                                                
                                                </td>    
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                       {# <td>{{ entity.producto.proveedor }}</td>#}
                        <td>{{ entity.producto.modelo }}</td>
                        <td>
                            <a href="{{ path('producto_show',{'id':entity.producto.id}) }}">{{ entity.producto.codigo }}</a>
                        </td>  
                        <td>{{ entity.stock.lote }}</td>                       
                        <td>{{ ProductoConsignacionService.sumConsignadosByProveedorCodigoModeloLote(entity.producto.proveedor.id, entity.producto.codigo,entity.producto.modelo,entity.stock.lote,filtros) }}</td>                       
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.consignacion.unidadNegocio }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            var tablaInformeConsignados = $('#tablaInformeConsignados').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');

            // Add event listener for opening and closing details
            $('#tablaInformeConsignados tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tablaInformeConsignados.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.find('span').removeClass('text-danger');
                    tr.find('span').addClass('text-success');
                    tr.find('span').html('<i class="fa fa-plus"></i>');
                } else {
                    // Open this row
                    var valor = tr.find('.valor').html();
                    row.child(valor).show();
                    tr.addClass('shown');
                    tr.find('span').removeClass('text-success');
                    tr.find('span').addClass('text-danger');
                    tr.find('span').html('<i class="fa fa-minus"></i>');
                }
            });
        });
    </script>


{% endblock %}
