{% extends '::base.html.twig' %}

{% block body -%}
    <h2>IngresosBrutos creation</h2>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ingresosbrutos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
