<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('pagoasignacion_ingresoegreso') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('NOW'|date('Y-m-d'))}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>
            <div class="col-md-3">
                <label>Medio</label>
                <select name="medio" class="col-xs-12" id="medio">              
                    {{ render(controller('AppBundle:Medio:renderSelect', {'estado':'A'})) }}                                                                          
                </select>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label>Cliente</label>
                <select name="cliente" class="col-xs-12" id="cliente">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'1'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-4">
                <label>Proveedor</label>
                <select name="proveedor" class="col-xs-12" id="proveedor">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'2'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-4">
                <label>Tipo de Movimiento</label>
                <select name="tipoMovimiento" class="col-xs-12" id="tipoMovimiento">              
                    <option value="">Tipos de movimientos</option>
                    <option value="cobranza">Cobranza</option>                   
                    <option value="pago">Pago</option>                   
                </select>
            </div>
        </div>
        <br>
        <div class="row">           
            <div class="col-xs-12" >                
                <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                    Buscar
                </button>
                <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                    <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var medio = '{{app.request.get('medio')}}';
        $('#medio').val(medio).change();
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
        var cliente = '{{app.request.get('cliente')}}';
        $('#cliente').val(cliente).change();
        var proveedor = '{{app.request.get('proveedor')}}';
        $('#proveedor').val(proveedor).change();
        var tipoMovimiento = '{{app.request.get('tipoMovimiento')}}';
        $('#tipoMovimiento').val(tipoMovimiento).change();
    });
</script>
