{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Cuenta Corriente de {{ clienteProveedor.razonSocial }}

            </h2>
        </div>
    </div>
    {% include 'AppBundle:PagoAsignacion:seeker.html.twig' %}    
    <div class="row text-center oculto">
        <hr>
        <div class="col-md-8">
            <button style="margin-left: -5px;" class="btn btn-info" id="print">
                Imprimir
            </button>            
            <a class="btn btn-sm btn-primary"  href="{{path('notacreditodebito_new',{'id_clienteproveedor':clienteProveedor.id,'tipo':constant('AppBundle\\Entity\\NotaCreditoDebito::TIPO_DEBITO')})}}">Nota de D&eacute;bito</a>
            <a class="btn btn-sm btn-info" href="{{path('notacreditodebito_new',{'id_clienteproveedor':clienteProveedor.id,'tipo':constant('AppBundle\\Entity\\NotaCreditoDebito::TIPO_CREDITO')})}}">Nota de Cr&eacute;dito</a>                            
            {% if clienteProveedor.clienteproveedor ==constant('AppBundle\\Entity\\ClienteProveedor::CLIENTE_COD') %}
                <button class="btn btn-warning" id="cobrarseleccionados">
                    Cobrar seleccionados
                </button>
            {% else %}
                <button class="btn btn-warning" id="pagarseleccionados">
                    Pagar seleccionados
                </button>
            {% endif %}
        </div>
        <div class="col-md-4">
            <a style="margin-right: 1em;" class="btn btn-primary btn-xs" href="{{ path('clienteproveedor_show', {id: clienteProveedor.id}) }}">
                <i class="fa fa-user"></i> Ver Datos
            </a>
            <a style="margin-left: -5px;" class="btn btn-warning btn-xs" href="{{ path('clienteproveedor') }}">
                Volver al listado
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            Saldo Inicial $: {{ clienteProveedor.saldo }}
        </div>
        <div class="col-xs-6">
            <span class="float-right" >Saldo Actual ($):
                <span>                     
                    {{  PagoAsignacionService.getBalance(clienteProveedor.id)}}                    
                </span>
            </span>                                
        </div>
    </div>

    <div class="row" style="padding: 1rem;" >
        <div class="table-responsive">     
            <form method="POST" action="{{ path(clienteProveedor.clienteproveedor == constant('AppBundle\\Entity\\ClienteProveedor::CLIENTE_COD') ? 'cobranza_new' : 'pago_new') }}" id="formCuentas">
                <table id="tablaCheques" class="table table-bordered" data-toggle="table"  data-show-columns="true" cellspacing="0">
                    <thead>
                        <tr>       
                            <th ></th> 
                            <th >Fecha</th>     
                            <th >Movimiento</th>                                                                           
                            <th >D&eacute;bito</th> 
                            <th >Cr&eacute;dito</th>                                                         
                            <th >Saldo</th>                            
                        </tr>
                    </thead>
                    <tbody>                        
                        {% if movimientoscc|length > 0 %}
                            {% for movimientocc in movimientoscc %}
                                {% set documento = movimientocc.document.documento %}

                                <tr >                                           
                                    <td>
                                        {% if movimientocc.documentname == constant('AppBundle\\Entity\\PagoAsignacion::FACTURA') or  movimientocc.documentname == constant('AppBundle\\Entity\\PagoAsignacion::FACTURA_PROVEEDOR') %}
                                            <input type="checkbox" style="height: 1em;" name="idfacturas[]" value="{{documento.id }}" />
                                        {% endif %}
                                    </td>
                                    <td>{{ documento.fecha|date('d-m-Y') }}</td>          
                                    <td>                                        
                                        <a href="{{ path(movimientocc.baseDocumentPath~'_show',{'id':documento.id}) }}" target="_blank">
                                            {{documento| raw }}
                                        </a>
                                         {% if (movimientocc.documentname == constant('AppBundle\\Entity\\PagoAsignacion::NOTA_CREDITO') or movimientocc.documentname == constant('AppBundle\\Entity\\PagoAsignacion::NOTA_DEBITO')) and documento.cae == ''  %}
                                        <a class="btn btn-success" href="{{ path('notacreditodebito_refacturar', { 'id': documento.id}) }}">
                                            <i class="fa fa-spin fa-refresh"></i>
                                        </a>
                                    {% endif %}
                                        
                                    </td>
                                    <td>
                                        {% if movimientocc.isDebit %}
                                            {{  movimientocc.importe}}
                                        {% endif %}
                                    </td>                                                             
                                    <td>
                                        {% if not movimientocc.isDebit %}
                                            {{  movimientocc.importe}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{  PagoAsignacionService.getParcialBalance(movimientocc.id)}}
                                    </td>                                   
                                </tr>   
                            {% endfor %}
                        {% else %}
                            <tr>                               
                                <td colspan="5" >No registra movimientos</td>                                
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </form>
            <div class="col-sm-12">
                {{ pagerfanta (movimientoscc, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
            </div>
        </div>

    </div>

</div>     
<style>
    .active .btn
    {
        background-color: #9E9E9E;
    }
    ul
    {
        list-style: none;
    }
</style>
<script>
    $(function () {
        $("#cobrarseleccionados, #pagarseleccionados").click(function () {
            var checked = false;
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    checked = true;
                }
            });
            if (checked) {
                $("#formCuentas").submit();
            }
        });
    });
</script>	
{% endblock %}
