{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe de Movimientos       
    </h2>
    <hr/>
    {% include 'AppBundle:PagoAsignacion:buscadorInforme.html.twig' %}
    <hr />
    <div class="gestion">       
        <table id="tablaInformeMovimientos" class="display" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Documento</th>
                    <th>Cliente/Proveedor</th>                             
                    <th>Medios</th>
                    <th>Cheques</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                    <th>Importe($)</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path(entity.documento.tipo|lower~'_show', { 'id': entity.documento.entity.id }) }}">{{ entity.documento.entity }}</a>
                        </td>
                        <td>
                            <a title="Cuenta Corriente" href="{{ path('pagoasignacion', { 'id': entity.documento.entity.clienteProveedor.id }) }}">{{ entity.documento.entity.clienteProveedor }}</a>
                        </td>
                        <td>
                            {% if  entity.documento.entity.medios  is defined %}
                                {% for medioPago in entity.documento.entity.medios  %}
                                    {% if app.request.get('medio')!='cheque' and app.request.get('medio') !='' and app.request.get('medio')== medioPago.medio.id %}
                                        {{ medioPago.medio.descripcion }} - $ {{ medioPago.importe }}
                                        <br>
                                    {% endif %}
                                    {% if app.request.get('medio')!='cheque' and app.request.get('medio') ==''%}
                                        {{ medioPago.medio.descripcion }} - $ {{ medioPago.importe }}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if app.request.get('medio')=='cheque' or app.request.get('medio') =='' %}
                                {% if  entity.documento.entity.cheques is defined %}
                                    {% for cheque in entity.documento.entity.cheques if cheque.estado!='E' %}
                                        <a href="{{ path('cheque_show', { 'id': cheque.id }) }}" target="_blank">{{ cheque }} - $ {{ cheque.importe }}</a>
                                        <br>
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            {% endif %}
                        </td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.documento.entity.unidadNegocio }}</td>
                        {% endif %}
                        <td>$ {{ entity.importe }}</td>
                    </tr>
                {% endfor %}
            </tbody>                     
        </table>
    </div>
    <div class="col-sm-12">        
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            $('#tablaInformeMovimientos').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');


        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
