<div class="row filtro">
    <form class="col-xs-12" method="get" action="{{ path('pagoasignacion', {'id': clienteProveedor.id}) }}"   >
        <div class="row">
            <!--Filter Date -->
            <div class="col-sm-3">
                <div class="form-group col-xs-12">
                    <label for="">
                        Fecha desde
                    </label>
                    <div class="input-group">                                 
                        <input type="date" value="{{ app.request.query.get('fechaDesde')}}" name="fechaDesde" class="form-control" placeholder="Fecha desde"/>
                    </div>
                </div>
            </div>      
            <div class="col-sm-3">
                <div class="form-group col-xs-12">
                    <label for="">
                        Fecha hasta
                    </label>
                    <div class="input-group">  
                        <input type="date" value="{{ app.request.query.get('fechaHasta')}}" name="fechaHasta" class="form-control" placeholder="Fecha hasta"/>
                    </div>
                </div>
            </div>    
            <div class="col-sm-4 mt-3" style="margin-top: 2rem;">                
                <a class="btn btn-success btn-sm ml-3" href="?reset">
                    <i class="fa fa-times"></i> Limpiar
                </a>
                <button class="btn btn-primary btn-sm" type="submit" style="margin-left:1rem;">
                    Filtrar                    
                </button>
            </div>
        </div>   
    </form>
</div>

