<option value="">Elegir un Tipo de Gasto</option>
{% for tipoGasto in tiposGastos %}           
    <option value="{{tipoGasto.id}}" >
        {{tipoGasto.nombre}}
    </option>                                
{% endfor %}


