{% extends 'AppBundle::base.html.twig' %}

{% block body -%}

{{ form_start(edit_form) }}
<h2 style="font-size: 1.8em;">
	Aprobaciones de {{entity}}
	<a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="{{ path('pedido') }}">
		Volver
	</a>
	{{ form_widget(edit_form.submit) }}
</h2>
<div class="col-md-12">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				Editar Pedido
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-pills">
					<li class="active"><a href="#informacion" data-toggle="tab">Información Básica</a>
					</li>
					<li><a href="#elementos" data-toggle="tab">Insumos</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="informacion">
						<h4>Información Básica</h4>
                        <div class="col-md-4">
							<div class="hidden">
                                {{ form_row(edit_form.usuario) }}
                                {{ form_row(edit_form.estado) }}
							</div>
							{{ form_row(edit_form.fecha) }}
						</div>
                        <div class="col-md-4">
							<label>Unidad Origen</label>
							</br>
							{{entity.unidadOrigen}}
							<div class="hidden">
								{{ form_row(edit_form.unidadOrigen) }}
							</div>
						</div>
						<div class="col-md-4">
							<label>Unidad Destino</label>
							</br>
							{{entity.unidadDestino}}
							<div class="hidden">
								{{ form_row(edit_form.unidadDestino) }}
							</div>
                        </div>
						<div class="col-md-12">
							{{ form_row(edit_form.observacion) }}
						</div>
						{{ form_rest(edit_form) }}
					</div>
					<div class="tab-pane fade" id="elementos">
						<h4>Productos</h4>
						<div>
                            <div class="col-md-6 col-sm-6 text-center">
								<label>Insumo</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Cantidad Pedida</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Cantidad a Entregar</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Acción</label>
							</div>
							{% for stockpedido in entity.stocksPedidos %}
							<div class="row">
                                <div class="col-md-6 col-sm-6">
									<input type="text" name="elemento{{stockpedido.id}}" readonly="readonly" id="elemento{{stockpedido.id}}" onkeypress="predictivaPropia({{stockpedido.id}})" value="{{ stockpedido.stock.producto.descripcion }} " />
									<input type="hidden" name="idproducto{{stockpedido.id}}" id="idelemento{{stockpedido.id}}" value="{{ stockpedido.stock.id }}" />
									<input type="hidden" name="idelementocolaboracion{{ stockpedido.stock.id }}" id="idelementocolaboracion{{ stockpedido.stock.id }}" value="{{ stockpedido.id }}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="number" min="0" name="cantidad{{stockpedido.id}}" readonly id="cantidad{{stockpedido.id}}" value="{{ stockpedido.cantidad }}" max="{{ stockpedido.stock.stock +  stockpedido.cantidad }}" />
								</div>
								<div class="col-md-2 col-sm-2">
									{% set entregado = stockpedido.cantidadEntregada %}
									{% set cantidadmaximapedido = stockpedido.cantidad %}
									<input type="number" min="{{entregado}}" name="entrega{{stockpedido.id}}" id="entrega{{stockpedido.id}}" value="{{entregado}}" max="{{ cantidadmaximapedido }}" />
								</div>
								<div class="col-md-2 col-sm-2 text-center">
									<button type="button" class="btn btn-danger disabled">
										<i class="fa fa-trash"></i>
									</button>
								</div>
							</div>
							{% endfor %}
                            <!--
							{% for i in entity.stocksPedidos|length+1..30 %}
							<div class="row">
								<div class="col-md-7 col-sm-7">
									<input type="text" name="elemento{{i}}" id="elemento{{i}}" onkeypress="predictivaPropia({{i}})" />
									<div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerencia{{i}}"></div>
									<input type="hidden" name="idelemento{{i}}" id="idelemento{{i}}" />
								</div>
								<div class="col-md-3 col-sm-3">
									<input type="number" min="0" name="cantidad{{i}}" id="cantidad{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2 text-center">
									<button type="button" class="btn btn-danger btn-xs" onClick="$('#cantidad{{i}}, #precio{{i}}, #elemento{{i}}, #idelemento{{i}}').val('').removeAttr('readonly')">
										<i class="fa fa-trash"></i>
									</button>
								</div>
							</div>
							{% endfor %}
                            -->
						</div>
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.row -->
</div>
{{ form_end(edit_form) }}

<script>
    function predictivaPropia(i){
        var unidad = $("#app_bundle_pedido_unidadOrigen").val();
        $.post( "{{path('producto_predictivaUnidad')}}", { data: $("#elemento"+i).val(), idunidad: unidad  } )
        .done(function(data){
            $('#sugerencia'+i).fadeIn(500).html(data);
            $('.suggest-element').on('click', function(){
                var id = $(this).attr('id');

                $('#elemento'+i).val($('#producto'+id).html()).prop('readonly','readonly');
                $('#idelemento'+i).val(id);
                $('#cantidad'+i).val('1').focus();
                $('#sugerencia'+i).fadeOut(500);
            });
        });
    }

	$("document").ready(function(){
		$("input").attr("autocomplete", "off");

		$("#app_bundle_pedido_fecha").val('{{entity.fecha|date('Y-m-d')}}').attr('readonly', 'readonly').removeClass("datetimepicker");
		$(".checks").removeClass("form-control");
	});

	function calcular(){
		var total = 0;
		for(i=1; i<=30; i++){
			if($('#cantidad'+i).val() != '' && $('#precio'+i).val()!=''){
				total+=parseFloat($('#cantidad'+i).val())*parseFloat($('#precio'+i).val());
			}
		}

		if($('#gestion_gestionbundle_colaboracion_descuento').val()!='' && parseInt($('#gestion_gestionbundle_colaboracion_descuento').val())!=0 ){
			total = total*(1-(parseInt($('#gestion_gestionbundle_colaboracion_descuento').val())/100));
		}
		if(parseInt($('#gestion_gestionbundle_colaboracion_bonificacion').val())>0){
			total-=parseInt($('#gestion_gestionbundle_colaboracion_bonificacion').val());
		}
		$('#total').html('$ '+total.toFixed(2));
	}

</script>
{% endblock %}
