{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Pedido de Stock {{ entity.id }}
        <a href="{{ path('pedido') }}">
            Volver
        </a>
    </h2>

    <div class="gestion">
        <table class="table">
            <tbody>
                <tr>
                    <th>Desde</th>
                    <td>{{ entity.unidadOrigen }}</td>
                </tr>
                <tr>
                    <th>Hasta</th>
                    <td>{{ entity.unidadDestino }}</td>
                </tr>
                <tr>
                    <th>Observacion</th>
                    <td>{{ entity.observacion }}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{{ entity.estadostr|raw }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <h4 class="text-center">Productos Pedidos</h4>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Entregado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stocksPedidos in entity.stocksPedidos %}
                        <tr>
                            <td>{{stocksPedidos.stock.producto.nombre}} - {{stocksPedidos.stock.diseno.descripcion}}</td>
                            <td>{{stocksPedidos.cantidad}}</td>
                            <td>
                                {% set entregado = stocksPedidos.cantidadEntregada %}
                                {{entregado}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
