{% extends '::base.html.twig' %}

{% block body -%}
    <h2>StockPedido list</h2>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Fechaentrega</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('stockpedido_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cantidad }}</td>
                <td>{% if entity.fechaEntrega %}{{ entity.fechaEntrega|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('stockpedido_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('stockpedido_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('stockpedido_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
