{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    {% if error %}
    <div class="row" style="margin-top: 1em;">
        <div class="alert alert-danger col-sm-6 fade in col-sm-offset-3">
            <h4 class="text-center">
                {{ error.messageKey|trans(error.messageData, 'security')|title }}
            </h4>
        </div>
    </div>
    {% endif %}
    <div class="row" style="margin-top: 1em;">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <img  class="img-responsive center-block" style="width: 20rem;" src="{{ asset('assets/logotitanio.png') }}" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Ingresar al Sistema
                </div>
                
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="panel-body">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input aria-label="Usuario" aria-describedby="basic-addon1" class="form-control" placeholder="Usuario" id="username" name="_username" value="{{ last_username }}" autofocus="">                             
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Password" id="password" name="_password">
                        </div>
                    </div>
                    <div class="panel-footer">                        
                        <button type="submit" class="btn btn-primary col-xs-12">Ingresar</button>
                        <div class="clearfix"></div>
                    </div>
                </form>     
            </div>
        </div>
    </div> 
</div> 



