<option value="">Elegir Unidad de Negocio</option>
{% for unidadNegocio in unidadesNegocio %}           
    <option value="{{unidadNegocio.id}}" >
        {{unidadNegocio.descripcion}}
    </option>                                
{% endfor %}


