{% extends 'AppBundle::base.html.twig' %}
{% block content -%}

<h2>Edici&oacute;n de Sucursal</h2>

<div class="joyas-container">
	<div class="container">
		{{ form_start(edit_form) }}	
		<div>
			<strong>Direcci&oacute;n</strong><br />
			{{ form_widget(edit_form.direccion) }}
		</div>
		<div>
			<strong>Tel&eacute;fono</strong><br />
			{{ form_widget(edit_form.telefono) }}
		</div>
		<div style="display:none;">
			<strong>Cliente / Proveedor</strong>
			{{ form_widget(edit_form.clienteproveedor) }}
		</div>
		{{ form_end(edit_form) }}	
        <a class="btn btn-info btn-xs" href="{{ path('sucursal', {id: entity.clienteproveedor.id}) }}">
            Volver
        </a>
    </div>
</div>
<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
	});
</script>
{% endblock %}
