{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
<h2 style="margin-bottom:10px;">
	Sucursales de '{{clienteproveedor.razonSocial}}'
	<a  href="{{ path('clienteproveedor') }}">
		Volver
	</a>
    {% if is_granted('ROLE_ADMIN')  %}
        <a style="float: right; margin-right: 1em;" class="btn btn-success btn-xs" href="{{ path('sucursal_new', {id:clienteproveedor.id}) }}">
            Crear
        </a>
    {% endif %}
</h2>
<div class="tablasScroll">
	<table id="tablas" class="display">
        <thead>
            <tr>
                <th>Direcci&oacute;n</th>
                <th>Tel&eacute;fono</th>
                <th>Mail</th>
                <th>Contacto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.direccion }}
                    {{entity.localidad !=''  ? ' - '~entity.localidad : ''}}{{entity.provincia !='' ? ', '~entity.provincia : ''}}
                    {{entity.codigopostal !=''  ? '- CP: '~entity.codigopostal : ''}}
                </td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.mail }}</td>
                <td>{{ entity.contacto }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('sucursal_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
