{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
<h2>Nueva Sucursal</h2>

<div class="joyas-container">
	<div class="container">
		{{ form_start(form) }}	
		<div>
			<strong>Direcci&oacute;n</strong><br />
			{{ form_widget(form.direccion) }}
		</div>
		<div>
			<strong>Tel&eacute;fono</strong><br />
			{{ form_widget(form.telefono) }}
		</div>
		<div style="display:none;">
			<strong>Cliente / Proveedor</strong>
			{{ form_widget(form.clienteproveedor) }}
		</div>
		{{ form_end(form) }}	
        <a class="btn btn-info btn-xs" href="{{ path('sucursal', {id:app.request.get('id')}) }}">
            Volver
        </a>
    </div>
</div>
<script>
	$(document).ready(function (){
		$("input").addClass('form-control').attr('required','required');
	});
</script>
{% endblock %}
