<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Sistemas Titanio" />
        <meta name="description" content="Sistemas Titanio" />
        <meta name="author" content="Sistemas Titanio">

        <title>TITANIO</title>
        <script type="text/javascript" src="{{ asset('assets/DataTable/jquery-1.11.3.min.js') }}"></script>
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/nuevo/bower_components/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
  <!-- Custom Fonts -->
    <link href="{{ asset('assets/nuevo/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link  href="{{ asset('assets/iso.png') }}" rel="icon" type="image/x-icon" />
        
    </head>
    <body >       
        <div>          
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        <script>
            $("form, input").attr("autocomplete", "off");
        </script>
    </body>
</html>
