<!-- Buscador -->
<div class="row" style="margin-bottom: 5px;">
    <form autocomplete="off" action="{{path('producto')}}" method="GET">
        <div class="col-sm-3">
            <label>C&oacute;digo</label>
            <input type="text" id="codigo" name="codigo" placeholder="Código" autocomplete="off" value="{{app.request.get('codigo')}}" onkeyup="predictiva(this.value);"/>
            <div id="sugerencia"></div>
        </div>
        <div class="col-sm-3">
            <label>Categoría</label>
            <select name="categoria" id="categoria">
                <option value="">Seleccionar..</option>
                {% for categoria in categorias %}
                    <option value="{{categoria.id}}" {{ categoria.id == app.request.get('categoria') ? 'selected': '' }}>{{categoria.descripcion}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-3">
            <label>Subcategoría</label>
            <select name="subcategoria" id="subcategoria">
                <option value="">Seleccionar..</option>
            </select>
        </div>
{#        <div class="col-sm-3">#}
{#            <label>Proveedor</label>#}
{#            <select name="proveedor" id="proveedor" class="select2">#}
{#                <option value="">Seleccionar..</option>#}
{#                {% for proveedor in proveedores %}#}
{#                    <option {{ app.request.get('proveedor') == proveedor.id ? 'selected' : '' }} value="{{ proveedor.id }}">{{ proveedor.razonSocial }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
        <div class="col-md-3">
            <label>Nombre del Producto</label>
            <input type="text" name="descripcion" placeholder="Nombre del Producto" value="{{app.request.get('descripcion')}}" />
        </div>
{#        <div class="col-md-3">#}
{#            <label>Medida del Producto</label>#}
{#            <input type="text" name="medida" placeholder="Medida del Producto" value="{{app.request.get('medida')}}" />#}
{#        </div>#}
        <div class="col-md-6" >           
            <br>
            <div class="col-md-4 text-left">
                <button type="submit" id="buscar" class="btn btn-info" >Buscar</button>
            </div>
            <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                <i class="fa fa-file-excel-o"> Exportar Excel </i>    
            </button>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel        
    });

</script>
