<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('producto_informe_general_stock') }}" method="GET">
        <div class="row">
            <div class="col-md-3 hidden">
                <label>Proveedor</label>
                <select name="clienteProveedor" class="col-xs-12 select2" id="clienteProveedor">
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'clienteProveedor':'2','estado':'A'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Producto</label>
                <select name="producto" class="col-xs-12 select2" id="producto">
                    {{ render(controller('AppBundle:Producto:renderSelect', {'estado':'A'})) }}                                                                                                                         
                </select>
            </div>
            <div class="col-md-3">
                <label>Categor&iacute;a</label>
                <select name="categoria" class="col-xs-12 select2" id="categoria">
                    {{ render(controller('AppBundle:Categoria:renderSelect', {'estado':'A'})) }}                                                                                                                         
                </select>
            </div>
            <div class="col-md-3">
                <label>Subcategor&iacute;a</label>
                <select name="subcategoria" class="col-xs-12 select2" id="subcategoria">
                    {{ render(controller('AppBundle:Subcategoria:renderSelect', {'estado':'A'})) }}                                                                                                                         
                </select>
            </div>
            <div class="col-md-3 hidden">
                <label>Marca</label>
                <input type="text" value="{{app.request.get('marca')}}" name="marca" placeholder="Marca">
            </div>   
            <div class="col-md-3 hidden">
                <label>Modelo</label>
                <input type="text" value="{{app.request.get('modelo')}}" name="modelo" placeholder="Modelo">
            </div>           
            <div class="col-md-3 hidden">
                <label>Medida</label>
                <input type="text" value="{{app.request.get('medida')}}" name="medida" placeholder="Medida">
            </div>
            <div class="col-md-3">
                <label>Stock +1</label>
                <select name="stockMasUno" class="col-xs-12" id="stockMasUno">              
                    <option value="">Todos</option>                                                                                                                     
                    <option value="1">Con Stock +1</option> 
                    <option value="0">Sin Stock</option>      
                </select>
            </div>
        </div>
        <div class="row">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
            <div class="col-md-3" style="margin-top:3rem;">              
                <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                    Buscar
                </button>
                <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                    <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
        var producto = '{{app.request.get('producto')}}';
        $('#producto').val(producto).change();
        var categoria = '{{app.request.get('categoria')}}';
        $('#categoria').val(categoria).change();
        var subcategoria = '{{app.request.get('subcategoria')}}';
        $('#subcategoria').val(subcategoria).change();
        var clienteProveedor = '{{app.request.get('clienteProveedor')}}';
        $('#clienteProveedor').val(clienteProveedor).change();
        var stockMasUno = '{{app.request.get('stockMasUno')}}';
        $('#stockMasUno').val(stockMasUno).change();

    });

</script>
