<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('producto_informe_vencidos') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Por vencer/vencidos</label>
                <select name="vencidos" class="col-xs-12" id="vencidos">              
                    <option value="">Por vencer/vencidos</option>
                    <option value="0" class="red">Vencidos</option>
                    <option value="3" class="orange">Pr&oacute;ximos 3 meses</option>
                    <option value="6" class="yellow">Pr&oacute;ximos 6 meses</option>                            
                    <option value="9" class="lightBlue">Pr&oacute;ximos 9 meses</option>                            
                    <option value="12" class="green">Pr&oacute;ximos 12 meses</option>                            
                </select>
            </div>
            <div class="col-md-3">
                <label>Fecha vencimiento desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha vencimiento hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>
            <div class="col-md-3">
                <label>Dep&oacute;sito</label>
                <select name="deposito" class="col-xs-12 select2" id="deposito">   
                    {% include 'AppBundle:Stock:selectDeposito.html.twig' %}
                </select>
            </div> 
        </div>
        <div class="row">           
            <div class="col-md-3">
                <label>C&oacute;digo</label>
                <input type="text" value="{{app.request.get('codigo')}}" name="codigo" placeholder="C&oacute;digo">
            </div>  
            <div class="col-md-3">
                <label>Serie</label>
                <input type="text" value="{{app.request.get('serie')}}" name="serie" placeholder="Serie">
            </div> 
            <div class="col-md-3">
                <label>Lote</label>
                <input type="text" value="{{app.request.get('lote')}}" name="lote" placeholder="Lote">
            </div> 
            <div class="col-md-3">
                <label>Banco</label>
                <select name="banco" class="col-xs-12" id="banco">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'estado':'A','clienteProveedor':'1','banco':1})) }}                                                                          
                </select>
            </div>            
        </div>       
        <div class="row">           
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}     
            <div class="col-xs-3" style="margin-top:3rem;" >              
                <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                    Buscar
                </button>
                <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                    <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel

        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
        var banco = '{{app.request.get('banco')}}';
        $('#banco').val(banco).change();
        var deposito = '{{app.request.get('deposito')}}';
        $('#deposito').val(deposito).change();
        var vencidos = '{{app.request.get('vencidos')}}';
        $('#vencidos').val(vencidos).change();

    });
</script>
