<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('producto_informe_venta') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('NOW'|date('Y-m-d'))}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>
            <div class="col-md-3">
                <label>C&oacute;digo</label>
                <input name="codigo" type="text" placeholder="C&oacute;digo" autocomplete="off" value="{{app.request.get('codigo')}}">                
            </div>
            <div class="col-md-3">
                <label>Nombre</label> 
                <input name="nombre" type="text" placeholder="Nombre" autocomplete="off" value="{{app.request.get('nombre')}}">                               
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label>Categor&iacute;a</label>
                <select name="categoria" class="col-xs-12" id="categoria">              
                    {{ render(controller('AppBundle:Categoria:renderSelect', {'estado':'A'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Subcategor&iacute;a</label>
                <select name="subcategoria" id="subcategoria">
                    <option value="">Seleccionar..</option>
                </select>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
            <div class="col-md-3" >
                <br>
                <button class="btn btn-info" type="submit">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
        var categoria = '{{app.request.get('categoria')}}';
        $('#categoria').val(categoria).change();
        var subcategoria = '{{app.request.get('subcategoria')}}';
        $('#subcategoria').val(subcategoria).change();

    });
</script>
