{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
	{{ form_start(edit_form) }}
	<h2>
		Edición de {{entity.nombre}}
		<a class="btn btn-info btn-xs" style="float:right;" href="{{ app.request.headers.get('referer') }}">
			Volver
		</a>
		{{ form_widget(edit_form.submit) }}
	</h2>
	<div class="col-md-12 gestion">
		<div class="datos">
			{{ form_row(edit_form.nombre) }}
			{{ form_row(edit_form.descripcion) }}
			{{ form_row(edit_form.codigo) }}
			{{ form_row(edit_form.gtin) }}
			{{ form_row(edit_form.codigoOriginal) }}
			{{ form_row(edit_form.pm) }}
			{{ form_row(edit_form.marca) }}
			{{ form_row(edit_form.modelo) }}
			{{ form_row(edit_form.categoria) }}
			{{ form_row(edit_form.subcategoria) }}
			{{ form_row(edit_form.precio) }}
    			{{ form_row(edit_form.tipoiva) }}
			{{ form_row(edit_form.medida) }}
			{{ form_row(edit_form.proveedor) }}
			{{ form_row(edit_form.facturable) }}
			{{ form_row(edit_form.trazable) }}
			{{ form_row(edit_form.detalle) }}
		</div>
		<div>
			<div class="col-sm-12">
				<h3>Listas de Precio</h3>
			</div>
			{% for lista in listas %}
				<div class="col-sm-4">
					<label>{{ lista.descripcion }}</label>
					<input type="text" name="lista_id_{{ lista.id }}" value="{{ lista.valor }}" placeholder="Valor $"  />
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="hidden">
		{{ form_rest(edit_form) }}
	</div>

	{{ form_end(edit_form) }}
	<script>
		$('document').ready(function(){
			$('.datos div').addClass('col-sm-6');
			$('.datos div').last().removeClass('col-sm-6').addClass('col-sm-12').css('margin-top', '1em');
			$("input[type='text']").last().css('margin-bottom', '0em');
			cargarsubcategoria();
		});

		$('#app_bundle_producto_categoria').change(function () {
			cargarsubcategoria();
		});

		function cargarsubcategoria() {
			$('#app_bundle_producto_subcategoria').html("");
			$.post( '{{path('subcategoria_listadojson')}}', { id_categoria: $('#app_bundle_producto_categoria').val() })
					.done(function( data ) {
						var subcategorias = JSON.parse(data);
						$.each(subcategorias, function (key, value) {
							$('#app_bundle_producto_subcategoria').append('<option value="'+value.id+'">'+value.descripcion+'</option>');
							$('#app_bundle_producto_subcategoria').val('{{ entity.subcategoria.id|default('') }}');
						});
					});
		}

	</script>
	<style>
		.col-sm-4{
			text-align: center;
			margin-top: 2%;
		}
	</style>
{% endblock %}
