{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Listado de Productos
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" style="float:right;" href="{{ path('producto_new') }}">
                Crear
            </a>
        {% endif %}
    </h2>
    <hr />
    {% include 'AppBundle:Producto:buscador.html.twig' %}
    <hr />
    <div class="gestion">
        <table class="display" id="tablaproducto">
            <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Categor&iacute;a</th>
                <th>Subcategor&iacute;a</th>
                <th>Nombre</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Stock</th>
                {% endif %}
                <th>Precio</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.codigo }}</td>
                    <td>{{ entity.categoria|default('') }}</td>
                    <td>{{ entity.subcategoria|default('') }}</td>
                    <td><a href="{{ path('producto_show', { 'id': entity.id }) }}"><i class="fa fa-search"></i> {{ entity.nombre }}</a></td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>{{ entity.stock }}</td>
                    {% endif %}
                    <td>${{ entity.precio }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {% if entity.estado == 'A' %}
                                <a class="btn btn-warning btn-xs" href="{{ path('stock', { 'id': entity.id }) }}" title="Manejo de Stock" data-placement="left" data-toggle="tooltip"><i class="fa fa-cubes"></i></a>
                                <a class="btn btn-success btn-xs" href="{{ path('producto_edit', { 'id': entity.id }) }}" title="Editar" data-placement="left" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-danger btn-xs" href="{{ path('producto_delete', { 'id': entity.id }) }}" title="Borrar" data-placement="left" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                            {% else %}
                                <a class="btn btn-primary btn-xs" href="{{ path('producto_activar', { 'id': entity.id }) }}" title="Activar">Activar</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <style>
        .select2-selection.select2-selection--single{
            height: 2.5em;
        }
    </style>
    <script>
      tablaproducto = $('#tablaproducto').DataTable({
        "scrollY": "400px",
        "scrollCollapse": true,
        "scrollX": true,
        "paging": false,
        "ordering": false,
        "info": false,
        responsive: true,
        "filter": false,
        "order": [[0, "asc"]]
      });
      $(document).ready(function () {
        $('#sugerencia').addClass("hidden");
        if ($('#categoria').val() != '') {
          cargarsubcategoria();
        }
      });
      function predictiva(valor) {
        $.post('{{path('producto_predictiva')}}', {data: valor})
          .done(function (data) {
            $('#sugerencia').removeClass("hidden").html(data);
            $('.suggest-element').on('click', function () {
              var id = $(this).attr('id');
              var codigo = $(this).attr('codigo');
              $('#codigo').val(codigo);
              $('#sugerencia').addClass("hidden");
              $('#buscar').click();
            });
          });
      }
      $('#codigo').blur(function () {
        if ($('#codigo').val() == '') {
          $('#sugerencia').addClass("hidden");
        }
      });

      $('#categoria').change(function () {
        cargarsubcategoria();
      });

      function cargarsubcategoria() {
        if ($('#categoria').val() == '') {
          $('#subcategoria').html("");
          $('#subcategoria').append('<option value="">Seleccionar..</option>');
        }
        $.post('{{path('subcategoria_listadojson')}}', {id_categoria: $('#categoria').val()})
          .done(function (data) {
            var subcategorias = JSON.parse(data);
            $('#subcategoria').html("");
            $('#subcategoria').append('<option value="">Seleccionar..</option>');
            $.each(subcategorias, function (key, value) {
              $('#subcategoria').append('<option value="' + value.id + '">' + value.descripcion + '</option>');
            });
            $('#subcategoria').val('{{ app.request.get('subcategoria') }}');
          });
      }

    </script>
    <style>
        #sugerencia
        {
            z-index: 1000;
            position: absolute;
            width: 100%;
            height: 100px;
            background: white;
            border: 0.1px solid #b3b3b3;
            overflow-y: auto;
        }
    </style>
{% endblock %}
