{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Listado de Productos
    </h2>
    <hr />
    <div class="row	" style="margin-bottom: 5px;">
        <form autocomplete="off" action="{{path('producto')}}" method="GET">
            <div class="col-sm-3">
                <label>Códigos</label>
                <input type="text" id="codigo" name="codigo" placeholder="Codigo" autocomplete="off" value="{{app.request.get('codigo')}}" onkeyup="predictiva(this.value);"/>
                <div id="sugerencia"></div>
            </div>
            <div class="col-sm-3">
                <label>Categoría</label>
                <select name="categoria" id="categoria">
                    <option value="">Seleccionar..</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}" {{ categoria.id == app.request.get('categoria') ? 'selected': '' }}>{{categoria.descripcion}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <label>Subcategoría</label>
                <select name="subcategoria" id="subcategoria">
                    <option value="">Seleccionar..</option>
                </select>
            </div>

            <div class="col-md-3">
                <label>Nombre del Producto</label>
                <input type="text" name="descripcion" placeholder="Nombre del Producto" value="{{app.request.get('descripcion')}}" />
            </div>
            <div class="col-md-4 text-left">
                <button type="submit" id="buscar" class="btn btn-info" style="margin-top: 1em;">Buscar</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="gestion">
        <table class="display" id="tablaproducto">
            <thead>
            <tr>
                <th>Código</th>
                <th>Cód. Original</th>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.producto.codigo }}</td>
                    <td>{{ entity.producto.gtin }}</td>
                    <td>{{ entity.producto.subcategoria.categoria|default('') }}</td>
                    <td><a href="{{ path('producto_show', { 'id': entity.producto.id }) }}"><i class="fa fa-search"></i> {{ entity.producto.nombre }}</a></td>
                    <td>$ {{ entity.valor|default(entity.producto.precio) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
      tablaproducto = $('#tablaproducto').DataTable({
        "scrollY": "400px",
        "scrollCollapse": true,
        "scrollX": true,
        "paging": false,
        "ordering": false,
        "info": false,
        responsive: true,
        "filter": false,
        "order": [[0, "asc"]]
      });
      $(document).ready(function () {
        $('#sugerencia').addClass("hidden");
        if ($('#categoria').val() != '') {
          cargarsubcategoria();
        }
      });
      function predictiva(valor) {
        $.post('{{path('producto_predictiva')}}', {data: valor})
          .done(function (data) {
            $('#sugerencia').removeClass("hidden").html(data);
            $('.suggest-element').on('click', function () {
              var id = $(this).attr('id');
              var codigo = $(this).attr('codigo');
              $('#codigo').val(codigo);
              $('#sugerencia').addClass("hidden");
              $('#buscar').click();
            });
          });
      }
      $('#codigo').blur(function () {
        if ($('#codigo').val() == '') {
          $('#sugerencia').addClass("hidden");
        }
      });

      $('#categoria').change(function () {
        cargarsubcategoria();
      });

      function cargarsubcategoria() {
        if ($('#categoria').val() == '') {
          $('#subcategoria').html("");
          $('#subcategoria').append('<option value="">Seleccionar..</option>');
        }
        $.post('{{path('subcategoria_listadojson')}}', {id_categoria: $('#categoria').val()})
          .done(function (data) {
            var subcategorias = JSON.parse(data);
            $('#subcategoria').html("");
            $('#subcategoria').append('<option value="">Seleccionar..</option>');
            $.each(subcategorias, function (key, value) {
              $('#subcategoria').append('<option value="' + value.id + '">' + value.descripcion + '</option>');
            });
            $('#subcategoria').val('{{ app.request.get('subcategoria') }}');
          });
      }

    </script>
    <style>
        #sugerencia
        {
            z-index: 1000;
            position: absolute;
            width: 100%;
            height: 100px;
            background: white;
            border: 0.1px solid #b3b3b3;
            overflow-y: auto;
        }
    </style>
{% endblock %}
