{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe General de Stocks
    </h2>
    <hr/>
    {% include 'AppBundle:Producto:buscadorInformeGeneralStock.html.twig' %}
    <hr />
    <div class="gestion">
        <table id="tablaInformeGeneralStock" class="display" width="100%">
            <thead>
                <tr>   
                    <th></th>
                    <th>C&oacute;digo</th>                   
                    <th>S. Dep&oacute;sito</th>
                    <th>S. Reservados</th>
{#                    <th>S. No Conforme</th>#}
                    <th>S. Consig.</th>
                    <th>Total</th>
                    <th>Pendientes a Fac.</th>
                    <th>Ventas {{ "now"|date("Y") }}</th>                    
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td class="details-control">
                            <span class="text-success"><i class="fa fa-plus"></i></span>
                            <div class="valor" style="display:none">
                                <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                                    <thead>
                                        <tr>          
{#                                            <th>Proveedor</th>  #}
                                            <th>Categor&iacute;a</th>
                                            <th>Subcategor&iacute;a</th>
{#                                            <th>Marca</th>                          #}
{#                                            <th>Modelo</th>#}
{#                                            <th>Medida</th>                          #}
                                        </tr>
                                    </thead>    
                                    <tbody>                                      
                                        <tr>                      
{#                                            <td>{{ entity.producto.proveedor }}</td>    #}
                                            <td>{{ entity.producto.categoria }}</td>
                                            <td>{{ entity.producto.subcategoria }}</td>    
{#                                            <td>{{ entity.producto.marca }}</td>    #}
{#                                            <td>{{ entity.producto.modelo }}</td>    #}
{#                                            <td>{{ entity.producto.medida }}</td>    #}
                                        </tr>                                      
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('producto_show',{'id':entity.producto.id}) }}">{{ entity.producto.codigo }}</a>
                        </td>  

                        <td>{{ entity.stockDeposito|default('0') }}</td>
                        <td style="color:red">{{ entity.stockReservados|default('0') }}</td>
{#                        <td>{{ entity.stockNoConforme|default('0') }}</td>#}
                        <td>{{ entity.stockConsignados|default('0') }}</td>
                        <td>{{ entity.stockDeposito|default(0) + entity.stockConsignados|default(0)}}</td>
                        <td>{{ entity.pendientesFacturar|default(0) }}</td>
                        <td>{{ entity.ventas|default(0) }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadNegocio }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>

    <script>
        $(function () {
            tablaInformeGeneralStock = $('#tablaInformeGeneralStock').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "scrollX": true,
                "paging": false,
                "ordering": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": [[0, "asc"]]
            });
            // Add event listener for opening and closing details
            $('#tablaInformeGeneralStock tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tablaInformeGeneralStock.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.find('span').removeClass('text-danger');
                    tr.find('span').addClass('text-success');
                    tr.find('span').html('<i class="fa fa-plus"></i>');
                } else {
                    // Open this row
                    var valor = tr.find('.valor').html();
                    row.child(valor).show();
                    tr.addClass('shown');
                    tr.find('span').removeClass('text-success');
                    tr.find('span').addClass('text-danger');
                    tr.find('span').html('<i class="fa fa-minus"></i>');
                }
            });

        });
    </script>

{% endblock %}
