{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Informe de productos por vencer/vencidos    
    </h2>
    <hr />
    {% include 'AppBundle:Producto:buscadorInformeVencidos.html.twig' %}
    <hr />
    <div class="gestion">
        <table class="display" id="stockProductos">
            <thead>
                <tr>
                    <th>C&oacute;digo</th>                          
                    <th>Fecha de Vencimiento</th>    
                    <th>Lote</th>       
                    <th>Serie</th>    
                    <th>Dep&oacute;sito</th>        
                    <th>Banco</th>   

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>    
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    {% set productoConsignacion = ProductoConsignacionService.getProductoConsignacionByStockInClient(entity.id) %}
                    <tr 
                        >
                        <td>{{ entity.producto.codigo }}</td>
                        <td class="
                            {%if entity.vencimiento < date()%} 
                                red
                            {%else%}                            
                                {%if entity.vencimiento < date()|date_modify("+90 day")%} 
                                    orange
                                {%else%}
                                    {%if entity.vencimiento < date()|date_modify("+180 day")%} 
                                        yellow
                                    {%else%}
                                        {%if entity.vencimiento < date()|date_modify("+270 day")%} 
                                            lightBlue
                                        {%else%}
                                            green
                                        {%endif%}
                                    {%endif%}
                                {%endif%}
                            {%endif%}"
                            >{{ entity.vencimiento|date('Y-m-d')}}</td>
                        <td>{{ entity.lote }}</td>                                           
                        <td>{{ entity.serie }}</td>                                           
                        <td>                            
                            {% if not productoConsignacion %}
                                {{ entity.deposito }}
                            {% endif %}                            
                        </td>                                           
                        <td>                            
                            {% if productoConsignacion %}
                                {{ productoConsignacion.consignacion.clienteProveedor }}
                            {% endif %}
                        </td>                                           
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadNegocio }}</td>    
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>   
    <script>
        $(function () {
            tablaproducto = $('#stockProductos').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "scrollX": true,
                "paging": false,
                "ordering": true,
                "info": false,
                responsive: true,
                "filter": false,
                "order": [[0, "asc"]]
            });
            // Add event listener for opening and closing details
            $('#stockProductos tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tablaproducto.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.find('span').removeClass('text-danger');
                    tr.find('span').addClass('text-success');
                    tr.find('span').html('<i class="fa fa-plus"></i>');
                } else {
                    // Open this row
                    var valor = tr.find('.valor').html();
                    row.child(valor).show();
                    tr.addClass('shown');
                    tr.find('span').removeClass('text-success');
                    tr.find('span').addClass('text-danger');
                    tr.find('span').html('<i class="fa fa-minus"></i>');
                }
            });
        });
    </script>
    <style>
        .red{
            color:red;
        }
        .yellow{
            color:#ffff00;
        }
        .orange{
            color:orange;
        }
        .lightBlue{
            color: #0099ff;
        }
        .green{
            color:#66ff66;
        }
    </style>
{% endblock %}
