{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Informe de Ventas de Productos      
    </h2>
    <hr />
    {% include 'AppBundle:Producto:buscadorInforme.html.twig' %}
    <hr />
    <div class="gestion">
        {% set totalPaginaMonto =0 %}
        {% set totalPaginaUnidades =0 %}
        <table class="display" id="informeVentasProductos">
            <thead>
                <tr>                    
                    <th>C&oacute;digo</th>                          
                    <th>Categor&iacute;a</th>    
                    <th>SubCategor&iacute;a</th>    
                    <th>Nombre</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>    
                        {% endif %}      
                    <th>Ventas (Unidades)</th> 
                    <th>Ventas ($)</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>                       
                        <td>{{ entity['producto'].codigo }}</td>
                        <td>{{ entity['producto'].subcategoria.categoria|default('') }}</td>
                        <td>{{ entity['producto'].subcategoria|default('') }}</td>
                        <td>{{ entity['producto'].nombre }}</td>   
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td class="descripcionUnidadNegocio" data-unidadnegocio="{{app.request.get('unidadNegocio')}}"></td> 
                        {% endif %}  
                        <td> {{ entity['total']|round(2)}}{% set totalPaginaUnidades =totalPaginaUnidades+ entity['total']%}</td>  
                        <td> {{ entity['monto']|round(2)}}{% set totalPaginaMonto =totalPaginaMonto+ entity['monto']%}</td>               
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th colspan="3">
                            Total de p&aacute;gina: ($) {{totalPaginaMonto|round(2) }} - (U) {{totalPaginaUnidades|round(2)}}                           
                        </th>
                        <th colspan="4">
                            Total de Ventas del Per&iacute;odo: ($) {{total['monto']|round(2)}} - (U) {{total['unidades']|round(2)}}                            
                        </th>
                    {% else %}
                        <th colspan="3">
                            Total de p&aacute;gina ($): $($ {{totalPaginaMonto|round(2)}} - (U)  {{totalPaginaUnidades|round(2)}}                           
                        </th>
                        <th colspan="3">                         
                            Total de Ventas del Per&iacute;odo: ($) {{total['monto']|round(2)}} - (U) {{total['unidades']|round(2)}}                            
                        </th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>   
    <script>
        $(function () {
            tablaproducto = $('#informeVentasProductos').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "scrollX": true,
                "paging": false,
                "ordering": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": [[0, "asc"]]
            });
            $(".descripcionUnidadNegocio").each(function () {
                var descripcionUnidad = $(this);
                var unidadNegocio = descripcionUnidad.data('unidadnegocio');
                if (unidadNegocio == '') {
                    descripcionUnidad.html('Todas');
                } else {
                    $.post('{{path('unidadnegocio_descripcion')}}', {'id': unidadNegocio})
                            .done(function (data) {
                                descripcionUnidad.html(data);
                            });
                }
            });
        });
    </script>

{% endblock %}
