{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
		Insumos en Stock por Categoría
	</h2>
	<div class="gestion">
		<table class="display" id="tabla" width="100%">
			<thead>
				<tr>
					<th>Categoría</th>
					<th>En Stock</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.nombrecategoria }}</td>
					<td>{{ entity.stock }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<script>
			$('#tabla').DataTable( {
				"paging":   false,
				"ordering": false,
				"info":     false,
				"filter": false,
				"scrollY":  "480px",
				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'excelHtml5',
						filename: 'Listado de Elementos',
						text: 'Guardar en excel',
						footer: true,
						exportOptions: {
							modifier: {
								page: 'current'
							}
						}
					},
					{
						extend: 'pdfHtml5',
						message: 'Listado en Elementos',
						filename: 'Listado de Elementos',
						text: 'Guardar en PDF',
						footer: true,
//						orientation: 'landscape',
//						pageSize: 'LEGAL',
						exportOptions: {
							modifier: {
								page: 'current'
							}
						},
						customize: function ( doc ) {
							console.log(doc);
							doc.content[2].table.widths = '*';

							var rowCount = document.getElementById("tabla").rows.length;
							for (i = 0; i < rowCount; i++) {
								doc.content[2].table.body[i][0].alignment = 'center';
								doc.content[2].table.body[i][1].alignment = 'center';
								doc.content[2].table.body[i][2].alignment = 'center';
								doc.content[2].table.body[i][3].alignment = 'center';
							};
							
							var cols = [];
							cols[0] = {text: 'Div. Sistemas contra el narcotrafico', alignment: 'left', margin:[20] };
							var objFooter = {};
							objFooter['columns'] = cols;
							doc['footer'] = objFooter;
						}
					}		
				],
				"oLanguage": {
					"sSearch": "Buscar:",
					"sEmptyTable": 	   "No se encontraron registros.",			
					"sProcessing":     "Procesando...",
					"sLengthMenu":     "Mostrar _MENU_ registros",
					"sZeroRecords":    "No se encontraron resultados",
					"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
					"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
					"sInfoPostFix":    "",
					"sSearch":         "Buscar:",
					"sUrl":            "",
					"sInfoThousands":  ",",
					"sLoadingRecords": "Cargando..."
				}
				
			} );
	</script>
{% endblock %}
