{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form) }}
    <h2>
        Crear Producto
        <a class="btn btn-info btn-xs" style="float:right;" href="{{ path('producto') }}">
            Volver
        </a>
        {{ form_widget(form.submit) }}
    </h2>
    <div class="col-md-12 gestion">
        <div class="datos">
            {{ form_row(form.nombre) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.codigo) }}
            {{ form_row(form.gtin) }}
            {{ form_row(form.codigoOriginal) }}
            {{ form_row(form.pm) }}
            {{ form_row(form.marca) }}
            {{ form_row(form.modelo) }}
            {{ form_row(form.categoria) }}
            {{ form_row(form.subcategoria) }}
            {{ form_row(form.precio) }}
            {{ form_row(form.tipoiva) }}
            {{ form_row(form.medida) }}
            {{ form_row(form.proveedor) }}
            {{ form_row(form.facturable) }}
            {{ form_row(form.trazable) }}
            {{ form_row(form.stock_inicial) }}
            {{ form_row(form.detalle) }}
        </div>
        <div>
            <div class="col-sm-12">
                <h3>Listas de Precio</h3>
            </div>
            {% for lista in listas %}
                <div class="col-sm-4">
                    <label>{{ lista.descripcion }}</label>
                    <input type="text" name="lista_id_{{ lista.id }}" value="{{ app.request.get('lista_id_'~lista.id)|default('') }}" placeholder="Valor $"  />
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
    <script>
        $('document').ready(function () {
            $('.datos div').addClass('col-sm-6');
            $('.datos div').last().removeClass('col-sm-6').addClass('col-sm-12').css('margin-top', '1em');
            $("input[type='text']").last().css('margin-bottom', '0em');
            cargarsubcategoria();
        });

        $('#app_bundle_producto_stock_inicial').attr('step', '0.001');
        $('#app_bundle_producto_categoria').change(function () {
            cargarsubcategoria();
        });

        function cargarsubcategoria() {
            $('#app_bundle_producto_subcategoria').html("");
            $.post('{{path('subcategoria_listadojson')}}', {id_categoria: $('#app_bundle_producto_categoria').val()})
                    .done(function (data) {
                        var subcategorias = JSON.parse(data);
                        $.each(subcategorias, function (key, value) {
                            $('#app_bundle_producto_subcategoria').append('<option value="' + value.id + '">' + value.descripcion + '</option>');
                        });
                    });
        }
    </script>
    <style>
        .col-sm-4{
            text-align: center;
            margin-top: 2%;
        }
    </style>
{% endblock %}
