<option value="">Seleccione un Producto</option>
{% for producto in productos %}           
    <option value="{{producto.id}}" >
        {{producto}}
    </option>                                
{% endfor %}


