{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        <b>{{entity.nombre}}</b>
    </h2>
    <div class="col-sm-12 text-right">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning btn-xs" style="margin-left: 1em;" href="{{ path('stock', { 'id': entity.id }) }}" title="Manejo de Stock">Stock</a>
            <a class="btn btn-success" href="{{ path('producto_edit', {id:entity.id}) }}">
                Editar
            </a>
        {% endif %}
        <a class="btn btn-info btn-xs" style="margin-right: 1em;" href="{{ path('producto') }}">
            Volver al Listado
        </a>
    </div>
    <div class="gestion col-md-12" style="margin-top: 2em;">
        <table class="table">
            <tbody>
                <tr>
                    <th colspan="2">Descripción</th>
                    <td colspan="4">{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th>Código</th>
                    <td>{{ entity.codigo }}</td>
                    <th>Precio Base</th>
                    <td>$ {{ entity.precio|number_format(2, ',', '.') }}</td>
                </tr>
                <tr>
                    <th>Categor&iacute;a</th>
                    <td>{{ entity.categoria|default('N/A') }}</td>
                    <th>Subategor&iacute;a</th>
                    <td>{{ entity.subcategoria|default('N/A') }}</td>
                </tr>
{#                <tr>#}
{#                    <th>Tipo IVA</th>#}
{#                    <td>{{ entity.tipoiva }}</td>#}
{#                </tr>#}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <tr>
                        <th>Precios</th>
                        <td colspan="3">{{ entity.precios|join(', ')|raw }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th colspan="4">Stocks</th>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="table" id="tablaSF">
                            <thead>
                                <tr>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <th>Unidad de Negocio</th>
                                        {% endif %}
{#                                    <th>N° Serie</th>#}
                                    <th>Fecha</th>
                                    <th>Stock</th>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <th>Costo</th>
                                        {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock in entity.stocks if stock.stock > 0 %}
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <tr>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <td>{{ stock.unidadnegocio }}</td>
                                            {% endif %}
{#                                            <td>{{ stock.serie }}</td>#}
                                            <td>{% if stock.fecha %}{{ stock.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{{ stock.stock }}</td>
                                            <td>{{ stock.costo|number_format(2, ',', '.') }}</td>
                                        </tr>
                                    {% elseif is_granted('ROLE_SUPER_ADMIN') == false and stock.unidadnegocio == app.user.unidadnegocio %}
                                        <tr>
                                            <td>{% if stock.fecha %}{{ stock.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>{{ stock.stock }}</td>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <td>$ {{ stock.costo|number_format(2, ',', '.') }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Detalle</th>
                    <td colspan="5">{{ entity.detalle|nl2br }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
