{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
<h2>Edici&oacute;n de Usuario</h2>
<div class="joyas-container">
	<div class="container">
		{{ form_start(edit_form) }}
		{{ form_errors(edit_form) }}

		{{ form_row(edit_form.apellidonombre) }}
		{{ form_row(edit_form.email) }}
		{{ form_row(edit_form.username) }}
		{{ form_row(edit_form.sector) }}
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			{{ form_row(edit_form.unidadNegocio) }}
		{% endif %}
		{{ form_row(edit_form.enabled) }}
		{{ form_row(edit_form.plainPassword) }}
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			{{ form_row(edit_form.roles) }}
		{% endif %}
		<br>
		{{ form_widget(edit_form.submit) }}
		<a class="btn btn-default btn-xs"  href="{{ path('usuario') }}">
			Volver
		</a>
		<div class="hidden">
			{{ form_rest(edit_form) }}
		</div>
		{{ form_end(edit_form) }}
	</div>
</div>

<script>
	$(document).ready(function (){
	});
</script>
{% endblock %}
