{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
	<h2 style="margin-bottom:10px;">
		Usuarios 
{% if is_granted('ROLE_ADMIN')  %}
		<a  href="{{ path('usuario_new') }}">
			Crear
		</a>
{% endif %}
	</h2>
	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Apellido y Nombre</th>
					<th>Mail</th>
					<th>Username</th>
					{#<th>Perfil</th>#}
					<th>Sector</th>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<th>Unidad de negocio</th>
					{% endif %}
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.apellidonombre }}</td>
					<td>{{ entity.email }}</td>
					<td>{{ entity.username }}</td>
					{#<td>{{ entity.roles|join(", ") }}</td>#}
					<td>{{ entity.sector }}</td>
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<td>{{ entity.unidadnegocio|default('') }}</td>
					{% endif %}
					<td>
						<a class="btn btn-info btn-xs" href="{{ path('usuario_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
    					{% if entity.estado == 'A' %}
        					{% if entity.id != app.user.id %}
        						<a class="btn btn-danger btn-xs" href="{{ path('usuario_delete', { 'id': entity.id }) }}"><i class="fa fa-trash"></i></a>
        					{% endif %}
    					{% else %}
    						<a class="btn btn-success" href="{{ path('usuario_activar', { 'id': entity.id }) }}"><i class="fa fa-spin fa-refresh"></i></a>
    					{% endif %}
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	
	<script>
		
		activarActionsTab('usuario');
	</script>
    {% endblock %}
