{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
	<h2>Crear Usuario</h2>
	<div class="joyas-container">
		<div class="container">
			{{ form_start(form) }}
			{{ form_errors(form) }}

			{{ form_row(form.apellidonombre) }}
			{{ form_row(form.email) }}
			{{ form_row(form.username) }}
			{{ form_row(form.sector) }}
			{{ form_row(form.unidadNegocio) }}
			{{ form_row(form.enabled) }}
			{{ form_row(form.plainPassword) }}

			{% if is_granted('ROLE_SUPER_ADMIN') %}
				{{ form_row(form.roles) }}
			{% endif %}
			<br>
			{{ form_widget(form.submit) }}
			<a class="btn btn-default btn-xs"  href="{{ path('usuario') }}">
				Volver
			</a>
			{{ form_end(form) }}
		</div>
	</div>

	<script>
		$(document).ready(function (){
		});
	</script>
{% endblock %}
