<option value="">Elegir un Vendedor</option>
{% for vendedor in vendedores %}           
    <option value="{{vendedor.id}}" >
        {{vendedor}}
    </option>                                
{% endfor %}



