{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Usuario</h2>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Apellido y Nombre</th>
            <td>{{ entity.apellidonombre }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr class="{{ is_granted("ROLE_ADMIN") ? '' : 'hidden' }}">
            <th>Roles</th>
            <td>{{ entity.roles|join(", ") }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="btn btn-info btn-xs" href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                Editar
            </a>
            <a class="btn btn-info btn-xs" href="{{ path('usuario') }}">
                Volver
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    <script>

      activarActionsTab('usuario');
    </script>

{% endblock %}
