{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
	<h2 style="margin-bottom:10px;">
		Listas de Precio
		<a  href="{{ path('listaprecio_new') }}">
			Crear
		</a>
	</h2>

	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Descripci&oacute;n</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.descripcion }}</td>
					<td>
						{% if entity.estado == 'A' %}
							<a class="btn btn-info btn-xs" href="{{ path('listaprecio_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
							<a class="btn btn-danger btn-xs" href="{{ path('listaprecio_delete', { 'id': entity.id }) }}"><i class="fa fa-trash"></i></a>
						{% else %}
							<a class="btn btn-primary btn-xs" href="{{ path('listaprecio_activar', { 'id': entity.id }) }}">Activar</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    {% endblock %}
