{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>
        Creaci&oacute;n de Lista de Precio
        <a class="btn btn-info btn-xs" href="{{ path('listaprecio') }}">
            Volver
        </a>
    </h2>
    <hr />
    <div class="gestion col-xs-12">
        {{ form(form) }}
    </div>
{% endblock %}
