{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
		Listado de Marcas
        <a href="{{ path('marca_new') }}">
            Crear
        </a>
	</h2>

	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Descripcion</th>
					<th>Imagen</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.descripcion }}</td>
					<td><img style='width: 100px;' src="{{ entity.imagenBlob }}" /></td>
					<td>
						<a class="btn btn-info btn-xs" href="{{ path('marca_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
