{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Consignaciones
                <a class="btn btn-primary" href="{{ path('consignacion_new') }}">
                    Registrar Consignaci&oacute;n
                </a>
            </h2>
        </div>
    </div>
    <div class="row filtro">
        <form id="searchForm" action="{{ path('consignacion') }}" method="GET">
            <div class="col-md-3">
                <label>Fecha Desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')}}" class="form-control" name="fechaDesde" placeholder="Fecha Desde">
            </div>
            <div class="col-md-3">
                <label>Fecha Hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')}}" class="form-control" name="fechaHasta" placeholder="Fecha Hasta">
            </div>
            <div class="col-md-3">
                <label>Cliente</label>
                <input type="text" value="{{app.request.get('cliente')}}" class="form-control" name="cliente" placeholder="Nombre cliente o cuit">
            </div>
            <div class="col-md-3">
                <label>Número del Documento</label>
                <input type="text" value="{{app.request.get('numero')}}" class="form-control" name="numero" placeholder="Número">
            </div>
            <div class="col-md-3">
                <label>Estado</label>
                <select name="estado">
                    <option value="">Seleccionar...</option>
                    <option {{ app.request.get('estado') == constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_OK') ? 'selected' : '' }} value="{{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_OK') }}">
                        {{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_OK') }}
                    </option>
                    <option {{ app.request.get('estado') == constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_IN_PROCESS') ? 'selected' : '' }} value="{{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_IN_PROCESS') }}">
                        {{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_IN_PROCESS') }}
                    </option>
                    <option {{ app.request.get('estado') == constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_PARCIAL') ? 'selected' : '' }} value="{{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_PARCIAL') }}">
                        {{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_PARCIAL') }}
                    </option>
                    <option {{ app.request.get('estado') == constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_MIXTA') ? 'selected' : '' }} value="{{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_MIXTA') }}">
                        {{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_MIXTA') }}
                    </option>
                    <option {{ app.request.get('estado') == constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_ERROR') ? 'selected' : '' }} value="{{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_ERROR') }}">
                        {{ constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_ERROR') }}
                    </option>
                </select>
            </div>
            <div class="col-md-4" style="padding: 2em;">
                <button class="btn btn-primary" style="margin-top:2px" type="submit">
                    Buscar
                </button>
                <a class="btn btn-info" href="{{ path('consignacion') }}" style="margin-top:2px">
                    Limpiar Filtro
                </a>
            </div>
        </form>
    </div>
    <hr>
    <div class="tablasScroll">
        <table id="tablaSF" class="display">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th class="{{ is_granted('ROLE_SUPER_ADMIN')? '' : 'hidden' }}">Unidad</th>
                    <th>Consignaci&oacute;n</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td class="{{ is_granted('ROLE_SUPER_ADMIN')? '' : 'hidden' }}">{{ entity.unidadNegocio }}</td>
                        <td>
                            <a href="{{ path('consignacion_show', { 'id': entity.id}) }}">{{entity}}</a>
                        </td>
                        <td>
                            <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity.clienteProveedor.id }) }}">
                                {{ entity.clienteProveedor.razonSocial|default("") }}
                            </a>
                        </td>
                        <td>
                            {{ entity.estado }} {{ entity.factura ? '<br/><b>FACTURADO</b>'|raw : '' }}
                        </td>
                        <td>
                            <a class="btn btn-info" target="_blank" href="{{ path('consignacion_print', {id: entity.id}) }}"><i class="fa fa-print"></i></a>
                            {% if
                                entity.estado != constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_OK')
                                and
                                entity.estado != constant('AppBundle\\Entity\\Consignacion::CONSIGNACION_ERROR')
                            %}
                                <a class="btn btn-success" data-placement="left" title="Gestionar Consginación" data-toggle="tooltip" href="{{ path('consignacion_show', {id: entity.id}) }}"><i class="fa fa-edit"></i></a>
                            {% endif %}
                            <a class="btn btn-danger" title="Anular Consignación" data-toggle="tooltip" href="#"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>

    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul
        {
            list-style: none;
        }
    </style>

{% endblock %}
