<head>
    <title>{{ entity }}</title>
</head>
<body>
{% set variable_corte = 8 %}
{% set ciclos = (entity.productosConsignacion|length // variable_corte) == 0 ? 1 : (entity.productosConsignacion|length // variable_corte)  %}
{% set ciclos = variable_corte >= entity.productosConsignacion|length ? ciclos : ciclos + 1  %}
{% set resto = entity.productosConsignacion|length % variable_corte %}

{% for ciclo in 1..ciclos  %}
    <div class="imprimir" style="position: relative; height: 1100px;width: 925px;top: -3px; left: -5px;">
        {% set init_top = 115 %}
        <span style="position: absolute; left: 572px; top:{{ init_top }}px">{{entity.fecha|date('d')}}</span>
        <span style="position: absolute; left: 648px; top:{{ init_top }}px">{{entity.fecha|date('m')}}</span>
        <span style="position: absolute; left: 780px; top:{{ init_top }}px">{{entity.fecha|date('Y')}}</span>
        <span style="position: absolute; left: 131px; top:{{ init_top + 100 }}px">{{entity.clienteproveedor.razonSocial}}</span>
        <span style="position: absolute; left: 133px; top:{{ init_top + 125 }}px">{{entity.sucursal.direccion}}</span>
        <span style="position: absolute; left: 734px; top:{{ init_top + 119 }}px">{{entity.sucursal.codigopostal}}</span>
        <span style="position: absolute; left: 139px; top:{{ init_top + 156 }}px">{{entity.sucursal.localidad|default(' - ')}}</span>
        <span style="position: absolute; left: 684px; top:{{ init_top + 148 }}px">{{entity.sucursal.provincia|default(' - ')}}</span>
        <span style="position: absolute; left: 114px; top:{{ init_top + 187 }}px">{{ entity.clienteproveedor.condicioniva }}</span>
        <span style="position: absolute; left: 570px; top:{{ init_top +180 }}px">{{ entity.clienteproveedor.cuit }}</span>

        {% set top = 444 %}
        {% set left = 71 %}

        {% set desde = ciclo*variable_corte-variable_corte %}
        {% set hasta = (ciclo*variable_corte-1) < entity.productosConsignacion|length ? (ciclo*variable_corte-1) : (desde + (entity.productosConsignacion|length - desde))-1 %}
        {% for index in desde..hasta  %}
            {% set prodCons = entity.productosConsignacion[index] %}
            <span style="position: absolute; left: {{ left }}px; top:{{ top }}px">{{ ((ciclo-1) * variable_corte) + loop.index }}</span>
            <span style="position: absolute; left: {{ left + 72 }}px; top:{{ top }}px">{{ prodCons.cantidad }}</span>
            <span style="position: absolute; left: {{ left + 72 + 93 }}px; top:{{ top }}px;max-width: 600px;">
                {{ prodCons.stock.producto.nombre }}
                {{ prodCons.stock.serie ? ' - N° Serie: '~prodCons.stock.serie : '' }}
                {{ prodCons.stock.lote ? ' - Lote: '~prodCons.stock.lote : '' }}
{#                {{ prodCons.stock.producto.trazable ? ' - GTIN: '~prodCons.stock.producto.gtin : '' }}#}
            </span>

            {% set top = top + 60 %}
        {% endfor %}
        {% if entity.observacion %}
            <span style="position: absolute; left: {{ left + 72 + 93 }}px; top:{{ top }}px;max-width: 600px;">
        {{ entity.observacion }}
        </span>
        {% endif %}
    </div>
    {% if ciclos > 1 and (loop.index<ciclos)  %}
        <div class="saltopagina"></div>
    {% endif %}
{% endfor %}
</body>

<script language="Javascript">
    window.print();
</script>

<style type="text/css" media="print">
    @page { margin: 0cm; margin-left: 2mm; margin-right: 2mm; }
    body { margin: 1cm 0cm;}
    .content { padding: 0cm; }
    #oculto { display: none; }
    .imprimir { display: block; }

    div.saltopagina{
        display:block;
        page-break-before:always;
    }
</style>
