{% extends 'AppBundle::base.html.twig' %}
{% block content -%}

    <div id="imprimir">
        <header style="width: 100%; text-align:center;">
            <table id="content" class="display" cellspacing="0" width="100%" style="margin-top: 1%;">
                <thead>
                <tr style="">
                    <th colspan="2" style="width: 40%;">
                        <img src="{{asset('logo.png')}}" style="height: 4em;margin-left: 25%;" />
                    </th>
                    <th style="" colspan="2">
                    </th>
                    <th colspan="2" style="font-size: 28px; width: 40%;padding-right: 10%;">CONSIGNACION</th>
                </tr>
                <tr>
                    <th colspan="3" style="width:50%;">
                        <span style="font-weight: bold;font-size: 1.4em;">{{empresa_razonsocial|title}}</span><br/>
                        <span style="font-size: 0.9em;">{{empresa_de}}</span>
                    </th>
                    <th colspan="3" style="width:50%;">Comp. Nro: <span style="font-weight: normal;font-size: 1.3em;">{{entity.numero|default(entity.id) }}</span></th>
                </tr>
                <tr>
                    <th colspan="3" style="width:50%;">
                        <span style="font-weight: normal;"> {{entity.unidadNegocio.direccion}}</span>
                    </th>
                    <th colspan="3" style="width:50%;">CUIT: <span style="font-weight: normal;">{{entity.unidadNegocio.cuit}}</span></th>
                </tr>
                <tr>
                    <th colspan="3"  style="width:50%;">
                        IVA: <span style="font-weight: normal;">Responsable Inscripto</span>
                    </th>
                    <th colspan="3" style="width:50%;">Ingresos Brutos:<span style="font-weight: normal;">{{entity.unidadNegocio.iibb}}</span></th>
                </tr>
                <tr style="">
                    <th colspan="3" style="width:50%;padding-bottom: 1em;">
                        Fecha de Emisi&oacute;n: <span style="font-weight: normal;">{{entity.fecha|date('d/m/Y')}}</span>
                    </th>
                    <th colspan="3" style="width:50%;padding-bottom: 1em;">
                        {#Fecha de Inicio de Actividades: <span style="font-weight: normal;">12/08/1995</span>#}
                    </th>
                </tr>
                <tr style="border-top: 1px solid #0000007a;">
                    <th colspan="3" style="padding-top: 1em;">Apellido y Nombre / Raz&oacute;n Social: <span style="font-weight: normal;">{{entity.clienteproveedor.razonSocial }}</span></th>
                    <th colspan="3" style="padding-top: 1em;">
                        {% if entity.clienteproveedor.cuit %}
                            CUIT: <span style="font-weight: normal;">{{entity.clienteproveedor.cuit}}</span>
                        {% else %}
                            DNI: <span style="font-weight: normal;">{{entity.clienteproveedor.dni}}</span>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th colspan="3" style="">
                        IVA: <span style="font-weight: normal;">{{entity.clienteproveedor.condicionIva}}</span>
                    </th>
                    <th colspan="3">
                        Domicilio:
                        <span style="font-weight: normal;">
                                {{entity.sucursal.direccion}}
                            </span>
                    </th>
                </tr>
                {% if entity.factura %}
                    <tr style="">
                        <th colspan="6">
                            <h4 class="text-center">
                                Factura Asociada:
                                <b>
                                    <a href="{{ path('factura_show', {id: entity.factura.id}) }}" target="_blank">
                                        {{ entity.factura|raw }} - Cliente: {{ entity.factura.clienteProveedor.razonSocial|default() }}
                                    </a>
                                </b>
                            </h4>
                        </th>
                    </tr>
                {% endif %}
                <tr style="">
                    <th colspan="6" style="">
                        <h2>
                            Estado: <b>{{ entity.estado }}{{ entity.factura ? ' / FACTURADO' : '' }}</b>
                        </h2>
                    </th>
                </tr>
                </thead>
            </table>
        </header>
        <table id="content" style="text-align: center; width: 100%; margin-top: 1%;border-top:  1px solid;border-bottom: 1px solid;">
            <thead>
            <tr style="">
                <th>C&oacute;digo</th>
                <th style="width: 60%;">Nombre - N° Serie</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th class="ocultar_columna">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% set length = 0  %}
            {% for prodCons in entity.productosConsignacion %}
                {% set length = loop.length  %}
                <tr style="height: 22px">
                    <td>
                        {{ prodCons.stock.producto.codigo }}
                    </td>
                    <td>
                        <a target="_blank" href="{{ path('stock_show', {id: prodCons.stock.id}) }}">{{ prodCons.stock.producto.nombre }} {{ prodCons.stock.serie ? '- N° '~prodCons.stock.serie : '' }} - Lote: {{ prodCons.stock.lote }}</a>
                    </td>
                    <td>
                        {{ prodCons.cantidad }}
                    </td>
                    <td>
                        {% if entity.factura is null %}
                            {{ prodCons.estado }}
                        {% else %}
                            FACTURADO
                        {% endif %}
                    </td>
                    <td class="ocultar_columna">
                        {% if prodCons.estado == constant('AppBundle\\Entity\\ProductoConsignacion::PRODUCTO_CONSIGNACION_IN_CLIENT')  %}
                            {% if entity.factura is null %}
                            <button onclick="openModalImplantado({{ prodCons.id }}, '{{ prodCons.stock.producto.nombre|url_encode }} - N° {{ prodCons.stock.serie }}');" class="btn btn-success">Usado</button>
                            {% endif %}
                            <button class="btn btn-warning" type="button" onclick="confirmarDevolucion('{{ path('consignacion_devolucion', {productoConsignacionId: prodCons.id}) }}')">Devolución</button>
                        {% endif %}
                        {% if prodCons.estado == constant('AppBundle\\Entity\\ProductoConsignacion::PRODUCTO_CONSIGNACION_OK')  %}
                            {% set productoconsignacion = {
                                id: prodCons.id,
                                nombre: prodCons.stock.producto.nombre|escape,
                                cliente: {nombre: prodCons.cliente.razonSocial, id: prodCons.cliente.id},                                
                                vendedor: prodCons.vendedor ? prodCons.vendedor.id : '',
                                fechauso: prodCons.fechauso ? prodCons.fechauso|date('Y-m-d') : '',
                                paciente: prodCons.paciente,
                                observaciones: prodCons.observaciones,
                            } %}
                            <button onclick="openModalEditImplantado({{ prodCons.id }}, '{{ productoconsignacion|json_encode }}')" class="btn btn-success"><i class="fa fa-pencil"></i></button>
                            <button onclick="anularUso('{{ prodCons.stock.producto.nombre }} - N° {{ prodCons.stock.serie }}', '{{ path('consignacion_anular_uso', {productoconsignacion_id: prodCons.id}) }}')" class="btn btn-danger"><i class="fa fa-trash"></i> Anular Uso</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if entity.observacion %}
        <div class="col-sm-12 text-left">
            <label>Observaciones</label>
            <p>
                {{ entity.observacion }}
            </p>
        </div>
    {% endif %}
    <div id="oculto" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
        <a class="btn btn-info" onclick="document.title = '{{ entity }}';imprSelec()">
            <i class="fa fa-file"></i> Imprimir Esta Página
        </a>
        <a class="btn btn-primary" target="_blank" href="{{ path('consignacion_print', {id: entity.id}) }}">
            <i class="fa fa-file"></i> Imprimir Remito Consignación
        </a>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-success" data-toggle="modal" data-target="#modalNumeroConsignacion">
                <i class="fa fa-pencil"></i>  Editar
            </a>
        {% endif %}
        <a class="btn btn-warning" href="{{ path('consignacion') }}">
            <i class="fa fa-arrow-left"></i>  Ir a listado de consignaciones
        </a>
             <a class="btn btn-default" href="javascript:goBack();">
            <i class="fa fa-arrow-right"></i>  Volver
        </a>
    </div>
    <div class="modal" id="modalImplantacion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Uso</h5>
                </div>
                <form action="{{ path('consignacion_implantacion') }}" method="POST" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label id="stock_label"></label>
                                <input type="hidden" name="productoconsignacion_id" id="productoconsignacion_id" value="">
                            </div>
                            <div class="col-sm-12">
                                <button style="float: right;" type="button" class="btn btn-danger btn-xs" onclick="$('#cliente, #sucursal_id').val('').removeAttr('readonly');
                                    $('.iva').addClass('hidden');">
                                    Borrar <i class="fa fa-trash"></i>
                                </button>
                                <label>Definir Cliente a Facturar/Remitir</label>
                                <input id="cliente" autocomplete="off" type="text" name="cliente" class="form-control" required/>
                                <input id="sucursal_id" autocomplete="off" type="hidden" name="sucursal_id" class="form-control" required/>
                                <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>
                            </div>
                            <div class="col-sm-12">
                                <label>Paciente</label>
                                <input id="paciente" autocomplete="off" type="text" name="paciente" class="form-control" required/>
                            </div>
                            <div class="col-sm-6">
                                <label>Vendedor</label>
                                <select name="vendedor" class="form-control select2">
                                    {% for usuario in usuarios %}
                                        <option value="{{ usuario.id }}">{{ usuario }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>Fecha de Uso</label>
                                <input type="date" name="fechauso" class="form-control" required />
                            </div>
                            <div class="col-sm-12">
                                <label>Observaciones</label>
                                <textarea name="observaciones" class="form-control" style="height: 100px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="modalNumeroConsignacion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Número o Factura de la Consignación</h5>
                </div>
                <form action="{{ path('consignacion_edit_number', {id: entity.id}) }}" method="POST" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Número de Consignacion</label>
                                <input id="consignacion_numero" autocomplete="off" type="number" name="consignacion_numero" class="form-control" required value="{{ entity.numero }}"/>
                            </div>
                            <div class="col-sm-12">
                                <label for="factura">Factura Asociada</label>
                                <select class="select2factura" name="factura">
                                    {% if entity.factura %}
                                        <option value="{{ entity.factura.id }}">{{ entity.factura|raw }} - Cliente: {{ entity.factura.clienteProveedor.razonSocial|default('') }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="modalEditImplantacion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Uso</h5>
                </div>
                <form action="{{ path('consignacion_implantacion_edit') }}" method="post" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label id="stock_edit_label"></label>
                                <input type="hidden" name="productoconsignacion_id" id="productoconsignacion_edit_id" value="">
                            </div>
                            <div class="col-sm-12">
                                <button style="float: right;" type="button" class="btn btn-danger btn-xs" onclick="$('#cliente_edit, #cliente_edit_id').val('').removeAttr('readonly');
                                    $('.iva').addClass('hidden');">
                                    Borrar <i class="fa fa-trash"></i>
                                </button>
                                <label>Definir Cliente a Facturar/Remitir</label>
                                <input id="cliente_edit" autocomplete="off" type="text" name="cliente" class="form-control" required/>
                                <input id="cliente_edit_id" autocomplete="off" type="hidden" name="cliente_id" class="form-control" required/>
                                <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente_edit"></div>
                            </div>
                            <div class="col-sm-12">
                                <label>Paciente</label>
                                <input id="paciente_edit" autocomplete="off" type="text" name="paciente" class="form-control" required/>
                            </div>
                            <div class="col-sm-6">
                                <label>Vendedor</label>
                                <select name="vendedor" id="vendedor_edit" class="form-control select2">
                                    {% for usuario in usuarios %}
                                        <option value="{{ usuario.id }}">{{ usuario }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label>Fecha de Uso</label>
                                <input type="date" name="fechauso" id="fechauso_edit" class="form-control" required />
                            </div>
                            <div class="col-sm-12">
                                <label>Obersavaciones</label>
                                <textarea name="observaciones" id="observaciones_edit" class="form-control" style="height: 100px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script language="Javascript">
        function imprSelec() {
            window.print();
        }

        function anularUso(producto_nombre, link) {
            if (confirm("Confirmar la anulación de uso para el producto "+producto_nombre+"?")) {
                window.location.href = link;
            }
        }

        function openModalImplantado(productoconsignacion_id, producto_nombre) {
            $('#productoconsignacion_id').val(productoconsignacion_id);
            $('#stock_label').html(decodeURIComponent(producto_nombre));
            $('#modalImplantacion').modal('show');
        }
        function openModalEditImplantado(productoconsignacion_id, json_info) {
            let productoConsignacion = JSON.parse(json_info);
            console.log(productoConsignacion)
            $('#productoconsignacion_edit_id').val(productoconsignacion_id);
            $('#productoconsignacion_edit_id').val(productoconsignacion_id);
            $('#stock_edit_label').html(productoConsignacion.nombre);
            $('#paciente_edit').val(productoConsignacion.paciente);
            $('#vendedor_edit').val(productoConsignacion.vendedor).change();            
            $('#fechauso_edit').val(productoConsignacion.fechauso);
            $('#observaciones_edit').val(productoConsignacion.observaciones);
            $('#cliente_edit').val(productoConsignacion.cliente.nombre).prop('readonly', 'readonly');
            $('#cliente_edit_id').val(productoConsignacion.cliente.id);

            $('#modalEditImplantacion').modal('show');
        }
        function predictivaCliente() {
            $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#cliente").val(), tipo: 1})
                .done(function (data) {
                    $('#sugerenciacliente').fadeIn(500).html(data);

                    $('.suggest-element').on('click', function () {
                        var id = $(this).attr('id');

                        $('#sucursal_id').val(id);
                        $('#cliente').val($(this).children('a').html()).prop('readonly', 'readonly');
                        $('#sugerenciacliente').fadeOut(500);
                    });
                    if ($('#sugerenciacliente ul li').length === 1) {
                        $('#sugerenciacliente ul li a').click();
                        $('#sugerenciacliente').fadeOut().html("");
                    }
                });
        }

        $("document").ready(function () {
            $("#cliente").keyup(function () {
                predictivaCliente();
            });
            $('.select2factura').select2({
                dropdownParent: $('#modalNumeroConsignacion'),
                ajax: {
                    url: "{{path('factura_predictiva_select2')}}",
                    dataType: 'json',
                    data: function (params) {
                        var query = {
                            search: params.term,
                            type: 'public',
                        }
                        return query;
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.items,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        }
                    }
                }
            });
        });

    </script>
    <style>
        @media print {
            @page { margin: 0cm; }
            body { margin: 1cm 0cm; }
            .content { padding: 0px; }
            #oculto, .ocultar_columna { display: none; }
        }

        #page-wrapper {
            padding: 0px;
            margin: 0px !important;
        }

        .sidebar {
            display: none;
        }

        footer th {
            padding: 5px 0px;
        }

        footer img {
            margin: 5px 0px;
        }
    </style>



{% endblock %}
