{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Edici&oacute;n de Condici&oacute;n de IVA</h2>

    <div class="joyas-container"><div class="container">
    {{ form(edit_form) }}<a class="btn btn-info btn-xs" href="{{ path('condicioniva')  }}">
    Volver</a></div></div>
	
<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
	});	
	activarActionsTab('condicioniva');
</script>
{% endblock %}
