{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
	<h2 style="margin-bottom:10px;">
		Categor&iacute;a 
		<a  href="{{ path('categoria_new') }}">
			Crear
		</a>
	</h2>

	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Descripci&oacute;n</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.descripcion }}</td>
					<td>
						<a class="btn btn-info btn-xs" href="{{ path('categoria_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-danger btn-xs" href="{{ path('categoria_delete', { 'id': entity.id }) }}"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    {% endblock %}
