<option value="">Elegir una Categor&iacute;a</option>
{% for categoria in categorias %}           
    <option value="{{categoria.id}}" >
        {{categoria.descripcion}}
    </option>                                
{% endfor %}



