{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Edición de Movimiento
        <a href="{{ path('movimientodeposito') }}">
            Volver
        </a>
    </h2>
    <hr />
    <div class="gestion col-xs-12">
        {{ form(edit_form) }}
    </div>
{% endblock %}
