{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Listado de Movimientos entre depósitos
        <a class="btn btn-info" style="float: right;" href="{{ path('stock_show', {id: stock.id}) }}">Volver</a>
    </h2>

    <div class="col-sm-12" style="margin: 1em 0em;">
        <h4>{{ stock.producto.nombre }} - N°: {{ stock.serie }}</h4>
        <h4>Depósito Actual: <b>{{ stock.deposito }}</b></h4>
    </div>

    <div class="tablasScroll">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Motivo</th>
                <th>Descripción</th>
                <th>Deposito Desde</th>
                <th>Deposito Hasta</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.motivo.descripcion|default('') }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.depositodesde }}</td>
                    <td>{{ entity.depositohasta }}</td>
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
