{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MovimientoDeposito</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Deposito_desde</th>
                <td>{{ entity.depositodesde }}</td>
            </tr>
            <tr>
                <th>Deposito_hasta</th>
                <td>{{ entity.depositohasta }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('movimientodeposito') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('movimientodeposito_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
