{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Edici&oacute;n de Tipo de Cheque</h2>

    <div class="joyas-container">
    <div class="container">{{ form(edit_form) }}<a class="btn btn-info btn-xs" href="{{ path('tipocheque')  }}">Volver
    </a></div></div>
	
<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
	});	
	activarActionsTab('tipocheque');
</script>
{% endblock %}
