<option value="">Elegir Tipo de Cheque</option>
{% for tipoCheque in tiposCheque %}           
    <option value="{{tipoCheque.id}}"  >
        {{tipoCheque.descripcion}}
    </option>                                
{% endfor %}


