{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2 style="margin-bottom:10px;">
        Cuenta Bancaria "{{entity.descripcion}} - {{entity.nrocuenta}}"
        <a  class="btn btn-default pull-right" href="{{ path('cuentabancaria') }}">
            Volver
        </a>                  
        <button style="float: right;"  class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#myModal">
            Ajuste
        </button>
        <!-- Modal -->
        <div class="modal fade out" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="formModal" action="{{ path('cuentabancaria_ajuste', {id: entity.id}) }}" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myModalLabel">Ajuste Bancario</h4>
                        </div>
                        <div class="modal-body">
                            <div style="text-align: center;">
                                <strong>Ingrese el valor a Ajustar</strong>
                                <input type="text" class="form-control" placeholder="Valor" name="valor" />                                        
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <select class="form-control" name="unidadnegocio" style="width: 100%;">
                                        <option value="0">Elegir Unidad</option>
                                        {% for unidad in unidades %}
                                            <option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                                <textarea class="form-control" placeholder="Observacion" name="observacion"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <input type="submit" class="btn btn-primary" value="Continuar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </h2>

    <div class="tablasScroll">
        <table class="display col-xs-12" id="tablas">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Tipo Movimiento</th>
                    <th>Observaci&oacute;n</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>
                {% set saldofinanciero = 0 %}
                {% set saldoreal = 0 %}
                {% for movimiento in movimientos %}
                    {% if movimiento.tipoMovimiento == 'CH' %}
                        <!-- Es un cheque -->
                        {% if movimiento.estado == 'C' %}
                            <!-- Es una conciliación -->
                            {% if movimiento.cheque.cuentaorigen.id == entity.id %}
                                <!--Es cuenta origen-->                                
                                {% set saldofinanciero = saldofinanciero + movimiento.cheque.importe %}
                                {% set saldoreal = saldoreal - movimiento.cheque.importe %}
                            {% else %}
                                <!--Es cuenta destino-->
                                {% set saldofinanciero = saldofinanciero - movimiento.cheque.importe %}
                                {% set saldoreal = saldoreal + movimiento.cheque.importe %}
                            {% endif %}

                        {% elseif movimiento.estado == 'Z' %}
                            <!-- Es un cheque rechazado -->
                            {% if movimiento.cheque.cuentaorigen.id == entity.id %}
                                <!--Es cuenta origen-->
                                {% set saldofinanciero = saldofinanciero + movimiento.cheque.importe %}
                            {% else %}
                                {% set saldofinanciero = saldofinanciero + movimiento.cheque.importe %}
                            {% endif %}
                        {% else %}
                            <!-- Es un depósito o un cheque propio usado -->
                            {% if movimiento.cheque.cuentaorigen.id == entity.id %}
                                <!--Es cuenta origen-->
                                {% set saldofinanciero = saldofinanciero - movimiento.cheque.importe %}
                            {% else %}
                                {% set saldofinanciero = saldofinanciero + movimiento.cheque.importe %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <!-- Es un ajuste -->
                        {% set saldofinanciero = saldofinanciero + movimiento.valor %}
                    {% endif %}
                    <tr>
                        <td>{{ movimiento.fecha|date('Y-m-d') }}</td>
                        <td style="color: {{ movimiento.color }};">
                            {{movimiento.estadoActual }}
                        </td>
                        <td>
                            {% if movimiento.tipoMovimiento == 'CH' %}
                                CHEQUE {{ movimiento.cheque.id }}
                            {% else %}
                                AJUSTE {{ movimiento.id }}
                            {% endif %}
                        </td>
                        <td>
                            {{movimiento.observacion}}
                        </td>
                        <td>
                            {% if movimiento.tipoMovimiento == 'CH' %} 
                                {% if movimiento.cheque.cuentaorigen.id == entity.id %}
                                    {% if movimiento.estado == 'Z' %}
                                        {{ movimiento.valor }}
                                    {% else %}
                                        <span style="color: red;">- {{ movimiento.valor }}</span>
                                    {% endif %}
                                {% else %}
                                    {{ movimiento.valor }}
                                {% endif %}

                            {% else %}
                                {{ movimiento.valor }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot style="font-weight: bold;">
                <tr>
                    <td></td> 
                    <td>Saldo Financiero TOTAL</td> 
                    <td>$ {{saldofinanciero|round(2)}}</td> 
                    <td>Saldo Real TOTAL</td> 
                    <td>$ {{saldoreal|round(2)}}</td> 
                </tr>
            </tfoot>
        </table>
    </div>
    <style>
    </style>
{% endblock %}
