{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Creaci&oacute;n de Cuenta Bancaria</h2>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
        <div class="container">
            {{ form(form) }}
            <a class="btn btn-default" href="{{ path('cuentabancaria') }}">
                Volver
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("input").attr('class', 'form-control');
        });
        activarActionsTab('cuentabancaria');
    </script>
{% endblock %}
