<!-- Buscador -->
<div class="container" style="margin-bottom: 2%;">
    <form action="{{ path('balance_informe_importaciones') }}" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="fechaDesde" placeholder="Fecha desde">
            </div>
            <div class="col-md-3">
                <label>Fecha hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')|default('NOW'|date('Y-m-d'))}}" name="fechaHasta" placeholder="Fecha hasta">
            </div>
            <div class="col-md-3">
                <label>Proveedor</label>
                <select name="clienteProveedor" class="col-xs-12" id="clienteProveedor">              
                    {{ render(controller('AppBundle:ClienteProveedor:renderSelect', {'clienteProveedor':'2','estado':'A'})) }}                                                                          
                </select>
            </div>
            <div class="col-md-3">
                <label>Producto</label>
                <select name="producto" class="col-xs-12" id="producto">              
                    {{ render(controller('AppBundle:Producto:renderSelect', {'estado':'A'})) }}                                                                                                                         
                </select>
            </div>
            <div class="col-md-3">
                <label>Modelo</label>
                <input type="text" value="{{app.request.get('modelo')}}" name="modelo" placeholder="Modelo">
            </div>           
            <div class="col-md-3">
                <label>Despacho</label>
                <input type="text" value="{{app.request.get('despacho')}}" name="despacho" placeholder="Despacho">
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidadNegocio" class="col-xs-12" id="unidadNegocio">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
            {% endif %}
        </div>
        <br>
        <div class="row">           
            <div class="col-xs-12" >              
                <button class="btn btn-info" type="submit" id="buscar" name="action" value="buscar">
                    Buscar
                </button>
                <button class="btn btn-success pull-right" id="generar"  type="submit" name="action" value="excel">
                    <i class="fa fa-file-excel-o"> Exportar Excel </i>    
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#generar').unbind("click"); //Permite que no se carge el spinner y que pueda descargar el excel
        var unidadNegocio = '{{app.request.get('unidadNegocio')}}';
        $('#unidadNegocio').val(unidadNegocio).change();
        var producto = '{{app.request.get('producto')}}';
        $('#producto').val(producto).change();
        var clienteProveedor = '{{app.request.get('clienteProveedor')}}';
        $('#clienteProveedor').val(clienteProveedor).change();


    });

</script>
