{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Balance list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Amountbalance</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('balance_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.amount }}</td>
                    <td>{{ entity.price }}</td>
                    <td>{{ entity.amountBalance }}</td>
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('balance_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('balance_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('balance_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
