{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe Importaciones
    </h2>
    <hr/>
    {% include 'AppBundle:Balance:buscadorInformeImportaciones.html.twig' %}
    <hr />
    <div class="gestion">
        <table id="tablaInformeImportaciones" class="display" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Producto</th>
                    <th>Lote</th>
                    <th>Despacho</th>
                    <th>Cantidad</th>
                    <th>C&oacute;digo</th>
                    <th>GTIN</th>
                    <th>Rango de Serie</th>
                    <th>Fecha</th>
                    <th>Vence</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td class="details-control">
                            <span class="text-success"><i class="fa fa-plus"></i></span>
                            <div class="valor" style="display:none">
                                <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
                                    <thead>
                                        <tr>  
                                            <th>Proveedor</th>
                                            <th>Modelo</th> 
                                            <th>Procedencia</th>
                                            <th>Origen</th>
                                            <th>Etiqueta</th>  
                                            <th>Carga</th>    
                                            <th>Higiene</th>    
                                            <th>Estado</th>    
                                            <th>Realiz&oacute;</th>        
                                            <th>Control&oacute;</th>        
                                        </tr>
                                    </thead>
                                    <tbody>   
                                        <tr> 
                                            <td>{{ entity.stock.producto.proveedor }}</td>
                                            <td>{{ entity.stock.producto.modelo}}</td>
                                            <td>{{ entity.stock.procedencia }}</td>    
                                            <td>{{ entity.stock.origen }}</td> 
                                            <td>{{ entity.stock.etiqueta }}</td>
                                            <td>{{ entity.stock.carga }}</td>
                                            <td>{{ entity.stock.higiene }}</td>
                                            <td>{{ entity.stock.estado }}</td>
                                            <td>{{ entity.stock.controlo|default('') }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>{{ entity.stock.producto.nombre }}</td>
                        <td>{{ entity.stock.lote }}</td>
                        <td>{{ entity.stock.despacho }}</td>
                        <td>{{ BalanceService.stockByProductoLoteDespacho(entity.stock.producto.id,entity.stock.lote,entity.stock.despacho)}}</td>
                        <th>{{ entity.stock.producto.codigo|default('')}}</th>
                        <th>{{ entity.stock.producto.gtin|default('')}}</th>
                        <th>{{ BalanceService.rangoNroSeriePorProductoLoteDespacho(entity.stock.producto.id,entity.stock.lote,entity.stock.despacho)}}</th>
                        <td>{{ entity.created|date('Y-m-d') }}</td>
                        <td>{{ entity.stock.vencimiento|date('Y-m-d') }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.stock.unidadNegocio }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            var tablaInformeImportaciones = $('#tablaInformeImportaciones').DataTable({
                "scrollX": true,
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');

            // Add event listener for opening and closing details
            $('#tablaInformeImportaciones tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = tablaInformeImportaciones.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    tr.find('span').removeClass('text-danger');
                    tr.find('span').addClass('text-success');
                    tr.find('span').html('<i class="fa fa-plus"></i>');
                } else {
                    // Open this row
                    var valor = tr.find('.valor').html();
                    row.child(valor).show();
                    tr.addClass('shown');
                    tr.find('span').removeClass('text-success');
                    tr.find('span').addClass('text-danger');
                    tr.find('span').html('<i class="fa fa-minus"></i>');
                }
            });
        });
    </script>


{% endblock %}
