{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe Stock de Productos
    </h2>
    <hr/>
    {% include 'AppBundle:Balance:buscadorInformeStockProductos.html.twig' %}
    <hr />
    <div class="gestion">
        <table id="tablaInformeStockProductos" class="display" width="100%">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Producto</th>
                <th>N° Serie</th>
                <th>Lote</th>
                <th>Despacho</th>
                <th>F. Venc.</th>
                <th>Dep&oacute;sito</th>
                <th>Cantidad</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Unidad de Negocio</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.created|date('Y-m-d') }}</td>
                    <td>{{ entity.stock.producto}}</td>
                    <td>{{ entity.stock.serie }}</td>
                    <td>{{ entity.stock.lote }}</td>
                    <td>{{ entity.stock.despacho }}</td>
                    <td>{{ entity.stock.vencimiento|date('Y-m-d') }}</td>
                    <td>{{ entity.stock.deposito }}</td>
                    <td>{{ entity.amount }}</td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>{{ entity.stock.unidadNegocio }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
      $(function () {
        $('#tablaInformeStockProductos').DataTable({
          "scrollY": "400px",
          "scrollCollapse": true,
          "paging": false,
          "info": false,
          responsive: true,
          "filter": false,
          "order": []
        });
        $('td').css('padding', '2px');
      });
    </script>


{% endblock %}
