{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <h2 style="margin-bottom:10px;">
        Informe Devoluciones
    </h2>
    <hr/>
    {% include 'AppBundle:Balance:buscadorInformeDevoluciones.html.twig' %}
    <hr />
    <div class="gestion">

        <table id="tablaInformeDevoluciones" class="display" width="100%">
            <thead>
                <tr>
                    <th>Fecha Devoluci&oacute;n</th>
                    <th>Producto</th>
                    <th>GTIN</th>
                    <th>Cliente</th>
                    <th>Motivo</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>                        
                        <td>{{ entity.created|date('Y-m-d') }}</td>
                        <td>{{ entity.stock.producto.codigo|default('')}}</td>
                        <th>{{ entity.stock.producto.gtin|default('')}}</th>
                        <th>{{ entity.consignacion.clienteproveedor}}</th>
                        <th>{{ MovimientoDepositoService.getMotivoDevolucion(entity.stock.id,1)}}</th>                        
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.stock.unidadNegocio }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            var tablaInformeDevoluciones = $('#tablaInformeDevoluciones').DataTable({
                "scrollX": true,
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');
        });
    </script>
{% endblock %}
