{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Movimientos de Stock del Dise&ntilde;o "{{ diseno.descripcion }}"               
            </h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="tablasScroll">
        <table id="tablaBalance" class="display">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Cantidad</th>
                    <th>monto</th>
                    <th>Tipo Movimiento</th>
                    <th>Descripci&oacute;n Movimiento</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.created|date('Y-m-d') }}</td>
                        <td>{{ entity.user.apellidonombre }}</td>
                        <td>{{entity.amount }}</td>
                        <td>$ {{entity.price }}</td>
                        <td>{{entity.tipoMovimiento}}</td>
                        <td>{{entity.description|default('-')}}</td>
                        <td>{{ entity.amountBalance }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $(function () {
            $('td').css('padding', '2px');
            $('.pagination a').attr('class', 'btn btn-info btn-xs');
            $('.pagination li').css('float', 'left');
            $('.pagination').css('width', '100%');
            $('#tablaBalance').DataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "info": false,
                responsive: true,
                "filter": false,
                "order": []
            });
            $('td').css('padding', '2px');
        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
