{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
<h2>
    Movimientos asociados al producto "{{stock.producto.codigo|default('S / C')}} - {{stock.producto.nombre|default('S / N')}}"
    <a class="btn btn-info btn-xs pull-right"  href="{{ path('stock_show', {id: stock.id}) }}">
        Volver
    </a>
</h2>
<div class="gestion">
    <table class="display" id="tabla_verifarma">
        <thead>
            <tr>
                <th>Fecha Creación</th>
                <th class="{{ stock.producto.trazable ? '' :'hidden' }}">Estado Verifarma</th>
                <th>Description</th>
                <th>Cantidad</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i') }}{% endif %}</td>
                <td class="{{ stock.producto.trazable ? '' :'hidden' }}">{{ entity.verifarmaStatus }}</td>
                <td>{{ entity.description }}</td>
                <td class="{{ entity.type == 'TYPE_POSITIVE' ? 'text-success' : 'text-danger' }}"><b>{{ entity.amount }}</b></td>
                <td>{{ entity.amountBalance }}</td>
                <td>
                    <!-- a class="btn btn-success" href="{{ path('balance_verifarma_informe', { 'id': entity.id, 'status': entity.verifarmaStatus }) }}"><i class="fa fa-file-excel-o"></i></a-->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript -%}
{{ parent() }}

  <script>
    $("document").ready(function () {
        $('#tabla_verifarma').DataTable({
          "scrollY": "400px",
          "scrollX": true,
          "scrollCollapse": true,
          "paging": false,
          "info": false,
          "responsive": true,
          "filter": true,
          "order": [0, "asc"],
          "oLanguage": {
            "sSearch": "Buscar:"
          }
        });
    });
  </script>
{% endblock %}

