<!-- Buscador -->
<div class="container" >
    <form action="{{ path('pago') }}" method="GET">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="row">
                <div class="col-md-4">
                    <label>Fecha desde</label>
                    <input type="date" value="{{app.request.get('desde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="desde" placeholder="fecha desde">
                </div>
                <div class="col-md-4">
                    <label>Fecha hasta</label>
                    <input type="date" value="{{app.request.get('hasta')|default('NOW'|date('Y-m-d'))}}" class="form-control" name="hasta" placeholder="fecha hasta">
                </div>
                <div class="col-md-4">
                    <label>Raz&oacute;n Social/Denominaci&oacute;n</label>
                    <input type="text" value="{{app.request.get('descripcion')}}" class="form-control" name="descripcion" placeholder="Raz&oacute;n Social/Denominaci&oacute;n">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Unidad de Negocio</label>
                    <select name="unidad" class="col-xs-12" id="unidad">              
                        {{ render(controller('AppBundle:UnidadNegocio:renderSelect', {'estado':'A'})) }}                                                                          
                    </select>
                </div>
                <div class="col-md-9" style="padding-top: 1px;">
                    <br>
                    <button class="btn btn-primary btn-sm " type="submit">
                        Buscar
                    </button>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-3">
                    <label>Fecha desde</label>
                    <input type="date" value="{{app.request.get('desde')|default('NOW -30 days'|date('Y-m-d'))}}" class="form-control" name="desde" placeholder="fecha desde">
                </div>
                <div class="col-md-3">
                    <label>Fecha hasta</label>
                    <input type="date" value="{{app.request.get('hasta')|default('NOW'|date('Y-m-d'))}}" class="form-control" name="hasta" placeholder="fecha hasta">
                </div>
                <div class="col-md-3">
                    <label>Raz&oacute;n Social/Denominaci&oacute;n</label>
                    <input type="text" value="{{app.request.get('descripcion')}}" class="form-control" name="descripcion" placeholder="Raz&oacute;n Social/Denominaci&oacute;n">
                </div>
            </div>
            <div class="col-md-3" style="padding-top: 1px;">
                <br>
                <button class="btn btn-primary btn-sm" type="submit">
                    Buscar
                </button>
            </div>  
        {% endif %}
    </form>
</div>
<script>
    $(function () {      
        var unidad = '{{app.request.get('unidad')}}';
        $('#unidad').val(unidad).change();
    });

</script>
