{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
<div class="row">
        <div class="col-xs-12">
            <h2 >
                Pagos
                {% if is_granted('ROLE_ADMIN')  %}
                    <a  href="{{ path('pago_new') }}">
                        Registrar Pago
                    </a>
                {% endif %}
            </h2>
        </div>        
    </div>
    <hr/>
    {% include 'AppBundle:Pago:buscador.html.twig' %}
    <hr />
    <div class="tablasScroll">
        <table id="tablaSF" class="display" width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Documento</th>
                    <th>Proveedor</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>Unidad de Negocio</th>
                        {% endif %}
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.fecha|date('Y-m-d') }}</td>
                        <td><a href="{{ path('pago_show', { 'id': entity.id }) }}">{{ entity }}</a></td>
                        <td>
                            <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity.clienteproveedor.id }) }}">
                                {{ entity.clienteproveedor|default("") }}
                            </a>
                        </td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>{{ entity.unidadNegocio }}</td>
                        {% endif %}
                        <td>$ {{ entity.importe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $('document').ready(function () {
            $('td').css('padding', '2px');
        });
    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul{
            list-style: none;
        }
    </style>

{% endblock %}
