{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
        Listado de Motivos
        <a href="{{ path('motivo_new') }}">
            Crear
        </a>
    </h2>

    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
            <tr>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.descripcion }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('motivo_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
