{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Edici&oacute;n de Tipo de Percepci&oacute;n</h2>

    <div class="joyas-container">
    <div class="container">{{ form(edit_form) }}<a class="btn btn-info btn-xs" href="{{ path('tipopercepcion')  }}">Volver
    </a></div></div>
	
<script>
	$(document).ready(function (){
		$("input").addClass('form-control').attr('required','required');
	});	
	activarActionsTab('tipopercepcion');
</script>
{% endblock %}
