{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Creaci&oacute;n de Tipo Percepci&oacute;n</h2>

    <div class="joyas-container">
		<div class="container">
			{{ form(form) }}
			<a class="btn btn-info btn-xs" href="{{ path('tipopercepcion') }}">
				Volver
			</a>
		</div>
	</div>
<script>
	$(document).ready(function (){
		$("input").addClass('form-control').attr('required','required');
	});	
	activarActionsTab('tipopercepcion');
</script>
{% endblock %}
