{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Tipo de Percepcion</h2>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>
	<a href="{{ path('tipopercepcion') }}">
		Volver
	</a>
{% endblock %}
