{% extends 'AppBundle::base.html.twig' %}
{% block body %}

    {{ parent() }}

{% endblock %}
{% block content -%}

    <div class="row-fluid" style="text-align: center;">
        <img style="width: 30%;" src="{{ asset('bundles/logotitanio.png') }}" />
    </div>
    <div class="col-md-12">
        <h1 class="text-center">Accesos Directos</h2>
            <div class="row text-center">
                <div class="col-xs-12 text-center" style="margin-bottom: 1em;">
                    <a class="btn btn-lg btn-success" href="{{ path('factura') }}">Ventas <i class="fa fa-list"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-lg btn-danger" href="{{ path('facturaproveedor') }}">Compras <i class="fa fa-list"></i></a>
                        <a class="btn btn-lg btn-info" href="{{ path('clienteproveedor') }}">Clientes y Proveedores <i class="fa fa-users"></i></a>
                        {% endif %}
                </div>
                <div class="col-xs-12 text-center" style="margin-bottom: 1em;">
                    <a class="btn btn-lg btn-primary" href="{{ path('remitooficial') }}">Remitos Oficiales <i class="fa fa-file-o"></i></a>
{#                    <a class="btn btn-lg btn-danger" href="{{ path('consignacion') }}">Consignaciones  <i class="fa fa-exchange"></i></a>#}
                    <a class="btn btn-lg btn-default" href="{{ path('cobranza') }}">Cobranzas <i class="fa fa-dollar"></i></a>
                    <a class="btn btn-lg btn-warning" href="{{ path('producto') }}">Productos <i class="fa fa-cubes"></i></a>
                </div>
                <div class="col-xs-12 text-center">
{#                    <a class="btn btn-lg btn-info" href="{{ path('reserva') }}">Reservas <i class="fa fa-lock"></i></a>#}
{#                    <a class="btn btn-lg btn-success" href="{{ path('presupuesto') }}">Presupuestos  <i class="fa fa-file"></i></a>#}
                </div>
            </div>
    </div>
    <script>
        $('.preloader').css({'display': 'none'});
        $(document).ready(function () {

            $('.preloader').css('display', 'none');

            $('#cotizacion table').css({
                '-webkit-box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
                '-moz-box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
                'box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
                'background': '-moz-linear-gradient(center top , #fff, #fdfdfd) repeat scroll 0 0 #fdfdfd',
                'border': '1px solid #d5d5d5',
                'border-radius': '4px',
                'margin-bottom': '15px',
                'width': '267px'
            });
            $('#cotizacion table table').css({
                'margin-bottom': '5px'
            });
            $('#cotizacion div').css({'width': '300px'});
            $('font').css({'color': 'black'});
            $('.coqui table a').css({'display': 'none'});
            $('.dolarcito_linki').css({'display': 'none'});
        });
    </script>
{% endblock %}
