{% extends 'AppBundle::base.html.twig' %}

{% block title %}
	Olvide mi contraseña {% block subtitle %} {% endblock %} 
{% endblock %} 


{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Recuperaci&oacute;n de clave</h3>
			</div>
			<div class="panel-body">
				<form action="{{ path('joyas_joyas_olvideClave') }}" method="POST" autocomplete="off">
					<h5>Por favor, introduzca su nombre de usuario para recibir un email con sus datos de acceso.</h5>
					<fieldset>
						<div class="form-group">
							<input class="form-control" placeholder="Usuario" name="usuario" type="text" autofocus="">
						</div>
					    <button class="btn btn-lg btn-success btn-block" type="submit">Enviar</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
