<label>Estado</label>
<select name="estado" class="col-xs-12" id="estado">              
    <option value="">Seleccione un Estado</option>   
    <option value="A">Activo</option>    
    <option value="E">Inactivo</option>    
</select>
<script>
    var estado = '{{app.request.get('estado')}}';
    $('#estado').val(estado).change();
</script>



