{% extends 'AppBundle::base.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Remitos Oficiales
                <a class="btn btn-primary" href="{{ path('remitooficial_new') }}">
                    Registrar Remito Oficial
                </a>
            </h2>
        </div>
    </div>
    <div class="row filtro">
        <form id="searchForm" action="{{ path('remitooficial') }}" method="GET">
            <div class="col-md-2">
                <label>Fecha Desde</label>
                <input type="date" value="{{app.request.get('fechaDesde')}}" class="form-control" name="fechaDesde" placeholder="Fecha Desde">
            </div>
            <div class="col-md-2">
                <label>Fecha Hasta</label>
                <input type="date" value="{{app.request.get('fechaHasta')}}" class="form-control" name="fechaHasta" placeholder="Fecha Hasta">
            </div>
            <div class="col-md-3">
                <label>Cliente</label>
                <input type="text" value="{{app.request.get('cliente')}}" class="form-control" name="cliente" placeholder="Nombre cliente o cuit">
            </div>
            <div class="col-md-2">
                <label>N° de Remito</label>
                <input type="text" value="{{app.request.get('numero')}}" class="form-control" name="numero" placeholder="Número de Remito">
            </div>
            <div class="col-md-3">
                <label>Estado</label>
                <select class="form-control" name="estado">
                    <option value="">Seleccionar..</option>
                    <option value="{{ constant('AppBundle\\Entity\\RemitoOficial::INVOICED') }}" {{app.request.get('estado') == constant('AppBundle\\Entity\\RemitoOficial::INVOICED') ? 'selected' : '' }}>
                        {{ constant('AppBundle\\Entity\\RemitoOficial::INVOICED') }}
                    </option>
                    <option value="{{ constant('AppBundle\\Entity\\RemitoOficial::IN_PROCESS') }}" {{app.request.get('estado') == constant('AppBundle\\Entity\\RemitoOficial::IN_PROCESS') ? 'selected' : '' }}>
                        {{ constant('AppBundle\\Entity\\RemitoOficial::IN_PROCESS') }}
                    </option>
                    <option value="{{ constant('AppBundle\\Entity\\RemitoOficial::CANCEL') }}" {{app.request.get('estado') == constant('AppBundle\\Entity\\RemitoOficial::CANCEL') ? 'selected' : '' }}>
                        {{ constant('AppBundle\\Entity\\RemitoOficial::CANCEL') }}
                    </option>
                    <option value="{{ constant('AppBundle\\Entity\\RemitoOficial::NO_FACTURAR') }}" {{app.request.get('estado') == constant('AppBundle\\Entity\\RemitoOficial::NO_FACTURAR') ? 'selected' : '' }}>
                        {{ constant('AppBundle\\Entity\\RemitoOficial::NO_FACTURAR') }}
                    </option>
                </select>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary" style="margin-top:2px" type="submit">
                    Buscar
                </button>
                <a class="btn btn-warning" href="{{ path('remitooficial') }}" style="margin-top:2px">
                    Limpiar Filtro
                </a>
                <a href="{{ '?' in app.request.requestUri ?  app.request.requestUri~'&action=excel' : app.request.requestUri~'?action=excel' }}" style="float: right" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Exportar</a>
            </div>
        </form>
    </div>
    <hr>
    <form action="{{ path('factura_new') }}" method="get" onsubmit="return confirmacion();">
        <button class="btn btn-success">Facturar Remitos Seleccionados</button>
        <br>
        <br>
        <div class="tablasScroll">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Fecha</th>
                            {#<th class="{{ is_granted('ROLE_SUPER_ADMIN')? '' : 'hidden' }}">Unidad</th>#}
                        <th>Remito Oficial N°</th>
                        <th>Cliente</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                {% if entity.estado != constant('AppBundle\\Entity\\RemitoOficial::INVOICED') and entity.estado != constant('AppBundle\\Entity\\RemitoOficial::CANCEL') and entity.estado != constant('AppBundle\\Entity\\RemitoOficial::NO_FACTURAR') %}
                                    <input type="checkbox" name="remitosoficiales[]" value="{{ entity.id }}" />
                                {% endif %}
                            </td>
                            <td>#{{ entity.numero }}</td>
                            <td>{{ entity.fecha|date('d-m-Y') }}</td>
                            {#<td class="{{ is_granted('ROLE_SUPER_ADMIN')? '' : 'hidden' }}">{{ entity.unidadNegocio }}</td>#}
                            <td>
                                <a href="{{ path('remitooficial_show', { 'id': entity.id}) }}">{{entity}} <i class="fa fa-search"></i></a>
                            </td>
                            <td>
                                <a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('pagoasignacion', { 'id': entity.clienteProveedor.id }) }}">
                                    {{ entity.clienteProveedor.razonSocial|default("") }}
                                </a>
                            </td>
                            <td>
                                {% if entity.factura %}
                                    <a class="btn btn-success" href="{{ path('factura_show', { 'id': entity.factura.id, tipo:'F'}) }}">
                                        {{ entity.factura|raw }}
                                    </a>
                                {% else %}
                                    {{ entity.estado }}
                                {% endif %}
                            </td>
                            <td>
                                {% if entity.estado != constant('AppBundle\\Entity\\RemitoOficial::CANCEL') %}
                                    <a class="btn btn-info" target="_blank" href="{{ path('remitooficial_print', {id: entity.id}) }}">
                                        <i class="fa fa-print"></i>
                                    </a>
                                {% endif %}
                                {% if entity.factura is null and entity.estado != 'ANULADO' and entity.estado != constant('AppBundle\\Entity\\RemitoOficial::NO_FACTURAR')  %}
                                    <button class="btn btn-danger" type="button" onclick="confirmarBorrado('{{ path('remitooficial_delete', {id: entity.id}) }}')">
                                        <i class="fa fa-trash"></i> 
                                        Anular
                                    </button>
                                {% endif %}
                                {% if entity.factura is null and entity.estado != constant('AppBundle\\Entity\\RemitoOficial::CANCEL') and entity.estado != constant('AppBundle\\Entity\\RemitoOficial::NO_FACTURAR') %}
                                    <button class="btn btn-warning" type="button" onclick="confirmarCancelado('{{ path('remitooficial_cancelar', {id: entity.id}) }}')">                                        
                                        Cancelar
                                    </button>
                                {% endif %}
                                {#{% if#}
                                {#entity.estado != constant('AppBundle\\Entity\\RemitoOficial::REMITO_OFICIAL_OK')#}
                                {#and#}
                                {#entity.estado != constant('AppBundle\\Entity\\RemitoOficial::RemitoOficial_ERROR')#}
                                {#%}#}
                                {#<a class="btn btn-success" title="Editar Consginación" data-toggle="tooltip" href="#"><i class="fa fa-edit"></i></a>#}
                                {#{% endif %}#}
                                {#<a class="btn btn-danger" title="Anular Remito Oficial" data-toggle="tooltip" href="#"><i class="fa fa-trash"></i></a>#}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <div class="col-sm-12">
        {{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
    </div>
    <script>
        $("document").ready(() => {
            $("input[type='checkbox']").removeClass("form-control")
        });
        function confirmacion() {
            if ($("form input:checkbox:checked").length == 0) {
                alert("Se debe seleccionar al menos una reserva.")
            } else {
                if (confirm('CONFIRMAR FACTURACIÓN DE ' + $("form input:checkbox:checked").length + ' REMITOS?')) {
                    return true;
                }
            }
            $("button[type='submit']").removeClass('hidden');
            $('.preloader').fadeOut(1000);
            return false;
        }

    </script>
    <style>
        .active .btn
        {
            background-color: #9E9E9E;
        }
        ul
        {
            list-style: none;
        }
    </style>

{% endblock %}
