{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    {{ form_start(form) }}
<h2>
    Remito Oficial
    <a class="btn btn-info btn-xs" style="margin-left:1%; float:right;" href="{{ path('remitooficial') }}">
        Volver
    </a>
    <a target="_blank" class="btn btn-primary btn-xs" style="margin-left:1%; float:right;" href="{{ path('clienteproveedor_new') }}">
        Crear Cliente
    </a>
    {{ form_widget(form.submit) }}
</h2>
<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Alta de Venta
                <label style="float:right;font-size: 1.2em;">
                    {#<span class="unidades">Unidades: <span id="unidades_venta"></span> - </span>#}
                    {#<span class="iva hidden">IVA 21%: <span id="montoiva"></span> - </span>#}
                    {#Total: <span id="total">$ 0</span>#}
                </label>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills">
                    <li class="active"><a href="#informacion" data-toggle="tab">Información Básica</a>
                    </li>
                    <li><a href="#elementos" data-toggle="tab">Productos</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="informacion">
                        <h4>Información Básica</h4>
                        <div class="col-md-6">
                            <button style="float: right;" type="button" class="btn btn-danger btn-xs {{ stocks|length > 0 ? 'hidden': '' }}"
                                    onclick="$('#app_bundle_remitooficial_cliente, #app_bundle_remitooficial_idsucursal').val('').removeAttr('readonly');
                                    $('.select2ajax').select2('val', '');$('#elementos button').click();$('.iva').addClass('hidden');">
                                Borrar <i class="fa fa-trash"></i>
                            </button>
                            {{ form_row(form.cliente) }}
                            <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>
                            <div class="hidden">
                                {{ form_row(form.idsucursal) }}
                            </div>
                            {{ form_row(form.numero) }}
                        </div>
                        <div class="col-md-6 {{ is_granted('ROLE_SUPER_ADMIN') ? '' : 'hidden' }}">
                            {{ form_row(form.fecha) }}
                            {#{{ form_row(form.listaprecio) }}#}
                        </div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="col-md-6">
                            {% else %}
                            <div class="col-md-6">
                                <label>Unidad de Negocio</label><br/>
                                {{entity.unidadNegocio.descripcion}}
                            </div>
                            <div class="col-md-6 hidden">
                                {% endif %}
                                {{ form_row(form.unidadNegocio) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.observacion) }}
                            </div>
                            <div class="hidden">
                                {{ form_rest(form) }}
                                <input type="hidden" name="desde_reserva" value="{{ stocks|length > 0 ? 1 : 0 }}" />
                            </div>
                        </div>
                        <div class="tab-pane fade" id="elementos">
                            <h4>Productos</h4>
                            <div>
                                <div class="row">
                                    <div class="col-sm-1 text-center">
                                        <label>Rengl&oacute;n</label>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <label>Producto</label>
                                    </div>
                                    <div class="col-sm-5 text-center">
                                        <label>Descripci&oacute;n</label>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <label>Cantidad</label>
                                    </div>
{#                                    <div class="col-sm-2 text-center">#}
{#                                        <label>Vendedor</label>#}
{#                                    </div>#}
                                    <div class="col-sm-1 text-center">
                                        <label></label>
                                    </div>
                                </div>
                                {% for stockreservado in stocks %}
                                    <div class="row">
                                        <div class="col-sm-1" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input type="number" min="0" data-id="{{loop.index}}" id="renglon_elemento{{loop.index}}" value="{{loop.index}}" style="width: 60px; margin: 0 auto;" />
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="select2ajax" id="elemento{{loop.index}}" name="elemento{{loop.index}}" {{ loop.index == 1 ? 'required' : '' }}>
                                                <option selected value="{{ stockreservado.stock.id }}">
                                                    {{ stockreservado.stock.producto.nombre }} {{ stockreservado.stock.serie ? '- N°: '~stockreservado.stock.serie : ''  }} - Lote: {{ stockreservado.stock.lote }}
                                                </option>
                                            </select>
                                            <input type="hidden" name="idstock_elemento{{loop.index}}" value="{{ stockreservado.stock.id }}" id="idstock_elemento{{loop.index}}" />
                                            <input type="hidden" name="idprod_elemento{{loop.index}}" id="idprod_elemento{{loop.index}}" />
                                        </div>
                                        <div class="col-sm-5">
                                            <textarea data-id="{{loop.index}}"  name="descripcion_elemento{{loop.index}}" id="descripcion_elemento{{loop.index}}" rows="3" />{{ stockreservado.stock.producto.nombre }} {{ stockreservado.stock.serie ? '- N°: '~stockreservado.stock.serie : ''  }} - Lote: {{ stockreservado.stock.lote }}</textarea>                                        
                                            {#<input type="text"  data-id="{{loop.index}}"  name="descripcion_elemento{{loop.index}}" id="descripcion_elemento{{loop.index}}" value="{{ stockreservado.stock.producto.nombre }} {{ stockreservado.stock.serie ? '- N°: '~stockreservado.stock.serie : ''  }} - Lote: {{ stockreservado.stock.lote }}" />#}
                                        </div>
                                        <div class="col-sm-1">
                                            <input required
                                                   value="{{ stockreservado.cantidad }}" type="number" step="0.001" min="0" max="{{ stockreservado.stock.stock }}"
                                                   name="cantidad_elemento{{loop.index}}" id="cantidad_elemento{{loop.index}}" />
                                        </div>
{#                                        <div class="col-sm-2">#}
{#                                            <select name="vendedor_elemento{{loop.index}}" id="vendedor_elemento{{loop.index}}" class="select2">#}
{#                                                <option value="">Seleccionar...</option>#}
{#                                                {% for vendedor in vendedores %}#}
{#                                                    <option value="{{ vendedor.id }}">{{ vendedor.apellidonombre }}</option>#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
                                        <div class="col-sm-1 text-center">
                                            <button type="button" class="btn btn-danger btn-xs" onClick="$('#cantidad_elemento{{loop.index}}, #idstock_elemento{{loop.index}}, #elemento{{loop.index}}').val('').removeAttr('readonly').trigger('change');$('#elemento{{loop.index}}').data('consignacion_id', '');">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% set init = stocks|length == 0 ? 1 : stocks|length+1 %}
                                {% for i in init..50 %}
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 hidden">
                                            <input {{ i == 1 ? 'required' : '' }} type="checkbox" onclick="$('#cantidad{{i}}, #elemento{{i}}').val(null).removeAttr('readonly').trigger('change')" checked name="trazable_elemento{{i}}" id="trazable_elemento{{i}}" value="1" />
                                        </div>
                                        <div class="col-sm-1" style="padding-right: 1px !important;padding-left: 1px !important;">
                                            <input type="number" min="0" data-id="{{i}}" id="renglon_elemento{{i}}" value="{{i}}"  name="renglon_elemento{{i}}" style="width: 60px; margin: 0 auto;" />
                                        </div>
                                        <div class="col-sm-4">
                                            <select class="select2ajax" id="elemento{{i}}" name="elemento{{i}}" {{ i == 1 ? 'required' : '' }}>
                                                {% if stock and i == 1 %}
                                                    <option selected value="{{ stock.id }}">{{ stock.producto.nombre }} - N° {{ stock.serie }}</option>
                                                {% endif %}
                                            </select>
                                            <input type="hidden" name="consignacion_id_elemento{{i}}" id="consignacion_id_elemento{{i}}" />
                                            <input type="hidden" name="idstock_elemento{{i}}" value="{{ stock and i == 1 ? stock.id : '' }}" id="idstock_elemento{{i}}" />
                                            <input type="hidden" name="idprod_elemento{{i}}" id="idprod_elemento{{i}}" />
                                        </div>
                                        <div class="col-sm-5">
                                             <textarea data-id="{{loop.index}}"  name="descripcion_elemento{{loop.index}}" id="descripcion_elemento{{loop.index}}" rows="3" /></textarea>                                        
                                            {#<input type="text"  data-id="{{loop.index}}"  name="descripcion_elemento{{loop.index}}" id="descripcion_elemento{{loop.index}}" />#}
                                        </div>
                                        <div class="col-sm-1">
                                            <input {{ i == 1 ? 'required' : '' }}
                                                    value="{{ stock and i == 1 ? 1 : '' }}" type="number" min="0" step="0.001" max="{{ stock and i == 1 ? (stock.stock-reservas) : '' }}"
                                                    name="cantidad_elemento{{i}}" id="cantidad_elemento{{i}}" />
                                        </div>
{#                                        <div class="col-sm-2">#}
{#                                            <select {{ i == 1 ? 'required' : '' }} name="vendedor_elemento{{i}}" id="vendedor_elemento{{i}}" class="select2">#}
{#                                                <option value="">Seleccionar...</option>#}
{#                                                {% for vendedor in vendedores %}#}
{#                                                    <option value="{{ vendedor.id }}">{{ vendedor.apellidonombre }}</option>#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
                                        <div class="col-sm-1 text-center">
                                            <button type="button" class="btn btn-danger btn-xs" onClick="$('#cantidad_elemento{{i}}, #idstock_elemento{{i}}, #consignacion_id_elemento{{i}}, #elemento{{i}}, #descripcion_elemento{{i}}').val('').removeAttr('readonly').trigger('change');$('#elemento{{loop.index}}').data('consignacion_id', '');">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.row -->
    </div>
    {{ form_end(form) }}

    <script>

      function predictivaCliente() {
        $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#app_bundle_remitooficial_cliente").val(), tipo: 1})
          .done(function (data) {
            $('#sugerenciacliente').fadeIn(500).html(data);
            $('.suggest-element').on('click', function () {
              var id = $(this).attr('id');

              $('#app_bundle_remitooficial_idsucursal').val(id);
              $('#app_bundle_remitooficial_cliente').val($(this).children('a').html()).prop('readonly', 'readonly');
              $('#sugerenciacliente').fadeOut(500);
            });
            if ($('#sugerenciacliente ul li').length === 1) {
              $('#sugerenciacliente ul li a').click();
              $('#sugerenciacliente').fadeOut().html("");
            }
          });
      }

      $("document").ready(function () {
          {% if entity.clienteProveedor %}
        $("#app_bundle_remitooficial_cliente").val('{{ entity.clienteProveedor.razonSocial }}');
        $("#app_bundle_remitooficial_idsucursal").val({{ entity.clienteProveedor.sucursales[0].id }});
        predictivaCliente();
          {% endif %}
        $('.select2ajax').select2({
          ajax: {
            url: "{{path('stock_predictiva_remito_select2')}}",
            dataType: 'json',
            data: function (params) {
              let id = $(this).attr("id");
              let idsucursal = $("#app_bundle_remitooficial_idsucursal").val();
              let idunidad = $("#app_bundle_remitooficial_unidadNegocio").val();
              let trazable = $("#trazable_" + id).prop('checked');

              var query = {
                search: params.term,
                type: 'public',
                idsucursal: idsucursal,
                idunidad: idunidad,
                trazable: trazable
              }
              return query;
            },
            processResults: function (data, params) {
              params.page = params.page || 1;
              let items = data.items ? data.items.filter(filtrarSeleccionado) : [];
              return {
                results: items,
                pagination: {
                  more: (params.page * 30) < data.total_count
                }
              }
            }
          }
        });

        function filtrarSeleccionado(item){
          let response = true;
          $('.select2ajax').each((index, element)=>{
            if(element.value !== '' && (parseInt(element.value) === item.id_stock)){
              let consignacion_id = $("#consignacion_id_"+element.id).val();
              if(consignacion_id === '0' || parseInt(consignacion_id) === item.consignacion_id){
                response = false;
              }
            }
          });

          return response;
        }
        $('.select2ajax').on('select2:select', function (e) {
          let elemento = $(this).attr('id');
          // let trazable = $("#trazable_" + elemento).prop('checked');
          if (e.params.data.consignacion_id) {
            $('#cantidad_' + elemento).attr('readonly', 'readonly');
            $('#cantidad_' + elemento).val(e.params.data.max_stock);
          }else{
            $('#cantidad_' + elemento).attr('max', e.params.data.max_stock);
            $('#cantidad_' + elemento).val(1);
          }

          
          if (e.params.data.vendedor_id) {
            $('#vendedor_' + elemento).val(e.params.data.vendedor_id);
            $('#vendedor_' + elemento).trigger('change');
          }

          $('#' + elemento).data('consignacion_id', e.params.data.consignacion_id);
          $('#consignacion_id_' + elemento).val(e.params.data.consignacion_id);

          $('#idstock_' + elemento).val(e.params.data.id_stock);
          $('#idprod_' + elemento).val(e.params.data.id_prod);
          $('#descripcion_' + elemento).text($("#select2-" + elemento + "-container").text());
        });

        $("input").attr("autocomplete", "off");
        $("#app_bundle_remitooficial_cliente").attr("autocomplete", "off");
        $("#app_bundle_remitooficial_observacion").removeAttr("required");
        $("#app_bundle_remitooficial_cliente").keyup(function () {
          predictivaCliente();
        });
      });
    </script>
    <style>
        input[type="number"]{
            padding: 6px 5px;
        }

        #page-wrapper {
            padding: 0px;
            margin: 0px !important;
        }

        .sidebar {
            display: none;
        }
    </style>

    {% endblock %}
