<head>
    <title>{{ entity }}</title>
</head>
<body>
{% set variable_corte = 8 %}
{% set ciclos = (productos|length // variable_corte) == 0 ? 1 : (productos|length // variable_corte) %}
{% set ciclos = variable_corte >= productos|length ? ciclos : ciclos + 1  %}
{% set resto = productos|length % variable_corte %}

{% for ciclo in 1..ciclos  %}
    <div class="imprimir" style="position: relative; height: 1100px;width: 925px;top: -3px; left: -5px;">
        {% set init_top = 115 %}
        <span style="position: absolute; left: 572px; top:{{ init_top }}px">{{entity.fecha|date('d')}}</span>
        <span style="position: absolute; left: 648px; top:{{ init_top }}px">{{entity.fecha|date('m')}}</span>
        <span style="position: absolute; left: 780px; top:{{ init_top }}px">{{entity.fecha|date('Y')}}</span>
        <span style="position: absolute; left: 131px; top:{{ init_top + 100 }}px">{{entity.clienteproveedor.razonSocial}}</span>
        <span style="position: absolute; left: 133px; top:{{ init_top + 125 }}px">{{entity.sucursal.direccion}}</span>
        <span style="position: absolute; left: 734px; top:{{ init_top + 119 }}px">{{entity.sucursal.codigopostal}}</span>
        <span style="position: absolute; left: 139px; top:{{ init_top + 156 }}px">{{entity.sucursal.localidad|default(' - ')}}</span>
        <span style="position: absolute; left: 684px; top:{{ init_top + 148 }}px">{{entity.sucursal.provincia|default(' - ')}}</span>
        <span style="position: absolute; left: 114px; top:{{ init_top + 187 }}px">{{ entity.clienteproveedor.condicioniva }}</span>
        <span style="position: absolute; left: 570px; top:{{ init_top +180 }}px">{{ entity.clienteproveedor.cuit }}</span>

        {% set top = 444 %}
        {% set left = 71 %}

        {% set desde = ciclo*variable_corte-variable_corte %}
        {% set hasta = (ciclo*variable_corte-1) < productos|length ? (ciclo*variable_corte-1) : (desde + (productos|length - desde))-1 %}
        {% for index in desde..hasta  %}
            {% set prodCons = productos[index] %}
            <span style="position: absolute; left: {{ left }}px; top:{{ top }}px">{{ prodCons.productoremito.renglon|default(index+1)}}</span>
            <span style="position: absolute; left: {{ left + 72 }}px; top:{{ top }}px">{{ prodCons.productoremito.cantidad }}</span>
            <span style="position: absolute; left: {{ left + 72 + 93 }}px; top:{{ top }}px;max-width: 600px;">

                {{ prodCons.productoremito.descripcion ? prodCons.productoremito.descripcion|replace({'*DEPÓSITO*: ': ""})|replace({'*DEPÓSITO*:': ""}) : prodCons.productoremito.stock.producto.nombre }}
                {% if prodCons.productoremito.descripcion is null and prodCons.productoremito.stock is not null %}
                    {{ prodCons.productoremito.stock.serie ? ' - N° Serie: '~prodCons.productoremito.stock.serie : '' }}
                    {{ prodCons.productoremito.stock.lote ? ' - Lote: '~prodCons.productoremito.stock.lote : '' }}
                    {{ prodCons.productoconsignacion ? ' - Paciente: '~prodCons.productoconsignacion.paciente : '' }}
                    {{ prodCons.productoconsignacion ? ' - Obs: '~prodCons.productoconsignacion.observaciones : '' }}
                {% endif %}
            </span>
            {% set adicionalalturaSinConsginacion = ((prodCons.productoremito.descripcion|length / 64)|round() + 1) * 20 %}
            {% set adicionalaltura = prodCons.productoconsignacion ? 95 : (prodCons.productoremito.stock ? 70 : adicionalalturaSinConsginacion) %}
            {% set top = top + adicionalaltura %}
        {% endfor %}
        {% if entity.observacion %}
            <span style="position: absolute; left: {{ left + 72 + 93 }}px; top:{{ top }}px;max-width: 600px;">
              {{ entity.observacion }}
            </span>
        {% endif %}
    </div>
    {% if ciclos > 1 and (loop.index<ciclos)  %}
        <div class="saltopagina"></div>
    {% endif %}
{% endfor %}
</body>
<script language="Javascript">
    window.print();
</script>

<style type="text/css" media="print">
    @page { margin: 0cm; margin-left: 2mm; margin-right: 2mm; }
    body { margin: 1cm 0cm;}
    .content { padding: 0cm; }
    #oculto { display: none; }
    .imprimir { display: block; }

    div.saltopagina{
        display:block;
        page-break-before:always;
    }
</style>
