{% extends 'AppBundle::base.html.twig' %}
{% block content -%}

    <div id="imprimir">
        <header style="width: 100%; text-align:center;">
            <table id="content" class="display" cellspacing="0" width="100%" style="margin-top: 1%;">
                <thead>
                    <tr style="">
                        <th colspan="2" style="width: 40%;">
                            <img src="{{asset('logo.png')}}" style="height: 4em;margin-left: 25%;" />
                        </th>
                        <th style="" colspan="2">
                        </th>
                        <th colspan="2" style="font-size: 28px; width: 40%;padding-right: 10%;">Remito Oficial</th>
                    </tr>
                    <tr>
                        <th colspan="3" style="width:50%;">
                            <span style="font-weight: bold;font-size: 1.4em;">{{empresa_razonsocial|title}}</span><br/>
                            <span style="font-size: 0.9em;">{{empresa_de}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">Comp. Nro: <span style="font-size:1.3em;font-weight: normal;">{{entity.numero}}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3" style="width:50%;">
                            <span style="font-weight: normal;"> {{entity.unidadNegocio.direccion}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">CUIT: <span style="font-weight: normal;">{{entity.unidadNegocio.cuit}}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3"  style="width:50%;">
                            IVA: <span style="font-weight: normal;">Responsable Inscripto</span>
                        </th>
                        <th colspan="3" style="width:50%;">Ingresos Brutos:<span style="font-weight: normal;">{{entity.unidadNegocio.iibb}}</span></th>
                    </tr>
                    <tr style="">
                        <th colspan="3" style="width:50%;padding-bottom: 1em;">
                            Fecha de Emisi&oacute;n: <span style="font-weight: normal;">{{entity.fecha|date('d/m/Y')}}</span>
                        </th>
                        <th colspan="3" style="width:50%;padding-bottom: 1em;">
                            {#Fecha de Inicio de Actividades: <span style="font-weight: normal;">12/08/1995</span>#}
                        </th>
                    </tr>
                    <tr style="border-top: 1px solid #0000007a;">
                        <th colspan="3" style="padding-top: 1em;">Apellido y Nombre / Raz&oacute;n Social: <span style="font-weight: normal;">{{entity.clienteproveedor.razonSocial }}</span></th>
                        <th colspan="3"  style="padding-top: 1em;">
                            {% if entity.clienteproveedor.cuit %}
                                CUIT: <span style="font-weight: normal;">{{entity.clienteproveedor.cuit}}</span>
                            {% else %}
                                DNI: <span style="font-weight: normal;">{{entity.clienteproveedor.dni}}</span>
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" style="">
                            IVA: <span style="font-weight: normal;">{{entity.clienteproveedor.condicionIva}}</span>
                        </th>
                        <th colspan="3">
                            Domicilio:
                            <span style="font-weight: normal;">
                                {{entity.sucursal.direccion}}
                            </span>
                        </th>
                    </tr>
                    <tr style="">
                        <th colspan="6" style="">
                            <h2>
                                Estado: <b>{{ entity.estado }}</b>
                            </h2>
                        </th>
                    </tr>
                </thead>
            </table>
        </header>
        <table id="content" style="text-align: center; width: 100%; margin-top: 1%;border-top:  1px solid;border-bottom: 1px solid;">
            <thead>
                <tr style="">
                    <th>Rengl&oacute;n</th>
                    <th>C&oacute;digo</th>
                    <th style="width: 40%;">Nombre</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% set length = 0  %}
                {% for prodRemito in entity.productosremito %}
                    {% set length = loop.length  %}
                    <tr style="height: 22px">
                        <td>
                            {{ prodRemito.renglon|default(loop.index)}}
                        </td>
                        <td>
                            {% if  prodRemito.stock is not null %}
                                {{ prodRemito.stock.producto.codigo }}
                            {% else %}
                                {% if  prodRemito.producto is not null %}
                                    {{ prodRemito.producto.codigo }}
                                {% else %}
                                    -
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if  prodRemito.stock is not null %}
                                <a target="_blank" href="{{ path('stock_show', {id: prodRemito.stock.id}) }}">{{ prodRemito.descripcion ? prodRemito.descripcion : prodRemito.stock.producto.nombre }}</a>
                            {% else %}
                                {{ prodRemito.descripcion }}
                            {% endif %}
                        </td>
                        <td>
                            {{ prodRemito.cantidad }}
                        </td>
                        <td>
                            {{ prodRemito.estado }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if entity.observacion %}
        <div class="col-sm-12 text-left">
            <label>Observaciones</label>
            <p>
                {{ entity.observacion }}
            </p>
        </div>
    {% endif %}
    <div id="oculto" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-success" data-toggle="modal" data-target="#modalNumeroRemitoOficial">
                <i class="fa fa-pencil"></i>  Editar Número
            </a>
        {% endif %}
        <a class="btn btn-info" onclick="document.title = '{{ entity }}';
                imprSelec()">
            <i class="fa fa-file"></i> Imprimir esta página
        </a>
        <a class="btn btn-primary" target="_blank" href="{{ path('remitooficial_print', {id: entity.id}) }}">
            <i class="fa fa-file"></i> Imprimir Remito Oficial
        </a>
        {% if entity.factura %}
            <a class="btn btn-success" href="{{ path('factura_show', { 'id': entity.factura.id, tipo:'F'}) }}">
                {{ entity.factura|raw }}
            </a>
        {% endif  %}
        <a class="btn btn-warning" href="{{ path('remitooficial') }}">
            <i class="fa fa-arrow-left"></i>  Volver
        </a>
    </div>
    <div class="modal" id="modalNumeroRemitoOficial" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Número del Remito Oficial</h5>
                </div>
                <form action="{{ path('remitooficial_edit_number', {id: entity.id}) }}" method="POST" autocomplete="off">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Número de RemitoOficial</label>
                                <input id="remitooficial_numero" autocomplete="off" type="number" name="remitooficial_numero" class="form-control" required value="{{ entity.numero }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="modalImplantacion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar Uso</h5>
                </div>
                <form action="{{ path('remitooficial_implantacion') }}" method="POST">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label id="stock_label"></label>
                                <input type="hidden" name="productoremitooficial_id" id="productoremitooficial_id" value="">
                            </div>
                            <div class="col-sm-12">
                                <button style="float: right;" type="button" class="btn btn-danger btn-xs" onclick="$('#cliente, #sucursal_id').val('').removeAttr('readonly');
                                        $('.iva').addClass('hidden');">
                                    Borrar <i class="fa fa-trash"></i>
                                </button>
                                <label>Definir Cliente a Facturar/Remitir</label>
                                <input id="cliente" type="text" name="cliente" class="form-control" required/>
                                <input id="sucursal_id" type="hidden" name="sucursal_id" class="form-control" required/>
                                <div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerenciacliente"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script language="Javascript">
        function imprSelec() {
            window.print();
        }
        function openModalImplantado(productoremitooficial_id, producto_nombre) {
            $('#productoremitooficial_id').val(productoremitooficial_id);
            $('#stock_label').html(decodeURIComponent(producto_nombre));
            $('#modalImplantacion').modal('show');
        }
        function predictivaCliente() {
            $.post("{{path('clienteproveedor_predictiva')}}", {valor: $("#cliente").val(), tipo: 1})
                    .done(function (data) {
                        $('#sugerenciacliente').fadeIn(500).html(data);

                        $('.suggest-element').on('click', function () {
                            var id = $(this).attr('id');

                            $('#sucursal_id').val(id);
                            $('#cliente').val($(this).children('a').html()).prop('readonly', 'readonly');
                            $('#sugerenciacliente').fadeOut(500);
                        });
                        if ($('#sugerenciacliente ul li').length === 1) {
                            $('#sugerenciacliente ul li a').click();
                            $('#sugerenciacliente').fadeOut().html("");
                        }
                    });
        }

        $("document").ready(function () {
            $("#cliente").keyup(function () {
                predictivaCliente();
            });
        });

    </script>
    <style>
        @media print {
            @page { margin: 0cm; }
            body { margin: 1cm 0cm; }
            .content { padding: 0px; }
            #oculto { display: none; }
        }

        #page-wrapper {
            padding: 0px;
            margin: 0px !important;
        }

        .sidebar {
            display: none;
        }

        footer th {
            padding: 5px 0px;
        }

        footer img {
            margin: 5px 0px;
        }
    </style>
{% endblock %}
