{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
		Origen
		<a href="{{ path('origen') }}">
            Volver
        </a>
	</h2>
	<hr />
    <div class="gestion col-xs-12">
		{{ form(form) }}
	</div>
{% endblock %}
