{% extends 'AppBundle::base.html.twig' %}

{% block body -%}
    <h2>
		Origen
		<a href="{{ path('origen') }}">
            Volver
        </a>
	</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
