{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
	<h2 style="margin-bottom:10px;">
		Tipo Retenci&oacute;n
		<a  href="{{ path('tiporetencion_new') }}">
			Crear
		</a>
	</h2>

	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Descripci&oacute;n</th>
					<th>Importe</th>
					<th>Porcentaje</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.descripcion }}</td>
					<td>{{ entity.importe }}</td>
					<td>% {{ entity.porcentaje }}</td>
					<td>
						<a class="btn btn-info btn-xs" href="{{ path('tiporetencion_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    <script>
	
	activarActionsTab('tiporetencion');
</script>
{% endblock %}
