{% extends 'AppBundle::base.html.twig' %}

{% block content -%}
    <h2>Creaci&oacute;n de Tipo Retenci&oacute;n</h2>

    <div class="joyas-container">
		<div class="container">
			{{ form(form) }}
			<a class="btn btn-info btn-xs" href="{{ path('tiporetencion') }}">
				Volver
			</a>
		</div>
	</div>
<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
	});	
	activarActionsTab('tiporetencion');
</script>
{% endblock %}
