/* start preloader */
.preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

th, td{
    text-align:center;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 600px;
    height: 218px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.formModal
{
    font-size: 16px;
}

.table th, .table td {
    text-align: center;
}
#page-wrapper{
    padding: 0 0.1em;
}

.container {
    width: 100%;
}
.container > h1{
    font-size: 1.8em;
}

.tablasScroll, .gestion
{
    -webkit-box-shadow: 1px 0px 28px -6px rgba(235,232,235,1);
    -moz-box-shadow: 1px 0px 28px -6px rgba(235,232,235,1);
    box-shadow: 1px 0px 28px -6px rgba(235,232,235,1);
    background: -moz-linear-gradient(center top , #fff, #fdfdfd) repeat scroll 0 0 #fdfdfd;
    border: 1px solid #d5d5d5;
    padding: 1%;
    display: block;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: auto;
}

.joyas-container{
    -webkit-box-shadow: 1px 0px 28px -6px rgba(235,232,235,1);
    -moz-box-shadow: 1px 0px 28px -6px rgba(235,232,235,1);
    box-shadow: 1px 0px 28px -6px rgba(235,232,235,1);
    background: -moz-linear-gradient(center top , #fff, #fdfdfd) repeat scroll 0 0 #fdfdfd;
    border: 1px solid #d5d5d5;
    padding: 35px;
    display:block;
    border-radius: 4px;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-success {
    color: green;
    background-color: rgba(214, 255, 193, 0.54);
    border-color: #93CA77;
}

@media print {
    @page { margin: 0cm; }
    body { margin: 1cm 0cm; }
    #volver { display: none; }
    #oculto { display: none; }
    .oculto { display: none; }
    a:link:after, a:visited:after {
        content: "";
        font-size: 90%;
    }
}

h2, .h2 {
    font-size: 1.6em;
}
